<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['Prop1.png'].url, alt: 'Essential', width: "90" %>
    <p>Estimado/a <%= @evaluator %> : </p>
    <p style="align=justify"><%= @user %> ha rechazado la evaluación de metas realizada por usted.</p>
    <p style="align=justify"> Por los siguientes motivos: </p>
    <div align="center">
      <p style="align=justify"><%= @apelacion%></p>
    </div>
    <p style="align=justify">Le recomendamos que se reúna de nuevo con su colaborador con el fin de establecer planes de acción, para la mejora del desempeño y llegar a acuerdos conjuntos acerca de las inquietudes explicitadas.</p>
    <p style="align=justify">Si tiene dudas o consultas acerca de este punto le sugerimos se ponga en contacto con Recursos Humanos para que le puedan asesorar.</p>
    <div align="center">
      <p>Para ingresar en nuestra Plataforma Essential, haz click <a href="https://test.rvelasco.cl">AQUI.</a></p>
    </div>
    <div align="center">
      <p>Cordialmente,</p>
    </div>
    <div align="center">
      <p>Recursos Humanos</p>
    </div>
  </body>
</html>
