.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Nivel Lectura', mantenedores_nivel_lecturas_path, :active], [:add, new_mantenedores_nivel_lectura_path] ]
    .page-header
        %h3 Nivel Lectura
        = notices

    %table.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Nombre
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.name, [:edit, edit_mantenedores_nivel_lectura_path(i)], [:delete, mantenedores_nivel_lectura_path(i)]]
