.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Nivel Lectura', mantenedores_nivel_lecturas_path], [:add, new_mantenedores_nivel_lectura_path, :active] ]
  = render :partial => 'form'
