%body
  / NAVIGATION MENU
  .row
    .navbar-nav.navbar-inverse.navbar-fixed-top
      .col-lg-11.col-md-11.col-sm-10.col-xs-9
        %img.mleft{:alt => "Prp", :src => "assets/img/logos/Prop1.png", :width => "180px"}/
      .col-lg-1.col-md-1.col-sm-2.col-xs-3
        %ul.nav.navbar-nav
          %li
            %a{:href => "#"}
              %img.logout{:src => "assets/img/logout.png"}/
  .container
    .row
      /ORGANIGRAMA
      - if current_role_can? :organizacion
        .col-sm-3.col-lg-3
          .dash-unit
            %dtitle
            .thumbnail
              %img.img-circle{:alt => "Marcel Newman", :src => "assets/img/logos/org.png", :width => "90px"}/
            / /thumbnail
            %h1 Organización
            %br/
            %hr{:style => "visibility: hidden"}/
            %hr{:style => "visibility: hidden"}/
            .info-user
              %span.li_user.fs1{"aria-hidden" => "true"}
              %span.li_settings.fs1{"aria-hidden" => "true"}
              %span.li_mail.fs1{"aria-hidden" => "true"}
              %span.li_key.fs1{"aria-hidden" => "true"}
      /DESCRIPCIÓN DE CARGOS
      - if current_role_can? :descripcion_cargos
        .col-sm-3.col-lg-3
          .dash-unit
            %dtitle
            .thumbnail
              %img{:alt => "Marcel Newman", :src => "assets/img/logos/gear-png-7.png", :width => "90"}/
            / /thumbnail
            %h1 Descripción
            %h1 de Cargos
            %br/
            %hr{:style => "visibility: hidden"}/
            .info-user
              %span.li_user.fs1{"aria-hidden" => "true"}
              %span.li_settings.fs1{"aria-hidden" => "true"}
              %span.li_mail.fs1{"aria-hidden" => "true"}
              %span.li_key.fs1{"aria-hidden" => "true"}
      /EVALUACIÓN DE CARGOS
      - if current_role_can? :evaluacion_cargos
        .col-sm-3.col-lg-3
          .dash-unit
            %dtitle
            .thumbnail
              %img{:alt => "Marcel Newman", :src => "assets/img/logos/gear-png-7.png", :width => "90"}/
            / /thumbnail
            %h1 Evaluación
            %h1 de Cargos
            %br/
            %hr{:style => "visibility: hidden"}/
            .info-user
              %span.li_user.fs1{"aria-hidden" => "true"}
              %span.li_settings.fs1{"aria-hidden" => "true"}
              %span.li_mail.fs1{"aria-hidden" => "true"}
              %span.li_key.fs1{"aria-hidden" => "true"}
      /ADMINISTRACIÓN DE LA COMPENSACIÓN
      - if current_role_can? :adm_compensacion
        .col-sm-3.col-lg-3
          .dash-unit
            %dtitle
            .thumbnail
              %img{:alt => "Marcel Newman", :src => "assets/img/logos/gear-png-7.png", :width => "90"}/
            / /thumbnail
            %h1 Administración
            %h1 de la
            %h1 Compensación
            %br/
            .info-user
              %span.li_user.fs1{"aria-hidden" => "true"}
              %span.li_settings.fs1{"aria-hidden" => "true"}
              %span.li_mail.fs1{"aria-hidden" => "true"}
              %span.li_key.fs1{"aria-hidden" => "true"}
      /ADMINISTRACIÓN DE LA DOTACIÓN
      - if current_role_can? :plan_dotacion
        .col-sm-3.col-lg-3
          .dash-unit
            %dtitle
            .thumbnail
              %img{:alt => "Marcel Newman", :src => "assets/img/logos/gear-png-7.png", :width => "90"}/
            / /thumbnail
            %h1 Administración
            %h1 de la
            %h1 Dotación
            %br/
            .info-user
              %span.li_user.fs1{"aria-hidden" => "true"}
              %span.li_settings.fs1{"aria-hidden" => "true"}
              %span.li_mail.fs1{"aria-hidden" => "true"}
              %span.li_key.fs1{"aria-hidden" => "true"}
      /PRESUPUESTO
      - if current_role_can? :adm_presupuesto
        .col-sm-3.col-lg-3
          .dash-unit
            %dtitle
            .thumbnail
              %img{:alt => "Marcel Newman", :src => "assets/img/logos/gear-png-7.png", :width => "90"}/
            / /thumbnail
            %h1 Presupuesto
            %br/
            %hr{:style => "visibility: hidden"}/
            %hr{:style => "visibility: hidden"}/
            .info-user
              %span.li_user.fs1{"aria-hidden" => "true"}
              %span.li_settings.fs1{"aria-hidden" => "true"}
              %span.li_mail.fs1{"aria-hidden" => "true"}
              %span.li_key.fs1{"aria-hidden" => "true"}
      /GESTIÓN DEL DESEMPEÑO
      - if current_role_can? :gestion_desempeno, session[:user_kind] == :admin
        .col-sm-3.col-lg-3
          .dash-unit
            %dtitle
            .thumbnail
              %img{:alt => "Marcel Newman", :src => "assets/img/logos/gear-png-7.png", :width => "90"}/
            / /thumbnail
            %h1 Gestión del
            %h1 Desempeño
            %br/
            %hr{:style => "visibility: hidden"}/
            .info-user
              %span.li_user.fs1{"aria-hidden" => "true"}
              %span.li_settings.fs1{"aria-hidden" => "true"}
              %span.li_mail.fs1{"aria-hidden" => "true"}
              %span.li_key.fs1{"aria-hidden" => "true"}
      /MANTENEDORES
      - if current_role_can? :mantenedores
        .col-sm-3.col-lg-3
          .dash-unit
            %dtitle
            .thumbnail
              %img{:alt => "Marcel Newman", :src => "assets/img/logos/gear-png-7.png", :width => "90"}/
            / /thumbnail
            %h1 Mantenedores
            %br/
            %hr{:style => "visibility: hidden"}/
            %hr{:style => "visibility: hidden"}/
            .info-user
              %span.li_user.fs1{"aria-hidden" => "true"}
              %span.li_settings.fs1{"aria-hidden" => "true"}
              %span.li_mail.fs1{"aria-hidden" => "true"}
              %span.li_key.fs1{"aria-hidden" => "true"}
      / /row
    / /container
    / Pruebas para modificar hoja de estilo
    :javascript
      var ss = document.styleSheets
      console.log("stylesheets: ", ss);
      for (var i = 0; i < document.styleSheets.length; i++){
      	if (ss[i].title === "main"){
      		console.log("xdxdxdxdxdxd");
      	}
      }
