:css
    .box {margin-left: 25px;}

:ruby
    parametros = [
        {param: :gender, name: 'Sexo', values: [{label: 'Mujeres', value: User::FEMENINO}, {label: 'Hombres', value: User::MASCULINO}]},
        {param: :job, name: 'Cargo', values: Job.activos.map { |e| e.name }.uniq},
        {param: :job_class, name: 'Estamento', values: JobClass.all(id: Job.lista_job_class).map { |e| e.name }},
        {param: :level, name: 'Nivel', values: Job.lista_nivel},
        #{param: :dependency_type, name: 'Tipo de Dependencia', values: []},
    ]




    filter_opts = ""
    parametros.each do |x|
        filter_opts += "#{x[:param]}: '#{params[x[:param]]}'," unless params[x[:param]].blank?
    end
    #{params[:sex].blank? ? '' : "sex: #{params[:sex]},"}
    #{params[:estamento].blank? ? '' : "estamento: '#{params[:estamento]}',"}
    #{params[:jornada].blank? ? '' : "jornada: '#{params[:jornada]}',"}
    #{params[:dependency_type].blank? ? '' : "dependency_type: '#{params[:dependency_type]}',"}
    #{(params[:ceco].blank? ? '' : "ceco: '#{params[:ceco]}',") if Rails.configuration.cliente == :uandes}
    #{(params[:subceco].blank? ? '' : "subceco: '#{params[:subceco]}',") if Rails.configuration.cliente == :uandes}
    #{(params[:grado].blank? ? '' : "grado: '#{params[:grado]}',") if Rails.configuration.cliente == :uandes}

:javascript
    var filter_options = {#{filter_opts}};
    /*{
        #{parametros.to_json}

    };*/

    $(function(){
        $('.filter-buttons select.filtro').change(function(e){
           var sel = $(this).find(':selected');

           if(sel.attr('value') == 'all')
                delete filter_options[sel.attr('kind')];
            else
                filter_options[sel.attr('kind')] = sel.attr('value');

            filtro = $('.btn-filtro.active').attr('tipo');
            str = "?filtro=#{params[:filtro].blank? ? 'estructuras' : params[:filtro]}&";
            if( (fi_v = parseInt($('select.filtro-income').val())) > 0 )
            {
                str = "?filtro="+filtro+"&income_structure_id="+fi_v+"&";
            }
            str = str+$.param(filter_options);

            window.location = str;
        });
        $('.filter-buttons .btn').click(function(e){
            e.preventDefault();
            if($(this).attr('value') == 'all')
                delete filter_options[$(this).attr('kind')];
            else
                filter_options[$(this).attr('kind')] = $(this).attr('value');

            filtro = $('.btn-filtro.active').attr('tipo');
            str = "?filtro=#{params[:filtro].blank? ? 'estructuras' : params[:filtro]}&"+$.param(filter_options);
            if( (fi_v = parseInt($('select.filtro-income').val())) > 0 )
            {
                str += "&income_structure_id="+fi_v;
            }
            str = str.replace("filtro=estructuras", filtro);
            window.location = str;

        })
    })



.well.filter-buttons
    .row
        - parametros.each do |p|
            .box.pull-left
                = "#{p[:name]}:"

                %select.filtro{name: p[:param], style: 'width: 60px'}
                    %option{value: 'all', kind: p[:param], selected: params[p[:param]].blank?} Todos
                    - p[:values].each do |i|
                        - i = {value: i, label: i} if i.class != Hash
                        %option{value: i[:value].to_s, kind: p[:param].to_s, selected: params[p[:param]].to_s == i[:value].to_s}= i[:label]


        -# .box.pull-left
        -#     Estamentos:

        -#     %select.filtro{name: 'estamento', style: 'width: 60px'}
        -#         %option{value: 'all', kind: 'estamento', selected: params[:estamento].blank?} Todos
        -#         - Job.lista_estamentos.each do |i|
        -#             - unless i.blank?
        -#                 %option{value: i, kind: 'estamento', selected: (params[:estamento] == i)}= i

        -# .box.pull-left
        -#     Jornada:
        -#     %select.filtro{name: 'jornada', style: 'width: 60px'}
        -#         %option{value: 'all', kind: 'jornada', selected: params[:jornada].blank?} Todos
        -#         - Job.lista_jornadas.each do |i|
        -#             - unless i.blank?
        -#                 %option{value: i, kind: 'jornada', selected: params[:jornada] == i}= i
        -# .box.pull-left
        -#     Tipo de dependencia:

        -#     %select.filtro{name: 'dependency_type', style: 'width: 60px'}
        -#         %option{value: 'all', kind: 'dependency_type', selected: params[:dependency_type].blank?} Todos
        -#         - Job.lista_dependency_types.each do |i|
        -#             - unless i.blank?
        -#                 %option{value: i, kind: 'dependency_type', selected: params[:dependency_type] == i}= i
    -# .row

    -#     - if [:uandes].include?(Rails.configuration.cliente)
    -#         - [{nombre: 'Centro de Costos', key: :ceco}, {nombre: 'Sub Centro de Costos', key: :subceco}, {nombre: 'Grado Académico', key: :grado}].each do |c|
    -#             .box.pull-left
    -#                 = "#{c[:nombre]}:"
    -#                 %select.filtro{name: c[:key].to_s, style: 'width: 90px'}
    -#                     %option{value: 'all', kind: c[:key].to_s, selected: params[c[:key]].blank?} Todos
    -#                     - User.uniq_attr(c[:key], has_compensation_data: true).each do |i|
    -#                         - unless i.blank?
    -#                             %option{value: i, kind: c[:key].to_s, selected: (params[c[:key]] == i)}= i


    .clearfix
