= notices
- unless flash[:error].blank?
    .alert.alert-warning
        %h5 La eliminación no permite registros asociados al Percentil de Mercado, debe eliminar los Datos de Mercado que utilizan el percentil

= simple_form_for @item, :url => @item.new? ? compensacion_market_percentile_index_path : compensacion_market_percentile_path(@item), :html => {:class => 'form-horizontal'}  do |f|
    
    = f.input :position, label: 'Posición', value: @item.position
    = f.input :name, label: 'Nombre', value: @item.name
    
    %br
    = btn_guardar