.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Percentiles de Mercado', compensacion_market_percentile_index_path, :active], [:add, new_compensacion_market_percentile_path]]
    = notices

    %table#example.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Posición
                %th Nombre
        %tbody
            - @items.each do |i|
                %tr
                    %td= i.position
                    %td= crud_options [i.name, [:edit, edit_compensacion_market_percentile_path(i)], [:delete, compensacion_market_percentile_path(i)]]
