.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Percentiles de Mercado', compensacion_market_percentile_index_path, :active], [:add, new_compensacion_market_percentile_path]]
    = render :partial => 'form'
