.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Estudios', mantenedores_estudios_path], [:add, new_mantenedores_estudio_path], [:edit, '#', :active] ]
  = render :partial => 'form'
