= simple_form_for @item, :url => @item.new? ? mantenedores_experiences_path : mantenedores_experience_path(@item), :html => {:class => 'form-horizontal'}  do |f|
    
    
    = f.input :name, label: 'Nombre', value: @item.name
    

    .control-group
        .controls
            = btn_guardar