.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Experiencias', mantenedores_experiences_path], [:add, new_mantenedores_experience_path, :active] ]
  = render :partial => 'form'
