= form_for @item, :url => @item.new? ? organization_jobs_path : organization_job_path(@item), |
  :html => {:class => 'form-horizontal'}  do |f|                                                     |
  .control-group
    .control-label
      = f.label :name, 'Título de puesto:'
    .controls
      = f.text_field :name, :class => 'input-large'
  .control-group
    .control-label
      = f.label :boss_id, 'Dependencia jerárquica'
    .controls
      = f.select :boss_id, Job.all(order: :name).collect {|i| [i.name, i.id]}, {:include_blank => true}, :class => 'selectLarge'
  .control-group
    .control-label
      = f.label :dependency_type, 'Tipo de dependencia:'
    .controls
      = f.select :dependency_type, Job::DEPENDENCY_TYPE_ARRAY, {}, :class => 'selectMin'
  .control-group
    .control-label
      = f.label :job_type, 'Tipo:'
    .controls
      = f.select :job_type_id, JobType.all.collect {|i| [i.name, i.id]}, {:include_blank => true}, :class => 'selectMin'
  .control-group
    .control-label
      = f.label :profile_id, 'Perfil:'
    .controls
      = f.select :profile_id, Profile.all.collect {|i| [i.name, i.id]}, {:include_blank => true}, :class => 'selectMin'
  .control-group
    .control-label
      = f.label :estamento, 'Estamento:'
    .controls
      = f.select :estamento, Job::ESTAMENTO_ARRAY, {}, :class => 'selectMin'
  .control-group
    .control-label
      = f.label :jornada, 'Jornada:'
    .controls
      = f.select :jornada, Job::JORNADA_ARRAY, {}, :class => 'selectMin'
  .control-group
    .control-label
      = f.label :centro_costos, 'Centro de costos:'
    .controls
      = f.select :centro_costos, Job::CENTRO_COSTOS_ARRAY, {}, :class => 'selectMin'
  .control-group
    .controls
      = btn_guardar
