= crud_bar [ ['Organigrama cargos', organization_jobs_path, :active], [:add, new_organization_job_path] ]

= notices

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th ID
      %th Nombre
      %th Dependencia jerárquica
  %tbody
    - @items.each do |i|
      %tr
        %td= i.id
        %td= crud_options [i.name, [:edit, edit_organization_job_path(i)], [:delete, organization_job_path(i)]]
        %td= i.boss_id.blank? ? '' : i.boss.name
