<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['Prop1.png'].url, alt: 'Essential', width: "90" %>
    <p>Estimado/a <%= @evaluator %>:</p>
    <p style="align=justify"><%= @user %> ha aprobado la evaluación de competencias realizada por usted.</p>
    <p style="align=justify"></p>
    <div align="center">
      <p>Para ingresar en nuestra Plataforma Essential, haz click <a href="https://test.rvelasco.cl">AQUI.</a></p>
    </div>
    <div align="center">
      <p>Cordialmente,</p>
    </div>
    <div align="center">
      <p>Recursos Humanos</p>
    </div>
  </body>
</html>
