<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['Prop1.png'].url, alt: 'Essential', width: "90" %>
    <p>Estimado/a:</p>
    <p style="align=justify">El Colaborador <%= @user %> ha aceptado la Planificación de competencias</p>
    <p style="align=justify">A partir de este momento usted puede acceder a la plataforma de Gestión del Desempeño de Nuestra Empresa y comenzar el proceso de seguimiento de competencias para el año 2018.</p>
    <p style="align=justify">Desde ya agradecemos su buena disposición y le invitamos a ser parte de éste importante proceso para Nuestra Empresa.</p>
    <div align="center">
      <p>Para ingresar en nuestra Plataforma Essential, haz click <a href="https://test.rvelasco.cl">AQUI.</a></p>
    </div>
    <div align="center">
      <p>Cordialmente,</p>
    </div>
    <div align="center">
      <p>Recursos Humanos</p>
    </div>
  </body>
</html>
