:ruby
  crud_opts = [ ['Descripción de cargos', jobsdescription_jobs_path] ]
  crud_opts << [:edit, edit_jobsdescription_job_path(params[:id])]# if (is_admin? || role_cann?("dc_lista_editar"))
  crud_opts << [:show, jobsdescription_job_path(params[:id])]
  crud_opts << ['Comentarios', '#', :active]
.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar crud_opts
.row
  .col-xs-12
    .panel.panel-primary
      .panel-heading
        %h4.panel-title Comentarios
      .panel-body
        .col-md-6.col-xs-12{style: 'height: 60%; overflow: auto;'}
          - logger.info @comments.inspect.red
          - unless @comments.blank?
            - @comments.each do |comment|
              .panel{class: "#{comment.panel_author(current_user.user)}"}
                .panel-body
                  = comment.detalle
                  %i.pull-right{style: 'color: grey'}= comment.author_date
        .col-md-6.col-xs-12
          .panel.panel-primary
            .panel-heading
              %h4.panel-title Comentario
            = form_for @comment do |f|
              .panel-body
                = f.text_area :detalle, style: 'box-sizing: border-box; width: 100%; height: 30%'
                = hidden_field_tag 'comment[job_id]', params[:id]
              .panel-footer
                = f.submit 'Enviar', class: 'btn btn-primary btn-flat'
