.panel.panel-default{style:"padding: 5px 5px 5px 5px"}
    - if !@user.blank?
        %table{width: '100%'}
            %tr
                %td Rut
                %td :
                %td= @user[:user].rut
            %tr
                %td Nombre
                %td :
                %td= @user[:user].full_name
            %tr
                %td Cargo
                %td :
                %td #{@user[:job_name].blank? ? @job.name : @user[:job_name]} (Nivel #{@user[:job_level].blank? ? @job.nivel : @user[:job_level]})

            %tr.not-print
                %td{colspan: 6, align: "right", style: "padding-top: 20px"}
                    .btn-group.pull-right
                        %a.btn.btn-primary.btn-sm{href: calculo_personal_comparativo_compensacion_market_data_path(params[:user_id], 'pares'), class: params[:comparar_tipo].eql?('pares') ? "active" : '', title: 'Mismo cargo', :'data-loading-text' => 'Cargando...'}
                            Pares
                        %a.btn.btn-success.btn-sm{href: calculo_personal_comparativo_compensacion_market_data_path(params[:user_id], 'nivel'), class: params[:comparar_tipo].eql?('nivel') ? "active" : '', :'data-loading-text' => 'Cargando...'}
                            Nivel
                        %a.btn.btn-warning.btn-sm{href: calculo_personal_comparativo_compensacion_market_data_path(params[:user_id], 'nivel-superior'), class: params[:comparar_tipo].eql?('nivel-superior') ? "active" : '', :'data-loading-text' => 'Cargando...'}
                            Nivel Superior
                        %a.btn.btn-primary.btn-sm{href: calculo_personal_comparativo_compensacion_market_data_path(params[:user_id], 'jefaturas'), class: params[:comparar_tipo].eql?('jefaturas') ? "active" : '', title: 'Mi jefe y sus pares', :'data-loading-text' => 'Cargando...'}
                            Jefaturas
                        %a.btn.btn-success.btn-sm{href: calculo_personal_comparativo_compensacion_market_data_path(params[:user_id], 'cargo'), class: params[:comparar_tipo].eql?('cargo') ? "active" : '', title: 'Mismo cargo', :'data-loading-text' => 'Cargando...'}
                            Cargo
                    %h6.pull-right{style: 'margin-right: 10px'}
                        Comparar simulación con:
