:ruby
    bg1 = 'background: #F5F3DF !important;'
    bg2 = 'background: #FFFFFF !important;'
    bg3 = 'background: #ECFFE7 !important;'

-#.panel.panel-default
-#.panel.panel-heading
= render partial: 'calculo_personal_header'

%script{:src => "https://code.highcharts.com/highcharts.js"}

.clearfix
    %table.table.table-condensed.no-filter.panel-body
        %thead
            %tr
                %th.text-center.main-title{rowspan: 3} Items de Sueldo
                %th.text-center.sep.main-title{colspan: 6} Situacion Actual
                - clas1 = ""
                - clas2 = ""
                -if session[:usemon]
                    - clas1 = "not-print"
                -if !session[:usemon]
                    - clas2 = "not-print"
                %th.text-center.sep.main-title{rowspan: 3, class: clas1} Incremento (porcentual) %
                %th.text-center.sep.main-title{rowspan: 3, class: clas2} Incremento (en dinero) $
                %th.text-center.sep.main-title{colspan: 6} Simulación
            %tr
                %th.text-center{colspan: 2} Colaborador
                %th.text-center.sep{colspan: 2} Equidad Interna
                %th.text-center.sep{colspan: 2} Competitividad Externa
                %th.text-center{colspan: 2} Colaborador
                %th.text-center.sep{colspan: 2} Equidad Interna
                %th.text-center.sep{colspan: 2} Competitividad Externa
            %tr
                %th.text-center Detalle
                %th.text-center
                    Estructura Salarial
                    %br
                    (Total)
                %th.text-center.sep Empresa
                %th.text-center Ratio
                %th.text-center.sep Mercado
                %th.text-center Ratio
                %th.text-center Detalle
                %th.text-center
                    Estructura Salarial
                    %br
                    (Total)
                %th.text-center.sep Empresa
                %th.text-center Ratio
                %th.text-center.sep Mercado
                %th.text-center Ratio
        %tbody
            - old_item = nil
            - cont = 0
            - user_values = []

            - @items.each_with_index do |item, k|

                - item[:detalle].each_with_index do |detalle, k|
                    -# next unless IncomeStructureData.exception?(detalle[:detail].first.first)
                    - income_id = item[:income].id
                    %tr{income_id: income_id, income_structure_data_id: detalle.id}
                        %td{style: 'padding-left: 25px;'}= detalle[:detail].first.first #detalle.first
                        %td.text-right.detalle{idx: k,income_id: item[:income][:id], income_structure_data_id: detalle.id, style: bg1}
                            = number_with_delimiter (detalle[:detail].first.last.to_f / detalle.periodicity_detail[detalle[:detail].first.first].to_i).round

                        %td{style: bg1}
                        %td.sep{colspan: 2, style: bg1}
                        %td.sep{colspan: 2, style: bg1}
                        %td.col-xs-1.sep{style: bg2, class: clas1}
                            .input-group
                                %input.form-control.ingreso.text-right{value: (!@ratios_guardados.blank? && @ratios_guardados[ income_id ] ? @ratios_guardados[ income_id ][k] : 0).to_s, income_id: income_id, income_structure_data_id: detalle.id, idx: k}
                                %span.input-group-addon{style: 'padding: 0px 6px'} %

                        %td.col-xs-1.sep{style: bg2, class: clas2}
                            .input-group
                                %input.form-control.monto.text-right{value: (!@ratios_guardados.blank? && @ratios_guardados[ income_id ]   ? @ratios_guardados[ income_id ][k] : 0).to_s, income_id: income_id, income_structure_data_id: detalle.id, idx: k}


                        %td.text-right.detalle-clon.sep{idx: k,income_id: income_id, income_structure_data_id: detalle.id, style: bg3}= number_with_delimiter ((@datos_guardados.blank? || @datos_guardados[income_id].blank? ? (detalle[:detail].first.last.to_f / detalle.periodicity_detail[detalle[:detail].first.first].to_i) : @datos_guardados[income_id][k])).round
                        %td{style: bg3}
                        %td.sep{colspan: 2, style: bg3}
                        %td.sep{colspan: 2, style: bg3}
                - old_item = item
                //muevo para cambiar posicion del total
                - income_id = item[:income][:id]
                %tr
                    %td
                        %strong=item[:income][:name]
                        -# = item.inspect
                    %td{style: bg1}
                    %td.text-right.estructura-salarial{income_id: income_id, style: bg1}
                        %strong= number_with_delimiter item[:total_sum].to_i
                        - user_values << item[:total_sum].to_i
                        - # %br
                        - # (
                        - # %span.total= number_with_delimiter item[:total].to_i
                        - # )


                    %td.sep.text-right.empresa{income_id: income_id, value: item[:equidad].blank? ? 0 : item[:equidad][:y].to_i, style: bg1, class: "#{'enabled' unless item[:equidad].blank?}" }
                        %strong= number_with_delimiter(item[:equidad][:y].to_i) unless item[:equidad].blank?
                    %td.empresa-ratio{style: bg1, income_id: income_id, class: "#{'enabled' unless item[:equidad].blank?}", banda_inferior: item[:market_data_banda_inferior], banda_superior: item[:market_data_banda_superior] }
                        = number_with_delimiter item[:market_ratio]

                    %td.mercado.sep{income_id: income_id, value: item[:market_data].blank? ? 0 : item[:market_data].value, banda_inferior: item[:market_data_banda_inferior], banda_superior: item[:market_data_banda_superior], style: bg1, class: "#{'enabled' unless item[:market_data].blank?}"}

                        - unless item[:market_data].blank?
                            %strong= number_with_delimiter item[:market_data].value
                    %td.mercado-ratio{style: bg1, income_id: income_id, class: "#{'enabled' unless item[:market_data].blank?}"}
                        - unless item[:market_data_ratio].blank?
                            = item[:market_data_ratio]
                    %td.sep{style: bg2}
                        -# %h5 Market:
                        -# = item[:market].inspect
                        -# %h5 Market data:
                        -# = item[:market_data].inspect#.blank? ? '' : item[:market_data].value
                    %td
                    %td.sep{style: bg3}
                    %td.text-right.estructura-salarial-clon{income_id: income_id, style: bg3, original: item[:total_sum].to_f.round, anterior: old_item.blank? ? 0 : old_item[:total_sum].to_f.round}
                        %strong
                    %td.text-right.empresa-clon.sep{income_id: income_id, style: bg3, class: "#{'enabled' unless item[:equidad].blank?}" }= number_with_delimiter(item[:equidad][:y].to_i) unless item[:equidad].blank?
                    %td.empresa-ratio-clon{income_id: income_id, style: bg3, class: "#{'enabled' unless item[:equidad].blank?}" }= number_with_delimiter item[:market_ratio]
                    %td.mercado-clon.sep{income_id: income_id, style: bg3, class: "#{'enabled' unless item[:market_data].blank?}"}
                        - unless item[:market_data].blank?
                            %strong= number_with_delimiter item[:market_data].value
                    %td.mercado-ratio-clon{income_id: income_id, style: bg3, class: "#{'enabled' unless item[:market_data].blank?}"}
                        - unless item[:market_data_ratio].blank?
                            = item[:market_data_ratio]
            - session[:scactual] = user_values

:javascript
      var first_load      = true;
      var detalles        = #{@datos_guardados.blank? ? [] : @datos_guardados.to_json};
      var ratios          = #{@ratios_guardados.blank? ? [] : @ratios_guardados.to_json};
      var mercados        = #{@mercados_guardados.blank? ? [] : @mercados_guardados.to_json};
      var mercados_ratios = #{@mercados_ratios_guardados.blank? ? [] : @mercados_ratios_guardados.to_json};
      var empresas        = #{@empresas_guardados.blank? ? [] : @empresas_guardados.to_json};
      var empresas_ratios = #{@empresas_ratios_guardados.blank? ? [] : @empresas_ratios_guardados.to_json};
      var sumatorias      = #{@sumatorias_guardados.blank? ? [] : @sumatorias_guardados.to_json};
      var totales         = #{@totales_guardados.blank? ? [] : @totales_guardados.to_json};
      var income_id, income_structure_data_id, idx, valor, empresa, empresa_ratio, mercado, mercado_ratio = 0;

      function actualizarTabla()
      {
          var sumatoria = 0;
          for(income_id in detalles)
          {

              query = '[income_id='+income_id+']';
              if(typeof total === 'undefined') total = 0;

              //if(detalles[income_id].length > 0)
              total = 0;

              for(idx in detalles[income_id])
              {

                  total += detalles[income_id][idx];

              }

              if( total >= 0 )
              {
                  if(first_load && totales[income_id] && sumatorias[income_id])
                  {
                      total     = totales[income_id];
                      sumatoria = sumatorias[income_id];
                  }
                  else
                  {
                      totales[income_id]    = total;
                      sumatoria            += total;
                      sumatorias[income_id] = sumatoria;
                  }


                  $('.estructura-salarial-clon'+query).html(
                      '<strong>'+sumatoria.toLocaleString() + "</strong>"
                  );
              }

              empresas_ratios[income_id] = empresa <= 0 ? 0 : Math.round( (sumatoria * 100) / empresas[income_id] );
              mercados_ratios[income_id] = mercado <= 0 ? 0 : Math.round( (sumatoria * 100) / mercados[income_id] );

              mdo_banda_inferior = 100 - parseFloat($('.mercado'+query).attr('banda_inferior')).toFixed(2);
              mdo_banda_superior = 100 + parseFloat($('.mercado'+query).attr('banda_superior')).toFixed(2);

              clase = '';

              if(mdo_banda_inferior > 0 && mdo_banda_superior > 0)
              {
                  valor_ratio = mercados_ratios[income_id];


                  if( mdo_banda_inferior <=  valor_ratio && mdo_banda_superior >= valor_ratio )
                  {
                      clase = 'alert-success';
                  }
                  else{
                      if( mdo_banda_inferior > valor_ratio )
                          clase = 'alert-danger';
                      else
                          if( mdo_banda_superior < valor_ratio )
                              clase = 'alert-warning';
                  }

                  $('.enabled.mercado-ratio-clon'+query).removeClass('alert-success alert-danger alert-warning').addClass(clase);

              }


              empresa_banda_inferior = 100.0 - parseFloat($('.empresa'+query).attr('banda_inferior')).toFixed(2);
              empresa_banda_superior = 100.0 + parseFloat($('.empresa'+query).attr('banda_superior')).toFixed(2);

              clase = '';

              if(empresa_banda_inferior > 0 && empresa_banda_superior > 0)
              {
                  valor_ratio = mercados_ratios[income_id];


                  if( empresa_banda_inferior <=  valor_ratio && empresa_banda_superior >= valor_ratio )
                  {
                      clase = 'alert-success';
                  }
                  else{
                      if( empresa_banda_inferior > valor_ratio )
                          clase = 'alert-danger';
                      else
                          if( empresa_banda_superior < valor_ratio )
                              clase = 'alert-warning';
                  }

                  $('.enabled.empresa-ratio-clon'+query).removeClass('alert-success alert-danger alert-warning').addClass(clase);

              }


              if(!empresas_ratios[income_id])
              {
                  empresas_ratios[income_id] = 0;
                  empresas_ratios[income_id] = Math.round( parseFloat( $('.enabled.empresa-ratio'+query).text()).toFixed(2) );
              }

              if(!mercados_ratios[income_id])
              {
                  mercados_ratios[income_id] = 0;
                  mercados_ratios[income_id] = Math.round( parseFloat( $('.enabled.mercado-ratio'+query).text()).toFixed(2) );
              }
              if( !isNaN(empresas_ratios[income_id]) )
                  $('.enabled.empresa-ratio-clon'+query).text( Math.round( empresas_ratios[income_id] ) );
              if( !isNaN(mercados_ratios[income_id]) )
                  $('.enabled.mercado-ratio-clon'+query).text( Math.round( mercados_ratios[income_id] ) ).removeClass('success danger warning').addClass(clase);

          }
          if(!first_load)
          {
              $.post("#{guardar_calculo_personal_compensacion_market_data_path(params[:user_id])}", {
                  datos: JSON.stringify(detalles),
                  ratios: JSON.stringify(ratios),
                  mercados: JSON.stringify(mercados),
                  mercados_ratios: JSON.stringify(mercados_ratios),
                  empresas: JSON.stringify(empresas),
                  empresas_ratios: JSON.stringify(empresas_ratios),
                  totales: JSON.stringify(totales),
                  sumatorias: JSON.stringify(sumatorias)
              });
          } else {
              first_load = false;
          }
      }

      $(function(){
      //document.addEventListener('DOMContentLoaded', function() {
          //$('.tablesorter').tablesorter();
          $.each( $('.detalle'), function(i){
              income_id    = $(this).attr('income_id');
              idx          = $(this).attr('idx');
              pre_selector = "[income_id="+income_id+"][idx="+idx+"]";
              detalle      = parseInt($(".detalle"+pre_selector).text().replace(".","").replace(".",""));
              //console.log("coso",  parseInt($(".detalle"+pre_selector).text().replace(".","").replace(".","")));

              if(detalles[income_id] === undefined)
                  detalles[income_id] = [];

              detalles[income_id][idx] = detalle;
          });

           $(".monto").change(function (a){
            $(".ingreso").val(0);

            income_id       = $(this).attr('income_id');
            idx             = $(this).attr('idx');
            income_selector = "[income_id="+income_id+"]";
            pre_selector    = income_selector+"[idx="+idx+"]";

            valor                    = parseInt($(this).val().replace(",", "."), ".");
            if( !$.isNumeric(valor) )
            {
                //busca = valor.match(/(?:^|(?<=\s))[0-9]*\.?[0-9](?=\s|$)/);

                //if(busca != null) valor = busca[0];
                valor = parseFloat(valor);
                if(isNaN(valor)) valor = 0;
                $(this).val(valor);
            }
            $(this).val(valor);

            detalle                    = accounting.unformat($(".detalle"+pre_selector).text(), ",");
            detalle_calculado          = valor <= 0 ? detalle : (detalle + valor) ;

            empresa                    = parseFloat( $('.empresa'+income_selector).attr('value')).toFixed(2);
            mercado                    = parseFloat( $('.mercado'+income_selector).attr('value')).toFixed(2);
            empresas[income_id]        = empresa;
            mercados[income_id]        = mercado;

            if( !ratios[income_id] )
                ratios[income_id] = []
            ratios[income_id][idx] = valor;

            detalles[income_id][idx] = detalle_calculado;

            $('.detalle-clon'+pre_selector).text( detalle_calculado == Infinity ? 0 : accounting.format( Math.round(detalle_calculado), "," ) );

            actualizarTabla();
        });
          $(".ingreso").change(function(e){
              $(".monto").val(0);

              income_id       = $(this).attr('income_id');
              idx             = $(this).attr('idx');
              income_selector = "[income_id="+income_id+"]";
              pre_selector    = income_selector+"[idx="+idx+"]";

              valor                    = $(this).val();
              if( !$.isNumeric(valor) )
              {
                  busca = valor.match(/[0-9]+/);

                  if(busca != null) valor = busca[0];

                  if(!$.isNumeric(valor)) valor = 0;
                  $(this).val(valor);
              }

              detalle                    = accounting.unformat($(".detalle"+pre_selector).text(), ",");
              detalle_calculado          = valor <= 0 ? detalle : (detalle * (1+(valor/100))) ;
              detalle_calculado          = Math.round(detalle_calculado);

              empresa                    = parseFloat( $('.empresa'+income_selector).attr('value')).toFixed(2);
              mercado                    = parseFloat( $('.mercado'+income_selector).attr('value')).toFixed(2);
              empresas[income_id]        = empresa;
              mercados[income_id]        = mercado;

              if( !ratios[income_id] )
                  ratios[income_id] = []
              ratios[income_id][idx] = valor;

              detalles[income_id][idx] = detalle_calculado;

              $('.detalle-clon'+pre_selector).text( detalle_calculado == Infinity ? 0 : accounting.format( Math.round(detalle_calculado), "," ) );

              actualizarTabla();
          });

          actualizarTabla()

      })
