:ruby
    income_str = ''#params[:income_id].blank? ? '' : '?income_id='+params[:income_id]
    equidad    = ['Estudio', equidad_compensacion_market_data_path+income_str]
    equidad[2] = :active if @action.eql?('equidad')&&params[:grafico].blank?
    ei         = ['Información', ei_informacion_compensacion_market_data_path]
    ei[2]      = :active if @action.eql?('ei_informacion')

    grafico    = ['Gráfico', equidad_compensacion_market_data_path+income_str+'?grafico=true']
    grafico[2] = :active if @action.eql?('equidad')&&!params[:grafico].blank?

= crud_bar [equidad, ei, grafico]