- params[:option] = params[:option].blank? ? (defined?(option) ? option : '') : params[:option]
- @data, @items, @data_linear, @intercept, @slope, @rSquared, @sel_income, @lineas, @market_data, income_id, @data_promedio, @data_mediana, @secciones, @ecuaciones_linear = grafico_equidad_interna(income_id, params[:option], params)

- current_income = @incomes_sel.select{|x| x[:id] == income_id}
- current_income = current_income.blank? ? nil : current_income.first
- banda_inferior = current_income.blank? ? 20 : current_income.banda_inferior
- banda_superior = current_income.blank? ? 20 : current_income.banda_superior
- competitividad = false unless defined?(competitividad)
- es_equidad = false unless defined?(es_equidad)
- es_equidad = false if es_equidad.blank?

.row
    .col-xs-8{id: "informe_#{income_id}", height: '300px'}
    - unless @items.blank?
        .col-xs-4

            %table.table.table-condensed.no-filter.hide.w100{class: "tabla-resumen_#{income_id}"}
                %thead
                    %tr
                        %th Resumen
                        %th.text-right Cantidad
                        %th.text-right %
                %tbody
                    %tr
                        %td Colaboradores Totales
                        %td.text-right.total
                        %td.text-right 100
                    %tr.success
                        %td Colaboradores en Rango
                        %td.text-right.rango= #tmp = calcular_resumen_equidad( @items, :rango, income_id )
                        %td.text-right.rango-porcentaje= #(tmp*100)/total
                    %tr.warning
                        %td Colaboradores Sobre Pagados
                        %td.text-right.superior= #tmp = calcular_resumen_equidad( @items, :superior, income_id )
                        %td.text-right.superior-porcentaje= #(tmp*100)/total
                    %tr.danger
                        %td Colaboradores Sub Pagados
                        %td.text-right.inferior= #tmp = calcular_resumen_equidad( @items, :inferior, income_id )
                        %td.text-right.inferior-porcentaje= #(tmp*100)/total
            - if grafico.blank?

                %table.table.table-condensed.no-filter.hide.w100{class: "tabla-resumen_#{income_id}"}
                    %thead
                        %tr
                            %th Estructura
                            %th Ecuación
                            %th Fecha
                    %tbody
                        - if @graficos_guardados.blank?

                            %tr
                                %th.text-center{colspan: 3} No hay gráficos almacenados
                        - else


                            - @graficos_guardados.each do |ec|
                                %tr
                                    %td= ec.income.acronym
                                    %td= EquidadPunto::ECUACIONES_NOMBRES[ec.value.to_i]
                                    %td= l ec.updated_at
            - if !@secciones.blank? && params[:option] == 'linear'
                %table.table.table-condensed.no-filter.w100
                    %thead
                        %tr
                            %th #
                            %th Bloque Inicio
                            %th Bloque Fin
                            - if grafico.blank?
                                %th

                    %tbody
                        - @secciones.each_with_index do |seccion, i|
                            %tr
                                %td= i+1
                                %td.text-right= seccion.first
                                %td.text-right= seccion.second
                                - if role_cann?('cp_equidad_interna_guardar') && grafico.blank?
                                    %td
                                        %a.btn.btn-xs.btn-primary{href: equidad_eliminar_puntos_compensacion_market_data_path(params[:income_id], params[:option], i)}
                                            %span.glyphicon.glyphicon-remove
                                            Eliminar
                    - if role_cann?('cp_equidad_interna_guardar') && grafico.blank?
                        %tfoot
                            %tr
                                %td
                                %td
                                    %input.form-control.input-sm{name: 'bloque[inicio]', placeholder: 'Bloque inicio'}
                                %td
                                    %input.form-control.input-sm{name: 'bloque[fin]', placeholder: 'Bloque fin'}
                                %td
                                    %a#btn_agregar_bloque.btn.btn-success.btn-sm{href: '#'}
                                        %span.glyphicon.glyphicon-plus
                                        Agregar

- unless @items.blank?

    :ruby
        def op_path(kind)
            "#{ei_save_option_compensacion_market_data_path}?income_id=#{@sel_income.id}&option=#{kind}"
        end
    .well.well-sm{id: "ecuaciones_#{income_id}"}
        - if grafico.blank?
            %strong Ecuaciones:
            .btn-group
                %a.btn.btn-success.btn-eq{href: op_path('promedio'), kind: 'promedio', :'data-loading-text' => "Cargando..."} Promedio
                %a.btn.btn-success.btn-eq{href: op_path('mediana'), kind: 'mediana', :'data-loading-text' => "Cargando..."} Mediana
                - if Rails.env.development?
                    %a.btn.btn-success.btn-eq{href: op_path('5puntos'), kind: '5puntos', :'data-loading-text' => "Cargando..."} 5 Puntos
                %a.btn.btn-success.btn-eq{href: op_path('linear'), kind: 'linear', :'data-loading-text' => "Cargando..."} Lineal
                %a.btn.btn-success.btn-eq{href: op_path('exponential'), kind: 'exponential', :'data-loading-text' => "Cargando..."} Exponencial
                -#%a.btn.btn-success.btn-eq{href: op_path('logarithmic'), kind: 'logarithmic', :'data-loading-text' => "Cargando..."} Logarítmica
                -#%a.btn.btn-success.btn-eq{href: op_path('polynomial'), kind: 'polynomial', :'data-loading-text' => "Cargando..."} Polinomial

            %br
            %br
        .normalblock
            %strong Ecuación
            %span.ecuacion
        .linearblock
            - @ecuaciones_linear.each do |eq|
                - eq = eq.last
                .col-xs-3
                    .panel.panel-default
                        .panel-heading Ecuación
                        .panel-body
                            %span= "y = #{eq[:slope]} * x + #{eq[:intercept]}"
                            %br
                            %strong R2 =
                            %span= eq[:r2]

            .clearfix
        %br
        - if role_cann?('cp_equidad_interna_guardar') && grafico.blank?
            %button.btn.btn-primary.guardar.not{type: 'button', :'data-loading-text' => 'Guardando...'}
                %span.glyphicon.glyphicon-save
                Guardar selección

- if grafico.blank?
    :javascript
        $(function(){
            $('.btn-filtro').click(function(e){
                e.preventDefault();

                val = parseInt($('.filtro-income').val());

                if(val > 0)
                {
                    window.location.href = "?income_id=" + val +"&option=#{option}";
                } else
                    alert('Debe seleccionar una estructura');
            });

            $('.btn.guardar').click(function(e){
                //e.preventDefault();
                $(this).button('loading');
                sendData_#{income_id}(datos_seleccion_#{income_id}, $('.btn-eq.active').attr('kind'), true);
            });
        })

- unless @items.blank?

    :javascript
        var competitividad_#{income_id} = #{competitividad.blank? ? false : competitividad};
        var market_data_#{income_id}     = #{@market_data.to_json};
        var color_#{income_id}           = '#669900';
        var datos_#{income_id}           = #{@data.to_json};
        var market_lines = #{@market_lines.to_json};
        if(competitividad_#{income_id})
            var linea_mercado_#{income_id}   = #{(@market_lines.blank? ? [] : @market_lines[income_id]).to_json};
        var datos_seleccion_#{income_id} = [];
        var kinds_names                  = #{EquidadPunto.param_to_name.to_json};
        var lineal_#{income_id}          = {
            name: 'Lineal',
            type: 'line',
            data: #{@data_linear.to_json},
            color: color_#{income_id}
        };
        var promedio_#{income_id} = {
            name: 'Promedio',
            type: 'line',
            data: #{@data_promedio.to_json},
            color: color_#{income_id}
        };
        var mediana_#{income_id} = {
            name: 'Mediana',
            type: 'line',
            data: #{@data_mediana.to_json},
            color: color_#{income_id}
        };
        var chart_#{income_id}   = null;
        var options_#{income_id} = {
            chart: {renderTo: 'informe_#{income_id}'},
            title: "#{@sel_income.name}",
            yAxis: {
                title: {text: "Sueldo ($)"},
                // min: 0,
                tickInterval: 500000,
            },
            xAxis: {
                title: {text: "Nivel"},
                tickInterval: 1,
            },
            series: [
                {
                    type: 'scatter',
                    name: '#{@sel_income.name}',
                    data: datos_#{income_id},
                    zIndex: 2
                },
                {type: 'line', color: '#cc0000'},
                {
                    name: 'Lineal',
                    type: 'line',
                    color: color_#{income_id}
                },
                {type: 'line', color: '#f1cf0c'}

            ],
            credits : {
                enabled: false
            },
            tooltip: {
                formatter: function() {
                    return ''+ this.series.name +' Nivel '+ this.x +':  $'+ Highcharts.numberFormat(this.y, 0, '.').replace(/,/g, ".");
                }
            }
        };

        if( competitividad_#{income_id} )
        {
            options_#{income_id}['series'].push({name: 'Mercado', type: 'line', data: linea_mercado_#{income_id}});
        }
        function sortByKey(array, key) {
            return array.sort(function(a, b) {
                var x = a[key]; var y = b[key];
                return ((x < y) ? -1 : ((x > y) ? 1 : 0));
            });
        }
        function sendData_#{income_id}(datos, kind, save)
        {
            var str = save == undefined ? "" : "&save=true";

            $.post("#{ei_guarda_puntos_compensacion_market_data_path}?income_id=#{income_id}&ecuacion="+kind+str, datos, function(data){
                if(data)
                {
                    var tri = $('.tabla-resumen_#{income_id}').removeClass('hide');
                    $('.total', tri).text( data['total'] );
                    $('.rango', tri).text( data['rango'] );
                    $('.superior', tri).text( data['sobrepagados'] );
                    $('.inferior', tri).text( data['subpagados'] );
                    $('.rango-porcentaje', tri).text( data['rango_p'] );
                    $('.superior-porcentaje', tri).text( data['sobrepagados_p'] );
                    $('.inferior-porcentaje', tri).text( data['subpagados_p'] );
                    if(save)
                        location.reload();//$('.btn.guardar').button('reset');
                }
            });
        }
        function calcularRegresion(data){
            x = []; y = [];
            for(var i in data)
            {
                x.push(data[i][0]);
                y.push(data[i][1]);
            }
            var lr = {};
            var n = y.length;
            var sum_x = 0;
            var sum_y = 0;
            var sum_xy = 0;
            var sum_xx = 0;
            var sum_yy = 0;

            for (var i = 0; i < y.length; i++) {
            	sum_x += x[i];
            	sum_y += y[i];
            	sum_xy += (x[i]*y[i]);
            	sum_xx += (x[i]*x[i]);
            	sum_yy += (y[i]*y[i]);
            }

            lr['slope'] = (n * sum_xy - sum_x * sum_y) / (n*sum_xx - sum_x * sum_x);
            lr['intercept'] = (sum_y - lr.slope * sum_x)/n;
            lr['r2'] = Math.pow((n*sum_xy - sum_x*sum_y)/Math.sqrt((n*sum_xx-sum_x*sum_x)*(n*sum_yy-sum_y*sum_y)),2);

            return lr;
        }
        function getKind_#{income_id}(kind)
        {
            #{"kind = '#{kind}';" if defined?(kind)}
            return (kind == undefined) ? '#{(tmp=EquidadConfig.ecuacion_with_income_id(income_id)).blank? ? '' : EquidadPunto.ecuacion_param(EquidadConfig.ecuacion_with_income_id(income_id)).downcase}' : kind;
        }
        function renderChart_#{income_id}(kind)
        {
            var series_key = 2;
            var series_key_inferior = series_key-1;
            var series_key_superior = series_key+1;
            var options    = options_#{income_id};
            var kind       = getKind_#{income_id}(#{"'#{params[:option]}'" unless params[:option].blank?});
            $('.normalblock,.linearblock', '#ecuaciones_#{income_id}').hide();
            $('.btn-eq[kind="'+kind+'"]').addClass('active');

            options['series'][series_key]['name']   = kinds_names[kind];

            options['series'][series_key_inferior]['name'] = 'Banda Inferior '+(competitividad_#{income_id} ? 'Mercado' : kinds_names[kind]);
            options['series'][series_key_superior]['name'] = 'Banda Superior '+(competitividad_#{income_id} ? 'Mercado' : kinds_names[kind]);

            switch(kind)
            {
                case "linear":
                    options['series'][series_key] = lineal_#{income_id};
                    $('#ecuaciones_#{income_id} .linearblock').show();
                break;
                case "promedio":
                    options['series'][series_key] = promedio_#{income_id};
                break;
                case "mediana":
                    options['series'][series_key] = mediana_#{income_id};
                break;
                case "logarithmic":
                case "polynomial":
                case "exponential":
                    tmp_data = #{@data.sort_by(&:first).to_json};
                    tmp_data_2 = []
                    for(var i in tmp_data)
                    {
                        if( tmp_data[i][1] > 0 )
                        {
                            tmp_data_2.push(tmp_data[i]);
                        }
                    }
                    reg = regression(kind, tmp_data_2 );
                    options['series'][series_key]['data'] = sortByKey(reg.points, 0);
                    ecuacion = reg.string;
                    ecuacion += " <br /> R2: " + parseFloat(calcularRegresion(reg.points)['r2']).toFixed(2);
                    $('#ecuaciones_#{income_id} .ecuacion').html( ecuacion );
                    $('#ecuaciones_#{income_id} .normalblock').show();
                break;

            }
            var data_inf = [];
            var data_sup = [];
            var mdo      = null;
            // CALCULA LAS BANDAS
            for(i in (tmp_data = options['series'][competitividad_#{income_id} ? 4 : series_key]['data']))
            {

                x = tmp_data[i][0];
                y = tmp_data[i][1];

                if(#{es_equidad})
                {
                    mdo = {banda_inferior: #{banda_inferior}, banda_superior: #{banda_superior}};
                } else {
                    mdo = array_select(market_data_#{income_id}, function(mdi){ return mdi['income_structure_id'] == #{income_id} && mdi['nivel'] == x});
                }

                if(mdo != null)
                {
                    inf = 1.0 + mdo['banda_inferior']/100.0;
                    sup = 1.0 - mdo['banda_superior']/100.0;

                    data_sup.push( [x, Math.round(y*inf)] );
                    data_inf.push( [x, Math.round(y*sup)] );
                }
            }
            options['series'][series_key_inferior]['data'] = data_inf;
            options['series'][series_key_superior]['data'] = data_sup;

            var datos_tmp = {
                datos:    datos_#{income_id},
                linea:    options['series'][competitividad_#{income_id} ? 4 : series_key]['data'],
                inferior: options['series'][series_key_inferior]['data'],
                superior: options['series'][series_key_superior]['data']
            };

            //total    = calcular_resumen_equidad(#{income_id}, 'total', datos_tmp);
            //rango    = calcular_resumen_equidad(#{income_id}, 'rango', datos_tmp);
            //inferior = calcular_resumen_equidad(#{income_id}, 'inferior', datos_tmp);
            //superior = calcular_resumen_equidad(#{income_id}, 'superior', datos_tmp);
            datos_seleccion_#{income_id} = datos_tmp;

            if( competitividad_#{income_id} )
            {
                options['series'] = [
                        options['series'][0],
                        options['series'][2],
                        options['series'][3],
                        options['series'][4],
                        options['series'][1],
                ];

            }

            sendData_#{income_id}(datos_tmp, kind);

            //chart.destroy();
            chart_#{income_id} = new Highcharts.Chart(options);
        }
        $(function(){
            $('.btn-eq').removeClass('active');
            $('#btn_agregar_bloque').click(function(){

                str = "#{equidad_agregar_puntos_compensacion_market_data_path(params[:income_id], params[:option])}";
                str += "?bloque_inicio="+$('input[name="bloque[inicio]"]').val();
                str += "&bloque_fin="+$('input[name="bloque[fin]"]').val();

                location.href = str;
            });

            renderChart_#{income_id}();
            // $('.btn-eq').click(function(e){
            //     e.preventDefault();
            //     $('.btn-eq').removeClass('btn-success');
            //     $(this).addClass('btn-success');
            //     renderChart($(this).attr('kind'));
            // })
            //chart.series[3].data
            //chart = new Highcharts.Chart(options);

        })
