= simple_form_for @item, :url => @item.new? ? compensacion_market_data_path : compensacion_market_datum_path(@item)  do |f|

    = f.input :income_structure_id, label: 'Estructura Salarial', collection: IncomeStructure.all
    = f.input :statistic_id, label: 'Estadístico', collection: Statistic.all
    = f.input :nivel
    = f.input :punto_medio
    = f.input :x_min, label: 'Punto Mínimo'
    = f.input :x_max, label: 'Punto Máximo'
    = f.input :pendiente
    = f.input :intercepto
    = f.input :value, label: 'Monto'

    %br
    = f.submit 'Enviar', :class => 'aSubmit aS_ok right'