:ruby
    opts = [
        ['Competitividad Salarial', compensacion_market_data_path, action_is?(:index) ? :active : nil],
        ['Gráficos', comp_graficos_compensacion_market_data_path, action_is?(:comp_graficos) ? :active : nil]
    ]
    
= crud_bar opts