= crud_bar [ ["Comparativa calculo personal ", '#', :active]]

- sumatoria = true

- tipo        = params[:filtro].blank?||params[:filtro] == "estructuras" ? "estructuras" : "todas"
- estructuras = tipo.eql?( "estructuras")
- todas       = tipo.eql?("todas")

= notices
%script{:src => "https://code.highcharts.com/highcharts.js"}
-#%script{:src => "https://code.highcharts.com/modules/exporting.js"}
.panel.panel-default{style: "border:none"}
    .panel-heading{style: "background-color: #cc3333 !important"}
        %h4.pull-left{style:"color : #fff !important; font-weight: bold;"} Consulta individual compensación
        .pull-right
            %a.btn.btn-warning.not-print{:href => calculo_personal_comparativo_compensacion_market_data_path(params[:user_id], format: :pdf)}
                %i.icon-white.icon-file
                Ver PDF
            %a.btn.btn-success.not-print{href: calculo_personal_compensacion_market_data_path(params[:user_id]), :'data-loading-text' => 'Cargando...'}
                %span.glyphicon.glyphicon-chevron-left
                Volver
        .clearfix
    .panel-body
        -#.panel.panel-default
        %h4.pull-left{style:"text-align: center"} Consulta individual compensación - Detalle Simulación
        = render partial: 'calculopersonal_simulador'

%table
    %tr
        %td
            #container0.conta{:style => "width:550px; height: auto; "}
        %td
            #container1.conta{:style => "width:550px; height: auto;"}
    %tr
        %td
            #container2.conta{:style => "width:550px; height: auto; "}
        %td
            #container3.conta{:style => "width:550px; height: auto; "}
    %tr
        %td
            #container4.conta{:style => "width:550px; height: auto; "}
        %td
            #container5.conta{:style => "width:550px; height: auto; "}
    %tr
        %td
            #container6.conta{:style => "width:550px;height: auto; "}
        %td
            #container7.conta{:style => "width:550px; height: auto; "}



.page-break
%br
%br
%button.pull-right.btn.btn-success.not-print#botondetalle
    Mostrar detalle
.clearfix
#tablacomparativadetalle{style: "display:none"}
    .panel.panel-default{style: "border:none"}
        .panel-heading{style: "background-color: #cc3333 !important"}
            %h4.pull-left{style:"color : #fff !important; font-weight: bold;"}= "Consulta individual compensación - Detalle Comparación (#{params['comparar_tipo']})"
            .clearfix
        -#.btn-group.btn-group-justified
            %a.btn.btn-primary.not-print{href: '?filtro=estructuras', class: estructuras ? 'active' : '', :'data-loading-text' => "Cargando..."}
                Sólo Estructuras Salariales
            %a.btn.btn-primary.not-print{href: '?filtro=todas', class: todas ? 'active' : '', :'data-loading-text' => "Cargando..."}
                Todas las columnas
        .panel-body
            .kinetic{style: 'overflow: auto'}
                %table.table.no-filter.fixhead
                    %thead
                        %tr
                            %th.col-xs-1 Rut
                            %th.col-xs-2 Nombre
                            %th.col-xs-1 Nivel Cargo
                            %th.col-xs-3 Cargo
                            - @incomes.each do |income|
                                - if @incomes_show.include?(income.id)
                                    - if todas
                                        - detail = @data.select{|x| x.income_structure_id == income.id}.first
                                        - unless detail.blank?
                                            - detail.detail.each do |k, v|
                                                - if IncomeStructureData.exception?(k)
                                                    %th.col-xs-2.text-center
                                                        = k
                                                        - unless detail.periodicity_detail.blank?
                                                            %br
                                                            %i{style: 'font-weight: normal'}= "(#{IncomeStructureData::PERIDIOCIDAD[detail.periodicity_detail[k]]})"

                                    %th.col-xs-2.text-center= income.full_name

                    %tbody
                        - user = @user_obj
                        - counter = 0

                        - user_simulado = []
                        - us_sim_counter = 0
                        %tr.alert-success
                            %td= user.rut
                            %td= user.full_name
                            %td= "#{@job.level}"
                            %td= "#{@job.name}"
                            - @incomes.each do |income|
                                - if @incomes_show.include?(income.id)

                                    - counter += @datos_guardados[income.id].blank? ? 0 : @datos_guardados[income.id].sum{|x| x.blank? ? 0 : x}

                                    - if (counter == 0 || counter == session[:scactual])
                                        - user_simulado[us_sim_counter] = session[:scactual]
                                    - else
                                        - user_simulado[us_sim_counter] =  counter.round

                                    - us_sim_counter +=1
                                    - if todas
                                        - detail = @data.select{|x| x.income_structure_id == income.id}.first
                                        - unless detail.blank?
                                            - _c = 0
                                            - detail.detail.each do |k, v|
                                                - if IncomeStructureData.exception?(k)
                                                    - i = @datos_guardados[income.id][_c]
                                                    %td.text-right{style: 'background-color: #FDFDFD'}= number_with_delimiter(i.blank? ? 0 : i.round(2))
                                                - _c += 1

                                    %td.text-right.info= number_with_delimiter counter


                        - row = []
                        - @masa_salarial.each do |ms|
                            - estruct = []
                            - user, job = ms[:user], ms[:job]
                            - c = 0
                            %tr
                                %td= user.rut
                                %td= user.full_name
                                %td= "#{job.level} "
                                %td= "#{job.name}"
                                - @incomes.each do |income|
                                    - if @incomes_show.include?(income.id)
                                        - i_d     = ms[:incomes][income.id][:detalle]
                                        - counter = ms[:incomes][income.id][:counter]
                                        - if (job.level > 0)
                                            - estruct[c] = { x: job.level , y: counter.round , value: job.name}
                                            - c+=1

                                        - if todas
                                            - unless i_d.blank?
                                                - i_d.first.detail.each do |k, v|
                                                    - if IncomeStructureData.exception?(k)
                                                        %td.text-right{style: 'background-color: #FDFDFD'}= number_with_delimiter(v.round) unless v.blank?
                                        %td.text-right.info{data: {toggle: 'tooltip', placement: 'top'}, title: "#{number_with_delimiter(i_d.first.value.to_i) unless i_d.blank?}"}= number_with_delimiter((sumatoria ? counter : i_d.first.value.to_i).round(2)) unless i_d.blank?
                            - row << estruct
:javascript
      var todas = #{todas};
      var jlevel = #{@job.level};
      $(document).ready(function () {
          //datos a comparar con el usuario seleccionado
          var row  = #{row.to_json};
          console.log('row',row);
          var cantidad_estructuras = row[0].length;
          var aux = [];
          for(x = 0 ; x < cantidad_estructuras ; x++){
            aux[x]=  []
          }
          for(i = 0 ; i < row.length ; i++){
              for(e = 0 ; e < row[i].length ; e++){
                aux[e].push(row[i][e]);
              }
          }
          // aux contiene los datos de cada persona separada por estructura salarial
          // bandas de mercado segun estructuras salariales definidas en el sistema
          var mercado=[];
          var inco = #{@incomes_show.to_json};

          var id_inco = 0;
          var market_line = #{@market_lines.to_json}


          for(x = 0 ; x < cantidad_estructuras ; x++){
            mercado[x]=  []
          }
          for(inc=0 ; inc < inco.length; inc++){
              id_inco = inco[inc];

              for(m=0 ; m < market_line[id_inco].length; m++){
                if (("#{params['comparar_tipo']}" == 'nivel') || ("#{params['comparar_tipo']}" == 'nivel-superior') ){

                  if ( (market_line[id_inco][m][0] > 0) && (market_line[id_inco][m][0] > (jlevel-3)) && (market_line[id_inco][m][0] < (jlevel+3)) ){
                    mercado[inc].push(market_line[id_inco][m]);
                  }

                }else{

                  if (market_line[id_inco][m][0] > 0){
                    mercado[inc].push(market_line[id_inco][m]);
                  }

                }
              }
          }

          var data_inf = [];
          var data_sup = [];
          var mdo      = null;
          var incomes_usar = [];
          function crearbandas(posicion ,id_income){
                incomes_usar = #{@income.to_json};
                // CALCULA LAS BANDAS
                for(i in (tmp_data = mercado[posicion]))
                {
                    x = tmp_data[i][0];
                    y = tmp_data[i][1];
                    mdo = {banda_inferior: incomes_usar[id_income].banda_inferior, banda_superior: incomes_usar[id_income].banda_superior};
                    if(mdo != null)
                    {
                        inf = 1.0 + mdo['banda_inferior']/100.0;
                        sup = 1.0 - mdo['banda_superior']/100.0;
                        data_sup.push( [x, Math.round(y*inf)] );
                        data_inf.push( [x, Math.round(y*sup)] );
                    }
                }
          }
          var bandas = [];
          for(x = 0 ; x < cantidad_estructuras ; x++){
            bandas[x]=  []
          }
          for(m = 0 ; m < mercado.length; m++){
              var data_inf = [];
              var data_sup = [];
              crearbandas(m,inco[m]);
              bandas[m].push({name: 'Banda Superior Mercado',type: 'line',data: data_sup , color: '#ccc'});
              bandas[m].push({name: 'Banda Inferior Mercado',type: 'line',data: data_inf , color: '#ccc'});
              bandas[m].push({name: 'Mercado',type: 'line',data: mercado[m] , color: '#ccc'});
          }
          var datosgrafico =[];
          for(x = 0 ; x < cantidad_estructuras ; x++){
            datosgrafico[x]=  []
          }
          var valor_actual = #{session[:scactual]};
          var valor_simulado = #{user_simulado};
          for(m = 0 ; m < mercado.length; m++){
              datosgrafico[m] = bandas[m];

              datosgrafico[m].push({name: "#{params['comparar_tipo']}",color: '#aeb0ef',data: aux[m]});

              datosgrafico[m].push({name: "#{@user_obj.full_name} (Actual)",color: '#00FF00',data: [{ x: jlevel, y: valor_actual[m]  , value: "#{@job.name}" }]});
              if  (valor_actual[m] != valor_simulado[m] && (valor_actual[m] +1) != valor_simulado[m] && valor_simulado[m] > 0){
                  datosgrafico[m].push({name: "#{@user_obj.full_name} (Simulado)",color: '#FF0000',data: [{ x: jlevel, y: valor_simulado[m] , value: "#{@job.name}" }]});
              }
          }
          draw(inco);
          function draw(estructuras){

              for(i = 0 ; i< datosgrafico.length; i++){
                  var id = estructuras[i];
                  var nombreestruc = "";
                  for (e =0 ; e<  incomes_usar.length; e++ ){
                      if (incomes_usar[e].id == id){
                          nombreestruc = incomes_usar[e].name
                      }
                  }
                  var contai = document.getElementsByClassName('conta');

                  var c = "#container"+i;
                  console.log("cont" , $(c));
                   $(c).highcharts({
                      credits : false,
                      chart: {
                          type: 'scatter',
                          zoomType: 'xy'
                      },
                      title: {
                          text: "Comparativa con #{params['comparar_tipo']} - "+nombreestruc
                      },
                      subtitle: {
                          text: 'Essential ©'
                      },
                      xAxis: {
                          title: {
                              enabled: true,
                              text: 'Nivel Cargo'
                          },
                          startOnTick: true,
                          endOnTick: true,
                          showLastLabel: true,
                          tickInterval: 1
                      },
                      yAxis: {
                          title: {
                              text: nombreestruc
                          },
                          startOnTick: true,
                          endOnTick: true,
                          showLastLabel: true,
                          tickInterval: 1000000
                      },
                      plotOptions: {
                           line: {
                              marker: {
                                enabled: false
                              }
                            },
                          scatter: {
                              marker: {
                                  radius: 5,
                                  states: {
                                      hover: {
                                          enabled: true,
                                          lineColor: 'rgb(100,100,100)'
                                      }
                                  }
                              },
                              states: {
                                  hover: {
                                      marker: {
                                          enabled: true
                                      }
                                  }
                              },
                              tooltip: {
                              pointFormat: 'Cargo : {point.value}  ' +
                                          ' Nivel : {point.x}  ' +
                                          ' Dinero : ${point.y}',
                              followPointer: true
                              }
                          },
                          series: {
                            enableMouseTracking: true,
                            shadow: false,
                            animation: false
                          }
                      },
                      series: datosgrafico[i]
                  });
              }

          }
          var showhide = false
          //document.getElementById("tablacomparativadetalle").style.display='none';
          document.getElementById("botondetalle").onclick = function(){
            showhide = !showhide;
            if (showhide == true) document.getElementById("tablacomparativadetalle").style.display='block';
            else document.getElementById("tablacomparativadetalle").style.display='none';
          };
    });
