:ruby
    bg1 = 'background: #F5F3DF !important;'
    bg2 = 'background: #FFFFFF !important;'
    bg3 = 'background: #ECFFE7 !important;'
:css
    .table thead { font-size: 10px !important;}
    .table .main-title { font-size: 14px !important;}

.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .panel.panel-default
        .panel-heading
            %h4.pull-left Consulta individual compensación
            .pull-right
                - unless params[:user_id].blank?
                    %a.btn.btn-success{href: calculo_personal_compensacion_market_data_path, :'data-loading-text' => 'Cargando...'}
                        %span.glyphicon.glyphicon-chevron-left
                        Volver a selección
            .clearfix
        .panel-body
            = notices
            - if params[:user_id].blank?
                %script#tpl{type: "x-tmpl-mustache"}
                    %tr
                        %td= '{{rut}}'
                        %td
                            = '{{first_name}}'
                            = '{{last_name}}'
                        %td= '{{job_name}}'
                        %td= '{{job_nivel}}'
                        %td
                            -#%a.btn.btn-success.btn-xs{href: calculo_personal_compensacion_market_data_path(item[:id]), :'data-loading-text' => 'Cargando...'}
                            -#    %span.glyphicon.glyphicon-user
                            -#   Seleccionar
                .panel.panel-default
                    .panel-heading
                        Seleccione el usuario que desea visualizar
                        = render partial: 'compensacion/partials/filter_box'

                    %table.table.table-condensed.fixhead.panel-body.tablesorter
                        %thead
                            %tr
                                %th Rut
                                %th Nombre
                                %th Cargo
                                %th Nivel
                                %th
                        %tbody
                            - @items.each do |item|
                                %tr
                                    %td= item[:rut]
                                    %td= item[:name]
                                    %td= item[:job_name]
                                    %td= item[:job_level]
                                    %td
                                        %a.btn.btn-success.btn-xs{href: calculo_personal_compensacion_market_data_path(item[:id]), :'data-loading-text' => 'Cargando...'}
                                            %span.glyphicon.glyphicon-user
                                            Seleccionar
                            -# - @items.each_with_index do |item, ki|
                            -#     - unless item[:position_id].blank?

                            -#         %tr
                            -#             %td= item[:rut]
                            -#             %td= "#{item[:first_name]} #{item[:last_name]}"
                            -#             %td= item[:job_name]
                            -#             %td= item[:job_nivel]
                            -#             %td
                            -#                 %a.btn.btn-success.btn-xs{href: calculo_personal_compensacion_market_data_path(item[:id]), :'data-loading-text' => 'Cargando...'}
                            -#                     %span.glyphicon.glyphicon-user
                            -#                     Seleccionar
                    :coffeescript
                        items = #{@items.to_json}
                        init = ->
                            tpl = getTemplate('#tpl', 'items')
                            Mustache.parse(tpl)

                            tmp_render = Mustache.render(tpl, items)
                            $('table tbody').html( tmp_render )
                        $(init)
            - else
                = render partial: 'calculopersonal_simulador'
                -# simulacion movida a parcial 12 enero 2017
