.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .panel.panel-default
        .panel-heading
            %h4 Equidad Interna
        .panel-body
            = render partial: 'compensacion/market_data/ei_bar'
            = render partial: 'compensacion/partials/filter_box'
            - sep = 'border-left: 1px solid #333 !important;'

            .well.well-sm.filtros
                - tipo        = params[:filtro]||"todos"
                .btn-group.pull-left
                    %a.btn.btn-primary.active.btn-todos.pull-left{href: '?'}
                        %span.glyphicon.glyphicon-list
                        Todos
                    %a.btn.btn-primary.btn-box-filtros.pull-left{href: '#'}
                        %span.glyphicon.glyphicon-filter
                        Filtrar
                .box-filtros.pull-left.clearfix{style: 'display: none; margin-left: 25px'}
                    .row
                        %select.filtro-income.not{name: 'income_structure_id'}
                            %option{value: ''} Seleccione Estructura
                            - @incomes.each do |i|
                                - if @incomes_ids.include?(i.id)
                                    %option{value: i.id}= i.name
                        .btn-group
                            %a.btn.btn-success.btn-filtro{href: '?filtro=bajo', tipo: 'inferior'}
                                %span.glyphicon.glyphicon-circle-arrow-down
                                Sub-pagado
                            %a.btn.btn-success.btn-filtro{href: '?filtro=correcto', tipo: 'en_rango'}
                                %span.glyphicon.glyphicon-ok-sign
                                En Rango
                            %a.btn.btn-success.btn-filtro{href: '?filtro=sobre', tipo: 'superior'}
                                %span.glyphicon.glyphicon-circle-arrow-up
                                Sobre-pagado
                .clearfix
                .alerta.box-filtros{style: 'display: none; margin-top: 15px'}
                    .alert.alert-info
                        %span.glyphicon.glyphicon-info-sign
                        Seleccione una estructura para visualizar la información
                -# %a.btn.btn-default.pull-left{href: graficos_compensacion_market_data_path}
                -#     %span.glyphicon.glyphicon-filter
                -#     Resumen y Gráficos
                .clearfix
            - if @incomes_ids.blank?
                .alert.alert-warning
                    %h4
                        %span.glyphicon.glyphicon-info-sign
                        Debe almacenar algún gráfico para visualizar este informe
            .kinetic{style: 'overflow: scroll'}
                %table.table.table-condensed.no-filter.tablesorter
                    %thead
                        %tr
                            %th{rowspan: 2} Rut
                            %th{rowspan: 2} Nombre
                            %th{rowspan: 2} Cargo
                            %th{rowspan: 2} Nivel
                            - @incomes.each_with_index do |income, k|
                                - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                    %th.text-center.cabecera{colspan: 3, style: sep, income_structure_id: income.id}= income.full_name
                                    -# %th.only-filter{colspan: 3, income_structure_id: income.id}
                        %tr
                            - @incomes.each_with_index do |income, k|
                                - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                    %th.text-center{style: sep, income_structure_id: income.id} Colaborador
                                    %th.text-center.only-filter{income_structure_id: income.id} Banda Inferior
                                    %th.text-center{income_structure_id: income.id}= EquidadPunto::ECUACIONES_NOMBRES[@equidad_configs.select{|x| x[:income].id == income.id}.first[:ecuacion]]
                                    %th.text-center.only-filter{income_structure_id: income.id} Banda Superior
                                    %th.text-center{income_structure_id: income.id} Ratio
                                    %th.text-center.only-filter.sub.dif-a-min{income_structure_id: income.id} Dif. a min.
                                    %th.text-center.only-filter.sub.ratio-a-min{income_structure_id: income.id} % a min.
                    %tbody
                        - items_length = @items.length == 0 ? 0 : (@items.length-1)
                        - sum_val = Array.new(items_length, 0)
                        - totales = [0]*@incomes.count
                        - resumen_detalle = {}
                        - total_dif_min = 0
                        - @items.each_with_index do |item, ki|
                            - unless item[:position_id].blank?
                                - next if item[:job_status].eql?(Job::DISABLED)
                                %tr
                                    %td= item[:rut]
                                    %td= "#{item[:first_name]} #{item[:last_name]}"
                                    %td= item[:job_name]
                                    %td= item[:job_level]

                                    - @incomes.each_with_index do |income, k|
                                        - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                            - ti = item[:incomes][k]
                                            - if ti.blank?# or ti[:market_percentile_data].blank?
                                                %td{colspan: 3, style: sep, income_structure_id: income.id}
                                            - else
                                                :ruby
                                                    sum_val[ki] = 0 if sum_val[ki].blank?
                                                    sum_val[ki] += ti[:income_value].to_i
                                                    tipo        = :nada
                                                    red         = ''
                                                    iv          = sum_val[ki]
                                                    ecuacion    = @equidad_configs.select{|x| x[:income].id == income.id}.first[:ecuacion]
                                                    tmp = EquidadPunto.calcula_resumen(income.id, ecuacion, {datos: [EquidadPunto.new(x: item[:job_level].to_f, y: iv.to_f, ecuacion: ecuacion)]})
                                                    punto = @equidad_puntos.select{|p| p.x == item[:job_level] && p.ecuacion == ecuacion && p.income_structure_id == income.id}.first
                                                    logger.info "================== ECUACION: #{ecuacion}".red.bold
                                                    ratio_estructura = (!punto.blank?&&punto.y>0) ? ( ((sum_val[ki] * 100) / punto.y).round ) : 0

                                                    if tmp[:rango] > 0
                                                        red  = 'success'
                                                        tipo = :en_rango
                                                    end

                                                    if tmp[:sobrepagados] > 0
                                                        red = 'warning'
                                                        tipo = :superior
                                                    end

                                                    if tmp[:subpagados] > 0
                                                        red = 'danger'
                                                        tipo = :inferior
                                                    end

                                                %td.text-right.colaborador{style: sep, income_structure_id: income.id, value: sum_val[ki]}
                                                    = number_with_delimiter(sum_val[ki])
                                                - ecuacion_value = !punto.blank? && !punto.y.blank? ? punto.y.round : 0
                                                - bi, va, bs = ti[:banda_inferior], ecuacion_value, ti[:banda_superior]
                                                - mpd = ti[:market_percentile_data]
                                                - bi = va - (va*(income.banda_inferior.to_f/100.0))
                                                - bs = va + (va*(income.banda_superior.to_f/100.0))
                                                %td.text-right.only-filter.b-i{income_structure_id: income.id}
                                                    = number_with_delimiter bi.round(0)
                                                %td.text-right.ecuacion{income_structure_id: income.id, value: ecuacion_value}= number_with_delimiter va.round(0)
                                                %td.text-right.only-filter.b-s{income_structure_id: income.id}= number_with_delimiter bs
                                                %td.text-right.ratio{class: red, income_structure_id: income.id, tipo: tipo, value: ratio_estructura.round(1)}
                                                    = number_with_delimiter ratio_estructura.round(1)
                                                - dif_bi = (bi - sum_val[ki].to_f).round(0)
                                                %td.text-right.only-filter.sub.dif-a-min{income_structure_id: income.id, :'dif-a-min' => dif_bi}= number_with_delimiter(dif_bi)
                                                - res = ((bi/sum_val[ki].to_f)-1.0)*100.0
                                                %td.text-right.only-filter.sub.ratio-a-min{income_structure_id: income.id, :'ratio-a-min' => res.round(1)}= res.round(1)
                    %tfoot
                        %tr
                            %td.text-right.info{colspan: 4} Totales
                            - @incomes.each_with_index do |income, k|
                                - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                    %td.text-right.total-colaborador.info{style: sep, income_id: income.id}
                                    -#%td.text-center.only-filter{income_id: income.id}
                                    %td.text-right.only-filter.info
                                    %td.text-right.info
                                    %td.text-right.only-filter.info
                                    %td.text-right.info
                                    -#%td.text-right.only-filter.info.sub.total-dif-a-min{income_id: income.id}
                                    %td.text-right.only-filter.info
            - incomes_to_include = @incomes.each_with_index{|income, k| income if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)}.map{|x| x[:id]}

        :javascript
            var incomes_to_include = #{incomes_to_include};
            function calculateTotals()
            {
                var j, i;
                var tipos_resumenes = ['colaborador', 'ecuacion', 'b-i', 'b-s'];
                var minimos_resumenes = ['dif-a-min', 'ratio-a-min'];
                for(i in incomes_to_include)
                {
                    istr    = '[income_structure_id="'+i+'"]';
                    for(trk in tipos_resumenes)
                    {
                        tds     = $('.'+tipos_resumenes[trk]+istr+':visible');
                        tds_sum = 0;
                        tds.each(function(index, elem) {
                            tds_sum += parseInt($(elem).attr('value'));
                        });

                        $('.total-'+tipos_resumenes[trk]+istr.replace('structure_', '')).text( accounting.formatNumber(tds_sum, 1) );
                    }

                    for(mk in minimos_resumenes)
                    {
                        mr = minimos_resumenes[mk];
                        total = 0
                        $('.'+mr+istr+':visible').each(function(index, elem) {
                            total += parseInt($(elem).attr(mr))
                        })
                        q = '.total-'+mr+istr.replace('structure_', '');

                        $(q).text( accounting.formatNumber(total, 1) );
                    }

                }

              $('table').resize();
              $('table').fadeIn();
            }
            $(function(){

              $('.tablesorter').tablesorter();
              $('.only-filter').hide();
              $('.box-filtros').hide();
              $('.btn-todos').click(function(e){
                  e.preventDefault();
                  $('.box-filtros').hide('fast');
                  $('table *').show();
                  $('.filtros .btn').removeClass('active');
                  $(this).addClass('active');
                  $('.only-filter').hide();
                  $('.cabecera').attr('colspan', 3);
                  calculateTotals();
              });
              $('.btn-box-filtros').click(function(e){
                  e.preventDefault();
                  $('.box-filtros').show('fast');
                  //$(this).hide();
                  $('.btn-todos').removeClass('active');
                  $(this).addClass('active');
                  $('.only-filter').show();
                  $('[income_structure_id][income_structure_id!=""]').hide();
                  $('.cabecera').attr('colspan', 7);
              });
              $(".filtro-income").change(function(){
                  $('[income_structure_id][income_structure_id!=""]').hide();
                  $('.btn-filtro.active').click();
              })
              $('.btn-filtro').click(function(e){
                  e.preventDefault();

                  var income_structure_id = $(".filtro-income").val();

                  if( income_structure_id == '')
                  {
                      $('.alerta').show('slow');
                      alert('Debe seleccionar una estructura');

                  }
                  else{
                      //$('table').fadeOut('slow');
                      $('.alerta').hide('slow');
                      //$('.filtros .btn').removeClass('btn-success').removeClass('btn-primary');
                      $('.btn-box-filtros').addClass('btn-primary');

                      $('table *').show();

                      tipo_btn = $(this).attr('tipo');
                      $('[income_id][income_id!='+income_structure_id+']').hide();
                      $('[income_structure_id][income_structure_id!='+income_structure_id+']').hide();

                      str  = 'td[income_structure_id][income_structure_id='+income_structure_id+'][tipo!='+tipo_btn+']';
                      $(str).parent().hide();
                      str2 = '[income_structure_id][income_structure_id='+income_structure_id+'][tipo='+tipo_btn+']';
                      $(str2).parent().show();

                      $('td[income_id][income_id='+income_structure_id+']').parent().show();

                      if( tipo_btn != "inferior")
                      {
                        $('.sub').hide();
                        $('.cabecera').attr('colspan', 5);
                      }
                      else
                      {
                        $('.cabecera').attr('colspan', 7);
                      }

                      $('.btn-filtro').removeClass('active');
                      $(this).addClass('active');
                      $('table').css('min-width', '100%');

                      // window.location = $(this).attr('href')+"&income_structure_id="+$(".filtro-income").val();
                  }
                  calculateTotals();
              });

              calculateTotals();
              var url = Qurl.create();
              filtro = url.query('filtro');

              if(filtro != undefined)
              {
                $('.btn-box-filtros').click();
                $('select.filtro-income').val(url.query('income_structure_id'));
                $('.btn-filtro[tipo='+filtro+']').click();
              }
            })
