.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .panel.panel-default
        .panel-heading
            %h4 Equidad Interna
        .panel-body
            = render partial: 'compensacion/market_data/ei_bar'
            -# if params[:grafico] == 'true'
                = render partial: 'compensacion/partials/filter_box'
            = javascript_include_tag 'highcharts'

            - if params[:grafico].blank?
                - ids_is = IncomeStructureData.ids_income_structure
                .well.well-sm.filtros
                    - option      = params[:option].blank? ? '' : params[:option]
                    - tipo        = params[:filtro]||"todos"
                    .box-filtros.pull-left.clearfix{style: 'margin-left: 15px'}
                        %label Seleccione:
                        %select.filtro-income.not{name: 'income_structure_id'}
                            %option{value: ''} Seleccione Estructura
                            - @incomes_sel.each do |i|
                                - if ids_is.include?(i.id)
                                    %option{value: i.id, selected: i.id.to_s.eql?(params[:income_id])}= i.name
                        %a.btn.btn-primary.btn-filtro{href: '#', tipo: 'inferior', :'data-loading-text' => 'Cargando...'}
                            %span.glyphicon.glyphicon-stats
                            Generar Informe
                    .clearfix
                - unless params[:income_id].blank?
                    = render partial: 'equidad_grafico', locals: {income_id: params[:income_id].to_i, option: option, grafico: params[:grafico], es_equidad: true}
            - else
                - if (ecd=EquidadConfig.data).blank?
                    %br
                    .alert.alert-warning
                        %h4
                            %span.glyphicon.glyphicon-info-sign
                            Debe almacenar algún gráfico para visualizar este informe
                - else
                    - ecd.each do |ec|
                        - option = EquidadPunto::ecuacion_param(ec[:ecuacion])
                        .row
                            %h4.col-xs-12
                                = ec[:income].name
                                \-
                                = EquidadPunto::ECUACIONES_NOMBRES[ec[:ecuacion]]
                        = render partial: 'equidad_grafico', locals: {income_id: ec[:income].id, option: option, grafico: params[:grafico], kind: EquidadPunto::ecuacion_param(ec[:ecuacion]), es_equidad: true}

        :javascript
            $(function(){
                $('.btn-filtro').click(function(e){
                    e.preventDefault();
                    val = parseInt($('.filtro-income').val());

                    if(val > 0)
                    {
                        window.location.href = "?income_id=" + val;// +"&option=#{option}";
                    } else
                        alert('Debe seleccionar una estructura');
                });
            });
