.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .panel.panel-default
        .panel-heading
            %h4 Competitividad Salarial
        .panel-body
            = render partial: 'tabs'
            = render partial: 'compensacion/partials/filter_box'
            - if Rails.configuration.cliente == :uandes
                .well.well-sm
                    Leyenda:
                    %i{style: 'font-weight: bold'} Jornada Real
                    %i{style: 'color: blue'} Jornada Proyectada
            - sep = 'border-left: 1px solid #333 !important;'

            .well.well-sm.filtros
                - tipo        = params[:filtro]||"todos"
                .btn-group.pull-left
                    %a.btn.btn-primary.active.btn-todos{href: '?'}
                        %span.glyphicon.glyphicon-list
                        Todos
                    %a.btn.btn-primary.btn-box-filtros{href: '#'}
                        %span.glyphicon.glyphicon-filter
                        Filtrar
                .box-filtros.pull-left.clearfix{style: 'display: none; margin-left: 15px'}
                    %select.filtro-income.not{name: 'income_structure_id'}
                        %option{value: ''} Seleccione Estructura
                        - @incomes.each do |i|
                            - if @incomes_ids.include?(i.id)
                                %option{value: i.id}= i.name
                    .btn-group
                        %a.btn.btn-success.btn-filtro{href: '?filtro=bajo', tipo: 'inferior'}
                            %span.glyphicon.glyphicon-circle-arrow-down
                            Sub-pagado
                        %a.btn.btn-success.btn-filtro{href: '?filtro=correcto', tipo: 'en_rango'}
                            %span.glyphicon.glyphicon-ok-sign
                            En Rango
                        %a.btn.btn-success.btn-filtro{href: '?filtro=sobre', tipo: 'superior'}
                            %span.glyphicon.glyphicon-circle-arrow-up
                            Sobre-pagado
                -# %a.btn.btn-default.pull-left{href: graficos_compensacion_market_data_path}
                -#     %span.glyphicon.glyphicon-filter
                -#     Resumen y Gráficos
                .clearfix
            .alerta.box-filtros{style: 'display: none; margin-top: 15px'}
                .alert.alert-info
                    %span.glyphicon.glyphicon-info-sign
                    Seleccione una estructura para visualizar la información
            .kinetic{style: 'overflow: scroll'}
                %table.table.table-condensed.no-filter.tablesorter
                    %thead
                        %tr
                            %th{rowspan: 2} Rut
                            %th{rowspan: 2} Nombre
                            %th{rowspan: 2} Cargo
                            %th{rowspan: 2} Nivel
                            - @incomes.each_with_index do |income, k|
                                - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                    %th.text-center.cabecera{colspan: 3, style: sep, income_structure_id: income.id}= income.full_name
                        %tr
                            - @incomes.each_with_index do |income, k|
                                - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                    %th.text-center{style: sep, income_structure_id: income.id} Colaborador
                                    -# %th.text-center Inf.
                                    %th.text-center.only-filter{income_structure_id: income.id} Percentil
                                    %th.text-center.only-filter{income_structure_id: income.id} Banda Inferior
                                    %th.text-center{income_structure_id: income.id} Mercado
                                    %th.text-center.only-filter{income_structure_id: income.id} Banda Superior
                                    -# %th.text-center Sup.
                                    %th.text-center{income_structure_id: income.id} Ratio
                                    %th.text-center.only-filter.sub{income_structure_id: income.id} Dif. a min.
                                    %th.text-center.only-filter.sub{income_structure_id: income.id} % a min.
                    %tbody
                        - items_length = @items.length == 0 ? 0 : (@items.length-1)
                        - sum_val = Array.new(items_length, 0)
                        - @items.each_with_index do |item, ki|
                            - unless item[:position_id].blank?
                                %tr
                                    %td{style: 'word-wrap: break-word'}= item[:rut]
                                    %td{style: 'word-wrap: break-word'}= "#{item[:first_name]} #{item[:last_name]}"
                                    %td{style: 'word-wrap: break-word'}= item[:job_name]
                                    %td= item[:job_level]
                                    - @incomes.each_with_index do |income, k|
                                        - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                            - ti = item[:incomes][k]
                                            - if ti.blank?
                                                %td{colspan: 3, style: sep, income_structure_id: income.id}
                                            - else
                                                :ruby
                                                    sum_val[ki] = 0 if sum_val[ki].blank?
                                                    sum_val[ki] += ti[:income_value].to_i
                                                    tipo        = :nada
                                                    red         = ''
                                                    iv          = sum_val[ki]

                                                    if !(ti[:banda_inferior].blank?||ti[:banda_superior].blank?||iv.blank?)
                                                        if ti[:banda_inferior].to_i <= iv && ti[:banda_superior].to_i >= iv
                                                            red  = 'success'
                                                            tipo = :en_rango
                                                        else
                                                            if ti[:banda_inferior].to_i > iv
                                                                red = 'danger'
                                                                tipo = :inferior
                                                            end
                                                            if ti[:banda_superior].to_i < iv
                                                                red = 'warning'
                                                                tipo = :superior
                                                            end
                                                        end
                                                    end

                                                    bi, va, bs = ti[:banda_inferior].to_f, sum_val[ki].to_f, ti[:banda_superior].to_f
                                                    mpd        = ti[:market_percentile_data]
                                                    #bi        = va - (va*(mpd[:banda_inferior].to_f/100.0))
                                                    bi         = ti[:banda_inferior].to_f#va - (va*(/100.0))
                                                    bs         = ti[:banda_superior].to_f #va + (va*(ti[:banda_superior].to_f/100.0))
                                                    dif_bi     = (bi - sum_val[ki].to_f).round(0)
                                                    res        = ((bi/sum_val[ki].to_f)-1.0)*100.0
                                                %td.text-right.colaborador{style: sep, income_structure_id: income.id}
                                                    -# - if tipo.eql? :inferior
                                                    -#     %span.glyphicon.glyphicon-minus-sign
                                                    -# - elsif tipo.eql? :superior
                                                    -#     %span.glyphicon.glyphicon-plus-sign
                                                    -# - elsif !red.blank?
                                                    -#     %span.glyphicon.glyphicon-ok-sign
                                                    = number_with_delimiter(sum_val[ki].to_f)
                                                -# %td.text-right= number_to_currency(ti[:banda_inferior]) unless ti[:market_percentile_data].blank?
                                                %td.only-filter.text-right{income_structure_id: income.id}
                                                    = ti[:market_percentile_data][:market_percentile][:name].titleize if !ti[:market_percentile_data].blank?&&!ti[:market_percentile_data][:market_percentile].blank?
                                                %td.only-filter.text-right.banda-inferior{income_structure_id: income.id}= number_with_delimiter(ti[:banda_inferior]) unless ti[:market_percentile_data].blank?
                                                %td.text-right.text-right.mercado{income_structure_id: income.id}= number_with_delimiter(ti[:value]) unless ti[:market_percentile_data].blank?
                                                %td.only-filter.text-right.banda-superior{income_structure_id: income.id}= number_with_delimiter(ti[:banda_superior]) unless ti[:market_percentile_data].blank?
                                                %td.text-right.ratio{class: red, income_structure_id: income.id, tipo: tipo}
                                                    = number_with_delimiter( ((sum_val[ki].to_f * 100.0) / (ti[:value].blank? ? 0 : ti[:value]).to_f).round(1) ) if !ti[:market_percentile_data].blank? && !ti[:value].blank?
                                                %td.text-right.only-filter.sub.dif-a-min{income_structure_id: income.id, :'dif-a-min' => dif_bi, style: 'color: blue'}
                                                    = number_with_delimiter(dif_bi)
                                                    - hr = ti[:income_detail]["(hsem_val)"]
                                                    - hp = current_user.config('horas').to_f
                                                    - _total      = ti[:income_detail].select{|k, v| k.include?(" (Original)")}
                                                    - _total      = _total[_total.keys.last].to_f.round(0)
                                                    - vr          = _total
                                                    - _diff_total = cliente?(:uandes) ? (bi*(hr/hp)-vr) : bi-vr
                                                    - if _total > 0
                                                        %br

                                                        %strong
                                                            %span{style: 'color: #333'}= number_with_delimiter( _diff_total.round(0) )
                                                %td.text-right.only-filter.sub.ratio-a-min{income_structure_id: income.id, :'ratio-a-min' => res.round(1), style: 'color: blue'}
                                                    = number_with_delimiter res.to_f.round(1)
                                                    - if _total > 0
                                                        %br
                                                        %strong
                                                            %span{style: 'color: #333'}= number_with_delimiter( (((bi*(hr/hp)/vr)-1.0)*100.0).round(1) )
                                                -# %td.text-right= number_to_currency(ti[:banda_superior]) unless ti[:market_percentile_data].blank?
                    %tfoot
                        %tr{style: 'font-weight: bold'}
                            %td.text-right.info{colspan: 4} Totales
                            - @incomes.each_with_index do |income, k|
                                - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                    %td.text-right.info.total-colaborador{style: sep, income_id: income.id}
                                    %td.only-filter.text-right.info{income_id: income.id}
                                    %td.only-filter.text-right.info.total-banda-inferior{income_id: income.id}
                                    %td.text-right.text-right.info.total-mercado{income_id: income.id}
                                    %td.only-filter.text-right.info.total-banda-superior{income_id: income.id}
                                    %td.text-right.info.total-ratio{income_id: income.id}
                                    %td.text-right.only-filter.info.sub.total-dif-a-min{income_id: income.id}
                                    %td.text-right.only-filter.info.sub.total-ratio-a-min{income_id: income.id}
            - incomes_to_include = @incomes.each_with_index{|income, k| income if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)}.map{|x| x[:id]}

        :javascript
            var incomes_to_include = #{incomes_to_include};
            function calculateTotals()
            {
                for(i in incomes_to_include)
                {
                    istr    = '[income_structure_id="'+incomes_to_include[i]+'"]';
                    var tipos_resumenes = ['colaborador', 'market-percentile', 'banda-inferior', 'mercado', 'banda-superior'];
                    for(mk in tipos_resumenes)
                    {
                        mr = tipos_resumenes[mk];
                        total = 0;
                        $('.'+mr+istr+':visible').each(function(index, elem) {

                            var t = $(elem).text();
                                t = (t != null ? t.replace(/\./g, "") : 0);

                            total += parseInt(t)
                        })
                        q = '.total-'+mr+istr.replace('structure_', '');

                        $(q).text( accounting.formatNumber(total, 0) );
                    }
                }
                $('table').resize();
                $('table').fadeIn();
                $('td:contains(Infinity)').html('');
            }
            $(function(){
                $('td:contains(Infinity)').html('');
                tableSorterInit( $('.tablesorter') );
                $('.only-filter').hide();
                $('.box-filtros').hide();

                $('.btn-todos').click(function(e){
                    e.preventDefault();
                    $('.box-filtros').hide('fast');
                    $('table *').show();
                    $('.filtros .btn').removeClass('active');
                    $(this).addClass('active');
                    $('.only-filter').hide();
                    $('.cabecera').attr('colspan', 6);
                    calculateTotals();

                });
                $('.btn-box-filtros').click(function(e){
                    e.preventDefault();
                    $('.cabecera').attr('colspan', 8);
                    $('.box-filtros').show('fast');
                    //$(this).hide();
                    $('.btn-todos').removeClass('active');
                    $(this).addClass('active');
                    $('.only-filter').show();
                    $('[income_structure_id][income_structure_id!=""]').hide();

                    $('td[income_id]').parent().hide();
                    calculateTotals();
                });
                $(".filtro-income").change(function(){
                    $('[income_structure_id][income_structure_id!=""]').hide();

                    $('.btn-filtro.active').click();
                })
                $('.btn-filtro').click(function(e){
                    e.preventDefault();
                    income_structure_id = $(".filtro-income").val();

                    if( income_structure_id == '')
                    {
                        $('.alerta').show('slow');

                        alert('Debe seleccionar una estructura');

                    }
                    else{
                        $('.alerta').hide('slow');
                        $('.filtros .btn').removeClass('active');
                        $('.btn-box-filtros').addClass('active');

                        $('table *').show();

                        tipo_btn = $(this).attr('tipo');

                        if( tipo_btn != "inferior")
                        {
                            $('.sub').hide();
                            $('.cabecera').attr('colspan', 6);
                        }
                        else
                        {
                            $('.cabecera').attr('colspan', 8);
                        }

                        $('[income_structure_id][income_structure_id!='+income_structure_id+']').hide();
                        $('[income_id][income_id!='+income_structure_id+']').hide();

                        str  = 'td[income_structure_id][income_structure_id='+income_structure_id+'][tipo!='+tipo_btn+']';
                        $(str).parent().hide();



                        str2 = '[income_structure_id][income_structure_id='+income_structure_id+'][tipo='+tipo_btn+']';
                        $(str2).parent().show();

                        $(this).addClass('active');
                        $('table').css('min-width', '100%');


                        $('td[income_id][income_id='+income_structure_id+']').parent().show();
                        // window.location = $(this).attr('href')+"&income_structure_id="+$(".filtro-income").val();
                    }

                    calculateTotals();
                })

                calculateTotals();
            })

        -# %table#example.display
        -#     %thead
        -#         %tr
        -#             %th ID
        -#             %th Estructura Salarial
        -#             %th Estadistico
        -#             %th Nivel
        -#             %th Minimo
        -#             %th Máximo
        -#             %th Pendiente
        -#             %th Intercepto
        -#             %th Acciones
        -#     %tbody
        -#         - @items.each do |i|
        -#             %tr
        -#                 %td= i.id
        -#                 %td= value(i.income_structure, :name)
        -#                 -# %td= value(i.statistic, :name)
        -#                 -# %td= i.nivel
        -#                 -# %td= i.x_min
        -#                 -# %td= i.x_max
        -#                 -# %td= i.pendiente
        -#                 -# %td= i.intercepto
        -#                 %td
        -#                     .right
        -#                         = button_to 'Eliminar', compensacion_market_datum_path(i), :confirm => "Are you sure?", :method=>:delete
        -#                     .right
        -#                         = link_to 'Editar', edit_compensacion_market_datum_path(i)
        -#                         |


        -# :javascript
        -#     $(document).ready(function(){
        -#         $('#example').dataTable({"bJQueryUI": true, "sPaginationType": "full_numbers", "iDisplayLength": 25, "oLanguage": {
        -#                 "sUrl": "/table_translation.js"
        -#             }});
        -#     });
