%script{src: '/javascripts/handsontable.js'}
%link{href: '/stylesheets/handsontable.css', rel: "stylesheet"}

.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Datos de Mercado', mantenedor_compensacion_market_data_path, :active] ]
    = notices
    #datos
    %br

    %a.btn.btn-primary.guardar{href: '#', :'data-disable-with' => "Guardando..."}
        %span.glyphicon.glyphicon-save
        Guardar
    %br

:javascript
    var columnas        = #{@percentiles.map{|x| x.name}.to_json};
    var percentiles_rel = #{@percentiles.map{|x| {data: "percentile_#{x.id}", type: 'numeric', format: '$0,0'}}.to_json };
    var estructuras     = #{@estructuras.map{|x| x.name}.to_json};

    $(function(){
        var data = #{@data.to_json};
        var $container = $("#datos");
        $container.handsontable({
            data:         data,
            colHeaders:   $.merge(['Estructura', 'Nivel'], $.merge(columnas, ['Estadígrafo a utilizar', 'Banda inferior', 'Banda Superior'])),
            columns:      $.merge([
                            {data: 'income_structure', type: 'dropdown', source: estructuras},
                            {data: 'nivel', type: 'numeric'}
                          ], $.merge(percentiles_rel, [{data: 'estadigrafo', type: 'dropdown', source: columnas}, {data: 'banda_inferior', type: 'numeric'}, {data: 'banda_superior', type: 'numeric'}])),
            rowHeaders:   true,
            minSpareRows: 1,
            contextMenu:  ["row_above", "row_below", "hsep1", "remove_row", "hsep3", "undo", "redo"]
        });

        var handsontable = $container.data('handsontable');
        $container.handsontable('render'); //refresh the grid to display the new value
        $('#datos table').addClass("no-filter").addClass("simple")
        $('.guardar').click(function(){
            $.ajax({
                url: '#{guardar_mantenedor_compensacion_market_data_path}',
                data: {'data': handsontable.getData()},
                dataType: 'json',
                type: 'POST',
                complete: function(){
                    location.reload();
                }
            })
        });
    })
