.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .panel.panel-default
        .panel-heading
            %h4 Equidad Interna
        .panel-body
            = render partial: 'compensacion/market_data/ei_bar'
            = render partial: 'compensacion/partials/filter_box'
            - sep = 'border-left: 1px solid #333 !important;'

            .well.well-sm.filtros
                - tipo        = params[:filtro]||"todos"
                .btn-group.pull-left
                    %a.btn.btn-primary.active.btn-todos.pull-left{href: '?'}
                        %span.glyphicon.glyphicon-list
                        Todos
                    %a.btn.btn-primary.btn-box-filtros.pull-left{href: '#'}
                        %span.glyphicon.glyphicon-filter
                        Filtrar
                .box-filtros.pull-left.clearfix{style: 'display: none; margin-left: 25px'}
                    .row
                        %select.filtro-income.not{name: 'income_structure_id'}
                            %option{value: ''} Seleccione Estructura
                            - @incomes.each do |i|
                                - if @incomes_ids.include?(i.id)
                                    %option{value: i.id}= i.name
                        .btn-group
                            %a.btn.btn-success.btn-filtro{href: '?filtro=bajo', tipo: 'inferior'}
                                %span.glyphicon.glyphicon-circle-arrow-down
                                Sub-pagado
                            %a.btn.btn-success.btn-filtro{href: '?filtro=correcto', tipo: 'en_rango'}
                                %span.glyphicon.glyphicon-ok-sign
                                En Rango
                            %a.btn.btn-success.btn-filtro{href: '?filtro=sobre', tipo: 'superior'}
                                %span.glyphicon.glyphicon-circle-arrow-up
                                Sobre-pagado
                .clearfix
                .alerta.box-filtros{style: 'display: none; margin-top: 15px'}
                    .alert.alert-info
                        %span.glyphicon.glyphicon-info-sign
                        Seleccione una estructura para visualizar la información
                -# %a.btn.btn-default.pull-left{href: graficos_compensacion_market_data_path}
                -#     %span.glyphicon.glyphicon-filter
                -#     Resumen y Gráficos
                .clearfix
            - if @incomes_ids.blank?
                .alert.alert-warning
                    %h4
                        %span.glyphicon.glyphicon-info-sign
                        Debe almacenar algún gráfico para visualizar este informe
            .kinetic{style: 'overflow: scroll'}
                %table.table.table-condensed.no-filter.fixhead{style: 'table-layout: fixed'}
                    %thead
                        %tr
                            %th{rowspan: 2} Rut
                            %th{rowspan: 2} Nombre
                            %th{rowspan: 2} Cargo
                            - if [:uandes].include?( Rails.configuration.cliente )
                                - ['Centro de Costos', 'Sub Centro de Costos', 'Grado Académico'].each do |s|
                                    %th{rowspan: 2}= s
                            %th{rowspan: 2} Nivel
                            - @incomes.each_with_index do |income, k|
                                - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                    %th.text-center.cabecera{colspan: 3, style: sep, income_structure_id: income.id}= income.full_name
                                    -# %th.only-filter{colspan: 3, income_structure_id: income.id}
                        %tr
                            - @incomes.each_with_index do |income, k|
                                - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                    %th.text-center{style: sep, income_structure_id: income.id} Colaborador
                                    -# %th.text-center Inf
                                    %th.text-center.only-filter{income_structure_id: income.id} Percentil
                                    %th.text-center.only-filter{income_structure_id: income.id} Banda Inferior
                                    %th.text-center{income_structure_id: income.id}= EquidadPunto::ECUACIONES_NOMBRES[@equidad_configs.select{|x| x[:income].id == income.id}.first[:ecuacion]]
                                    %th.text-center.only-filter{income_structure_id: income.id} Banda Superior
                                    -# %th.text-center Sup.
                                    %th.text-center{income_structure_id: income.id} Ratio
                                    %th.text-center.only-filter.sub{income_structure_id: income.id} Dif. a min.
                                    %th.text-center.only-filter.sub{income_structure_id: income.id} % a min.
                    %tbody
                        - items_length = @items.length == 0 ? 0 : (@items.length-1)
                        - sum_val = Array.new(items_length, 0)
                        - totales = [0]*@incomes.count
                        - resumen_detalle = {}
                        - @items.each_with_index do |item, ki|
                            - unless item[:position_id].blank?
                                - next if item[:job_status].eql?(Job::DISABLED)
                                %tr
                                    %td= item[:rut]
                                    %td= "#{item[:first_name]} #{item[:last_name]}"
                                    %td= item[:job_name]
                                    - if [:uandes].include?(Rails.configuration.cliente)
                                        - [:ceco, :subceco, :grado].each do |s|
                                            %td= item[s]
                                    %td= item[:job_nivel]
                                    - @incomes.each_with_index do |income, k|
                                        - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                            - ti = item[:incomes][k]
                                            - if ti.blank?
                                                %td{colspan: 3, style: sep, income_structure_id: income.id}
                                            - else
                                                :ruby
                                                    sum_val[ki] = 0 if sum_val[ki].blank?
                                                    sum_val[ki] += ti[:income_value].to_i
                                                    tipo        = :nada
                                                    red         = ''
                                                    iv          = sum_val[ki]
                                                    ecuacion    = @equidad_configs.select{|x| x[:income].id == income.id}.first[:ecuacion]
                                                    tmp = EquidadPunto.calcula_resumen(income.id, ecuacion, {datos: [EquidadPunto.new(x: item[:job_nivel].to_f, y: iv.to_f, ecuacion: ecuacion)]})
                                                    punto = @equidad_puntos.select{|p| p.x == item[:job_nivel] && p.ecuacion == ecuacion}.first
                                                    logger.info "================== ECUACION: #{ecuacion}".red.bold
                                                    ratio_estructura = ( ((sum_val[ki] * 100) / punto.y).round ) if !punto.blank?&&punto.y>0

                                                    if tmp[:rango] > 0
                                                        red  = 'success'
                                                        tipo = :en_rango
                                                    end

                                                    if tmp[:sobrepagados] > 0
                                                        red = 'warning'
                                                        tipo = :superior
                                                    end

                                                    if tmp[:subpagados] > 0
                                                        red = 'danger'
                                                        tipo = :inferior
                                                    end

                                                    # if !(ti[:banda_inferior].blank?||ti[:banda_superior].blank?||iv.blank?)
                                                    #     if ti[:banda_inferior].to_i <= iv && ti[:banda_superior].to_i >= iv
                                                    #         red  = 'success'
                                                    #         tipo = :en_rango
                                                    #     else
                                                    #         if ti[:banda_inferior].to_i > iv
                                                    #             red = 'danger'
                                                    #             tipo = :inferior
                                                    #         end
                                                    #         if ti[:banda_superior].to_i < iv
                                                    #             red = 'warning'
                                                    #             tipo = :superior
                                                    #         end
                                                    #     end
                                                    # end
                                                %td.text-right.colaborador{style: sep, income_structure_id: income.id, value: sum_val[ki]}
                                                    -# - if tipo.eql? :inferior
                                                    -#     %span.glyphicon.glyphicon-minus-sign
                                                    -# - elsif tipo.eql? :superior
                                                    -#     %span.glyphicon.glyphicon-plus-sign
                                                    -# - elsif !red.blank?
                                                    -#     %span.glyphicon.glyphicon-ok-sign
                                                    = number_with_delimiter(sum_val[ki])
                                                -# %td.text-right= number_to_currency(ti[:banda_inferior]) unless ti[:market_percentile_data].blank?
                                                %td.text-center.only-filter{income_structure_id: income.id}
                                                    = ti[:market_percentile_data][:market_percentile][:name].titleize if !ti[:market_percentile_data].blank?&&!ti[:market_percentile_data][:market_percentile].blank?
                                                - ecuacion_value = !punto.blank? && !punto.y.blank? ? punto.y.round : 0
                                                %td.text-right.only-filter{income_structure_id: income.id}
                                                    = number_with_delimiter ti[:banda_inferior]
                                                %td.text-right.ecuacion{income_structure_id: income.id, value: ecuacion_value}= number_with_delimiter ecuacion_value
                                                %td.text-right.only-filter{income_structure_id: income.id}= number_with_delimiter ti[:banda_superior]
                                                %td.text-right.ratio{class: red, income_structure_id: income.id, tipo: tipo, value: ratio_estructura}
                                                    = number_with_delimiter ratio_estructura
                                                %td.text-right.only-filter{income_id: income.id}= number_with_delimiter(ti[:banda_inferior] - sum_val[ki])
                                                - res = (((ti[:banda_inferior].to_f)/sum_val[ki].to_f)-1.0)*100.0
                                                - #(((ti[:banda_inferior].to_f-sum_val[ki].to_f)/sum_val[ki].to_f)+1)*sum_val[ki].to_f
                                                %td.text-right.only-filter{income_id: income.id}= number_to_percentage(res.round(4))
                                                -# %td.text-right= number_to_currency(ti[:banda_superior]) unless ti[:market_percentile_data].blank?
                    %tfoot
                        %tr
                            %td.text-right{colspan: 4} Totales
                            - @incomes.each_with_index do |income, k|
                                - if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)
                                    %td.text-right.total-colaborador{style: sep, income_id: income.id}
                                    %td.text-center.only-filter{income_id: income.id}
                                    %td.text-right.total-ecuacion{income_id: income.id}
                                    %td.text-right.only-filter{income_id: income.id}
                                    %td.text-right.only-filter{income_id: income.id}
                                    %td.text-right.total-ratio{income_id: income.id, tipo: tipo}
            - incomes_to_include = @incomes.each_with_index{|income, k| income if @incomes_show.include?(k)&&@incomes_ids.include?(income.id)}.map{|x| x[:id]}

        :javascript
            var incomes_to_include = #{incomes_to_include};
            function calculateTotals()
            {
            var j, i;
            var tipos_resumenes = ['colaborador', 'ecuacion'];
            for(i in incomes_to_include)
            {
                istr    = '[income_structure_id="'+i+'"]';
                for(trk in tipos_resumenes)
                {
                    tds     = $('.'+tipos_resumenes[trk]+istr);
                    tds_sum = 0.0;
                    tds.each(function(index, elem) {
                        tds_sum += accounting.toFixed($(elem).attr('value'), 1);
                    });
                    $('.total-'+tipos_resumenes[trk]+istr.replace('structure_', '')).text( accounting.formatNumber(tds_sum, 0) );
                }
            }
            }
            $(function(){
              $('.only-filter').hide();
              $('.box-filtros').hide();
              $('.btn-todos').click(function(e){
                  e.preventDefault();
                  $('.box-filtros').hide('fast');
                  $('table *').show();
                  $('.filtros .btn').removeClass('active');
                  $(this).addClass('active');
                  $('.only-filter').hide();
                  $('.cabecera').attr('colspan', 3);
                  calculateTotals();
              });
              $('.btn-box-filtros').click(function(e){
                  e.preventDefault();
                  $('.box-filtros').show('fast');
                  //$(this).hide();
                  $('.btn-todos').removeClass('active');
                  $(this).addClass('active');
                  $('.only-filter').show();
                  $('[income_structure_id][income_structure_id!=""]').hide();
                  $('.cabecera').attr('colspan', 8);
              });
              $(".filtro-income").change(function(){
                  $('[income_structure_id][income_structure_id!=""]').hide();
                  $('.btn-filtro.active').click();
              })
              $('.btn-filtro').click(function(e){
                  e.preventDefault();
                  var income_structure_id = $(".filtro-income").val();

                  if( income_structure_id == '')
                  {
                      $('.alerta').show('slow');
                      alert('Debe seleccionar una estructura');
                  }
                  else{
                      $('.alerta').hide('slow');
                      //$('.filtros .btn').removeClass('btn-success').removeClass('btn-primary');
                      $('.btn-box-filtros').addClass('btn-primary');
                      $('table *').show();
                      tipo_btn = $(this).attr('tipo');
                      $('[income_structure_id][income_structure_id!='+income_structure_id+']').hide();
                      str  = 'td[income_structure_id][income_structure_id='+income_structure_id+'][tipo!='+tipo_btn+']';
                      $(str).parent().hide();
                      str2 = '[income_structure_id][income_structure_id='+income_structure_id+'][tipo='+tipo_btn+']';
                      $(str2).parent().show();
                      $('.btn-filtro').removeClass('active');
                      $(this).addClass('active');
                      $('table').css('min-width', '100%');

                      // window.location = $(this).attr('href')+"&income_structure_id="+$(".filtro-income").val();
                  }

                  calculateTotals();
              });

              calculateTotals();
            })
