.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Situaciones Externas', mantenedores_external_situations_path], [:add, new_mantenedores_external_situation_path, :active] ]
  = render :partial => 'form'
