.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Recomendaciones', mantenedores_recomendations_path], [:add, new_mantenedores_recomendation_path, :active] ]
  = render :partial => 'form'
