.col-xs-12
  = simple_form_for @item, :url => @item.new? ? competences_save_performance_planifications_path : competences_update_performance_evaluacion_path(@item.id), :html => {:class => 'form-horizontal'} do |f|

    - if tipo_modelo? :saville #si utilizara saville
      .row
        .form-group.col-md-6
          = render :partial => 'performance/planifications/partials/competencias', :locals => {:f => f}

    - if tipo_modelo? :otro # si no utilizara saville
      .row
        .form-group.col-md-3
          %label.control-label{:for => "competence_type"} Tipo de competencia:
          .controls
            %select#competence_type.selectMedium.not.form-control{:name => "competence_type"}
        .form-group.col-md-8.col-md-offset-2
          %label.control-label{:for => "competence"} Competencia:
          .controls
            %select#competence.selectLarge.not.form-control{:name => "competence"}
            #competence_detail.tip{:style => "display: none"}
      .form-group
        %label.control-label{:for => "conduct"} Conducta:
        %ul#conduct.inputs-list

    %table
      %tr
        %td
          .form-group
            = f.label :start_date, 'Fecha de inicio:', class: 'control-label'
            .controls
              = f.text_field :start_date, :class => 'inputMedium  form-control',required: true
        %td
          .form-group
            = f.label :end_date, 'Fecha de término:', class: 'control-label'
            .controls
              = f.text_field :end_date, :class => 'inputMedium  form-control',required: true
        %td
          .form-group
            =# f.label :ponderation, 'Ponderación:', class: 'control-label'
            .controls
              =# f.text_field :ponderation, :class => 'inputMedium  form-control'
              = f.hidden_field :evaluated_id, :value => selected_position.user_id.to_s
              = f.hidden_field :evaluator_id, :value => current_user.user_id
    .form-group
      .controls
        = btn_guardar

  :javascript
    $(function(){
      $("#planification_competence_start_date").datepicker({dateFormat : 'dd/mm/yy'});
      $("#planification_competence_end_date").datepicker({dateFormat : 'dd/mm/yy'});

      $.getJSON("/utils/competence_types", function(v){
        var options = "<option>Seleccione</option>";

        for(i in v)
          options += '<option value="' + v[i][0] + '">' + v[i][1] + '</option>';

        $("#competence_type").html(options);
        //$("#competence_type").chosen();
        $("#competence_detail").hide();
      });

      $("#competence_type").change(function(){

      if( parseInt($(this).val()) > 0 )
      {
        $.getJSON("/utils/competences", {competence_type_id : $(this).val()}, function(v){
        options = "<option>Seleccione</option>";
        for(i in v)
          options += '<option value="' + v[i][0] + '" title="' + v[i][2] + '">' + v[i][1] + '</option>';
        $("#competence").html(options);
        });
      }
      else
      {
        $("#competence").html("");
        $("#competence_detail").hide();
      }

      });
      $("#competence").change(function(){
      $("#competence_detail").hide();

      if( parseInt($(this).val()) > 0 )
      {
        $("#competence_detail").html($(this).find(':selected').attr('title'));
        $("#competence_detail").show();

        $.getJSON("/utils/conducts", {competence_id : $(this).val()}, function(v){
        options = "<table class='table table-striped table-hover'>";

        for(i in v)
          options += '<tr style="vertical-align: top;"><td style="padding-right: 15px;"><input id="option_'+v[i][0]+'" type="#{Rails.configuration.tipo_conductas.eql?(:niveles) ? "radio" : "checkbox"}" value="' + v[i][0] + '" number="'+v[i][1] +'" name="conducts[]" required="true" style="margin-top: -2px"></input></td><td style="padding-right: 15px"><label for="option_'+v[i][0]+'">' + v[i][1] + '</label></td><td><label for="option_'+v[i][0]+'">' + v[i][2] + '</label></td>';
        $("#conduct").html(options + "</table>");
        });
      }
      });
    });
