:ruby


%table#competencia_table.table.simple
  %thead
    %tr

  %tbody
    %tr
      %td
        %p{style: "font-weight: bold"} Indicador

        %p#indica{class: "btn", style:"background-color: gray;"}
      %td
        %label{for: "area"} Area Competencia
        = select_tag "area", options_for_select([["Seleccione...","Seleccione"]]),  :onchange => "areaselected(this.value)"
      %td
        %label{for: "tipo_competencia"} MacroCompetencia
        %br
        = select_tag "tipo_competencia", options_for_select([["Seleccione...","Seleccione"]]), :onchange => "tiposelected(this.value)"
      %td
        %label{for: "competencia"} Competencia
        %br
        = select_tag "competencia", options_for_select([["Seleccione...","Seleccione"]]), :onchange => "competenciaselect(this.value)"
      %td
        %label Conductas
        %br
        %textArea#textar{readonly:true , rows:4, cols:35}
    %tr
      %td
        %input{id:"1" ,type:"hidden",  class:"form-control" ,name:"conductas[]"}
      %td
        %input{id:"2" ,type:"hidden" , class:"form-control" ,name:"conductas[]"}
      %td
        %input{id:"3" ,type:"hidden" , class:"form-control", name:"conductas[]"}


:javascript

    $(document).ready(function(){
      var ar = #{@areas};
      var areaselect = document.getElementById("area");
      areaselect.style.display= "inline";
      areaselect.style.fontFamily="sans-serif";
      areaselect.style.fontSize="14px";
      document.getElementById("area_chzn").style.display="none";

      for(var i=0;i<ar.length;i++){
         areaselect.options[i+1] = new Option(ar[i]["name"]);
         areaselect.options[i+1].value = ar[i]["name"];
      }
      document.getElementById("textar").value ="";


      //cambiar select tag por select html
      var tiposelect = document.getElementById("tipo_competencia");
      tiposelect.style.display= "inline";
      tiposelect.style.fontFamily="sans-serif";
      tiposelect.style.fontSize="14px";
      document.getElementById("tipo_competencia_chzn").style.display="none";
      var comselect = document.getElementById("competencia");
      comselect.style.display= "inline";
      comselect.style.fontFamily="sans-serif";
      comselect.style.fontSize="14px";
      document.getElementById("competencia_chzn").style.display="none";

    });


    function areaselected(pArea){
      document.getElementById("tipo_competencia").selectedIndex = 0;
      document.getElementById("competencia").selectedIndex = 0;
      document.getElementById("textar").value ="";

      var ar = #{@areas};
      var tipo = [];
      tipo = #{@tipos};

      var tipofiltrado =[];
      var areaidselected =0;
        for(var i = 0; i < ar.length; i++)
        {
          if(ar[i].name == pArea)
          {
            areaidselected = ar[i].id;
          }
        }

       for ( var ti in tipo){

         if(tipo[ti]["area_id"] == areaidselected)
         {
            tipofiltrado.push(tipo[ti]);
         }
       }

      var tiposelect = document.getElementById("tipo_competencia");



      tiposelect.style.display= "inline";
      tiposelect.style.fontFamily="sans-serif";
      tiposelect.style.fontSize="14px";
      document.getElementById("tipo_competencia_chzn").style.display="none";

      for(var i=0;i<tipofiltrado.length;i++){
         tiposelect.options[i+1] = new Option(tipofiltrado[i]["name"]);
         tiposelect.options[i+1].value = tipofiltrado[i]["id"];
      }


        var colormuestra = "gray";

           if (pArea.toUpperCase() == "RESOLVIENDO PROBLEMAS"){
              colormuestra = "#5D87C0"
           }
           if (pArea.toUpperCase() == "INFLUENCIANDO A LA GENTE"){
              colormuestra = "#B3251C"
          }
           if (pArea.toUpperCase() =="ADAPTANDO ENFOQUES"){
            colormuestra = "#BFAE2C"
          }
           if (pArea.toUpperCase() =="ENTREGANDO RESULTADOS"){
              colormuestra = "#387C2B"
          }

          document.getElementById("indica").style.backgroundColor = colormuestra;


    }

    function tiposelected(pTipo){
      document.getElementById("textar").value ="";

      //console.log ("tipos: ",tipos);
      var competencia = [];
      competencia = #{@competencias};

      var competenciafiltrado =[];

       for ( var com in competencia){

         if(competencia[com]["competence_type_id"] == pTipo)
         {
            competenciafiltrado.push(competencia[com]);
         }
       }

      var comselect = document.getElementById("competencia");



      comselect.style.display= "inline";
      comselect.style.fontFamily="sans-serif";
      comselect.style.fontSize="14px";
      document.getElementById("competencia_chzn").style.display="none";


      var conductas = #{@conductas};

      if (competenciafiltrado.length > 0){
        for(var i=0;i<competenciafiltrado.length;i++){
           var c = "";
           comselect.options[i+1] = new Option(competenciafiltrado[i]["name"]);
           comselect.options[i+1].value = competenciafiltrado[i]["id"];

          for(var e=0;e<conductas.length;e++){
             if (conductas[e]["competence_id"] == competenciafiltrado[i]["id"]){
                c += "- "+conductas[e]["description"] + "\n";
             }
          }
          comselect.options[i+1].title = c;

        }
      }
    }




    function competenciaselect(pComp){

      var conductas = #{@conductas};

      var comsel=0;
      var c = "";
      var conducta= [];

      for(var e=0;e<conductas.length;e++){
         if (conductas[e]["competence_id"] == pComp){

            c += "- "+conductas[e]["description"] + "\n";
            conducta.push(conductas[e]["id"]);

         }
      }
      var textarea = document.getElementById("textar");
      textarea.value = c;

      add_conductas(conducta);
    }


    function add_conductas(pConducta){

      $('#competencia_table .no-data').remove();

      a = pConducta[0];
      b = pConducta[1];
      c = pConducta[2];

      document.getElementById("1").value= a;
      document.getElementById("2").value= b;
      document.getElementById("3").value= c;


    }
