.col-xs-12
  = simple_form_for @item, :url => @item.new? ? kpisave_performance_planifications_path : kpiupdate_performance_planification_path(@item.id), :html => {:class => 'form-horizontal'} do |f|
    .row
      .col-xs-5
        = f.input :description, :label => 'Meta:', :input_html => {:style => 'width: 100%'}
        -#= f.input :code,  :label => 'Tipo de meta:', :collection => KeyPerformanceIndicator::CODES, |
          :input_html => {:class => 'selectMedium'}
      .col-xs-5.col-xs-offset-1
        = f.input :ponderation, :label => 'Ponderación:'

      .col-xs-5
        = f.input :start_date, :label => 'Fecha de inicio:'
        = f.input :end_date, :label => 'Fecha de término:'
        = f.input :detail, :label=>'Comentario Detalle:'
        .control-group
          .controls
            = btn_guardar
      -#.col-xs-5.no-funcion
        .opcionales
          = f.input :last_date_gold, :label => 'Valor año anterior o fecha de inicio:'
        .opcionales
          = f.input :increase_gold, :label => 'Porcentaje incremento/ahorro:'
      -#.col-xs-6.col-xs-offset-1.no-funcion
        = f.input :gold, :label => 'Meta (Valor/Días):', input_html: {'readonly' => 'readonly'}
        = f.input :unit, :label => 'Unidad de medida:'
      -#.col-xs-12
        = f.input :detail, label: 'Detalle (utilizar salto de linea para separar)', as: :text

  :javascript
    $(function(){
      $("#key_performance_indicator_last_date_gold").change(calcular);
      $("#key_performance_indicator_increase_gold").change(calcular);
      $("#key_performance_indicator_start_date").datepicker({dateFormat : 'dd/mm/yy'});
      $("#key_performance_indicator_end_date").datepicker({dateFormat : 'dd/mm/yy', onSelect: function(){
          if( $("#key_performance_indicator_code option:selected").text() == "Proyecto" )
          {
              var start = $("#key_performance_indicator_start_date").datepicker('getDate');
              var end = $("#key_performance_indicator_end_date").datepicker('getDate');

              var millisecondsPerDay = 1000 * 60 * 60 * 24;
              var millisBetween = end.getTime() - start.getTime();
              var days = millisBetween / millisecondsPerDay;

              $("#key_performance_indicator_gold").val( Math.floor(days) );
          }
          return true;
      }});
      $(".funcion").hide();
      $("#key_performance_indicator_code").change(function(){
        $(".opcionales").show();
        $(".no-funcion").show();
        $(".funcion").hide();
        $('#key_performance_indicator_gold').removeAttr('readonly')

        switch ( $("option:selected", this).text() )
        {
          case "Incremento":
          case "Ahorro":
              $('#key_performance_indicator_gold').attr('readonly', 'readonly')
              break;
          case "Proyecto":
            $(".opcionales").hide();
            $('#key_performance_indicator_gold').attr('readonly', 'readonly')
            // Fc in, fc termino, tipo, meta/valor (termino - inicio), unidad, ponderacion
              break;
          case "Evaluación":
              $(".opcionales").hide();
          // fc i, ter, tipo meta, meta, medida, ponderacion
          break;
          case "Función":
            $(".opcionales").hide();
            $('.no-funcion').hide();
            $(".funcion").show();
          break;
          // ponderacion no mas que 100
        }
      });

      $("form.mainForm").submit(function(){
      if( (ponderacion + parseFloat($("#key_performance_indicator_ponderation").val()) ) > 100 )
      {
      alert('La ponderación no puede ser mayor a 100%');
      return false;
      }
      return true;
      });
      });
      function calcular()
      {
      ldg = $("#key_performance_indicator_last_date_gold").val();
      ig = $("#key_performance_indicator_increase_gold").val();

      if(ldg == "") ldg = 0;
      if(ig == "") ig = 0;

      switch( $("#key_performance_indicator_code  option:selected").text() )
      {
      case "Incremento":
      $("#key_performance_indicator_gold").val( Math.round( ldg * (1+ ig/100) ) );
      break;

      case "Ahorro":
      $("#key_performance_indicator_gold").val( Math.round( ldg - (ldg * (ig/100) ) ) );
      break;
      }


    }
