:ruby
  if params[:kind] == "seguimiento"
    action = @item.new? ? competences_save_performance_seguimiento_index_path : competences_update_performance_seguimiento_path(@item.id)
  else
    action = @item.new? ? competences_save_performance_evaluacion_index_path : competences_update_performance_evaluacion_path(@item.id)
  end
= simple_form_for @item, :url => action, :html => {:class => 'mainForm form'}, :html => {:class => 'form-horizontal'} do |f|
  .row
    .col-xs-6
      .form-group
        = f.label :planification_competence, 'Competencia:'
        - tc = TracingCompetence.all(:period_id => current_period.id, :evaluated_id => evaluated.user_id)
        %select#planification_competence.selectMedium.form-control{name: "tracing_competence[planification_competence_id]"}
          %option Seleccione una competencia
          - PlanificationCompetence::for_select(evaluated.user_id, current_period.id).each do |i|
            %option{value: i[2]}
              = i[1]

  .row
    #evaluacionBox{style: 'display:none'}


      .col-xs-12
        .clearfix.conduct_box
        .clearfix
      .col-xs-12
        -#%button.btn.btn-info.btn-medium.pull-right{"data-target" => "#myModalfuncion", "data-toggle" => "modal", :type => "button"} Ayuda
        .form-group
          = f.label :trace_date, 'Fecha:'
          = f.text_field :trace_date, :class => 'inputMedium form-control', value: Date.today.strftime("%d/%m/%Y"),readonly: true

      %span.actual


      = f.simple_fields_for :acuerdo do |a|
        = a.input :comentario, as: :text, :required => true , input_html: {rows: 5, class: 'input-xxlarge col-xs-6 form-control'}
      = f.hidden_field :evaluated_id, value: evaluated.user_id
      = f.hidden_field :evaluator_id, value: evaluator.blank? ? evaluated.boss_position.user_id : evaluator.user_id
      = f.hidden_field :kind, value: params[:kind]

  %br
  .form-group
    .controls
      = btn_guardar

:javascript
    $(function(){
        //$("#tracing_competence_trace_date").datepicker({dateFormat: 'dd/mm/yy'});

        $("#planification_competence").change(function(){
            if( parseInt( $(this).val() ) > 0 )
            {
                $.get("/utils/monitoring_conducts", {competences : $(this).val()}, function(val){
                    $(".conduct_box").html( val );
                    $("#evaluacionBox").show();
                    $("select").chosen();
                });
            }
            else
            {
                $("#conduct").html("");
                $("#conduct").change();
                $("#evaluacionBox").hide();
                //$("#competence_detail").hide();
            }
        });

        $('.mainForm').submit(function(){
            if( $("#tracing_competence_trace_date").val().length < 10 )
            {
                alert("Debe ingresar una fecha");
                return false;
            }

            var names = {};
            $('input:radio').each(function() { // find unique names
                  names[$(this).attr('name')] = true;
            });
            var count = 0;
            $.each(names, function() { // then count them
                  count++;
            });

            if($('input:radio:checked').length == count) {
                return true;
            } else {
                alert('Debe evaluar todas las conductas');
                return false;
            }

        });
    });
