:ruby
    t = lambda{|t| t.blank? ? '' : t.gsub("\n", "<br />").html_safe}
    show = false unless defined? show
    escala_eval = InsertPlanification::ESCALA_EVAL
%div{class: "#{show ? 'well' : ''}"}
    %table.table.table-condensed.simple
        %thead
            %tr
                %th Funciones
                - if show
                    %th Calificación
                - else
                    - escala_eval.each do |e|
                        %th.text-center= e[:name]
        %tbody


            - unless data[:kpi][:data].blank?
                - data[:kpi][:data].each do |p|
                    %tr
                        %td
                            %span{title: t.(p[:detail]), :'data-toggle'=>"tooltip", :'data-placement'=>"right" }
                                = p[:description]
                        - if show
                            %td
                                - res = escala_eval.find{|x| x[:value] == p[:increase]}
                                - if p.blank? or res.blank?
                                    Sin calificar
                                - else
                                    = res[:name]
                        - else
                            - escala_eval.each do |e|
                                %td.text-center
                                    = radio_button_tag "tracing_kpi[#{p[:id]}]", e, p[:increase] == e[:value], value: e[:value]


            - unless data[:competences][:data].blank?
                - data[:competences][:data].each do |p|

                    %tr
                        %th{colspan: p[:evaluable] ? 1 : escala_eval.count+1}= p[:name]
                        - if p[:evaluable]
                            - if show
                                %th Calificación
                            - else
                                - escala_eval.each do |e|
                                    %th.text-center= e[:name]

                    - p[:competences].each do |comp|
                        - if p[:evaluable]
                            %tr
                                %td
                                    %span{title: t.(comp[:conducts]), :'data-toggle'=>"tooltip", :'data-placement'=>"right"}= comp[:name]
                                - if show
                                    %td
                                        - res = escala_eval.find{|x| x[:value] == comp[:increase]}
                                        - if comp.blank? or res.blank?
                                            Sin calificar
                                        - else
                                            = res[:name]
                                - else
                                    - escala_eval.each do |e|
                                        %td.text-center= radio_button_tag "tracing_competence[#{comp[:id]}]", e[:value], comp[:increase] == e[:value]
                        - else
                            %tr
                                %td{colspan: escala_eval.count}
                                    %span{title: t.(comp[:conducts]), :'data-toggle'=>"tooltip", :'data-placement'=>"right"}= comp[:name]

            %tr
                %th{colspan: 5} Comentarios:
            %tr
                %td{colspan: 5}
                    - if show
                        = data[:last_comment]
                    - else
                        %textarea.form-control{name: 'comment'}= data[:last_comment]
