:ruby
  if params[:kind] == "seguimiento"
    action = @item.new? ? kpisave_performance_seguimiento_index_path : kpiupdate_performance_seguimiento_path(@item.id)
  else
    action = @item.new? ? kpisave_performance_evaluacion_index_path : kpiupdate_performance_evaluacion_path(@item.id)
  end

.col-xs-6
  = form_for @item, :url => action, :html => {:class => 'form'} do |f|
    .form-group
      = f.label :key_performance_indicator, 'Meta:'
      %select#tracing_kpi_kpi.selectMedium.form-control{:name => "tracing_kpi[planification_id]"}
        %option Seleccione una meta
        - Planification::for_select(evaluated.id, current_period.id).each do |i|
          %option{:current => i[3], :gold => i[2], :value => i[0], code: i[4], detail: i[5]}= i[1]
      %p#detail{style: 'margin-left: 20px'}
    .form-group
      = f.label :trace_date, 'Fecha:'
      = f.text_field :trace_date, :class => 'inputMedium form-control',value: Date.today.strftime("%d/%m/%Y"),readonly: true

    .form-group.avance
      %br
      = f.label :increase, 'Avance:'
      = f.text_field :increase, :class => 'inputMedium form-control avance', :onchange => "compruebaAvance(this.value)"
      %p#actual
    .form-group.factores
      %table.table.table-condensed.simple
        %thead
          %tr
            %th Bajo lo esperado
            %th Proximo a lo esperado
            %th Resultado esperado
            %th Sobre lo esperado
            %th Excepcional
        %tbody
          %tr
            %td{style: 'text-align: center'}= radio_button_tag "tracing_kpi[increase]", 0
            %td{style: 'text-align: center'}= radio_button_tag "tracing_kpi[increase]", 1
            %td{style: 'text-align: center'}= radio_button_tag "tracing_kpi[increase]", 2
            %td{style: 'text-align: center'}= radio_button_tag "tracing_kpi[increase]", 3
            %td{style: 'text-align: center'}= radio_button_tag "tracing_kpi[increase]", 4
    .form-group
      .avance
        = f.label :increment, 'Porcentaje:'
        = f.text_field :increment, :class => 'inputMedium form-control', :readonly => 'readonly'
      = f.hidden_field :evaluated_id, :value => evaluated.id
      = f.hidden_field :evaluator_id, :value => evaluator.id
      = f.hidden_field :kind, :value => params[:kind]
    .form-group
      .controls
        = btn_guardar

:javascript
  var current_value = 0;
  var gold_value    = 0;
  var code_value    = 0;


   function compruebaAvance(valorAvance){
      //si es incremento , el valor de avance debe ser mayor al actual
      if(valorAvance < current_value && code_value == #{KeyPerformanceIndicator::INCREMENTO}){
          alert("Valor de Avance debe ser mayor al valor actual");
      }
   }

  $(function(){
    $('.avance').hide();
    $('.factores').hide();

    //$("#tracing_kpi_trace_date").datepicker({dateFormat : 'dd/mm/yy'});

    $("#tracing_kpi_kpi").change(function() {

      $("#tracing_kpi_increase").val("");
      $("#tracing_kpi_increment").val("");

      current_value      = parseInt($(this).find(":selected").attr("current"));
      gold_value         = parseInt($(this).find(":selected").attr("gold"));
      code_value         = parseInt($(this).find(":selected").attr('code'));

      $('.avance').hide();
      $('.factores').hide();
      $('#detail').html($(this).find(':selected').attr('detail'));

      if($(this).find(':selected').attr('code') == 5) // 5 == FUNCION
      {
        $('.factores').show();
      }
      else
      {
        $('.avance').show();
        if( current_value != undefined && gold_value != undefined )
          $("#actual").text("Actual: " + current_value + " Meta: " + gold_value);
        else
          $("#actual").text("");
      }


    });

    $("#tracing_kpi_increase").change(function(){
      var value = (parseInt($(this).val()) * 100) / gold_value;
      if(code_value == #{KeyPerformanceIndicator::AHORRO})
      {
        value = ( gold_value / parseInt($(this).val()) * 100 );
      }
      $("#tracing_kpi_increment").val( Math.round( value ));
    });
  });
