<% 
	if params[:kind] == "seguimiento"
		action = @item.new? ? competences_save_performance_seguimiento_index_path : competences_update_performance_seguimiento_path(@item.id)
	else
		action = @item.new? ? competences_save_performance_evaluacion_index_path : competences_update_performance_evaluacion_path(@item.id)
	end

%>
<%= form_for @item, :url => action, 
					:html => {:class => 'mainForm'} do |f| %>
<fieldset>					
	<div class="formOption clearfix">
		<%= f.label :planification_competence, 'Conducta:' %><br />
		<select id="planification_competence" name="tracing_competence[planification_competence_id]" class="selectMedium">
			<option>Seleccione una conducta</option>
			<% PlanificationCompetence::for_select(session[:evaluated_id]).each do |i| %>
			<option value="<%= i[0] %>" gold="<%= i[2] %>" current="<%= i[3] %>"><%= i[1] %></option>
			<% end %>
		</select>
		
	</div>

	<div class="formOption clearfix">
		<%= f.label :trace_date, 'Fecha:' %><br />
		<%= f.text_field :trace_date, :class => 'inputMedium' %>
	</div>

	<span id="actual"></span>

	<div class="formOption clearfix">
		<%= f.label :increase, 'Avance:' %>
		<div class="formBody">
			<ul class="inputs-list">
				<li>
					<label>
						<%= f.radio_button :increase, 4 %> Excelente 
					</label>
				</li>
				<li>
					<label>
						<%= f.radio_button :increase, 3 %> Superior 
					</label>
				</li>
				<li>
					<label>
						<%= f.radio_button :increase, 2 %> Cumple 
					</label>
				</li>
				<li>
					<label>
						<%= f.radio_button :increase, 1 %> Insuficiente
					</label>
				</li>
				<li>
					<label>
						<%= f.radio_button :increase, 0 %> Malo
					</label>
				</li>
			
			</ul>
		</div>
	</div>
	
	
	<%= f.hidden_field :evaluated_id, :value => evaluated.id %>
	<%= f.hidden_field :evaluator_id, :value => evaluator.id %>
	<%= f.hidden_field :kind, :value => params[:kind] %>

	<div class="formOption clearfix">
		<%= f.submit 'Enviar', :class => 'aSubmit aS_ok right' %>
	</div>
</fieldset>
<% end %>
:coffeescript
	$ ->
		$("#tracing_competence_trace_date").datepicker dateFormat: 'dd/mm/yy'