<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['logo.png'].url, alt: 'Nuestra Empresa', width: "90" %>
    <p>Estimado: <%= @user.first_name %></p>
    <p style="align=justify">Su nueva Contraseña de ingreso al sistema Essential es :  <%= @pass%> </p>
    <div align="center">
      <p>Cordialmente,</p>
    </div>
    <div align="center">
      <p>Recursos Humanos</p>
    </div>
  </body>
</html>
