.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Idiomas', mantenedores_idiomas_path], [:add, new_mantenedores_idioma_path], [:edit, '#', :active] ]
  = render :partial => 'form'
