.col-lg-12.col-md-12.col-sm-12.col-xs-12
    %table.table.table-condensed.table-stripped
        - if Rails.configuration.tipo_conductas.eql?(:niveles)
            %thead
                %tr
                    %th Conducta
                    %th Si
                    %th No
            %tbody
                - @items.each do |i|
                    %tr
                        %td= i[1]
                        %td{style: 'text-align: center'}= radio_button_tag "tracing_competence[increase][#{i[0]}]", 0
                        %td{style: 'text-align: center'}= radio_button_tag "tracing_competence[increase][#{i[0]}]", 1
        - elsif Rails.configuration.tipo_conductas.eql?(:factores_claves)
            %thead
                %tr
                    %th Conducta
                    %th Excelente
                    %th Sobre lo esperado
                    %th Resultado Esperado
                    %th Proximo a lo esperado
                    %th Bajo Lo esperado
            %tbody
                - @items.each do |i|
                    %tr
                        %td= i[1]
                        %td{style: 'text-align: center'}= radio_button_tag "tracing_competence[increase][#{i[0]}]", 4
                        %td{style: 'text-align: center'}= radio_button_tag "tracing_competence[increase][#{i[0]}]", 3
                        %td{style: 'text-align: center'}= radio_button_tag "tracing_competence[increase][#{i[0]}]", 2
                        %td{style: 'text-align: center'}= radio_button_tag "tracing_competence[increase][#{i[0]}]", 1
                        %td{style: 'text-align: center'}= radio_button_tag "tracing_competence[increase][#{i[0]}]", 0
        - elsif Rails.configuration.tipo_conductas.eql? :factores_claves_4_niveles
            %thead
                %tr
                    %th Nombre
                    %th Alto Desemepeño
                    %th Competente
                    %th En Desarrollo
                    %th No Satisfactorio
            %tbody
                - @items.each do |i|
                    %tr
                        %td= i[1]
                        %td{style: 'text-align: center'}= radio_button_tag "tracing_competence[increase][#{i[0]}]", 3
                        %td{style: 'text-align: center'}= radio_button_tag "tracing_competence[increase][#{i[0]}]", 2
                        %td{style: 'text-align: center'}= radio_button_tag "tracing_competence[increase][#{i[0]}]", 1
                        %td{style: 'text-align: center'}= radio_button_tag "tracing_competence[increase][#{i[0]}]", 0
