.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Nivel Escrito', mantenedores_nivel_escritos_path], [:add, new_mantenedores_nivel_escrito_path], [:edit, '#', :active] ]
  = render :partial => 'form'
