<% 
swf = "/flex/Organigrama.swf"
width = 860
height = 600
%>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="<%= width %>" height="<%= height %>" id="Organigrama">
    <param name="movie" value="<%= swf %>" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="allowFullScreen" value="true" />
    <param name="FlashVars" value="data=<%= CGI.escape data %>" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="<%= swf %>" width="<%= width %>" height="<%= height %>">
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="allowScriptAccess" value="sameDomain" />
        <param name="allowFullScreen" value="true" />
        <param name="FlashVars" value="data=<%= CGI.escape data %>" />
    <!--<![endif]-->
    <!--[if gte IE 6]>-->
        <p> 
            Either scripts and active content are not permitted to run or Adobe Flash Player version
            10.2.0 or greater is not installed.
        </p>
    <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflashplayer">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
        </a>
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object>    
