!= crud_bar [ ['Organigrama de cargos', organization_jobscharts_path, :active] ]

= render :partial => 'partials/chart'
/ - if false
/   %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
/   :javascript
/   google.load('visualization', '1', {packages:['orgchart']});
/   google.setOnLoadCallback(drawChart);
/   function drawChart() {
/     var data = new google.visualization.DataTable();
/     data.addColumn('string', 'Name');
/     data.addColumn('string', 'Manager');
/ 	data.addColumn('string', 'Tooltip');
/     data.addRows([
/   <haml:silent>	 @items.each do |i| 
/   </haml:silent><haml:block>		[{v: '#{i.id}', f: '#{i.name}'}, '#{i.boss_id}', 'LALALA'],
/   </haml:block>    ]);
/     var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
/     chart.draw(data, {allowHtml:true, allowCollapse: true});
/   }
