  <div id="chart" style="width: 100%"></div>
  <ul id="orgchart" style="display: none">
  <%
  def draw(items, level)
      if items
          items.each do |i|
      %>
          <li<%= level > 2 ? raw(' class="collapsed"') : '' %> lvl="<%=level%>"><%= i.name %> <%= i.children.length > 0 ? "(#{i.children.length})" : '' %>
          <%
              if i.children.size > 0
              %>
              <ul>
              <%
                  draw i.children, (level + 1)
              %>
              </ul>
              <%
              end
          %>
          </li>
          <%
          end
      end
  end

  draw [@item], 1
  %>
  </ul>

<script type="text/javascript">
    $(function(){
        $("#orgchart").jOrgChart({
            chartElement : '#chart',
            dragAndDrop  : false
        });
    });

</script>
