:ruby
  cimpor = 0
  ccrit  = 0

  def table_row_comp(kind,  area="", tipo="", competencia="", nivel="",color="")
    kind = kind.to_s
    colormuestra = "";

    if (!area.blank? && area.casecmp("RESOLVIENDO PROBLEMAS").zero?)
      colormuestra = "#5D87C0"
    end

    if (!area.blank? && area.casecmp("INFLUENCIANDO A LA GENTE").zero?)
      colormuestra = "#B3251C"
    end

    if (!area.blank? && area.casecmp("ADAPTANDO ENFOQUES").zero?)
      colormuestra = "#BFAE2C"
    end

    if (!area.blank? && area.casecmp("ENTREGANDO RESULTADOS").zero?)
      colormuestra = "#387C2B"
    end

    #unless (kind.blank? || area.blank? || tipo.blank? || competencia.blank? || nivel.blank? || color.blank?)
    raw '<tr><td style="text-align:center;"><p style= "background-color: '+colormuestra+' '+color+' ; " class= btn ></p></td><td><input readonly type="text"  class="form-control" name="'+kind+'[][area]" value="'+area+'"  /></td><td><input readonly type="text"  name="'+kind+'[][tipo]" value="'+tipo+'"  class="form-control"/></td><td><input readonly type="text"  name="'+kind+'[][competencia]" value="'+competencia+'"   class="form-control"/></td><td><input type="text" readonly name="'+kind+'[][nivel]" value="'+nivel+'"   class="form-control"/></td><td><a href="javascript:;" class="del_'+kind+'_'+nivel+' btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td></tr>'
    #end
  end

%table#competencia_table.table.simple
  %thead
    %tr
      %th{colspan: 6} Competencias
  %tbody
    %tr
      %td
        %p{style: "font-weight: bold"} Indicador
      %td
        %label{for: "area"} Area
        %br
        = select_tag "area", options_for_select([["Seleccione","Seleccione"]]),  :onchange => "areaselected(this.value)"
      %td
        %label{for: "tipo_competencia"} MacroCompetencia
        %br
        = select_tag "tipo_competencia", options_for_select([["Seleccione","Seleccione"]]), :onchange => "tiposelected(this.value)"
      %td
        %label{for: "competencia"} Competencia
        %br
        = select_tag "competencia", options_for_select([["Seleccione","Seleccione"]])
      %td
        %label{for: "nivel"} Nivel
        %br
        = select_tag "nivel", options_for_select([["Critica","Critica"],["Importante","Importante"]])
      %td
        %a.add_competencia.btn.btn-success{:onclick => "add_competencias_click();"}
          %span.glyphicon.glyphicon-plus
      - if @item.competencias_value.blank?
        %tr.no-data
          %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
      - else
        - @item.competencias_value.each do |i|
          - if (i != nil )
            - logger.info "entro"
            - if (i['nivel'] == "Critica")
              - ccrit +=1
            - if (i['nivel'] == "Importante")
              - cimpor +=1

            = table_row_comp 'competencias', i['area'],i['tipo'],i['competencia'],i['nivel']

:javascript
    $(document).ready(function(){
      var area =  document.getElementById("area");
      var tipo_competencia = document.getElementById("tipo_competencia");
      var competencia = document.getElementById("competencia");
      var a = #{@areas};

      for(var i=0;i< a.length;i++){
         document.getElementById("area").options[i+1] = new Option(a[i]["name"]);
         document.getElementById("area").options[i+1].value = a[i]["name"];
      }

      document.getElementById("area_chzn").style.display="none";
      area.style.display="inline";
      area.style.fontFamily="sans-serif";
      area.style.fontSize="14px";
      document.getElementById("tipo_competencia_chzn").style.display="none";
      document.getElementById("competencia_chzn").style.display="none";
      tipo_competencia.style.display="inline";
      tipo_competencia.style.fontFamily="sans-serif";
      tipo_competencia.style.fontSize="14px";
      competencia.style.display="inline";
      competencia.style.fontFamily="sans-serif";
      competencia.style.fontSize="14px";
    });

    function areaselected(pArea){
      document.getElementById("tipo_competencia").selectedIndex = 0;
      document.getElementById("competencia").selectedIndex = 0;
      var ar = #{@areas};
      var tipo = [];
      tipo = #{@tipos};
      var tipofiltrado =[];
      var areaidselected =0;

      for(var i = 0; i < ar.length; i++)
      {
        if(ar[i].name == pArea)
        {
          areaidselected = ar[i].id;
        }
      }

      for ( var ti in tipo){
        if(tipo[ti]["area_id"] == areaidselected)
        {
          tipofiltrado.push(tipo[ti]);
        }
      }

      var tiposelect = document.getElementById("tipo_competencia");
      tiposelect.style.display= "inline";
      tiposelect.style.fontFamily="sans-serif";
      tiposelect.style.fontSize="14px";
      document.getElementById("tipo_competencia_chzn").style.display="none";

      for(var i=0;i<tipofiltrado.length;i++){
        tiposelect.options[i+1] = new Option(tipofiltrado[i]["name"]);
        tiposelect.options[i+1].value = tipofiltrado[i]["name"];
      }
    }


    function tiposelected(pTipo){
      var tipos = #{@tipos};
      console.log ("tipos: ",tipos);
      var competencia = [];
      competencia = #{@competencias};
      var competenciafiltrado =[];
      var tiposelected=0;

      for(var i = 0; i < tipos.length; i++)
      {
        if(tipos[i]["name"] == pTipo)
        {
          tiposelected = tipos[i].id;
        }
      }

      for ( var com in competencia){
        if(competencia[com]["competence_type_id"] == tiposelected)
        {
          competenciafiltrado.push(competencia[com]);
        }
      }

      var comselect = document.getElementById("competencia");
      comselect.style.display= "inline";
      comselect.style.fontFamily="sans-serif";
      comselect.style.fontSize="14px";
      document.getElementById("competencia_chzn").style.display="none";
      var conductas = #{@conductas};

      if (competenciafiltrado.length > 0){
        for(var i=0;i<competenciafiltrado.length;i++){
          var c = "";
          comselect.options[i+1] = new Option(competenciafiltrado[i]["name"]);
          comselect.options[i+1].value = competenciafiltrado[i]["name"];

          for(var e=0;e<conductas.length;e++){
            if (conductas[e]["competence_id"] == competenciafiltrado[i]["id"]){
              c += "- "+conductas[e]["description"] + "\n";
            }
          }

          comselect.options[i+1].title = c;
        }
      }
    }

    var contarimportantes = #{cimpor};
    var contarcriticas = #{ccrit};

    function add_competencias_click(){
      if (document.getElementById("area").value != "Seleccione"
          && document.getElementById("tipo_competencia").value != "Seleccione"
          && document.getElementById("competencia").value != "Seleccione")
      {
        $('#competencia_table .no-data').remove();
        var este ="";
        a = ""+$('#area').val();
        b = ""+$('#tipo_competencia').val();
        c = ""+$('#competencia').val();
        d = ""+$('#nivel').val();

        if (d == "Importante"){
          contarimportantes +=1;
          if (contarimportantes > 8){
            contarimportantes --;
            alert("Solo puede tener maximo 8 Competencias importantes");
            return;
          }
        }

        if (d == "Critica"){
          contarcriticas +=1;
          if (contarcriticas > 8){
            contarcriticas--;
            alert("Solo puede tener maximo 8 Competencias Criticas");
            return;
          }
        }

        var colormuestra = "gray";

        if (a.toUpperCase() == "RESOLVIENDO PROBLEMAS"){
          colormuestra = "#5D87C0"
        }

        if (a.toUpperCase() == "INFLUENCIANDO A LA GENTE"){
          colormuestra = "#B3251C"
        }

        if (a.toUpperCase() =="ADAPTANDO ENFOQUES"){
          colormuestra = "#BFAE2C"
        }

        if (a.toUpperCase() =="ENTREGANDO RESULTADOS"){
          colormuestra = "#387C2B"
        }

        $('#competencia_table').append(
          '#{table_row_comp "competencias","'+a+'","'+b+'","'+c+'","'+d+'","'+colormuestra+'" }'
        );

        document.getElementById("area").selectedIndex = 0;
        document.getElementById("tipo_competencia").selectedIndex = 0;
        document.getElementById("competencia").selectedIndex = 0;

      }else{
        alert("Seleccione una competencia valida para agregar");
        return;
      }
    }

    $('#competencia_table').on('click', '.del_competencias_Critica', function(){
      contarcriticas --;
      $(this).parent().parent().remove();
    });

    $('#competencia_table').on('click', '.del_competencias_Importante', function(){
      contarimportantes -- ;
      $(this).parent().parent().remove();
    });
