:ruby
  def selector_periodo kind, selected = ""

    kind = kind.to_s
    str = "<select name=\"#{kind}\" id=\"#{kind}\" class=\"not form-control\">"
    Job::PERIODOS.each do |i|
      str << "<option value=\"#{i}\" #{'selected=\"selected\"' if i.eql?(selected)}>#{i}</option>"
    end
    str << "</select>"

    str
  end
  def table_row(kind, quien="", que="", periodo="", es_select=true)

    kind = kind.to_s
    periodo = periodo.to_s
    inpt_periodo = es_select ? selector_periodo(kind+'[][periodo]', periodo) : '<input name="'+kind+'[][periodo]" value="'+periodo+'" class="col-xs-12 form-control" readonly/>'
    raw '<tr><td><input type="text" class="form-control" name="'+kind+'[][quien]" value="'+quien+'" /></td><td><input type="text" name="'+kind+'[][que]" value="'+que+'" class="form-control"/></td><td>'+ inpt_periodo +'</td><td><a href="javascript:;" class="del_'+kind+' btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td></tr>'
  end
  inputs = ['internal_contacts', 'external_contacts']

.row
  .col-xs-6
    .panel.panel-primary
      .panel-heading
        %h4.panel-title Relaciones Internas del Cargo:
      .panel-body
        ¿Con quién?
        #flexbox-internal_contacts
        = hidden_field_tag :internal_contacts_value
        %br
        ¿Para qué?
        %br
        = text_field_tag :internal_contacts_que_value, nil, class: 'form-control'
        %br
        %br
        Período
        %br
        != selector_periodo :internal_contacts_periodo_value, class: 'form-control'
        %br
        %a.add_internal_contacts.btn.btn-success{:href => "javascript:;"}
          %span.glyphicon.glyphicon-plus
          Agregar
      .panel-footer
        %table#internal_contacts_table.table.table-condensed.simple{:style => "width: 100%"}
          %thead
            %tr
              %th ¿Con quién?
              %th ¿Para qué?
              %th Período
              %th
          %tbody
            - if @item.internal_contacts_value.blank?
              %tr.no-data
                %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
            - else
              - @item.internal_contacts_value.each do |i|
                = table_row 'internal_contacts', i["quien"], i["que"], i["periodo"]
  .col-xs-6
    .panel.panel-primary
      .panel-heading
        %h4.panel-title Relaciones Externas del Cargo:
      .panel-body
        ¿Con quién?
        %br
        %input#external_contacts_value.form-control{name: 'external_contacts_value'}
        %br
        ¿Para qué?
        %br
        = text_field_tag :external_contacts_que_value, nil, class: 'form-control'
        %br
        %br
        Período
        %br
        != selector_periodo :external_contacts_periodo_value, class: 'form-control'
        %br
        %a.add_external_contacts.btn.btn-success{:href => "javascript:;"}
          %span.glyphicon.glyphicon-plus
          Agregar
      .panel-footer
        %table#external_contacts_table.table.table-condensed.simple{:style => "width: 100%"}
          %thead
            %tr
              %th ¿Con quién?
              %th ¿Para qué?
              %th Período
              %th
          %tbody
            - if @item.external_contacts_value.blank?
              %tr.no-data
                %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
            - else
              - @item.external_contacts_value.each do |i|
                = table_row 'external_contacts', i["quien"], i["que"], i["periodo"]

:javascript

  #{
    str                 = ''
    data                = {}
    data[inputs.first]  = Job.activos
    data[inputs.second] = Job.activos
    inputs.each do |i|
      str << %{
        function data_#{i}()
        {
          var data = {};
          data.results =
            #{data[i].to_json}
          ;
          data.total = data.results.length;

          return data;
        }
      }#str-end
    end

    str
  }



  #{
    str = '';
    inputs.each do |i|
      str << %{
        function add_#{i}_click() {
          $('##{i}_table .no-data').remove();
          $('##{i}_table').append(
            '#{table_row i, '_1_', '_2_', '_3_', false }'
              .replace('_1_', $('##{i}_value').val() )
              .replace('_2_', $('##{i}_que_value').val() )
              .replace('_3_', $('##{i}_periodo_value').val() )
          );

          $('.add_#{i}').parent().find('.ffb-input').val('');
          $('.add_#{i}').parent().find('input:text').val('');
        }
      }
    end

    str
  }


  $(function() {
    #{

      str = ""
      inputs.each do |i|
          str << "$('#flexbox-#{i}').flexbox(data_#{i}(), {"
          str << "  watermark: 'Ingrese o seleccione',"
          str << "  onSelect: function(){"
          str << "    $('##{i}_value').val(this.value);"
          str << "  }"
          str << "});"

          str << "$('#flexbox-#{i}_input').blur(function(){"
          str << "$('##{i}_value').val($(this).val());"
          str << "});\n"
          str << "$('##{i}_table').on('click', '.del_#{i}', function(){ "
          str << "    $(this).parent().parent().remove(); "
          str << "});\n"
          str << "$('.add_#{i}').click(add_#{i}_click);"
      end

      str
    }
    // $('.add_external_contacts').click(function(){
    //     add_external_contacts_click();
    //     // $('#external_contacts_table').append('#{table_row 'external_contacts', '_1_', '_2_', '_3_', false}'
    //     //     .replace('_1_', $('#external_contacts_value').val() )
    //     //     .replace('_2_', $('#external_contacts_que_value').val() )
    //     //     .replace('_3_', $('#external_contacts_periodo_value').val() )
    //     // )
    // });
  });




// .formOption.clearfix
//   = f.label :internal_contacts, 'El cargo requiere contactos internos con (quién y para qué):'
//   = f.text_field :internal_contacts, :class => "inputLarge"
// .formOption.clearfix
//   = f.label :external_contacts, 'El cargo requiere contactos externos con (quién y para qué):'
//   = f.text_field :external_contacts, :class => "inputLarge"
