:css
  .w100p       {width: 100%}
  .ffb-input   {width: 95% !important}
:ruby
  def table_row(kind, value="")
    raw '<tr><td class="col-xs-11"><input type="text" class="w100p" name="'+kind+'[]" value="'+value+'" /></td><td><a href="javascript:;" class="del_'+kind+' btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td></tr>'
  end
  inputs = ['dicisions', 'recomendations']

.row
  .col-xs-6
    .panel.panel-primary
      .panel-heading
        %h4.panel-title Decisiones:
      .panel-body
        %table#dicisions_table.table.table-condensed
          - if @item.dicisions_value.blank?
            %tr.no-data
              %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
          - else
            - @item.dicisions_value.each do |i|
              = table_row 'dicisions', i
      .panel-footer
        #flexbox-dicisions.col-xs-9
        = hidden_field_tag :dicisions_value
        %a.add_dicisions.btn.btn-success{:href => "javascript:;"}
          %span.glyphicon.glyphicon-plus
          Agregar
        .clearfix
  .col-xs-6
    .panel.panel-primary
      .panel-heading
        %h4.panel-title Recomendaciones:
      .panel-body
        %table#recomendations_table.table.table-condensed
          - if @item.recomendations_value.blank?
            %tr.no-data
              %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
          - else
            - @item.recomendations_value.each do |i|
              = table_row 'recomendations', i
      .panel-footer
        #flexbox-recomendations.col-xs-9
        = hidden_field_tag :recomendations_value
        %a.add_recomendations.btn.btn-success{:href => "javascript:;"}
          %span.glyphicon.glyphicon-plus
          Agregar
        .clearfix
        
:javascript
  #{
    str                 = ''
    data                = {}
    data[inputs.first]  = Dicision.all
    data[inputs.second] = Recomendation.all
    inputs.each do |i|
      str << %{
        function data_#{i}()
        {
          var data = {};
          data.results =
            #{data[i].to_json}
          ;
          data.total = data.results.length;

          return data;
        }
      }#str-end
    end

    str
  }
  // #{data[inputs.first].to_a.inspect}



  #{
    str = ''
    inputs.each do |i|
      str << "function add_#{i}_click() {"
      str << "$('##{i}_table .no-data').remove();"
      str << " $('##{i}_table').append("
      str <<                             "'#{table_row i, '_valor_'}'.replace('_valor_', $('##{i}_value').val() )"
      str << " );"
      str << " $('.add_#{i}').parent().find('.ffb-input').val(''); "
      str << "}"
    end

    str
  }


  $(function() {
    #{
      str = ""
      inputs.each do |i|
          str << "$('#flexbox-#{i}').flexbox(data_#{i}(), {"
          str << "  watermark: 'Ingrese o seleccione',"
          str << "  onSelect: function(){"
          str << "    $('##{i}_value').val(this.value);"
          str << "  }"
          str << "});"
          str << "$('#flexbox-#{i}_input').blur(function(){"
          str << "$('##{i}_value').val($(this).val());"
          str << "});\n"
          str << "$('##{i}_table').on('click', '.del_#{i}', function(){ "
          str << "  $(this).parent().parent().remove(); "
          str << "});\n"
          str << "$('.add_#{i}').click(add_#{i}_click);"
      end

      str
    }

  });
