.row
  .col-md-6
    .panel.panel-primary
      .panel-heading
        %h4.panel-title Principales magnitudes (Expresadas en términos anuales)
      .panel-body
        %table#financieras_table.table
          - if @item.dimensions_financieras.blank?
            %tr.no-data
              %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
          - else
            - @item.dimensions_financieras.each do |i|
              %tr.row-sample
                %td
                  %input{type: 'hidden', name: 'dimensions[][magnitude_id]', value: i.magnitude.id}
                  = i.magnitude.name
                %td
                  %input.form-control{name: 'dimensions[][value]', value: i.value}
                  -# = decimales i.value
                %td
                  = link_to delete_dimension_jobsdescription_job_path(i), class: 'btn btn-danger' do
                    %span.glyphicon.glyphicon-trash
      .panel-footer
        .col-xs-9.col-md-10
          #flexbox-dimensions
        .col-xs-1
        %a#dimension_financiera_add.btn.btn-primary{href: 'javascript:;'}
          %span.glyphicon.glyphicon-plus
  .col-md-6
    .panel.panel-primary
      .panel-heading
        %h4.panel-title Recursos asignados (Expresadas en términos anuales)
      .panel-body
        %table#no_financieras_table.table
          - if @item.dimensions_no_financieras.blank?
            %tr.no-data
              %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
          - else
            - @item.dimensions_no_financieras.each do |i|
              %tr
                %td
                  %input{type: 'hidden', name: 'dimensions[][magnitude_id]', value: i.magnitude.id}
                  = i.magnitude.name
                %td
                  %input.form-control{name: 'dimensions[][value]', value: i.value}
                  -# = i.value
                %td
                  = link_to delete_dimension_jobsdescription_job_path(i), class: 'btn btn-danger' do
                    %span.glyphicon.glyphicon-trash
      .panel-footer
        .col-xs-9.col-md-10
          #flexbox-dimensions-no
        .col-xs-1
          %a#dimension_no_financiera_add.btn.btn-primary{href: 'javascript:;'}
            %span.glyphicon.glyphicon-plus
        .clearfix

:javascript
  function loadOrCreateDimension(id, name, kind)
  {
    $.post("#{get_dimension_mantenedores_magnitudes_path}", {id: id, name: name, kind: kind}, function(data)
      {
        // console.log('#'+kind+'_table', $('#'+kind+'_table') )
        if( data )
        {
          $('#'+kind+'_table .no-data').remove();
          $('#'+kind+'_table').append( generateRow(data['name'], data['id'], kind) );
          $('#flexbox-dimensions_input,#flexbox-dimensions-no_input').val('');
        }

      }
    );
  }

  function generateRow(option, value, kind)
  {
    //del_url = '#{delete_dimension_jobsdescription_job_path(999)}'.replace('999', );
    del_url = 'javascript:;';
    str  = '<tr>';
    str += '<td>' + option + '</td>';
    str += '<input type="hidden" name="dimensions[][magnitude_id]" value="' + value + '">';
    str += '<td><input name="dimensions[][value]" type="text" class="input-small" /></td>';
    str += '<td><a href="'+del_url+'" class="del_dimensions_selector_'+kind+' btn btn-danger"><i class="glyphicon-trash glyphicon"></i></a></td>';
    str += '</tr>';

    return str;
  }

  function dimension_financiera_add_click()
  {
    option = $('#flexbox-dimensions_input').val();
    value  = $('#flexbox-dimensions_hidden').val();
    if( isNaN(value) ) value = null;

    loadOrCreateDimension(value, option, 'financieras');

  }
  function dimension_no_financiera_add_click()
  {
    option = $('#flexbox-dimensions-no_input').val();
    value  = $('#flexbox-dimensions-no_hidden').val();
    if( isNaN(value) ) value = null;

    loadOrCreateDimension(value, option, 'no_financieras');
  }
  function dataSet(tipo) {
    var data = {};
    data.results = ( tipo == "dimensions" ? #{Magnitude.all(:kind => Magnitude::FINANCIERAS).map{|x| x.attributes}.to_json} : #{Magnitude.all(:kind => Magnitude::NO_FINANCIERAS).map{|x| x.attributes}.to_json} );
    data.total = data.results.length;

    return data;
  }
  $(function(){
    $('#dimension_financiera_add').click(dimension_financiera_add_click);
    $('#dimension_no_financiera_add').click(dimension_no_financiera_add_click);
    $('#financieras_table').on('click', '.del_dimensions_selector_financieras', function(){
      $(this).parent().parent().remove();
    });
    $('#no_financieras_table').on('click', '.del_dimensions_selector_no_financieras', function(){
      $(this).parent().parent().remove();
    });
    $('#flexbox-dimensions').flexbox(dataSet("dimensions"), {
      watermark: 'Ingrese o seleccione'
    });
    $('#flexbox-dimensions-no').flexbox(dataSet("no-financieras"), {
      watermark: 'Ingrese o seleccione'
    });
  })
