<!-- Modal -->
#informarmodal.modal.fade{tabindex: "-1", role: "dialog", :'aria-labelledby' => "myModalLabel2", :'aria-hidden' => "false"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:'data-dismiss' => "modal", :'aria-label' => "Close"}
          %span{:'aria-hidden' => "true"}
            &times
        %h4#myModalLabel.modal-title Asignar analista
      -# form_for :asignar, url: asignar_descripcion_jobsdescription_job_path do |f|
      .modal-body
        - if bosses.blank?
          %p No existen jefes para el cargo
        - else
          - bosses.each do |boss|
            .row
              .col-md-6
                %dl
                  %dt Analista:
                  %dd
                    = radio_button_tag :boss, boss.user.id
                    = label_tag :boss, boss.full_name
              .col-md-6
                %dl
                  %dt Disponibilidad:
                  %dd
      .modal-footer
        %button.btn.btn-danger{:'data-dismiss' => "modal"} Cerrar
        %button#btninformar.btn.btn-primary Asignar
