:ruby
-#  def table_row(kind, value="")
-#    value = "" if value.blank?
-#    raw '<tr><td class="col-xs-10"><input type="text" class="w100p" name="'+kind+'[]" value="'+value+'" /></td><td><a href="javascript:;" class="del_'+kind+' btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td></tr>'
-#  end
-#  inputs = ['knowledges', 'experiences']
-#
-#.row
-#  .col-xs-6
-#    .panel.panel-primary
-#      .panel-heading
-#        %h4 Conocimientos:
-#      %table#knowledges_table.panel-body.table.table-condensed{:style => "width: 100%"}
-#        - if @item.knowledges_value.blank?
-#          %tr.no-data
-#            %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
-#        - else
-#          - @item.knowledges_value.each do |i|
-#            = table_row 'knowledges', i
-#      .panel-footer
-#        #flexbox-knowledges.col-xs-9
-#        = hidden_field_tag :knowledges_value
-#        %a.add_knowledges.btn.btn-success{:href => "javascript:;"}
-#          %i.glyphicon.glyphicon-plus
-#          Agregar
-#        .clearfix
-#  .col-xs-6
-#    .panel.panel-primary
-#      .panel-heading
-#        %h4 Experiencias:
-#      %table#experiences_table.panel-body.table.table-condensed{:style => "width: 100%"}
-#        - if @item.experiences_value.blank?
-#          %tr.no-data
-#            %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
-#        - else
-#          - @item.experiences_value.each do |i|
-#            = table_row 'experiences', i
-#
-#      .panel-footer
-#        #flexbox-experiences.col-xs-9
-#        = hidden_field_tag :experiences_value
-#        %a.add_experiences.btn.btn-success{:href => "javascript:;"}
-#          %span.glyphicon.glyphicon-plus
-#          Agregar
-#        .clearfix
-#
-#
-#
-#
-#:javascript
-#
-#  #{
-#    str                 = ''
-#    data                = {}
-#    data[inputs.first]  = Knowledge.all(enabled: true)
-#    data[inputs.second] = Experience.all(enabled: true)
-#    inputs.each do |i|
-#      str << %{
-#        function data_#{i}()
-#        {
-#          var data = {};
-#          data.results =
-#            #{data[i].to_json}
-#          ;
-#          data.total = data.results.length;
-#
-#          return data;
-#        }
-#      }#str-end
-#    end
-#
-#    str
-#  }
-#
-#
-#
-#  #{
-#    str = ''
-#    inputs.each do |i|
-#      str << "function add_#{i}_click() {"
-#      str << "$('##{i}_table .no-data').remove();"
-#      str << " $('##{i}_table').append("
-#      str <<                             "'#{table_row i, '_valor_'}'.replace('_valor_', $('##{i}_value').val() )"
-#      str << " );"
-#      str << " $('.add_#{i}').parent().find('.ffb-input').val(''); "
-#      str << "}"
-#    end
-#
-#    str
-#  }
-#
-#
-#  $(function() {
-#    #{
-#      str = ""
-#      inputs.each do |i|
-#          str << "$('#flexbox-#{i}').flexbox(data_#{i}(), {"
-#          str << "  watermark: 'Ingrese o seleccione',"
-#          str << "  onSelect: function(){"
-#          str << "    $('##{i}_value').val(this.value);"
-#          str << "  }"
-#          str << "});"
-#          str << "$('#flexbox-#{i}_input').blur(function(){"
-#          str << "$('##{i}_value').val($(this).val());"
-#          str << "});\n"
-#          str << "$('##{i}_table').on('click', '.del_#{i}', function(){ "
-#          str << "  $(this).parent().parent().remove(); "
-#          str << "});\n"
-#          str << "$('.add_#{i}').click(add_#{i}_click);"
-#      end
-#
-#      str
-#    }
-#
-#  });
-#
