.panel.panel-primary
  .panel-body
    = render :partial => 'partials/wordcompletion', :locals => {:input => 'main_results', :job_type =>(@is_description ? nil : @item.management_type), js_action: 'add_main_result_click()'}
    %table#main_results_table.table.simple
      %thead
        %tr
          %th.col-xs-1
            %small Importancia
          %th Acción + Función
          %th Resultado final esperado
          %th.col-xs-1 Periodicidad
          %th
      - c = 1
      - MainResult.all(job_description_id: @description.id, order: :number.asc).each do |i|
        %tr
          %td
            %input.form-control{name: "main_result[#{i.id}][number]", value: c}
          %td
            %textarea.form-control{name: "main_result[#{i.id}][action_function]", value: i.action_function}=i.action_function
          %td
            %textarea.form-control{name: "main_result[#{i.id}][result]", value: i.result}= i.result
          %td
            %select.input-small.form-control{name: "main_result[#{i.id}][periodicidad]"}
              - ['Diario', 'Semanal', 'Mensual', 'Trimestral', 'Semestral', 'Anual', 'Periódica'].each do |p|
                %option{value: p, selected: p==i.periodicidad}=p
            -# %input.form-control{name: "main_result[#{i.id}][periodicidad]", value: i.periodicidad}
          %td= link_to 'Eliminar', delete_main_result_jobsdescription_job_path(i), class: 'btn btn-danger', confirm: '¿Está seguro?'
        - c += 1

/ = link_to 'javascript:;', :id => 'main_results_add', class: 'btn' do
/   %i.icon-plus
/   Agregar nuevo registro

:javascript
  function add_main_result_click()
  {

  	str  = '<tr>';
  	str += '<td><input type="text" name="main_results[][number]" class="form-control" /></td>';
  	str += '<td><input type="text" name="main_results[][action_function]" class="w100 form-control" value="';
    str += $("#main_results_action_verb :selected").text() + ' ';
    if( $("#main_results_action_verb_2 :selected").text().length > 0 )
    {
      str += " y " + $("#main_results_action_verb_2 :selected").text() + " ";
    }
    str += $("#main_results_ilativo :selected").text() + ' ' + $("#main_results_funcion").val() + ", ";
    str += '" /></td>';
  	str += '<td><input type="text" name="main_results[][result]" class="form-control" value="';
    str += 'para ' + $("#main_results_result :selected").text() + ' ' + $("#main_results_ilativo_resultado :selected").text() + " (Completar...)";
    str += '" /></td>';
    str += '<td><select name="main_results[][periodicidad]" class="input-small form-control">';
    for(var i in (opts = ['Diario', 'Semanal', 'Mensual', 'Trimestral', 'Semestral', 'Anual', 'Periódica']))
    {
      str += '<option value="' + opts[i] + '">' + opts[i] + '</option>';
    }
    str += '</select></td>'
  	str += '</tr>';
  	$('#main_results_table').append(str);
  	$('#main_results_buttons').show();
  };

  $(function(){
  	$('#main_results_add').click(add_main_result_click);
  });
