:ruby
  jd = @is_description ? @item : JobDescription.get(@item.job_description_id)

  def table_row_know(kind, value="")
    value = "" if value.blank?
    raw '<tr><td class="col-xs-10"><input readonly type="text" class="form-control" name="'+kind+'[]" value="'+value+'" /></td><td><a href="javascript:;" class="del_'+kind+' btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td></tr>'
  end
  inputs = ['knowledges', 'experiences']

  def table_row_empresa_anterior(kind, tipo_empresa="", sector="", tamano_empresa="", experiencia_sector="")
    kind = kind.to_s
    raw '<tr><td><input type="text" readonly class="form-control" name="'+kind+'[][tipo_empresa]" value="'+tipo_empresa+'"  /></td><td><input readonly type="text"  name="'+kind+'[][sector]" value="'+sector+'"  class="form-control"/></td><td><input readonly type="text"  name="'+kind+'[][tamano_empresa]" value="'+tamano_empresa+'"   class="form-control"/></td><td><input readonly type="text"  name="'+kind+'[][experiencia_sector]" value="'+experiencia_sector+'"   class="form-control"/></td><td><a href="javascript:;" class="del_'+kind+' btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td></tr>'
  end

  def table_row(kind, idioma="", oral="", escrito="", lectura="")
    kind = kind.to_s
    raw '<tr><td><input type="text" readonly class="form-control" name="'+kind+'[][idioma]" value="'+idioma+'"  /></td><td><input type="text" readonly name="'+kind+'[][oral]" value="'+oral+'"  class="form-control"/></td><td><input type="text" readonly name="'+kind+'[][escrito]" value="'+escrito+'"   class="form-control"/></td><td><input readonly type="text"  name="'+kind+'[][lectura]" value="'+lectura+'"   class="form-control"/></td><td><a href="javascript:;" class="del_'+kind+' btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td></tr>'
  end

  def table_row_cert(kind, certificacion="")
    kind = kind.to_s
    raw '<tr><td><input type="text" readonly class="form-control" name="'+kind+'[][certificacion]" value="'+certificacion+'" title="'+certificacion+'" /></td><td><a href="javascript:;" class="del_'+kind+' btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td></tr>'
  end

  def table_row_mov(kind, movi="", freq="")
    kind = kind.to_s
    raw '<tr><td><input type="text" readonly class="form-control" name="'+kind+'[][movilidad]" value="'+movi+'" title="'+movi+'" /></td><td><input type="text" readonly class="form-control" name="'+kind+'[][frecuencia]" value="'+freq+'" title="'+freq+'" /></td><td><a href="javascript:;" class="del_'+kind+' btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td></tr>'
  end

.panel.panel-primary
  .panel-body
    .row
      .col-xs-6
        %table.table.simple
          %thead
            %tr
              %th{colspan: 2} Estudios
          %tbody
            %tr
              %td
                %label{for: "estudio_basico"} Estudio B&aacute;sico
                - if jd.blank?
                  = select_tag "estudio_basico", options_for_select(Estudio.all.collect{|i| [i.name]})
                - else
                  = select_tag "estudio_basico", options_for_select(Estudio.all.collect{|i| [i.name]}, jd[:estudio_basico])
              %td
                %label{for: "anios_estudio"} A&ntilde;os de Estudio
                %input{name: "anios_estudio", id: "anios_estudio", value: "#{jd[:anios_estudio] unless jd.blank?}"}
            %tr
              %table#knowledges_table.table.simple
                %tr
                  %td{colspan:2, style:'font-weight:bold;'} Conocimientos
                %tr
                  %td
                    #flexbox-knowledges= hidden_field_tag :knowledges_value
                  %td
                    %a.add_knowledges.btn.btn-success{:href => "javascript:;"}
                      %i.glyphicon.glyphicon-plus
                %tr
                - if @item.knowledges_value.blank?
                  %tr.no-data
                    %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
                - else
                  - @item.knowledges_value.each do |i|
                    = table_row_know 'knowledges', i
      .col-xs-6
        %table.table.simple
          %thead
            %tr
              %th{colspan: 2} Experiencia
          %tbody
            %tr
              %td
                %label{for: "anios_experiencia_laboral"} Experiencia Laboral
                - if jd.blank?
                  = select_tag "anios_experiencia_laboral", options_for_select(ExperienciaLaboral.all.collect{|i| [i.name]})
                - else
                  = select_tag "anios_experiencia_laboral", options_for_select(ExperienciaLaboral.all.collect{|i| [i.name]}, jd[:anios_experiencia_laboral])
              %td
                %label{for: "anios_experiencia_cargo"} Experiencia en Cargo
                - if jd.blank?
                  = select_tag "anios_experiencia_cargo", options_for_select(ExperienciaEnCargo.all.collect{|i| [i.name]})
                - else
                  = select_tag "anios_experiencia_cargo", options_for_select(ExperienciaEnCargo.all.collect{|i| [i.name]}, jd[:anios_experiencia_cargo])
            %tr
              %table#experiences_table.table.simple
                %tr
                  %td{colspan:2, style:'font-weight:bold;'} Experiencia Practica
                %tr
                  %td
                    #flexbox-experiences= hidden_field_tag :experiences_value
                  %td
                    %a.add_experiences.btn.btn-success{:href => "javascript:;"}
                      %span.glyphicon.glyphicon-plus
                %tr
                  - if @item.experiences_value.blank?
                    %tr.no-data
                      %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
                  - else
                    - @item.experiences_value.each do |i|
                      = table_row_know 'experiences', i
    .row
      .col-xs-6
        %table#movi_table.table.simple
          %thead
            %tr
              %th{colspan: 2} Movilidad Requerida
          %tbody
            %tr
              %td
                %label{for: "tipo_movilidad"} Tipo Movilidad
                %input#tipo_movilidad{class:"form-control"}
              %td
                %label{for: "frecuencia"} Frecuencia
                %input#frecuencia{class:"form-control"}
              %td
                %a.add_idioma.btn.btn-success{:onclick => "addMov_click();"}
                  %span.glyphicon.glyphicon-plus
              - if @item.movilidad_value.blank?
                %tr.no-data
                  %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
              - else
                - @item.movilidad_value.each do |i|
                  - logger.info "i.asdas #{i.inspect}".red.bold
                  = table_row_mov 'movilidad', i['movilidad'], i['frecuencia']
      .col-xs-6
        -unless [:disal].include? Rails.configuration.cliente
          %table#certificaciones_table.table.simple
            %tr
              %td
                %label{for: "certificacion"} Certificaciones
              %td
            %tr
              %td
                - if jd.blank?
                  = select_tag "certificacion", options_for_select(Certificacion.all.collect{|i| [i.name]})
                - else
                  = select_tag "certificacion", options_for_select(Certificacion.all.collect{|i| [i.name]}, jd[:certificaciones])
              %td
                %a.add_idioma.btn.btn-success{:onclick => "addCertificacion_click();"}
                  %span.glyphicon.glyphicon-plus
            %tr
            - if @item.certificaciones_value.blank?
              %tr.no-data
                %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
            - else
              - @item.certificaciones_value.each do |i|
                = table_row_cert 'certificaciones', i['certificacion']
      .row
        .col-xs-12
          %table#idioma_table.table.simple
            %thead
              %tr
                %th{colspan: 5} Idiomas
            %tbody
              %tr
                %td
                  %label{for: "idioma"} Idioma
                  = select_tag "idioma", options_for_select(Idioma.all.collect{|i| [i.name]})
                %td
                  %label{for: "oral"} Nivel Oral
                  = select_tag "oral"   , options_for_select(NivelHablado.all.collect{|i| [i.name]})
                %td
                  %label{for: "escrito"} Nivel Escrito
                  = select_tag "escrito", options_for_select(NivelEscrito.all.collect{|i| [i.name]})
                %td
                  %label{for: "lectura"} Nivel Lectura
                  = select_tag "lectura", options_for_select(NivelLectura.all.collect{|i| [i.name]})
                %td
                  %a.add_idioma.btn.btn-success{:onclick => "add_click();"}
                    %span.glyphicon.glyphicon-plus
                - logger.info @item.inspect
                - if @item.blank?|| @item.idiomas_value.blank?
                  %tr.no-data
                    %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
                - else
                  - @item.idiomas_value.each do |i|
                    = table_row 'idiomas', i['idioma'],i['oral'],i['escrito'],i['lectura']


:javascript

  function add_click() {
    $('#idioma_table .no-data').remove();

    a = ""+$('#idioma').val();
    b = ""+$('#oral').val();
    c = ""+$('#escrito').val();
    d = ""+$('#lectura').val();

    $('#idioma_table').append(
      '#{table_row "idiomas", "'+a+'","'+b+'","'+c+'","'+d+'" }'
    );
  }

  function addCertificacion_click() {
    $('#certificaciones_table .no-data').remove();

    a = ""+$('#certificacion').val();

    $('#certificaciones_table').append(
      '#{table_row_cert "certificaciones", "'+a+'" }'
    );
  }

    function addMov_click() {
      $('#movi_table .no-data').remove();

      a = ""+$('#tipo_movilidad').val();
      b = ""+$('#frecuencia').val();

      $('#movi_table').append(
        '#{table_row_mov "movilidad", "'+a+'", "'+b+'" }'
      );
    }

  $('#movi_table').on('click', '.del_movilidad', function(){
    $(this).parent().parent().remove();
  });

  $('#idioma_table').on('click', '.del_idiomas', function(){
    $(this).parent().parent().remove();
  });

  $('#certificaciones_table').on('click', '.del_certificaciones', function(){
    $(this).parent().parent().remove();
  });

  $('#empresa_anterior_table').on('click', '.del_empresa_anterior', function(){
    $(this).parent().parent().remove();
  });

  #{
    str                 = ''
    data                = {}
    data[inputs.first]  = Knowledge.all(enabled: true)
    data[inputs.second] = Experience.all(enabled: true)
    inputs.each do |i|
      str << %{
        function data_#{i}()
        {
          var data = {};
          data.results =
            #{data[i].to_json}
          ;
          data.total = data.results.length;

          return data;
        }
      }#str-end
    end

    str
  }

  #{
    str = ''
    inputs.each do |i|
      str << "function add_#{i}_click() {"
      str << "$('##{i}_table .no-data').remove();"
      str << " $('##{i}_table').append("
      str << "'#{table_row_know i, '_valor_'}'.replace('_valor_', $('##{i}_value').val() )"
      str << " );"
      str << " $('.add_#{i}').parent().find('.ffb-input').val(''); "
      str << " $('##{i}_value').val('');"
      str << " $('#flexbox-#{i}_input').val('');"
      str << "}"
    end

    str
  }

  $(function() {
    #{
      str = ""
      inputs.each do |i|
          str << "$('#flexbox-#{i}').flexbox(data_#{i}(), {"
          str << "  watermark: 'Ingrese o seleccione',"
          str << "  onSelect: function(){"
          str << "    $('##{i}_value').val(this.value);"
          str << "  }"
          str << "});"
          str << "$('#flexbox-#{i}_input').blur(function(){"
          str << "$('##{i}_value').val($(this).val());"
          str << "});\n"
          str << "$('##{i}_table').on('click', '.del_#{i}', function(){ "
          str << "  $(this).parent().parent().remove(); "
          str << "});\n"
          str << "$('.add_#{i}').click(add_#{i}_click);"

      end

      str
    }
  });
