:ruby
  def table_row(kind, value="")
    raw '<tr><td class="col-xs-11"><input type="text" class="w100p" name="'+kind+'[]" value="'+value+'" /></td><td><a href="javascript:;" class="del_'+kind+' btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td></tr>'
  end
  inputs = ['internal_situations', 'external_situations']

.row
  .col-xs-6
    .panel.panel-primary
      .panel-heading
        %h4.panel-title Situaciones Internas que pueden afectar al cargo:
      .panel-body
        %table#internal_situations_table.table.table-condensed{:style => "width: 100%"}
          - if @item.internal_situations_value.blank?
            %tr.no-data
              %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
          - else
            - @item.internal_situations_value.each do |i|
              = table_row 'internal_situations', i
      .panel-footer
        #flexbox-internal_situations.col-xs-10
        = hidden_field_tag :internal_situations_value
        %a.col-xs-2.add_internal_situations.btn.btn-success{:href => "javascript:;"}
          %i.glyphicon.glyphicon-plus
          Agregar
        .clearfix
  .col-xs-6
    .panel.panel-primary
      .panel-heading
        %h4.panel-title Situaciones Externas que pueden afectar al cargo:
      .panel-body
        %table#external_situations_table.table.table-condensed{:style => "width: 100%"}
          - if @item.external_situations_value.blank?
            %tr.no-data
              %td.text-center{colspan: 3} Sin datos registrados, debe Agregar (+) un nuevo registro
          - else
            - @item.external_situations_value.each do |i|
              = table_row 'external_situations', i
      .panel-footer
        #flexbox-external_situations.col-xs-10
        = hidden_field_tag :external_situations_value
        %a.add_external_situations.btn.btn-success{:href => "javascript:;"}
          %span.glyphicon.glyphicon-plus
          Agregar
        .clearfix

:javascript
  #{
    str                 = ''
    data                = {}
    data[inputs.first]  = InternalSituation.all(enabled: true)
    data[inputs.second] = ExternalSituation.all(enabled: true)
    inputs.each do |i|
      str << %{
        function data_#{i}()
        {
          var data = {};
          data.results =
            #{data[i].to_json}
          ;
          data.total = data.results.length;
          return data;
        }
      }#str-end
    end

    str
  }

  #{
    str = ''
    inputs.each do |i|
      str << "function add_#{i}_click() {"
      str << "$('##{i}_table .no-data').remove();"
      str << " $('##{i}_table').append("
      str <<                             "'#{table_row i, '_valor_'}'.replace('_valor_', $('##{i}_value').val() )"
      str << " );"
      str << " $('.add_#{i}').parent().find('.ffb-input').val(''); "
      str << "}"
    end

    str
  }

  $(function() {
    #{
      str = ""
      inputs.each do |i|
          str << "$('#flexbox-#{i}').flexbox(data_#{i}(), {"
          str << "  watermark: 'Ingrese o seleccione',"
          str << "  onSelect: function(){"
          str << "    $('##{i}_value').val(this.value);"
          str << "  }"
          str << "});"
          str << "$('#flexbox-#{i}_input').blur(function(){"
          str << "$('##{i}_value').val($(this).val());"
          str << "});\n"
          str << "$('##{i}_table').on('click', '.del_#{i}', function(){ "
          str << "  $(this).parent().parent().remove(); "
          str << "});\n"
          str << "$('.add_#{i}').click(add_#{i}_click);"
      end

      str
    }
  });
