- ver = defined?(ver) ? ver : false
%script{src: "#{request.base_url}/assets/templates/jd_tables/datos#{ver ? '_ver' : ''}.js"}
:css
	span.ladda-spinner div { top: 18px !important }

#tablas

- unless ver
	%a.btn.btn-success.guardar.col-xs-12{href: '#'}
		%span.glyphicon.glyphicon-refresh
		Actualizar información de tablas

:coffeescript
	this.datos = #{@tablas.to_json}
	this.values = #{@tablas_datos.to_json}

	rend = (save=true)->
		if save
			$.post "#{update_dynamic_tables_jobsdescription_jobs_path}", {values: values, job_description_id: #{@description.id}}, (data)->
				$.ladda( 'stopAll' );
		$('#tablas').html HandlebarsTemplates["jd_tables/datos#{ver ? '_ver' : ''}"]({data: datos, values: values})
	init = ->
		Handlebars.registerHelper 'value', (data, table, col, row)->
			val = ''
			val = data[table][col][row] if data[table] && data[table][col] && data[table][col][row]
			return val;
		rend(false)

		$(document).on 'change', 'input.t-value', (e)->
			table_id = $(this).attr 'table_id'
			col_id   = $(this).attr 'col_id'
			row_id   = $(this).attr 'row_id'

			values[ table_id ] = {} unless values[ table_id ]
			values[ table_id ][ col_id ] = {} unless values[ table_id ][ col_id ]
			values[ table_id ][ col_id ][ row_id ] = $(this).val()

		$('.btn.guardar').ladda()
		$('.btn.guardar').click (e)->
			e.preventDefault()

			rend()
			$( this ).ladda('start')

	$ init
