<%= simple_form_for @item, :url => @item.new? ? mantenedores_insert_planifications_path : mantenedores_insert_planification_path(@item) do |f| %>
	
	<%= f.input :description, :label => 'Meta:', :input_html => {:style => 'width: 100%'} %>
	<%= f.input :start_date, :label => 'Fecha de inicio:' %>
	<%= f.input :end_date, :label => 'Fecha de término:' %>
	<%= f.input :code,  :label => 'Tipo de meta:', :collection => KeyPerformanceIndicator::CODES, 
						:input_html => {:class => 'selectMedium'} %>
	
	<%= f.input :last_date_gold, :label => 'Valor año anterior o fecha de inicio:' %>
	<%= f.input :increase_gold, :label => 'Porcentaje incremento:' %>
	<%= f.input :gold, :label => 'Meta (Valor):' %>
	<%= f.input :unit, :label => 'Unidad de medida:' %>
	<%= f.input :ponderation, :label => 'Ponderación:' %>

	<%= f.button :submit, :class => 'aSubmit aS_ok right' %>

<% end %>

<script type="text/javascript" charset="utf-8">
	$(function(){
		$("#key_performance_indicator_last_date_gold").change(calcular);
		$("#key_performance_indicator_increase_gold").change(calcular);
		$("#key_performance_indicator_start_date").datepicker({dateFormat : 'dd/mm/yy'});
		$("#key_performance_indicator_end_date").datepicker({dateFormat : 'dd/mm/yy'});
	});
	function calcular()
	{
		ldg = $("#key_performance_indicator_last_date_gold").val();
		ig = $("#key_performance_indicator_increase_gold").val();
		
		if(ldg == "") ldg = 0;
		if(ig == "") ig = 0;
		
		switch( $("#key_performance_indicator_code  option:selected").text() )
		{
			case "Incremento":
				$("#key_performance_indicator_gold").val( Math.round( ldg * (1+ ig/100) ) );
			break;
			
			case "Ahorro":
				$("#key_performance_indicator_gold").val( Math.round( ldg - (ldg * (ig/100) ) ) );
			break;
		}

		
	}
</script>