%script{src: "/assets/templates/insert_planifications/indx.js"}
%script{src: "/assets/templates/insert_planifications/add.js"}
%script{src: "/assets/templates/insert_planifications/add_jobs_list.js"}
%script{src: "/assets/templates/insert_planifications/add_kpi_list.js"}
%script{src: "/assets/templates/insert_planifications/add_competences_list.js"}
%script{src: "/assets/templates/option_select.js"}

.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .panel.panel-default
        .panel-heading
            %h4.pull-left Mantenedor de [Competencias / Metas Duras] Masivas
            .pull-right
                %a#add.btn.btn-primary{href: '#'}
                    %span.glyphicon.glyphicon-plus
                    Agregar
                %a#volver.btn.btn-primary{href: '#'}
                    %span.glyphicon.glyphicon-chevron-left
                    Volver
            .clearfix
        #contenido.panel-body
            .text-center
                %h1.jumbo Cargando...
        .panel-footer
            .pull-right
                %a.btn.btn-primary.all-save{href: '#'}
                    %span.glyphicon.glyphicon-save
                    Guardar Carga Masiva
            .clearfix

:coffeescript
    tp_index            = HandlebarsTemplates['insert_planifications/indx']
    tp_add              = HandlebarsTemplates['insert_planifications/add']
    tp_jobs_list        = HandlebarsTemplates['insert_planifications/add_jobs_list']
    tp_kpi_list         = HandlebarsTemplates['insert_planifications/add_kpi_list']
    tp_competences_list = HandlebarsTemplates['insert_planifications/add_competences_list']
    tp_options          = HandlebarsTemplates['option_select']
    cont                = $('#contenido')
    all_jobs            = []
    jobs                = []
    kpis                = []
    competences         = []
    ip_list             = []
    ip_data             = null

    #### INDEX ####
    ## Renders:
    rend_indx = ->
        $('.btn.all-save').hide()
        $('#add.btn').show()
        $('#volver.btn').hide()

        cont.fadeOut 'fast', ->
            $.getJSON "#{json_data_mantenedores_insert_planifications_path}", (data)->
                ip_list = data
                cont.html( tp_index({data: data}) ).fadeIn('fast')
                $('a.btn.ver-ip').click btn_editar_click
                $('a.btn.del-ip').click btn_del_click
                $('a.btn.carga-masiva').click btn_carga_masiva_click

    btns_state = (mode='index')->
        if mode == 'index'
            $('#add.btn').show()
            $('#volver.btn').hide()
        else
            $('#add.btn').hide()
            $('#volver.btn').show()

    ## Events:
    btn_add_click = (e)->
        e.preventDefault()
        btns_state 'add'
        clean_data()
        rend_add()
    btn_editar_click = (e)->
        e.preventDefault()
        btns_state 'add'
        idx     = $(this).attr 'idx'
        ip_data = ip_list[idx]
        jobs = ip_data.jobs
        rend_add()
    btn_del_click = (e)->
        e.preventDefault()
        idx = $(this).attr 'idx'
        data = ip_list[idx]
        if confirm("¿Estás seguro de eliminar "+data.description+"?")
            $.post "#{delete_mantenedores_insert_planifications_path}", {item_id: data.id, authenticity_token: $('meta[name=csrf-token]').attr('content')}, (data)->
                if data.status == "ok"
                    rend_indx()
    btn_carga_masiva_click = (e)->
        e.preventDefault()
        $(this).button 'loading'
        idx = $(this).attr 'idx'
        data = ip_list[idx]
        if #{Period.current.blank?}
            alert "Debe existir un período vigente antes de realizar la carga"
        else
            if confirm("¿Estás seguro de realizar la carga masiva: "+data.description+"?")
                $.post "#{execute_mantenedores_insert_planifications_path}", {id: data.id, authenticity_token: $('meta[name=csrf-token]').attr('content')}, (data)->
                    if data.status == "ok"
                        alert "Planificaciones cargadas correctamente"
                        rend_indx()
                    else
                        alert "Ocurrió un problema durante la carga"
                    $(this).button 'reset'

    ## Methods:
    clean_data = ->
        jobs        = []
        kpis        = []
        competences = []
        ip_data     = null

    #### NEW ####
    ## Renders:
    rend_add = ->

        cont.fadeOut 'fast', ->
            $.getJSON "#{json_jobs_mantenedores_insert_planifications_path}", (data)->
                all_jobs    = data
                _description = ''
                _description = ip_data.description if ip_data != null
                cont.html( tp_add({jobs: all_jobs, description: _description}) ).fadeIn 'slow', ->
                    $('.btn.all-save').show()
                    $('.jobs-table').DataTable({"order": [[ 1, "asc" ]]})
                    rend_add_jobs_list()
                    rend_add_kpi_list true
                    rend_add_competences_list true
    rend_add_jobs_list = ->

        _data = jobs
        _data = ip_data.jobs if ip_data != null
        jobs  = [] if _data.length == 0
        $('#jobs-list').html tp_jobs_list({list: _data})
        $('.jobs-list-table').dataTable "lengthMenu": [ [-1], ["Todos"] ], "order": [[ 1, "asc" ]]
        $('#jobs-list .cargos-del').click btn_del_job_to_list
        $('.add-all-jobs').click btn_add_all_jobs_to_list

    rend_add_kpi_list = (first_time=false)->
        _data = kpis
        _data = ip_data.kpi_ids if ip_data != null
        kpis  = _data
        $('#kpi-list').html tp_kpi_list({list: _data})
        $('#kpi-list a.btn.eliminar-md').click btn_del_kpi_to_list
        if first_time
            $('a.btn.kpi-save').click btn_add_kpi_to_list

            init_add_kpi()
    rend_add_competences_list = (first_time=false)->
        _data       = competences
        _data       = ip_data.competences_ids if ip_data != null
        competences = _data

        $('#competences-list').html tp_competences_list({list: _data})
        $('a.btn.eliminar-comp').click btn_del_competence_to_list
        if first_time

            init_add_competence()
    ## Events:
    btn_add_job_to_list = (e)->
        e.preventDefault()
        exists = false
        new_job = all_jobs[$(this).attr('idx')]
        $.each jobs, (k, job)->
            exists = true if String(job.id) == String(new_job.id)
        jobs.push new_job unless exists
        rend_add_jobs_list()
    btn_add_all_jobs_to_list = (e)->
        e.preventDefault()

        $.each all_jobs, (k, a_job)->
            exists = false
            $.each jobs, (k, job)->
                if String(job.id) == String(a_job.id)
                    exists = true

            jobs.push a_job unless exists

        rend_add_jobs_list()
    btn_del_job_to_list = (e)->
        e.preventDefault()
        jobs.splice($(this).attr('idx'), 1)
        ip_data = null
        rend_add_jobs_list()
    btn_add_kpi_to_list = (e)->
        e.preventDefault()
        _tmp = $('.kpi-box .kpi').serializeObject()
        _tmp['code_name'] = $('.kpi[name="code"] :selected').text()
        kpis.push _tmp
        $('.kpi').val('')
        rend_add_kpi_list()
    btn_del_kpi_to_list = (e)->
        e.preventDefault()
        kpis.splice($(this).attr('idx'), 1)
        # ip_data = null
        rend_add_kpi_list()
    btn_del_competence_to_list = (e)->
        e.preventDefault()
        competences.splice($(this).attr('idx'), 1)
        ip_data.competences = competences
        rend_add_competences_list()
    btn_add_competence_to_list = (e)->
        e.preventDefault()
        _tmp = $('.competences-box .competence').serializeObject()
        _tmp['competence_type_name'] = $('.competence[name="competence_type"] :selected').text()
        _tmp['competence_name'] = $('.competence[name="competence"] :selected').text()
        # _tmp['conduct'] = $('.competence[name="competence_type"] :selected').text()
        _tmp['conducts_name'] = []
        _tmp['conducts_name'].push $('label.competence[for="option_'+$(cond).val()+'"]').text() for cond in $('[name="conducts"]:checked')

        competences.push _tmp
        $('.competences-box .competence').val('')
        $('.competences-box #conduct').html ''
        rend_add_competences_list()

    btn_save_click = (e)->
        e.preventDefault()
        errores = ""
        errores += "Debes seleccionar cargos a asociar.\n" if jobs.length == 0
        # errores += "No hay metas duras asociadas.\n" if kpis.length == 0
        # errores += "No hay competencias asociadas.\n" if competences.length == 0
        if errores.length > 0
            alert(errores)
        else
            data = {description: $('input[name="insert_planification[description]"]').val(), jobs: jobs, kpis: kpis, competences: competences, authenticity_token: $('meta[name=csrf-token]').attr('content')}

            if ip_data != null
                data.id = ip_data.id

            $.post "#{save_mantenedores_insert_planifications_path}", data, (data)->
                if data.status == 'ok'
                    rend_indx()
                else
                    alert "Ocurrió un problema al almacenar la información, intente nuevamente"

    ## Form:
    init_add_kpi = ->
        $('.kpi-box input[name="last_date_gold"]').change calcular_kpi
        $('.kpi-box input[name="increase_gold"]').change calcular_kpi
        $('input[name="start_date"]').datepicker dateFormat: 'dd/mm/yy'
        $('input[name="end_date"]').datepicker dateFormat: 'dd/mm/yy'
        $(".funcion").hide()
        $('.kpi-box select[name="code"]').change ->
            $('.opcionales').show()
            $('.no-funcion').show()
            $('.funcion').hide()
            $('.kpi-box input[name="increase_gold"]').removeAttr 'readonly'

            switch $('option:selected', this).text()
                when 'Incremento', 'Ahorro'
                  $('#key_performance_indicator_gold').attr 'readonly', 'readonly'
                when 'Proyecto'
                  $('.opcionales').hide()
                  $('#key_performance_indicator_gold').attr 'readonly', 'readonly'
                  # Fc in, fc termino, tipo, meta/valor (termino - inicio), unidad, ponderacion
                when 'Evaluación'
                  $('.opcionales').hide()
                  # fc i, ter, tipo meta, meta, medida, ponderacion
                when 'Función'
                  $('.opcionales').hide()
                  $('.no-funcion').hide()
                  $('.funcion').show()
    init_add_competence = ->
        $('#competence').html ''
        $('a.btn.competencias-save').click btn_add_competence_to_list
        $.getJSON '/utils/competence_types', (v) ->
            $('#competence_type').html tp_options({data: v})
            $('#competence_detail').hide()
        $('#competence_type').change ->
            if parseInt($(this).val()) > 0
                $.getJSON '/utils/competences', { competence_type_id: $(this).val() }, (v) ->
                    $('#competence').html tp_options({data: v})
            else
                $('#competence').html ''
                $('#competence_detail').hide()

        $('#competence').change ->
            $('#competence_detail').hide()
            if parseInt($(this).val()) > 0
                $('#competence_detail').html $(this).find(':selected').attr('title')
                $('#competence_detail').show()
                $.getJSON '/utils/conducts', { competence_id: $(this).val() }, (v) ->
                    options = '<table class=\'table table-striped table-hover\'>'
                    for i of v
                      options += '<tr style="vertical-align: top;"><td style="padding-right: 15px;"><input id="option_' + v[i][0] + '" type="#{Rails.configuration.tipo_conductas.eql?(:niveles) ? "radio" : "checkbox"}" value="' + v[i][0] + '" number="' + v[i][1] + '" name="conducts" style="margin-top: -2px" class="competence"></input></td><td style="padding-right: 15px"><label for="option_' + v[i][0] + '">' + v[i][1] + '</label></td><td><label class="competence" for="option_' + v[i][0] + '">' + v[i][2] + '</label></td>'
                    $('#conduct').html options + '</table>'
    calcular_kpi = ->

        ldg    = $('input[name="last_date_gold"]').val()
        ig     = $('input[name="increase_gold"]').val()

        if ldg == ''
            ldg = 0
        if ig == ''
            ig = 0
        switch $('select[name="code"] option:selected').text()
            when 'Incremento'
                $('input[name="gold"]').val Math.round(ldg * (1 + ig / 100))
            when 'Ahorro'
                $('input[name="gold"]').val Math.round(ldg - (ldg * ig / 100))
    init = ->
        $('#volver.btn').hide()
        $('.btn.all-save').click btn_save_click

        cont.on 'click', '.btn.add-list', btn_add_job_to_list

        $('#add.btn').click btn_add_click
        $('#volver.btn').click (e)->
            e.preventDefault()
            rend_indx()

        rend_indx()
        # rend_add()
    $(init)
