<div class="col7" id="mainTitle">
	<h3><span>Planificación de metas duras en serie</span></h3>
</div>



<div class="tableOptions clearfix">
	<%= link_to 'Realizar insersión masiva', new_mantenedores_insert_planification_path, :class => "aButton right" %>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" style="width:700px">
	<thead>
		<tr>
			<th rowspan="2">ID</th>
			<th rowspan="2">Meta</th>
			<th rowspan="2">Fecha inicio</th>
			<th rowspan="2">Fecha meta</th>
			<th rowspan="2">Tipo Meta</th>
			<th colspan="4" title="Criterio de medida (índice)" >Criterio de medida</th>
			<th rowspan="2" title="Ponderación" >Pond.</th>
			<th rowspan="2">Lo ingresó</th>
		</tr>
		<tr>
			<th title="Valor año anterior o fecha de inicio" >Valor</th>
			<th>%</th>
			<th title="Meta (Valor o fecha)" >Meta</th>
			<th>Unidad <br /> medida</th>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |it| %>
		<% i = it.key_performance_indicator %>
		<tr>
			<td><%= it.id %></td>
			<td><%= i.description %></td>
			<td style="text-align: center"><%= l i.start_date unless i.start_date.nil? %></td>
			<td style="text-align: center"><%= l i.end_date unless i.end_date.nil? %></td>
			<td style="text-align: center"><%= KeyPerformanceIndicator::CODES_ARRAY[i.code] %></td>
			<td style="text-align: right"><%= i.last_date_gold %></td>
			<td style="text-align: center; width: 40px"><%= i.increase_gold %></td>
			<td style="text-align: right"><%= i.gold %></td>
			<td style="text-align: center; width: 50px"><%= i.unit %></td>
			<td style="text-align: right"><%= i.ponderation %></td>
			<td><%= it.user.name %></td>
		</tr>
		<% end %>
	</tbody>
</table>