.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Editar Acuerdo', performance_agreements_path], [selected_position.user.name, performance_agreements_path], [:edit, '#', :active] ]
  = render :partial => 'performance/agreements/partials/form'
