.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Acuerdos y comentarios', performance_agreements_path], [selected_position.user.rut_name, '#', :active] ]

  %table.table.table-striped.table-bordered.table-condensed.simple
    %thead
      %tr
        %th Usuario
        %th.span2 Tipo
        %th.span4 Meta o Conducta
        %th.span4 Detalle
        %th.span1 Fecha
    %tbody
      - @items.each do |i|
        %tr
          %td= i.evaluator.user.name
          %td= crud_options [i.acuerdo_o_comentario, [:edit, edit_performance_agreement_path(i)], [:delete, performance_agreement_path(i)]]
          %td= i.meta_o_conducta
          %td= i.detalle
          %td= l i.fecha unless i.fecha.nil?
  %hr/

  :javascript
    $(document).ready(function(){
      $("#agreement_fecha").datepicker({dateFormat : 'dd/mm/yy'});
    });

  .page-header
    %h4 Nuevo Acuerdo o Comentario
  = render :partial => 'performance/agreements/partials/form'
