.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Conocimientos', mantenedores_knowledges_path, :active], [:add, new_mantenedores_knowledge_path] ]
    .page-header
        %h3 Conocimientos
        = notices

    %table.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Nombre
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.name, [:edit, edit_mantenedores_knowledge_path(i)], [:delete, mantenedores_knowledge_path(i)]]
