.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Conocimientos', mantenedores_knowledges_path], [:add, new_mantenedores_knowledge_path, :active] ]
  = render :partial => 'form'
