.navbar-header
  %button.navbar-expand-toggle{:type => "button"}
    %i.fa.fa-bars.icon{style: 'color: white'}
  %button.navbar-right-expand-toggle.pull-right.visible-xs{:type => "button"}
    %i.fa.fa-th.icon{style: 'color: white'}
%ul.nav.navbar-nav.navbar-right
  %button.navbar-right-expand-toggle.pull-right.visible-xs{:type => "button"}
    %i.fa.fa-times.icon{style: 'color: white'}
  %li
    %a{href: root_path}
      %i.fa.fa-th.fa-2x{style: "margin-top: 10px; margin-left: 5px"}
      &nbsp;
  = userprofile
