<% if defined?(buttons) && buttons %>
<div id="mostrando" style="width: 100%;">
<% end %>
	<iframe src="<%= "#{Rails.configuration.organigrama_url}/linea/#{@item.id}?frame=false&email=#{current_user.email}&rut=#{current_user.rut}&mode=gestion&menu=false&buttons=false" %>" style='margin: 0; padding: 0; border: 0; min-width: 800px; width: 2000px; max-width:100%; min-height: 270px; max-height: 100%'></iframe>

<% if defined?(buttons) && buttons %>
	<br />
	<a href="#" class="btn btn-sm btn-primary ocultar">&#9650; Ocultar organigrama</a>
</div>
<div id="ocultado">
	<a href="#" class="btn btn-xs mostrar btn-primary">&#9660; Mostrar organigrama</a>
</div>
<% end %>
<!--
<div class="basicdiagram" style="width:100%; height:500px" />
<%
def draw(items, parent = nil)
	if items

		items.each do |i|

	%>

		var item_<%= i.id %> = new primitives.orgdiagram.ItemConfig();
			item_<%= i.id %>.title = "<%= i.name %>";
			item_<%= i.id %>.description = "<%= i.name %>";
			item_<%= i.id %>.image = null;
			<% if i.dependency_type.eql? 'Staff' %>
			item_<%= i.id %>.itemType = primitives.orgdiagram.ItemType.Assistant;
			if( typeof item_<%= i.parent.id %>_counter == 'undefined')
			{
				item_<%= i.parent.id %>_counter = 0;
				item_<%= i.parent.id %>_new_level = false;
			}
			item_<%= i.parent.id %>_counter += 1;


			if( item_<%= i.parent.id %>_counter > 2 )
			{
				item_<%= i.parent.id %>_counter = 0;
				item_<%= i.parent.id %>_new_level = true;
			}



			if( item_<%= i.parent.id %>_counter == 2 )
				item_<%= i.id %>.adviserPlacementType = primitives.orgdiagram.AdviserPlacementType.Right;
			else
				item_<%= i.id %>.adviserPlacementType = primitives.orgdiagram.AdviserPlacementType.Left;

			if( item_<%= i.parent.id %>_new_level == true )
			{
				if( typeof item_aggregate_<%= i.parent.id %> == 'undefined' )
				{
					item_aggregate_<%= i.parent.id %> =  new primitives.orgdiagram.ItemConfig("Aggregator", "Invisible aggregator", "");
	        		item_aggregate_<%= i.parent.id %>.isVisible = false;
	        		item_aggregate_<%= i.parent.id %>.childrenPlacementType = primitives.orgdiagram.ChildrenPlacementType.Horizontal;
	        		item_<%= i.parent.id %>.items.push( item_aggregate_<%= i.parent.id %> );
				}
				item_aggregate_<%= i.parent.id %>.items.push( item_<%= i.id %> );
			} else
				item_<%= i.parent.id %>.items.push( item_<%= i.id %> );
<% if false %>

/*
				item_<%= i.id %>.itemType = primitives.orgdiagram.ItemType.Adviser;
				item_<%= i.id %>.adviserPlacementType = primitives.orgdiagram.AdviserPlacementType.Left;

 				if( typeof item_aggregate_<%= i.parent.id %> == 'undefined' )
				{
					item_aggregate_<%= i.parent.id %> =  new primitives.orgdiagram.ItemConfig("Aggregator", "Invisible aggregator", "");
	        		item_aggregate_<%= i.parent.id %>.isVisible = false;
	        		item_aggregate_<%= i.parent.id %>.childrenPlacementType = primitives.orgdiagram.ChildrenPlacementType.Horizontal;
	        		item_<%= i.parent.id %>.items.push( item_aggregate_<%= i.parent.id %> );
				}

				item_aggregate_<%= i.parent.id %>.items.push( item_<%= i.id %> );
*/
<% end %>


			<% else
				if !parent.nil? && i.active
				%>
				item_<%= i.parent.id %>.items.push( item_<%= i.id %> );
				<%
				end

			end %>
		<%



			if i.children.size > 0
				draw i.children, i
			end
		end
	end
end


#draw @items.roots, 1
%>
 -->

<script type="text/javascript">
    $(function(){
    	$('#ocultado').hide();
			$('.mostrar').click(function(){
    		$('#mostrando').show();
    		$('#ocultado').hide();
    	});
    	$('.ocultar').click(function(){
    		$('#mostrando').hide();
    		$('#ocultado').show();
    	});
        $('iframe').load(function() {
            try {
                this.style.height = (this.contentWindow.document.body.offsetHeight + 100)+ 'px';
            } catch(err) {}
        });
    })
</script>
