%body
  .app-container
    .row.content-container
      / NAVIGATION MENU
      %nav.navbar.navbar-default.navbar-top
        .container-fluid
          %ul.nav.navbar-nav.navbar-left
            %li
              %img{:alt => "Essential", :src => "/images/logos/Prop1.png", :width => "180px", style: "padding-top:5px;"}/
            %li
              %button.navbar-right-expand-toggle.pull-right.visible-xs{:type => "button"}
                %i.fa.fa-th.icon{style: 'color: white'}
          %ul.nav.navbar-nav.navbar-right
            %button.navbar-right-expand-toggle.pull-right.visible-xs{:type => "button"}
              %i.fa.fa-times.icon{style: 'color: black'}
            = userprofile
      .container
        / FIRST ROW OF BLOCKS
        .row.center
          /ORGANIGRAMA
          - if mod_org
            .col-lg-4.col-md-4.col-sm-6.col-xs-12{style: "margin-bottom: 0px;"}
              %a{href: organizacion_path}
                .dash-unit.col-centered
                  %br/
                  %br/
                  %dtitle
                  .thumbnail{style: "margin-bottom: 0"}
                    %img{:alt => "Organigrama", :src => "/assets-main/img/logos/Icon-Organigrama.png", :width => "90px"}/
                  %h1{style: "color:black;"} Organización
                  %br/
                  %hr{:style => "visibility: hidden"}/
                  %hr{:style => "visibility: hidden"}/
                  -#.info-user
                    %span.li_user.fs1{"aria-hidden" => "true"}
                    %span.li_settings.fs1{"aria-hidden" => "true"}
                    %span.li_mail.fs1{"aria-hidden" => "true"}
                    %span.li_key.fs1{"aria-hidden" => "true"}

          /DESCRIPCIÓN DE CARGOS
          - if mod_desc
            .col-lg-4.col-md-4.col-sm-6.col-xs-12{style: "margin-bottom: 0px;"}
              %a{href: jobsdescription_jobs_path}
                .dash-unit.col-centered
                  %br/
                  %br/
                  %dtitle
                  .thumbnail{style: "margin-bottom: 0"}
                    %img{:alt => "Descripcion de Cargos", :src => "/assets-main/img/logos/Icon-Descripciones-Cargo.png", :width => "90"}/
                  %h1{style: "color:black;"} Descripción
                  %h1{style: "color:black;"} de Cargos
                  -#%br/
                  %hr{:style => "visibility: hidden"}/
                  .info-user
                    - unless @asignadas.blank? || @asignadas == 0
                      %i.fa.fa-flag-o{"aria-hidden" => "true", title: 'Tienes descripciones asignadas'}
                        %span.label.label-info= @asignadas
                    -#%span.li_settings.fs1{"aria-hidden" => "true"}
                    -#%span.li_mail.fs1{"aria-hidden" => "true"}
                    -#%span.li_key.fs1{"aria-hidden" => "true"}

          /ADMINISTRACIÓN DE LA COMPENSACIÓN
          - if mod_comp
            .col-lg-4.col-md-4.col-sm-6.col-xs-12{style: "margin-bottom: 0px;"}
              %a{href: compensacion_compensation_index_path}
                .dash-unit.col-centered
                  %br/
                  %br/
                  %dtitle
                  .thumbnail{style: "margin-bottom: 0"}
                    %img{:alt => "Administracion de la compensacion", :src => "/assets-main/img/logos/Icon-Compensac.png", :width => "90"}/
                  %h1{style: "color:black;"} Administración
                  %h1{style: "color:black;"} de la
                  %h1{style: "color:black;"} Compensación
                  %br/
                  -#.info-user
                    %span.li_user.fs1{"aria-hidden" => "true"}
                    %span.li_settings.fs1{"aria-hidden" => "true"}
                    %span.li_mail.fs1{"aria-hidden" => "true"}
                    %span.li_key.fs1{"aria-hidden" => "true"}

          /EVALUACIÓN DE CARGOS
          - if mod_eval
            .col-lg-4.col-md-4.col-sm-6.col-xs-12{style: "margin-bottom: 0px;"}
              %a{href: job_evaluations_path}
                .dash-unit.col-centered
                  %br/
                  %br/
                  %dtitle
                  .thumbnail{style: "margin-bottom: 0"}
                    %img{:alt => "Evaluacion de cargos", :src => "/assets-main/img/logos/gear-png-7.png", :width => "90"}/
                  %h1{style: "color:black;"} Evaluación
                  %h1{style: "color:black;"} de Cargos
                  %br/
                  %hr{:style => "visibility: hidden"}/
                  -#.info-user
                    %span.li_user.fs1{"aria-hidden" => "true"}
                    %span.li_settings.fs1{"aria-hidden" => "true"}
                    %span.li_mail.fs1{"aria-hidden" => "true"}
                    %span.li_key.fs1{"aria-hidden" => "true"}

          /ADMINISTRACIÓN DE LA DOTACIÓN
          -# if false#current_role_can? :plan_dotacion
            .col-sm-3.col-lg-3{style: "margin-bottom: 0px;"}
              %a{href: dotacion_dotacion_index_path}
                .dash-unit
                  %dtitle
                  .thumbnail{style: "margin-bottom: 0"}
                    %img{:alt => "Administracion de la dotacion", :src => "/assets-main/img/logos/gear-png-7.png", :width => "90"}/
                  %h1 Administración
                  %h1 de la
                  %h1 Dotación
                  %br/
                  -#.info-user
                    %span.li_user.fs1{"aria-hidden" => "true"}
                    %span.li_settings.fs1{"aria-hidden" => "true"}
                    %span.li_mail.fs1{"aria-hidden" => "true"}
                    %span.li_key.fs1{"aria-hidden" => "true"}

          /PRESUPUESTO
          -# if false#current_role_can? :adm_presupuesto
            .col-sm-3.col-lg-3{style: "margin-bottom: 0px;"}
              %a{href: "#"}
                .dash-unit
                  %dtitle
                  .thumbnail{style: "margin-bottom: 0"}
                    %img{:alt => "Presupuesto", :src => "/assets-main/img/logos/gear-png-7.png", :width => "90"}/
                  %h1 Presupuesto
                  %br/
                  %hr{:style => "visibility: hidden"}/
                  %hr{:style => "visibility: hidden"}/
                  -#.info-user
                    %span.li_user.fs1{"aria-hidden" => "true"}
                    %span.li_settings.fs1{"aria-hidden" => "true"}
                    %span.li_mail.fs1{"aria-hidden" => "true"}
                    %span.li_key.fs1{"aria-hidden" => "true"}

          /GESTIÓN DEL DESEMPEÑO
          - if mod_gest
            .col-lg-4.col-md-4.col-sm-6.col-xs-12{style: "margin-bottom: 0px;"}
              %a{href: performance_planifications_path}
                .dash-unit.col-centered
                  %br/
                  %br/
                  %dtitle
                  .thumbnail{style: "margin-bottom: 0"}
                    %img{:alt => "Gestion del desempeño", :src => "/assets-main/img/logos/GDD-Icon.png", :width => "90"}/
                  %h1{style: "color:black;"} Gestión del
                  %h1{style: "color:black;"} Desempeño
                  %br/
                  %hr{:style => "visibility: hidden"}/
                  -#.info-user
                    %span.li_user.fs1{"aria-hidden" => "true"}
                    %span.li_settings.fs1{"aria-hidden" => "true"}
                    %span.li_mail.fs1{"aria-hidden" => "true"}
                    %span.li_key.fs1{"aria-hidden" => "true"}

          /MANTENEDORES
          - if is_admin?
            .col-lg-4.col-md-4.col-sm-6.col-xs-12{style: "margin-bottom: 0px;"}
              %a{href: mantenedores_home_path}
                .dash-unit.col-centered
                  %br/
                  %br/
                  %dtitle
                  .thumbnail{style: "margin-bottom: 0"}
                    %img{:alt => "Mantenedores", :src => "/assets-main/img/logos/gear-png-7.png", :width => "90"}/
                  %h1{style: "color:black;"} Mantenedores
                  %br/
                  %hr{:style => "visibility: hidden"}/
                  %hr{:style => "visibility: hidden"}/
                  -#.info-user
                    %span.li_user.fs1{"aria-hidden" => "true"}
                    %span.li_settings.fs1{"aria-hidden" => "true"}
                    %span.li_mail.fs1{"aria-hidden" => "true"}
                    %span.li_key.fs1{"aria-hidden" => "true"}
          /MANTENEDOR COMPETENCIAS
          - if is_admin?
            - unless tipo_modelo? :no_usara
              .col-lg-4.col-md-4.col-sm-6.col-xs-12{style: "margin-bottom: 0px;"}
                %a{href: mantenedores_modelo_competencias_path}
                  .dash-unit.col-centered
                    %br/
                    %br/
                    %dtitle
                    .thumbnail{style: "margin-bottom: 0"}
                      %img{:alt => "Mantenedores", :src => "/assets-main/img/logos/gear-png-7.png", :width => "90"}/
                    %h1{style: "color:black;"} Modelo de
                    %h1{style: "color:black;"} Competencias
                    %br/
                    %hr{:style => "visibility: hidden"}/
                    %hr{:style => "visibility: hidden"}/
                    -#.info-user
                      %span.li_user.fs1{"aria-hidden" => "true"}
                      %span.li_settings.fs1{"aria-hidden" => "true"}
                      %span.li_mail.fs1{"aria-hidden" => "true"}
                      %span.li_key.fs1{"aria-hidden" => "true"}
          / /row
        / /container
