#modalPassword.modal.fade{role: 'dialog', 'aria-labelledby' => '.passLabel', 'aria-hidden' => 'true', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.passLabel Cambio de contraseña
      .modal-body
        = simple_form_for :user_pass do |f|
          = f.input :password_old, label: 'Contraseña antigua:'
          = f.input :password, label: 'Nueva contraseña:'
          = f.input :password_repeat, label: 'Repita la contraseña:'
        .alert.hide
      .modal-footer
        %a.btn.btn-primary{href: 'javascript:password_change()'}
          %i.icon-white.icon-edit
          Guardar
        %a.btn.btn-default{href: '#', 'data-dismiss' => 'modal'} Cerrar
:javascript
  function password_change()
  {
    $.post('#{update_password_users_path}', $('.simple_form.user_pass').serialize(), function(data){
      $('.alert').removeClass('alert-error').removeClass('alert-success').addClass('alert-' + data.status).html(data.mensaje).fadeIn(400);
    });

  }
