- unless flash[:notice].blank? 
    .alert.alert-success
        != flash[:notice]
- unless flash[:error].blank?
    .alert.alert-danger
        != flash[:error]

- unless session[:notice].blank? 
    .alert.alert-success
        != session[:notice]
        - session[:notice] = nil
- unless session[:error].blank?
    .alert.alert-danger
        != session[:error]
        - session[:error] = nil