- es_disal = [:disal, :uandes, :desarrollo].include? Rails.configuration.cliente
- if conectado?
  -# if current_role_can? :gestion_desempeno
    - if is_organization?
      %li
        %a{href:''} Organización
        %ul.nav
          %li{class: current_controller_is?('jobscharts')}
            = link_to 'Organigrama cargos', organization_jobscharts_path
      %li.nav-header Mantenedores
      %li{class: current_controller_is?('jobs')}
        = link_to 'Organigrama cargos', organization_jobs_path

      %li{class: current_controller_is?('users')}
        = link_to 'Personas', organization_users_path
      %li{class: current_controller_is?('positions')}
        = link_to 'Organigrama puestos', organization_positions_path

  /Gestión del Desempeño
  - if current_role_can? :gestion_desempeno
    - if is_performance?
      -# - if !evaluated.nil?
      -# if active_module_is?('planifications', [:index]) == 'active'
        %li{"data-target" => "#myModal", "data-toggle" => "modal"}
          %a{href:"#"}
            %span.icon.fa.fa-question-circle-o
            %span.title Manuales de uso
            %span.fa.arrow
      %li{class: active_module_is?('planifications', [:index])}
        = link_to performance_planifications_path do
          %span.icon.fa.fa-user
          %span.title Selección de colaborador
          %span.fa.arrow

      %li{class: active_module_is?('planifications', [:kpi, :competences])}
        %a{:"data-toggle" => "collapse", href: "#dropdown-planification"}
          %span.icon.fa.fa-th
          %span.title Planificación
          %span.fa.arrow
        #dropdown-planification.panel-collapse.collapse
          .panel-body
            %ul.nav.navbar-nav
              %li{class: current_controller_is?('planifications', @action == 'kpi')}
                = link_to "Metas Individuales", kpi_performance_planifications_path

              -# if current_user.role == 'Administrador'
              %li{class: current_controller_is?('planifications', @action == 'competences')}
                = link_to 'Competencias', competences_performance_planifications_path
      %li{class: active_module_is?(:monitoring, [:kpi, :competences], params[:kind] == TracingKpi::SEGUIMIENTO)}
        %a{:"data-toggle" => "collapse", href: "#dropdown-seguimiento"}
          %span.icon.fa.fa-th
          %span.title Seguimiento
          %span.fa.arrow
        #dropdown-seguimiento.panel-collapse.collapse
          .panel-body
            %ul.nav.navbar-nav
              %li{class: current_controller_is?('monitoring', (params[:kind] == TracingKpi::SEGUIMIENTO && @action == "kpi"))}
                = link_to 'Metas Individuales', kpi_performance_seguimiento_index_path
              %li{class: current_controller_is?('monitoring', (@action == 'competences' && params[:kind] == 'seguimiento'))}
                = link_to 'Competencias', competences_performance_seguimiento_index_path
      %li{class: active_module_is?(:monitoring, [:kpi, :competences], params[:kind] == TracingKpi::EVALUACION)}
        %a{:"data-toggle" => "collapse", href: "#dropdown-evaluacion"}
          %span.icon.fa.fa-check-square-o
          %span.title Evaluación
          %span.fa.arrow
        #dropdown-evaluacion.panel-collapse.collapse
          .panel-body
            %ul.nav.navbar-nav
              %li{class: current_controller_is?('monitoring', (@action == 'kpi' && params[:kind] == TracingKpi::EVALUACION))}
                = link_to 'Metas Individuales', kpi_performance_evaluacion_index_path
              %li{class: current_controller_is?('monitoring', (@action == 'competences' && params[:kind] == 'evaluacion'))}
                = link_to 'Competencias', competences_performance_evaluacion_index_path+(Rails.configuration.cliente.eql?( :maserrazuriz ) ? '?detalle=true' : '')
        %hr
      -# if Rails.configuration.cliente.eql? :maserrazuriz
        %li{class: current_controller_is?('agreements')}
          = link_to performance_agreements_path do
            %span.icon.fa.fa-th-large
            %span.title Acuerdos y comentarios
            %span.fa.arrow
        %li{class: current_controller_is?('evaluations')}
          = link_to performance_evaluations_path do
            %span.icon.fa.fa-th-large
            %span.title Evaluación Jefatura y Final
            %span.fa.arrow

      - if !evaluated.blank? && evaluated.user_id != current_user.user_id
        %li{class: current_action_is?('matriz_evaluacion')}
          = link_to matriz_evaluacion_performance_evaluations_path(evaluated_id: evaluated.id) do
            %span.icon.fa.fa-th-large
            %span.title Resultados de evaluación
            %span.fa.arrow
    /Mantenedor
    - if current_role_can?( :mantenedores ) && current_role.can?(:dc_menu_mantenedores) && current_role.name == 'Administrador'
      - if is_performance?
        %li{class: "#{is_mantenedores_gestion_desempeno? ? 'active' : ''}"}
          %a{:"data-toggle" => "collapse", href: "#dropdown-mantenedor"}
            %span.icon.fa.fa-th-large
            %span.title Mantenedor Gestión del Desempeño
            %span.fa.arrow
          #dropdown-mantenedor.panel-collapse.collapse
            .panel-body
              %ul.nav.navbar-nav
                -#%li{class: current_controller_is?('insert_planifications')}
                  = link_to 'Ingreso Planificación En Serie', mantenedores_insert_planifications_path
                %li{class: current_controller_is?('periods')}
                  = link_to 'Periodos', mantenedores_periods_path
                %li{class: current_controller_is?('userperiods')}
                  = link_to 'Periodos especiales', mantenedores_userperiods_path
                -#%li{class: current_controller_is?('meta_transversal')}
                  = link_to 'Carga de Metas Transversales', meta_transversal_index_path
  /Descripción de Cargos
  -# if current_role_can? :descripcion_cargos
  - if is_cargos?
    %li{class: current_controller_is?('jobs', @action=='index')}
      = link_to jobsdescription_jobs_path do
        %span.icon.fa.fa-clipboard
        %span.title Descripción de cargos
        %span.fa.arrow
    -# if current_role.can?(:dc_analista)
      - if es_disal
        %li{class: current_controller_is?('jobs', @action=='list')}
          = link_to list_jobsdescription_jobs_path do
            %span.icon.fa.fa-arrow-circle-right
            %span.title Lista de Descripciones
            %span.fa.arrow
      - else
        %li{class: current_controller_is?('jobs', @action=='workflow')}
          = link_to workflow_jobsdescription_jobs_path do
            %span.icon.fa.fa-arrow-circle-right
            %span.title Flujo de Descripciones
            %span.fa.arrow
    -# if current_role.can?(:dc_menu_carga_masiva)
    %li{class: current_controller_is?('jobs', @action=='multiupload')}
      = link_to multiupload_jobsdescription_jobs_path do
        %span.icon.fa.fa-archive
        %span.title Carga masiva
        %span.fa.arrow

    /Mantenedores
    -# if current_role_can?( :mantenedores ) &&  current_role.can?(:dc_menu_mantenedores) && current_role.name == 'Administrador'
    %li{class: "#{is_mantenedores_cargos? ? 'active' : ''}"}
      %a{:"data-toggle" => "collapse", href: "#dropdown-mantenedoresd"}
        %span.icon.fa.fa-th-large
        %span.title Mantenedor Descripciones
        %span.fa.arrow
      #dropdown-mantenedoresd.panel-collapse.collapse
        .panel-body
          %ul.nav.navbar-nav
            %li{class: current_controller_is?('actionverbs')}
              = link_to 'Verbos de acción', mantenedores_actionverbs_path
            %li{class: current_controller_is?('resultverbs')}
              = link_to 'Verbos de resultados', mantenedores_resultverbs_path
            %li{class: current_controller_is?('inferential_functions')}
              = link_to 'Ilativos de Función', mantenedores_inferential_functions_path
            %li{class: current_controller_is?('inferential_results')}
              = link_to 'Ilativos de Resultado', mantenedores_inferential_results_path
            %li{class: current_controller_is?('magnitudes')}
              = link_to 'Magnitudes', mantenedores_magnitudes_path
            %li{class: current_controller_is?('dicisions')}
              = link_to 'Decisiones', mantenedores_dicisions_path
            %li{class: current_controller_is?('recomendations')}
              = link_to 'Recomendaciones', mantenedores_recomendations_path
            %li{class: current_controller_is?('knowledges')}
              = link_to 'Conocimientos', mantenedores_knowledges_path
            %li{class: current_controller_is?('experiences')}
              = link_to 'Experiencias', mantenedores_experiences_path
            %li{class: current_controller_is?('internal_situations')}
              = link_to 'Situaciones Internas', mantenedores_internal_situations_path
            %li{class: current_controller_is?('external_situations')}
              = link_to 'Situaciones Externas', mantenedores_external_situations_path

      /MAntenedor Perfil
      -# if current_role_can?( :mantenedores ) &&  current_role.can?(:dc_menu_mantenedores) && current_role.name == 'Administrador'
      %li{class: "#{is_mantenedores_cargos_perfiles? ? 'active' : ''}"}
        %a{:"data-toggle" => "collapse", href: "#dropdown-mantenedoresp"}
          %span.icon.fa.fa-th-large
          %span.title Mantenedor Perfil
          %span.fa.arrow
        #dropdown-mantenedoresp.panel-collapse.collapse
          .panel-body
            %ul.nav.navbar-nav
              %li{class: current_controller_is?('experiencia_laborals')}
                = link_to 'Experiencia Laboral', mantenedores_experiencia_laborals_path
              %li{class: current_controller_is?('experiencia_en_cargos')}
                = link_to 'Experiencia En Cargo', mantenedores_experiencia_en_cargos_path
              -#%li{class: current_controller_is?('tipo_movilidads')}
              -#  = link_to 'Tipo Movilidad', mantenedores_tipo_movilidads_path
              -#%li{class: current_controller_is?('frecuencias')}
              -#  = link_to 'Frecuencia', mantenedores_frecuencias_path
              %li{class: current_controller_is?('idiomas')}
                = link_to 'Idiomas', mantenedores_idiomas_path
              %li{class: current_controller_is?('nivel_hablados')}
                = link_to 'Nivel Hablado', mantenedores_nivel_hablados_path
              %li{class: current_controller_is?('nivel_escritos')}
                = link_to 'Nivel Escrito', mantenedores_nivel_escritos_path
              %li{class: current_controller_is?('nivel_lecturas')}
                = link_to 'Nivel Lectura', mantenedores_nivel_lecturas_path
              %li{class: current_controller_is?('estudios')}
                = link_to 'Estudios', mantenedores_estudios_path
              %li{class: current_controller_is?('certificacions')}
                = link_to 'Certificaciones', mantenedores_certificacions_path
              -#%li{class: current_controller_is?('seguridads')}
              -#  = link_to 'Seguridad', mantenedores_seguridads_path
              -#%li{class: current_controller_is?('calidads')}
              -#  = link_to 'Calidad', mantenedores_calidads_path
              -#%li{class: current_controller_is?('medio_ambientes')}
              -#  = link_to 'Medio Ambiente', mantenedores_medio_ambientes_path
              -#%li{class: current_controller_is?('conocimiento_organizacionals')}
              -#  = link_to 'Conocimiento Organizacional', mantenedores_conocimiento_organizacionals_path
              -#%li{class: current_controller_is?('habilidades_funcionaless')}
              -#  = link_to 'Habilidades Funcionales', mantenedores_habilidades_funcionaless_path
              -#%li{class: current_controller_is?('caracteristicas_ambientales_cargos')}
              -#  = link_to 'Caracteristicas Ambientales Cargos', mantenedores_caracteristicas_ambientales_cargos_path
              %li{class: current_controller_is?('empresa_tipos')}
                = link_to 'Tipo Empresa', mantenedores_empresa_tipos_path
              %li{class: current_controller_is?('sector_experiences')}
                = link_to 'Experiencia en Sector', mantenedores_sector_experiences_path
              %li{class: current_controller_is?('sectors')}
                = link_to 'Sector', mantenedores_sectors_path
              %li{class: current_controller_is?('tamano_empresas')}
                = link_to 'Tamaño Empresa', mantenedores_tamano_empresas_path

  /Administración de la Compensación
  - if mod_comp
    - if is_compensacion?
      %li{class: current_controller_is?('compensation')||current_controller_is?('market_data', @action != 'mantenedor')}
        %a{:"data-toggle" => "collapse", href: "#dropdown-administracion"}
          %span.icon.fa.fa-usd
          %span.title Adm. de la compensación
          %span.fa.arrow
      #dropdown-administracion.panel-collapse.collapse
        .panel-body
          %ul.nav.navbar-nav
            - if role_cann? "cp_captura_xls"
              %li{class: current_controller_is?('compensation', @action == 'index')}
                = link_to 'Captura de planilla', compensacion_compensation_index_path
              %li{class: current_controller_is?('compensation', @action == 'seleccion')}
                = link_to 'Selección de planilla', seleccion_compensacion_compensation_index_path
              %li{class: current_controller_is?('compensation', @action == 'definir_estructuras')}
                = link_to 'Definir estructuras', definir_estructuras_compensacion_compensation_index_path
            - if role_cann? "cp_masa_salarial"
              %li{class: current_controller_is?('compensation', ['masa_salarial', 'masa_salarial_simulacion'].include?(@action))}
                = link_to 'Masa Salarial', masa_salarial_compensacion_compensation_index_path
            -# %li{class: current_controller_is?('market_studies')}
            -#   = link_to 'Competitividad de Mercado', compensacion_market_studies_competitivity_path
            - if role_cann? "cp_equidad_interna"
              %li{class: current_controller_is?('market_data', ['equidad', 'ei_informacion'].include?(@action))}
                = link_to 'Equidad Interna', equidad_compensacion_market_data_path
            - if role_cann? "cp_competitividad"
              %li{class: current_controller_is?('market_data', !['equidad', 'ei_informacion', 'calculo_personal', 'calculo_personal_comparativo'].include?(@action))}
                = link_to 'Competitividad', compensacion_market_data_path
            - if role_cann?("cp_masa_salarial")
              %li{class: current_controller_is?('compensation', ['masa_salarial', 'masa_salarial_simulacion'].include?(@action))}
                = link_to 'Simulación Masa Salarial', masa_salarial_simulacion_compensacion_compensation_index_path
            - if role_cann? "cp_calculo_personal"
              %li{class: current_controller_is?('market_data', ['calculo_personal', 'calculo_personal_comparativo'].include?(@action))}
                = link_to 'Calculo personal', calculo_personal_compensacion_market_data_path
      - if role_cann? "cp_mantenedores"
        %li{class: current_controller_is?('incomestructures')||current_controller_is?('market_percentile')||current_controller_is?('market_data', @action == 'mantenedor')}
          %a{:"data-toggle" => "collapse", href: "#dropdown-mantenedores"}
            %span.icon.fa.fa-th-large
            %span.title Mantenedores
            %span.fa.arrow
        #dropdown-mantenedores.panel-collapse.collapse
          .panel-body
            %ul.nav.navbar-nav
              - if role_cann?("cp_mantenedores_est_comp")
                %li{class: current_controller_is?('incomestructures', @action == 'index')}
                  = link_to 'Estructuras de Compensación', mantenedores_incomestructures_path
              - if role_cann?("cp_mantenedores_perc_merc")
                %li{class: current_controller_is?('market_percentile')}
                  = link_to 'Percentiles de Mercado', compensacion_market_percentile_index_path
              -# %li{class: current_controller_is?('market_percentile')}
              -#   = link_to 'Bandas Equidad Interna', bandas_equidad_interna_compensacion_market_data_path
              - if role_cann?("cp_mantenedores_datos_mcdo")
                %li{class: current_controller_is?('market_data')}
                  = link_to 'Datos de Mercado', mantenedor_compensacion_market_data_path
      -# %li{class: current_controller_is?('compensation')}
      -#   = link_to 'Subir archivos', compensacion_compensation_index_path

  /Evaluacion de Cargos
  -# if current_role_can? :evaluacion_cargos
  - if is_evaluacion?
    %li{class: current_controller_is?('job_evaluations')}
      = link_to select_position_job_evaluations_path, :class => "aButton" do
        %span.icon.fa.fa-exchange
        %span.title Cambiar evaluado
        %span.fa.arrow
    -# if current_role_can?( :mantenedores )
    %li{class: current_controller_is?('job_evaluation_datas')}
      = link_to job_evaluation_datas_path, :class => "aButton" do
        %span.icon.fa.fa-fire
        %span.title Mantenedor Indicadores
        %span.fa.arrow
    %li{class: current_controller_is?('job_evaluation_data_descriptions')}
      = link_to job_evaluation_data_descriptions_path, :class => "aButton" do
        %span.icon.fa.fa-map-o
        %span.title Mantenedor Leyendas
        %span.fa.arrow

  /Mantenedor Competencias
  - if is_mantenedores_competencias?
    - unless tipo_modelo? :no_usara
      %li{class: current_controller_is?('modelo_competencias')}
        = link_to  mantenedores_modelo_competencias_path do
          %span.icon.fa.fa-th-large
          %span.title Modelo de competencias
          %span.fa.arrow
      %li{class: "#{is_mantenedores? ? 'active' : ''}"}
        %a{:"data-toggle" => "collapse", href: "#dropdown-mantenedoresc"}
          %span.icon.fa.fa-th-large
          %span.title Mantenedor Competencias
          %span.fa.arrow
        #dropdown-mantenedoresc.panel-collapse.collapse
          .panel-body
            %ul.nav.navbar-nav
              - if tipo_modelo? :saville
                %li{class: current_controller_is?('areas')}
                  = link_to 'Areas', mantenedores_areas_path
                %li{class: current_controller_is?('competence_types')}
                  = link_to 'Macro Competencias', mantenedores_competence_types_path
              - if tipo_modelo? :otro
                %li{class: current_controller_is?('competence_types')}
                  = link_to 'Tipo Competencias', mantenedores_competence_types_path
              %li{class: current_controller_is?('competences')}
                = link_to 'Competencias', mantenedores_competences_path
              %li{class: current_controller_is?('conduct')}
                = link_to 'Conductas', mantenedores_conducts_path

  /Plan Dotación
  -# if current_role_can? :plan_dotacion
  - if current_controller_is?('dotacion')
    %li{class: current_controller_is?('dotacion')}
      %a{:"data-toggle" => "collapse", href: "#dropdown-mantenedores"}
        %span.icon.fa.fa-users
        %span.title Administración de la dotación
        %span.fa.arrow
    #dropdown-mantenedores.panel-collapse.collapse
      .panel-body
        %ul.nav.navbar-nav
          - if role_can?(:do_dotacion_real)
            %li{class: current_controller_is?('dotacion', @action == 'index')}
              = link_to 'Dotación real', dotacion_dotacion_index_path
          - if role_can?(:do_plan_dotacion)
            %li{class: current_controller_is?('dotacion', @action == 'plan')}
              = link_to 'Planificación de la dotación', plan_dotacion_dotacion_index_path
          - if role_can?(:do_carga_dotacion)
            %li{class: current_controller_is?('dotacion', @action == 'carga')}
              = link_to 'Carga de dotación', carga_dotacion_dotacion_index_path
          - if role_can?(:do_plan_dotacion_dif)
            %li{class: current_controller_is?('dotacion', @action == 'diferencias')}
              = link_to 'Plan de dotación: Diferencias', diferencias_dotacion_dotacion_index_path

  -# if current_role_can?( :mantenedores ) && !current_controller_is?('incomestructures')
  - if is_mantenedores? #&& current_role.name == 'Administrador'
    - if false
      %li
        %a{:"data-toggle" => "collapse", href: "#dropdown-organigrama"}
          %span.icon.fa.fa-th
          %span.title Organigrama
          %span.fa.arrow
        #dropdown-organigrama.panel-collapse.collapse
          .panel-body
            %ul.nav.navbar-nav
              %li{class: current_controller_is?('jobs')}
                = link_to 'Carga masiva de cargos', mantenedores_jobs_path
              %li{class: current_controller_is?('users')}
                = link_to 'Carga masiva de usuarios', mantenedores_users_path
              %li{class: current_controller_is?('jobtypes')}
                = link_to 'Tipos de cargos', mantenedores_jobtypes_path
    %li
      %a{:"data-toggle" => "collapse", href: "#dropdown-desccargo"}
        %span.icon.fa.fa-th
        %span.title Descripcion de cargo
        %span.fa.arrow
      #dropdown-desccargo.panel-collapse.collapse
        .panel-body
          %ul.nav.navbar-nav
            %li{class: current_controller_is?('jd_tables')}
              = link_to 'Tablas Dinámicas', mantenedores_jd_tables_path
    %li
      %a{:"data-toggle" => "collapse", href: "#dropdown-sistema"}
        %span.icon.fa.fa-th
        %span.title Sistema
        %span.fa.arrow
      #dropdown-sistema.panel-collapse.collapse
        .panel-body
          %ul.nav.navbar-nav
            %li{class: current_controller_is?('roles')}
              = link_to 'Roles', mantenedores_roles_path
            %li{class: current_controller_is?('jobroles')}
              = link_to 'Roles de cargos', mantenedores_jobroles_path
            %li{class: current_controller_is?('utils')}
              = link_to 'Limpieza de datos', mantenedores_utils_path
.element
  = content_for :sidebar
