%li.dropdown.profile
  %a.dropdown-toggle{style: 'color: white', "aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    %img{src: "#{current_user.image}", :alt => "User image", :width => "35px", :style => "border-radius: 20px"}/
  %ul.dropdown-menu.animated.fadeInDown
    %li.profile-img
      %img.profile-img{:src => "#{current_user.image}"}/
    %li
      .profile-info
        %h4.username= current_user.username
        %p= current_user.email
        .btn-group.margin-bottom-2x{:role => "group"}
          -#%button.btn.btn-primary{:type => "button"}
            %i.fa.fa-user
            Perfil
          %a.btn.btn-danger{href: logout_users_path, :type => "button"}
            %i.fa.fa-sign-out
            Cerrar sesión
