- input              = 'wordcompletion' if input.nil?
- width              = "100%" if width.nil?
-# options            = FunctionGroup.all if options.nil?
- va_opts            = {}
- va_opts[:management_type_id] = @item.management_type_id if @item.class == Job
- verbos_accion      = ActionVerb.all(va_opts)
- ilativos_accion    = InferentialFunction.all
- ilativos_resultado = InferentialResult.all
- verbos_resultado   = ResultVerb.all(va_opts)
- js_action          = "#{input}_add()" if js_action.nil?

%table.table.simple
  %thead
    %tr
      %th Acciones
      %th.col-xs-2 Ilativos de función
      %th Función o Proceso
      %th.col-xs-2 Verbo de resultado
      %th.col-xs-2 Ilativo de resultado
      %th
      / Resultado
  %tbody
    %tr
      %td.col-md-1
        / = select 'wc', 'kind', options.map {|i| [i.name, i.id]}, :prompt => 'Seleccione un tipo', :selected => (job_type.id if job_type)
        %select{id: "#{input}_action_verb",  'data-placeholder' => "Seleccione"}
          %option
          - verbos_accion.each do |j|
            %option{value: j.id}= j.name
        %select{id: "#{input}_action_verb_2",  'data-placeholder' => "Seleccione"}
          %option
          - verbos_accion.each do |j|
            %option{value: j.id}= j.name
      %td
        %select{id: "#{input}_ilativo",  'data-placeholder' => "Seleccione"}
          %option
          - ilativos_accion.each do |i|
            %option{value: i.id}= i.name
      %td
        %textarea.form-control{id: "#{input}_funcion"}
      %td
        %select{id: "#{input}_result",  'data-placeholder' => "Seleccione"}
          %option
          - verbos_resultado.each do |i|
            %option{value: i.id}= i.name
      %td
        %select{id: "#{input}_ilativo_resultado",  'data-placeholder' => "Seleccione"}
          %option
          - ilativos_resultado.each do |i|
            %option{value: i.id}= i.name
      %td
        %a.btn.btn-sm.btn-primary{href: "javascript:#{js_action}"}
          %span.glyphicon.glyphicon-plus



:javascript
  function #{input}_add()
  {
    str  = "";
    str += $("##{input}_action_verb :selected").text() + " ";
    if( $("##{input}_action_verb_2 :selected").text().length > 0 )
    {
      str += " y " + $("##{input}_action_verb_2 :selected").text().toLowerCase() + " ";
    }
    str += $("##{input}_ilativo :selected").text() + " ";
    //str += $("##{input}_funcion :selected").text() + " ";
    str += $("##{input}_funcion").val() + ", para ";
    str += $("##{input}_result :selected").text() + " ";
    str += $("##{input}_ilativo_resultado :selected").text() + " (Completar...)";

    CKEDITOR.instances.#{input}.insertHtml( str );
  }

-# %a{:href => "##{input}_wc_tabs_box", :id => "#{input}_wc_link", :rel => "wc_modal"} Editor
-# .mainForm{:id => "#{input}_wc_tabs_box"}
-#   %textarea.wc_text{:cols => "120", :rows => "10", :style => "width: #{width}"}
-#   %br/
-#   %div{:style => "width: 100%; text-align: center"}
-#     %a{:href => "javascript:end_editing_#{input}()"} Finalizar edición
-#   .left{:id => "#{input}_wc_tabs", :style => "width: #{width};font-size: 12px;"}
-#     %ul.tabs
-#       %li
-#         %a{:href => "##{input}_tab-1"} Acciones
-#       %li
-#         %a{:href => "##{input}_tab-2"} Ilativos de Función
-#       %li
-#         %a{:href => "##{input}_tab-3"} Verbo de resultado
-#       %li
-#         %a{:href => "##{input}_tab-4"} Ilativos de Resultado
-#     %div{:id => "#{input}_tab-1"}
-#       = select 'wc', 'kind', options.map {|i| [i.name, i.id]}, :prompt => 'Seleccione un tipo', :selected => (job_type.id if job_type)
-#       - options.each do |i|
-#         <ul id="#{input}_#{i.id}" #{raw(i.id == (job_type.id unless job_type.blank?) ? '' : 'style="display: none"')}
-#         class="#{input}_box wordcompletion">
-#         - i.action_verb.each do |j|
-#           %li.wordcompletion-item
-#             %a.as-close +
-#             %span= j.name
-#     %div{:id => "#{input}_tab-2"}
-#       %ul{:class => "wordcompletion #{input}_box"}
-#         - ilativos_accion.each do |i|
-#           %li.wordcompletion-item
-#             %a.as-close +
-#             %span= i.name
-#     %div{:id => "#{input}_tab-3"}
-#       = select 'wc', 'kind_3', options.map {|i| [i.name, i.id]}, :prompt => 'Seleccione un tipo', :selected => (job_type.id unless job_type.blank?)
-#       - options.each do |i|
-#         <ul id="#{input}_#{i.id}_3" #{raw(i.id == (job_type.id unless job_type.blank?) ? '' : 'style="display: none"')}
-#         class="#{input}_box wordcompletion">
-#         - i.result_verb.each do |j|
-#           %li.wordcompletion-item
-#             %a.as-close +
-#             %span= j.name
-#     %div{:id => "#{input}_tab-4"}
-#       %ul{:class => "wordcompletion #{input}_box"}
-#         - ilativos_resultado.each do |i|
-#           %li.wordcompletion-item
-#             %a.as-close +
-#             %span= i.name
-#   .clearfix
// :javascript
//   function start_editing_#{input}(){
//     $('##{input}_wc_tabs_box > .wc_text').val( $('##{input}').val() );
//   }
//   function end_editing_#{input}(){
//     $('##{input}').val( $('##{input}_wc_tabs_box > .wc_text').val() );
//     $.fancybox.close();
//   }
//   $(function(){
//     $('##{input}_wc_link').click( function() {
//       start_editing_#{input}();
//       $.fancybox({ href: '##{input}_wc_tabs_box' });
//     });
//   /*
//   $("a[rel=wc_modal]").fancybox({
//   'onStart' : function() { console.log('START'); start_editing_#{input}() }
//   });*/

//   input_name = "#{input}";

//   $('#'+input_name+'_wc_tabs').tabs();

//   $('#wc_kind').change(function(){
//     console.log('CHECK');
//   $(this).parent().find('.'+input_name+'_box').hide();
//   $(this).parent().find('#'+input_name+'_'+$(this).val()).show();
//   })
//   $('#wc_kind_3').change(function(){
//   $(this).parent().find('.'+input_name+'_box').hide();
//   $(this).parent().find('#'+input_name+'_'+$(this).val()+'_3').show();
//   })
//   $('.'+input_name + '_box > li.wordcompletion-item').click(function(){
//   txt = $(this).find('span').text();
//   if( $('#' + input_name + '_wc_tabs_box > .wc_text').val().length > 0 )
//   txt = txt.substr(0, 1).toLowerCase() + txt.substr(1);
//   $('#' + input_name + '_wc_tabs_box > .wc_text').val( $('#' + input_name +'_wc_tabs_box > .wc_text').val() + ' ' + txt);
//   });
//   })
