html, body {
    height: 100%;
    margin: 0;
}

#wrap {
    min-height: 100%;
    padding-bottom:100px; /* this needs to be bigger than footer height*/
}




ul.wordcompletion {
	list-style-type: none;
	margin: 0;
}
ul.wordcompletion li {

	padding-right: 10px;
	cursor: pointer;
}
ul.wordcompletion li.wordcompletion-item {
	color: #2b3840;
	font-size: 13px;
	font-family: "Lucida Grande", arial, sans-serif;
	text-shadow: 0 1px 1px #fff;
	background-color: #ddeefe;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe), to(#bfe0f1));
	border: 1px solid #acc3ec;
	border-top-color: #c0d9e9;
	padding: 2px 7px 2px 10px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	box-shadow: 0 1px 1px #e4edf2;
	-webkit-box-shadow: 0 1px 1px #e4edf2;
	-moz-box-shadow: 0 1px 1px #e4edf2;
}


ul.wordcompletion li.wordcompletion-item a.as-close {
	float: right;
	margin: 1px 0 0 7px;
	padding: 0 2px;
	cursor: pointer;
	color: #5491be;
	font-family: "Helvetica", helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
	-webkit-transition: color .1s ease-in;
}

ul.wordcompletion li.wordcompletion-item.blur {
	color: #666666;
	background-color: #f4f4f4;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#d5d5d5));
	border-color: #bbb;
	border-top-color: #ccc;
	box-shadow: 0 1px 1px #e9e9e9;
	-webkit-box-shadow: 0 1px 1px #e9e9e9;
	-moz-box-shadow: 0 1px 1px #e9e9e9;
}

ul.wordcompletion li.wordcompletion-item.blur a.as-close {
	color: #999;
}

ul.wordcompletion li:hover.wordcompletion-item {
	color: #2b3840;
	background-color: #bbd4f1;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbd4f1), to(#a3c2e5));
	border-color: #6da0e0;
	border-top-color: #8bb7ed;
}

ul.wordcompletion li:hover.wordcompletion-item a.as-close {
	color: #4d70b0;
}

ul.wordcompletion li.wordcompletion-item.selected {
	border-color: #1f30e4;
}

ul.wordcompletion li.wordcompletion-item a:hover.as-close {
	color: #1b3c65;
}

ul.wordcompletion li.wordcompletion-item a:active.as-close {
	color: #4d70b0;
}

ul.tabs li {
	font-size: 10px;
}

.tabla td {
	border: solid 1px #444;
}
table#example {
	width: 100%;
}
.button_to {
	float: left;
    margin: 0 2px 0 2px;
}
.button_to input {
	cursor: pointer;
	font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
	font-size: 13px;
	color: #5D5D5D;
	font-weight: bold;
	text-shadow: white 0 1px 0;
}
#chart {
	width: 860px;
	overflow: scroll;
}
/* Custom chart styling */
.jOrgChart {
  margin                : 10px;
  padding               : 20px;
  max-width				: 600px;
}

/* Custom node styling */
.jOrgChart .node {
	font-size 			: 12px;
	padding-top			: 4px;
	background-color 	: #35363B;
	border-radius 		: 8px;
	border 				: 5px solid #818181;
	color 				: #F38630;
	-moz-border-radius 	: 8px;
}
.jOrgChart .node p{
	font-family 	: tahoma;
	font-size 		: 10px;
	line-height 	: 11px;
	padding 		: 2px;
}
.mainForm input.inputMicro { width: 40px; }
.tabla .right {float: right; margin: 0; text-align: right}

table.boxData { width: 100%; }

table.tabla.eval_cargos { font-size:11px; }
table.tabla.eval_cargos tr.sub {font-size:10px;}
table.tabla.eval_cargos td input {width: 25px;}

table.tabla.eval_cargos_desc { margin-top: 20px; text-align: left; font-size: 11px;}
table.tabla.eval_cargos_desc tr.title th {text-align: center;}
table.tabla.eval_cargos_desc td:last-child {text-align: left;}
table.tabla.eval_cargos_desc tr.sub th {width: 100px;}
table.tabla.eval_cargos_desc td.val {width: 40px; text-align: center;}

.positions span {
	font-size: 17px;
}
#mainTitle #subtitle {
	margin-left: 120px;
	font-size: 13px;
}

#notice {
	margin: 5px;
	background: #EEF0DF;
	padding-top: 10px;
	padding-left: 10px;
	color: #6B6B6B;
	border: 1px solid #DADADA;
}
#logo {
	float: none;
	margin: -82px 0 50px 665px;
	top: -125px;
}
body {
	font-size: 12px;
}
.navbar .btn, .navbar .btn-group {
    margin-top: 3px;
}
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
},
table.floatThead-table {
	width: initial !important
}

table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }
table.DataTables_sort_wrapper {display: inline !important;}
table.DataTables_sort_wrapper {display: inline !important;}
table.DataTables_sort_icon {float: right;}

table.table thead th {
	background-color: rgb(196,19,19) !important;
}
.fondo-gris
{
	background-color: #bbb !important;
}
ul.nav.nav-list li
{
	padding-left: 15px;
}
.w100
{
	width: 100% !important;
}
.nav-tabs > li > a
{
	border-top: 1px solid rgb(240, 240, 240);
	border-left: 1px solid rgb(245, 245, 245);
	border-right: 1px solid rgb(205, 205, 205);
}


.navbar-static-top {
  margin-bottom: 19px;
  position: fixed;
  width: 100%;
}

.bs-sidenav {
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f8f8f8;
    border-radius: 5px;

}
/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  /*font-weight: bold;*/
  color: #bf3e11;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}
form { margin-top: 10px;}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}

/* TABLE TREE */
table.treetable tbody tr td b { margin-left: 0px !important; }
table.treetable .indenter a {margin-left: -15px !important}
table.table {font-size: 12px !important;}

#competence_detail {
    margin-top: 10px;
}
.table th {
    color: white;
    background: rgb(59, 148, 153);
    background: -moz-linear-gradient(top,  rgb(59, 148, 153) 0%, rgb(59, 148, 153) 86%, rgb(59, 148, 153) 96%, rgb(59, 148, 153) 98%, rgb(59, 148, 153) 100%) ;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(59, 148, 153)), color-stop(86%,rgb(59, 148, 153)), color-stop(96%,rgb(59, 148, 153)), color-stop(98%,rgb(59, 148, 153)), color-stop(100%,rgb(59, 148, 153)));
    background: -webkit-linear-gradient(top,  rgb(59, 148, 153) 0%,rgb(59, 148, 153) 86%,rgb(59, 148, 153) 96%,rgb(59, 148, 153) 98%,rgb(59, 148, 153) 100%);
    background: -o-linear-gradient(top,  rgb(59, 148, 153) 0%,rgb(59, 148, 153) 86%,rgb(59, 148, 153) 96%,rgb(59, 148, 153) 98%,rgb(59, 148, 153) 100%);
    background: -ms-linear-gradient(top,  rgb(59, 148, 153) 0%,rgb(59, 148, 153) 86%,rgb(59, 148, 153) 96%,rgb(59, 148, 153) 98%,rgb(59, 148, 153) 100%);
    background: linear-gradient(to bottom,  rgb(59, 148, 153) 0%,rgb(59, 148, 153) 86%,rgb(59, 148, 153) 96%,rgb(59, 148, 153) 98%,rgb(59, 148, 153) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c41313', endColorstr='#ad0101',GradientType=0 );
}
.table thead th {border-bottom: 0 !important;}
table.table td.info { background-color: #EEE !important; }
.floatThead-container {overflow: visible !important;}
.table {width: 100%; }
// .table td:last-child{ width:1%;
//     white-space:nowrap;}

.sep {border-left: 1px solid #333 !important;}

.ffb-input { width: 90% !important; }
.user-menu-btn a:not([role=button]) { color: white !important; }
li.nav-header {
	font-size:   12px;
	margin-left: 11px;
	font-weight: bolder;
	color:       #450F0F;
}

.chzn-container-single .chzn-single abbr {
	right: 18px !important;
}
.chzn-container-single .chzn-single span {
  margin-right: 32px;
}
.chzn-container {
  width: 100% !important;
}




.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	margin-top: 70px;
}

.wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
	margin-top: 50px;
}

.wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}


@media(min-width:768px) {
    .wrapper {
        padding-left: 250px;
    }

    .wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    .wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    .wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/* Fixhead - fix - 23/07/2016 - AV. */
.floatThead-container .table {width: 100% !important}
th .active-result {
	color: black !important;
}
