/* @override http://example.com:3000/stylesheets/main.css */
/* @group Reset */

html {
	-webkit-font-smoothing: antialiased !important;
}
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,

article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
a {
	text-decoration: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

p {
	margin: 0 0 12px 0;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight: bold;
}
body { background: #BCBCBC; font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color: #5f5f5f; font-size: 10pt; padding: 40px; }

/* @end */
/* @group clear */

.clear { clear: both; height: 0; font-size: 1%; line-height: 0; }
* html .clearfix {  height: 1%;  overflow: visible; } /* float clearing for IE6 */
*+html .clearfix {  min-height: 1%; } /* float clearing for IE7 */
.clearfix:after{  clear: both;  content: ".";   display: block;  height: 0;  visibility: hidden;  font-size: 0; }

/* @end */

 .aLeft { text-align: left !important; }
div.right { float: right !important; }
div.left { float: left !important; }

h1 {  }
h3 { font-size: 16pt; }
h4 { font-size: 15pt; }
h6 { font-size: 11pt; color: #4e4e4e; }


.text h6 { margin-bottom: 12px; }
.text table { margin: 0 0 12px 0; }
.text a { color: #5d5d5d; height: auto; font-weight: bold; text-decoration: underline; text-shadow: white 0 1px 0; }
.text a:hover { color: #434343; }


.boxDefinition { border: 1px solid #d6d6d6; padding: 10px; background: #fbfbfb; }
.boxDefinition dt { font-weight: bold; margin: 0 0 10px 0; }
.boxDefinition dd { margin: 0 0 10px 0; line-height: 15pt; }
table.boxDefinition {text-align: right; width: 100%; }
table.boxDefinition .data {text-align: left; padding-right: 10px;}


.col1 	{ width: 40px; padding: 10px; float: left; }
.col2 	{ width: 100px; padding: 10px; float: left; }
.col3 	{ width: 160px; padding: 10px; float: left; }
.col4 	{ width: 220px; padding: 10px; float: left; }
.col5 	{ width: 280px; padding: 10px; float: left; }
.col6 	{ width: 340px; padding: 10px; float: left; }
.col7 	{ width: 400px; padding: 10px; float: left; }
.col8 	{ width: 460px; padding: 10px; float: left; }
.col9 	{ width: 520px; padding: 10px; float: left; }
.col10 	{ width: 580px; padding: 10px; float: left; }
.col11 	{ width: 640px; padding: 10px; float: left; }
.col12 	{ width: 700px; padding: 10px; float: left; }
.col13 	{ width: 760px; padding: 10px; float: left; }
.col14 	{ width: 820px; padding: 10px; float: left; }
.col15 	{ width: 880px; padding: 10px; float: left; }
.col16 	{ width: 940px; padding: 10px; float: left; }


#barTop { -moz-box-shadow:  inset rgba(255,255,255,0.3) 0 1px 0; -webkit-box-shadow:  inset rgba(255,255,255,0.3) 0 1px 0; box-shadow: inset rgba(255,255,255,0.3) 0 1px 0;

background: #7a8187; /* Old browsers */
background: -moz-linear-gradient(top,  #7a8187 0%, #585d61 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a8187), color-stop(100%,#585d61)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7a8187 0%,#585d61 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7a8187 0%,#585d61 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7a8187 0%,#585d61 100%); /* IE10+ */
background: linear-gradient(top,  #7a8187 0%,#585d61 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a8187', endColorstr='#585d61',GradientType=0 ); /* IE6-9 */


-webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px;



 }



#barTop #loggedBar { position: relative; height: 40px; background: url(../images/bgLoggedBar.png) no-repeat right bottom; }
#barTop #loggedBar figure { width: 38px; height: 38px; border: 1px solid white; float: left; -moz-box-shadow: rgba(0,0,0,0.2) 0 1px 0px; -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 0px; box-shadow: rgba(0,0,0,0.2) 0 1px 0px;  }
#barTop #loggedBar h6 { display: block; width: 150px; padding: 13px 0 0 20px; text-shadow: rgba(0,0,0,0.5) 0 1px 1px; float: left; color: #d7e4ee; }
#barTop #loggedBar h7 { display: block; width: 150px; padding: 0 0 0 20px; text-shadow: rgba(0,0,0,0.5) 0 1px 1px; float: left }
#barTop #loggedBar h7 a {color: #D37159; font-weight: bold }
#barTop #loggedBar ul#loggedBar_dropdown { position: absolute; top: 15px; right: 20px; width: 34px;  }
#barTop #loggedBar ul#loggedBar_dropdown li { position: relative; }
#barTop #loggedBar ul#loggedBar_dropdown li a.dropdown-toggle { display: block; width: 32px; height: 25px; background: green; text-indent: -9999em; overflow: hidden; border: 1px solid #44484b; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: inset rgba(255,255,255,0.15) 0 1px 0, rgba(0,0,0,0.1) 0 1px 1px 0; -webkit-box-shadow: inset rgba(255,255,255,0.15) 0 1px 0, rgba(0,0,0,0.1) 0 1px 1px 0; box-shadow: inset rgba(255,255,255,0.15) 0 1px 0, rgba(0,0,0,0.1) 0 1px 1px 0; background: #7b8287; /* Old browsers */
background: -moz-linear-gradient(top,  #7b8287 0%, #5f6569 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b8287), color-stop(100%,#5f6569)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7b8287 0%,#5f6569 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7b8287 0%,#5f6569 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7b8287 0%,#5f6569 100%); /* IE10+ */
background: linear-gradient(top,  #7b8287 0%,#5f6569 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b8287', endColorstr='#5f6569',GradientType=0 ); /* IE6-9 */
 }

#barTop #loggedBar ul#loggedBar_dropdown li a.dropdown-toggle span { display: block; width: 32px; height: 25px; background: url(../images/icon/config.png) no-repeat 5px 7px; cursor: pointer; }
#barTop #loggedBar ul#loggedBar_dropdown li a.dropdown-toggle:hover { background: #7b8287; }

#barTop #loggedBar ul#loggedBar_dropdown li ul { position: absolute; right: 0; top: 38px; display: none; -moz-box-shadow: rgba(0,0,0,0.2) 0 0 10px; -webkit-box-shadow: rgba(0,0,0,0.2) 0 0 10px; box-shadow: rgba(0,0,0,0.2) 0 0 10px;  }
#barTop #loggedBar ul#loggedBar_dropdown li ul:before { content: ""; position: absolute; top: -5px; right: 12px; width: auto; height: auto; border-right: 5px solid transparent; border-left: 5px solid transparent; border-bottom: 5px solid white; }

#barTop #loggedBar ul#loggedBar_dropdown li.open a.dropdown-toggle { background: #72787d; -moz-box-shadow: inset rgba(0,0,0,0.4) 0 1px 2px, rgba(255,255,255,0.2) 0 1px 0; -webkit-box-shadow: inset rgba(0,0,0,0.4) 0 1px 2px, rgba(255,255,255,0.2) 0 1px 0; box-shadow: inset rgba(0,0,0,0.4) 0 1px 2px, rgba(255,255,255,0.2) 0 1px 0;  }
#barTop #loggedBar ul#loggedBar_dropdown li.open ul { display: block; width: 100px; padding: 5px;  background: white; }
#barTop #loggedBar ul#loggedBar_dropdown li.open ul li a { display: block; text-align: center; padding: 5px; color: #5d5d5d; }
#barTop #loggedBar ul#loggedBar_dropdown li.open ul li a:hover { color: #2f2f2f; }



#barTop #mainSearch { float: right; height: 40px; }
#barTop #mainSearch .formOption { position: relative; width: 278px; height: 38px; border: 1px solid #393c3f; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: rgba(255,255,255,0.1) 0 0 0 1px, rgba(255,255,255,0.3) 0 1px 0; -webkit-box-shadow: rgba(255,255,255,0.1) 0 0 0 1px, rgba(255,255,255,0.3) 0 1px 0; box-shadow: rgba(255,255,255,0.1) 0 0 0 1px, rgba(255,255,255,0.3) 0 1px 0; }
#barTop #mainSearch .formOption input { width: 210px; height: 38px; margin: 0; padding: 0 10px; border: none; background: #4d5255; -moz-box-shadow: inset rgba(0,0,0,0.2) 0 1px 4px; -webkit-box-shadow: inset rgba(0,0,0,0.2) 0 1px 4px; box-shadow: inset rgba(0,0,0,0.2) 0 1px 4px; font-size: 10pt; outline: none; color: #9fa7ae; }



#barTop #mainSearch .formOption div { position: absolute; top: -1px; right: -1px; width: 47px; height: 38px; overflow: hidden; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border: 1px solid #383C3F;

background: #889096; /* Old browsers */
background: -moz-linear-gradient(top,  #889096 0%, #696f74 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#889096), color-stop(100%,#696f74)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #889096 0%,#696f74 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #889096 0%,#696f74 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #889096 0%,#696f74 100%); /* IE10+ */
background: linear-gradient(top,  #889096 0%,#696f74 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#889096', endColorstr='#696f74',GradientType=0 ); /* IE6-9 */
}


#barTop #mainSearch .formOption div input { width: 47px; height: 38px;  padding: 0; margin: 0; cursor: pointer; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; -moz-box-shadow: inset rgba(255,255,255,0.15) 0 0 0 1px; -webkit-box-shadow: inset rgba(255,255,255,0.15) 0 0 0 1px; box-shadow: inset rgba(255,255,255,0.15) 0 0 0 1px; background: url(../images/icon/search.png) no-repeat center center; }
#barTop #mainSearch .formOption div input:active { background-color: #889096; }

#page { width: 1150px; margin: 0 auto; background: white; border: 1px solid #505559; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;  }





nav.navSecond { background: #E7E7E7; border: 1px solid #CCCCCC; }
nav.navSecond a { display: block; }
nav.navSecond a span { display: block; height: 29px; padding: 13px 10px 0 36px; overflow: hidden; background: url(../images/icon/nav/box.png) no-repeat 11px 0; }

nav.navSecond ul li a { color: #5d5d5d; height: auto; font-weight: bold; text-shadow: white 0 1px 0; }
nav.navSecond ul li a:hover { color: #434343; }

nav.navSecond ul li { border-bottom: 1px solid white; }
nav.navSecond ul li:last-child { border-bottom: none; }


nav.navSecond ul li.dropdown.open { margin: -1px; border: 1px solid #505559; -moz-box-shadow: inset rgba(0,0,0,0.25) 0 0 4px 1px; -webkit-box-shadow: inset rgba(0,0,0,0.25) 0 0 4px 1px; box-shadow: inset rgba(0,0,0,0.25) 0 0 4px 1px;

background: #7a8187; /* Old browsers */
background: -moz-linear-gradient(top,  #7a8187 0%, #585d61 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a8187), color-stop(99%,#585d61)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7a8187 0%,#585d61 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7a8187 0%,#585d61 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7a8187 0%,#585d61 99%); /* IE10+ */
background: linear-gradient(top,  #7a8187 0%,#585d61 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a8187', endColorstr='#585d61',GradientType=0 ); /* IE6-9 */

}


nav.navSecond ul li ul { display: none; }
nav.navSecond ul li.dropdown.open a { color: white; text-shadow: rgba(0,0,0,0.5) 0 1px 0; }
nav.navSecond ul li.dropdown.open a:hover { color: #dbe6f0; }
nav.navSecond ul li.dropdown.open a.dropdown-toggle { -moz-box-shadow: inset rgba(0,0,0,0.25) 0 0 4px 1px, rgba(255,255,255,0.2) 0 1px 0; -webkit-box-shadow: inset rgba(0,0,0,0.25) 0 0 4px 1px, rgba(255,255,255,0.2) 0 1px 0; box-shadow: inset rgba(0,0,0,0.25) 0 0 4px 1px, rgba(255,255,255,0.2) 0 1px 0;

background: #7a8187; /* Old browsers */
background: -moz-linear-gradient(top,  #7a8187 0%, #585d61 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a8187), color-stop(99%,#585d61)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7a8187 0%,#585d61 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7a8187 0%,#585d61 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7a8187 0%,#585d61 99%); /* IE10+ */
background: linear-gradient(top,  #7a8187 0%,#585d61 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a8187', endColorstr='#585d61',GradientType=0 ); /* IE6-9 */

}

nav.navSecond ul li.dropdown.open a.dropdown-toggle span {  background-position: 11px bottom;  }

nav.navSecond ul li.dropdown.open ul {  display: block; padding: 15px 0; }
nav.navSecond ul li.dropdown.open ul li { border: none; padding: 5px 10px 5px 36px; line-height: 15pt; background: url(../images/arrowDropdown_min.png) no-repeat 14px 12px; }
nav.navSecond ul li.dropdown.open ul li a.current { color: #dbe6f0; text-decoration: underline; }
nav.navSecond ul li.dropdown.open ul ul { padding: 0; }
/*nav.navSecond ul li.dropdown.open ul ul li { background: url(../images/arrowDropdown_large.png) no-repeat 20px 13px; padding: 5px 10px 5px 50px; }*/


nav.navSecond ul li.dropdown.open ul ul li:first-child { padding: 0; background: none; border: 1px solid #505559; color: #dbe6f0; margin: 5px -1px; text-shadow: rgba(0,0,0,0.5) 0 1px 0; -moz-box-shadow: #2C2E30 0 1px 0; -webkit-box-shadow: #2C2E30 0 1px 0; box-shadow:#2C2E30 0 1px 0;

background: #585d61; /* Old browsers */
background: -moz-linear-gradient(top,  #585d61 0%, #414548 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#585d61), color-stop(99%,#414548)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #585d61 0%,#414548 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #585d61 0%,#414548 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #585d61 0%,#414548 99%); /* IE10+ */
background: linear-gradient(top,  #585d61 0%,#414548 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585d61', endColorstr='#414548',GradientType=0 ); /* IE6-9 */ }

nav.navSecond ul li.dropdown.open ul ul li h6 { position: relative; display: block; padding: 2px 10px 2px 36px; background: url(../images/arrowDropdown_min.png) no-repeat 14px center; }
nav.navSecond ul li.dropdown.open ul ul li h5 { position: relative; display: block; padding: 2px 10px 2px 36px; background: url(../images/arrowDropdown_min.png) no-repeat 14px center; }
nav.navSecond ul li.current { margin: -1px; border: 1px solid #505559; }
nav.navSecond ul li.current a { background: #585d61; color: white; text-shadow: rgba(0,0,0,0.5) 0 1px 0;

-moz-box-shadow: inset rgba(0,0,0,0.25) 0 0 4px 1px; -webkit-box-shadow: inset rgba(0,0,0,0.25) 0 0 4px 1px; box-shadow: inset rgba(0,0,0,0.25) 0 0 4px 1px;

background: #7a8187; /* Old browsers */
background: -moz-linear-gradient(top,  #7a8187 0%, #585d61 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a8187), color-stop(99%,#585d61)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7a8187 0%,#585d61 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7a8187 0%,#585d61 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7a8187 0%,#585d61 99%); /* IE10+ */
background: linear-gradient(top,  #7a8187 0%,#585d61 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a8187', endColorstr='#585d61',GradientType=0 ); /* IE6-9 */

}

nav.navSecond ul li.current a span { background-position: 11px bottom;  }
nav.navSecond h6 { color: inherit !important; }
/* @group mainTitle */

#mainTitle {  text-shadow: rgba(0,0,0,0.5) 0 1px 1px; height: 40px; float: none; margin: -90px 0 30px -20px; color: white; }
#mainTitle h3 { height: 31px; padding: 0; }
#mainTitle h3 span { position: relative; display: block; height: 31px; padding: 9px 0 0 30px; margin: -8px 0 0 0; }

/* @end */
#content { position: relative; width: 860px; padding: 30px 30px 30px 20px; float: left; }

/* @group form */

input, textarea { padding: 0; margin: 0; border: none; background: none; }

.mainForm { color: #7d8284; padding: 0px; }
.mainForm input[type="text"],
.mainForm input[type="email"],
.mainForm input[type="password"],
.mainForm input[type="tel"],
.mainForm textarea { padding: 0 10px; background: white; height: 33px; -moz-border-radius: 35px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #CCCCCC; -moz-box-shadow: white 0 1px 0, inset rgba(0,0,0,0.2) 0 1px 1px; -webkit-box-shadow: white 0 1px 0, inset rgba(0,0,0,0.2) 0 1px 1px; box-shadow: white 0 1px 0, inset rgba(0,0,0,0.2) 0 1px 1px; font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; font-size: 10pt; color: gray; float: left; }
.mainForm textarea { width: 300px; width: 400px; padding: 10px; height: 100px; line-height: 15pt; }

.mainForm .formOption { margin: 0 0 20px 0; }
.mainForm .formOption label { font-weight: bold; display: block; padding: 8px 20px 0 0; width: 150px; float: left; line-height: 15pt; }
.mainForm .formOption label.inputLarge { width: 550px;}

.mainForm input.inputMin { width: 220px; }
.mainForm input.inputMedium { width: 280px; }
.mainForm input.inputLarge { width: 340px; }

.mainForm select.selectMin { width: 240px; }
.mainForm select.selectMedium { width: 300px; }
.mainForm select.selectLarge { width: 360px; }

.mainForm .error { color: red; }
.mainForm .error input,
.mainForm .error textarea { border-color: red; }
.mainForm .success { color: green; }
.mainForm .success input,
.mainForm .success textarea { border-color: green; }
.mainForm .warning { color: #C8AC6B; }
.mainForm .warning input,
.mainForm .warning textarea { border-color: #C8AC6B; }

.mainForm fieldset:last-child { margin: 0; }
.mainForm fieldset legend { color: #4a4b4c; padding: 40px 0; font-size: 11pt; font-weight: bold; }
.mainForm fieldset:first-child legend { padding: 0 0 40px 0; }


.mainForm .autoHeight label { padding-top: 0; }
.mainForm .formBody { width: 450px; float: left; }
.mainForm .formBody ul.inputs-list { margin-bottom: 10px; }
.mainForm .formBody ul.inputs-list li { margin-bottom: 10px; }
.mainForm .formBody ul.inputs-list li span { line-height: 15pt; }
.mainForm .formBody ul.inputs-list li input[type="checkbox"],
.mainForm .formBody ul.inputs-list li input[type="radio"] { margin: 0 10px 0 0; padding: 0;}
.mainForm .formBody ul.inputs-list li:last-child { margin: 0; }
.mainForm .formBody ul.inputs-list li label { width: auto; padding: 0; float: none; font-weight: normal; }


.mainForm span.help-block { font-style: oblique; color: gray; }

.mainForm .formSubmit input.submitOk { padding: 10px 15px; background: #a1a8ac; float: left; margin-right: 10px; font-size: 11pt; font-weight: bold; width: auto; color: white; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; cursor: pointer; }
.mainForm .formSubmit input.submitOk:hover { background: #b2bcc1; }
.mainForm .formSubmit input.submitCancel { padding: 10px 15px; background: #c9d5de; float: left; margin-right: 10px; font-size: 11pt; width: auto; color: white; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; cursor: pointer; font-weight: bold; }
.mainForm .formSubmit input.submitCancel:hover { background: #c2cdd5; }



.mainForm .form-stacked label { display: block; width: 100%; float: none; margin: 0 0 12px 0; }
.mainForm .form-stacked input,
.mainForm .form-stacked textarea { float: none; }
.mainForm .form-stacked input.inputLarge { width: 80%; }
.mainForm .form-stacked textarea { width: 90%; }

input.aSubmit { padding: 10px 15px; font-size: 11pt; color: white; -moz-border-radius: 3px; -webkit-border-radius:3px; border-radius: 3px;  border: 1px solid #383C3F; cursor: pointer;  -moz-box-shadow: inset rgba(255,255,255,0.15) 0 0 0 1px; -webkit-box-shadow: inset rgba(255,255,255,0.15) 0 0 0 1px; box-shadow: inset rgba(255,255,255,0.15) 0 0 0 1px; text-shadow: rgba(0,0,0,0.5) 0 1px 1px;

background: #889096; /* Old browsers */
background: -moz-linear-gradient(top,  #889096 0%, #696f74 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#889096), color-stop(100%,#696f74)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #889096 0%,#696f74 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #889096 0%,#696f74 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #889096 0%,#696f74 100%); /* IE10+ */
background: linear-gradient(top,  #889096 0%,#696f74 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#889096', endColorstr='#696f74',GradientType=0 ); /* IE6-9 */  }


.aButton { padding: 8px 15px 10px 15px; font-size: 10pt; font-weight: bold; color: white; -moz-border-radius: 3px; -webkit-border-radius:3px; border-radius: 3px;  border: 1px solid #383C3F; cursor: pointer;  -moz-box-shadow: inset rgba(255,255,255,0.15) 0 0 0 1px; -webkit-box-shadow: inset rgba(255,255,255,0.15) 0 0 0 1px; box-shadow: inset rgba(255,255,255,0.15) 0 0 0 1px; text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
background: #889096; /* Old browsers */
background: -moz-linear-gradient(top,  #889096 0%, #696f74 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#889096), color-stop(100%,#696f74)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #889096 0%,#696f74 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #889096 0%,#696f74 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #889096 0%,#696f74 100%); /* IE10+ */
background: linear-gradient(top,  #889096 0%,#696f74 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#889096', endColorstr='#696f74',GradientType=0 ); /* IE6-9 */ }
.aButton:hover { background: #889096; }


/* @group Table */

table.tabla {
	border-collapse: collapse;
	border-spacing: 0;
}

.tableOptions { padding: 0 0 15px 0; }
table.tabla { width: 100% !important; }
table.tabla { border: 1px solid #e9e9e9; }
table.tabla tr td,
table.tabla tr th { padding: 10px; border: 1px solid #f2f2f2; }
table.tabla thead tr th { background: #f2f2f2; font-weight: bold; color:  #5d5d5d; text-align: left; }
table.tabla tbody tr:nth-child(even) td { background: #f9f9f9; }
table.tabla tbody tr th { text-align: left; font-weight: bold; }
table.tabla,table.dataTable a { color: #5d5d5d; height: auto; font-weight: bold; text-shadow: white 0 1px 0; }
table.tabla,table.dataTable a:hover { color: #434343; }
table.tabla tbody tr td:last-child { text-align: right; }

/* @end */


#mainlogin { width: 500px; margin: 0 auto; padding: 40px; }
#mainlogin h4 { text-align: center; padding: 0 0 40px; }
#mainlogin label { width: 100px; text-align: right; }
#mainlogin input[type="text"],
#mainlogin input[type="password"] { width: 308px; }
#mainlogin .formSubmit { padding-right: 50px; }


/* @end */

footer { width: 940px; margin: 0 auto; padding: 20px 10px; text-shadow: white 0 1px 0; }
footer p { margin: 0; }

div.tip {
	padding: 15px;
	margin-top: 10px;
	margin-left: 170px;
	background-color: #F2F2F2;
	color: #5D5D5D;
	-moz-border-radius: 35px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #CCCCCC;
}
