.page-break { display:block; clear:both; page-break-after:always; }
.navbar { display: none !important; }
.container-fluid .row-fluid .span3 { display: none !important; }
footer { display: none !important; }
legend { display: none !important; }  
fieldset { border: none !important; }
div.dataTables_length, 
div.dataTables_filter,
div.dataTables_info,
div.dataTables_paginate
 { display: none !important; }
* { color: black !important; font-family: Helvetica !important; background: none !important; font-size: 12px; }
body { padding: 0; }
.table thead tr { 
    border-top: 2pt solid black !important; 
    border-bottom: 2pt solid black !important;
}
h1 { 
    font-size: 20pt;
    text-align: center !important; 
    margin-bottom: 20pt;    
}

/*  Alineaciones    */
.txRight { text-align: right !important;}
.txLeft { text-align: left !important;}
.txCenter { text-align: center !important;}
.txJustify { text-align: justify !important;}

.table tbody tr { border: 1pt solid gray !important; }
.table tbody td, .table thead th { padding: 3px !important; color: black !important; font-size: 12px !important; }
.table thead th {border: 2pt solid gray !important; background-color: #ddd !important; }
.table .table th { background-color: #eee !important; }
div.logo-img span { display: block; }
div.logo-img { 
    display: block !important; 
    text-align: center;
    font: 7pt;
    margin-bottom: 25pt;
}

.not-print { display: none !important; }
@page { margin: 2cm 1cm; }