.navbar { display: none !important; }
.container-fluid .row-fluid .span2 { display: none !important; }
form.carreras-estudiadas-periodo, 
form.carreras-estudiadas,
form.secciones-docente,
form.periodos-habiles
{ display: none !important; }
footer { display: none !important; }
legend { display: none !important; }  
fieldset { border: none !important; }
div.dataTables_length, 
div.dataTables_filter,
div.dataTables_info,
div.dataTables_paginate
 { display: none !important; }
* { color: black !important; font-family: Arial !important; background: none !important; }
body { padding: 0; }
table.table thead tr { 
    border-top: 1px solid black !important; 
    border-bottom: 1px solid black !important;
}
h1 { 
    font-size: 20pt !important; 
    text-align: center !important; 
    margin-bottom: 10pt;    
}
table.table tbody tr { border-bottom: 1px solid gray !important; }
table.table tbody td, table.table thead th { padding-top: 4px; padding-bottom: 4px; color: black !important; font-size: 9px !important; border: none !important; }
table.table tfoot th, table.table tfoot td { font-size: 9px !important; }
table.table thead th { text-transform: uppercase; }
/*form.informacion-tabulada li { overflow: hidden; line-height: 100% !important; }
form.informacion-tabulada div.contenedorelemento { width: 110pt !important; font-size: 9px !important; }*/
form.informacion-tabulada label.etiqueta { font-size: 7pt !important; }
form.informacion-tabulada div.contenedorelemento span { font-size: 7pt !important; margin-left: 150px !important; }
form.informacion-tabulada > fieldset > ul > li { width: 320px !important; }
.table-condensed th { padding: 3px !important; }
div.logo-img span { display: block; }
div.logo-img { 
    display: block !important; 
    text-align: center;
    font: 7pt;
    margin-bottom: 25pt;
}
.not-print { display: none !important; }
div.items-container div.item { width: 280px; }
div.item { line-height: 9px !important; }
div.item label { font-size: 9px !important; line-height: 9px !important; }
div.item span {  font-size: 9px !important; margin-left: 150px !important; line-height: 9px !important; }
div.items-container div.page-header { border: 0 !important; padding: 0 !important; }
div.items-container div.page-header h2 { font-size: 14px !important; border: 1px solid black; border-style: solid none; }
div.items-container div.page-header h3 { font-size: 11px !important; }
caption { font-size: 9px !important; }
table.table tfoot tr { background-color: transparent; }
div.alert{ display: none; }

table.table-condensed tbody td { padding: 2px !important; font-weight: normal; }

@page { margin: 2cm 1cm; }