.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ["#{params[:kind].capitalize} Competencias", competences_performance_seguimiento_index_path.gsub('seguimiento', params[:kind])+(Rails.configuration.cliente.eql?( :maserrazuriz ) ? '?detalle=true' : '')], [selected_position.user.rut_name, '#', :active] ]
    :css
        td {white-space: normal !important}
    %h3 Detalle competencias
    .col-xs-12
        - @items.each do |i|
            %table.table.simple.table-striped.table-bordered.table-condensed
                %thead
                    %tr
                        %th Competencia
                        %th Fecha Inicio
                        %th Fecha Límite
                        %th Evaluación
                %tbody
                    %tr
                        - t = TracingCompetence.first(kind:'evaluacion',period_id: current_period.id,planification_competence_id: i.id)
                        %td= i.competence.name
                        %td= l i.start_date unless i.start_date.nil?
                        %td= l i.end_date unless i.end_date.nil?
                        %td= PlanificationCompetence::LEVELS[t.increase] #PlanificationCompetence::LEVELS[i.evaluation_result-1]
            - if i.tracing_competences.all.length > 0
                %table.table.simple.table-striped.table-bordered.table-condensed
                    %thead
                        %tr
                            - if false
                                %th ID
                            %th Fecha
                            - if tipo_modelo? :saville
                                %th Conductas
                            - else
                                %th Conducta
                            %th Avance
                            %th{style: 'text-align: left'} Tipo
                    - i.tracing_competences.all.each do |t|
                        %tbody
                            %tr
                                - if false
                                    %td ID
                                %td= l t.trace_date unless t.trace_date.nil?
                                - if tipo_modelo? :saville
                                    %td= JSON(t.planification_competence.conduct).map {|i| "#{(c = Conduct.get(i)).blank? ? '' : "  #{c.description} <br>"}" }.join("").html_safe # _t.blank? ? '' : "#{_t.number} #{_t.description}"
                                - else
                                    - _t = Conduct.first( id: t.conduct_id)
                                    %td= _t.blank? ? '' : "#{_t.number} #{_t.description}"
                                %td= PlanificationCompetence::LEVELS[t.increase]
                                %td= t.kind.capitalize
        %hr
    %h3 Acuerdos y Comentarios
    .col-xs-12
        %table.table.table-condensed.table-bordered.table-striped.simple
            %thead
                %tr
                    %th Tipo
                    %th Competencia y Nivel
                    %th Fecha
                    %th Detalle
            %tbody
                - Agreement.all( evaluated_id: selected_position.user_id, period_id: current_period.id, :meta_o_conducta.not => nil, order: :fecha.desc ).each do |ag|
                    %tr
                        %td= ag.acuerdo_o_comentario
                        %td= ag.meta_o_conducta
                        %td= l ag.fecha
                        %td= ag.detalle
    %hr
    - tc   = TracingCompetence.all(:period_id => current_period.id, :evaluated_id => evaluated.user_id)
    - plan = @items.select{|x| x.period_id == current_period.id}.first
    - if evaluated.user_id == current_user.user_id
        .page-header
            %h4 No puedes editar tu propia evaluación
    - else
        - if (tc.first.nil? && !current_period.evaluation_closed) || (tc.first && !tc.first.closed)
            - if !plan.blank? && plan.evaluator_closed && plan.evaluated_closed
                .page-header
                    %h3
                        = params[:kind].eql?('seguimiento') ? "Nuevo #{params[:kind].capitalize}" : "Nueva Evaluación"
                = render :partial => 'performance/monitoring/partials/competences_form'
            - else
                .page-header
                    %h4 No puede dar seguimiento si la planificación no ha sido cerrada
        - else
            .page-header
                %h3 Las evaluaciones están cerradas
