.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ [  params[:kind] == "seguimiento" ? 'Seguimiento Competencias' : 'Evaluación Competencias' , competences_performance_seguimiento_index_path], [selected_position.user.rut_name, '#', :active], ['Ver detalle', '?detalle=true'] ]
    = notices
    %table#example.table.table-striped.table-bordered.table-condensed.simple
        %thead
            %tr
                %th Competencia
                %th{style:"text-align:center"} Conductas
                -#%th{style:"text-align:center"} Fecha Inicio
                -#%th{style:"text-align:center"} Fecha Límite
                %th{style:"text-align:center"} Fecha
                %th Fase
                %th Evaluación
        %tbody
            - @items.each do |i|
                - data = i.evaluation_results
                - first = data.delete_at 0
                - trc = TracingCompetence.last(planification_competence_id: i.id)
                %tr
                    %td= i.competence.name
                    %td{style:"text-align:center"}=JSON(i.conduct).map {|i| "#{(c = Conduct.get(i)).blank? ? '' : "  #{c.description} <br>"}" }.join("").html_safe
                    -#%td{style:"text-align:center"}= l i.start_date unless i.start_date.nil?
                    -#%td{style:"text-align:center"}= l i.end_date unless i.end_date.nil?
                    - if !first.blank?&&!first[:date].blank?
                        %td{style:"text-align:center"}= l first[:date]
                    - else
                        %td.fondo-gris
                    - unless first.nil?
                        %td=  trc.kind.eql?('seguimiento') ?  trc.kind.titleize : "Evaluación"  unless trc.blank?
                        %td.aLeft
                            - if Rails.configuration.tipo_conductas.eql?(:niveles)
                                = first[:result].eql?(1) ? 'Si' : 'No'
                            - elsif Rails.configuration.tipo_conductas.eql?(:factores_claves)
                                - if evaluated.user_id == current_user.user_id && i.closed || evaluated.user_id != current_user.user_id
                                    = PlanificationCompetence::LEVELS[first[:result] -1]
                    - else
                        %td.fondo-gris
                        %td.fondo-gris
                - data.each do |er|
                    %tr
                        %td.fondo-gris{colspan: 3}
                        %td
                        %td= l er[:date] unless er[:date].nil?
                        %td.aLeft
                            - if Rails.configuration.tipo_conductas.eql?(:niveles)
                                = er[:result].eql?(1) ? 'Si' : 'No'
                            - elsif Rails.configuration.tipo_conductas.eql?(:factores_claves)
                                - if evaluated.user_id == current_user.user_id && i.closed || evaluated.user_id != current_user.user_id
                                    = PlanificationCompetence::LEVELS[er[:result]]
    %hr
    %p{style: "color:red"} Recuerde que para cerrar las evaluaciones, cada Competencia debera tener un valor guardado en fase de evaluación
    - tc   = TracingCompetence.all(:period_id => current_period.id, :evaluated_id => evaluated.user_id,kind: params[:kind])
    - plan = @items.select{|x| x.period_id == current_period.id}.first
    - if evaluated.user_id == current_user.user_id
        - if !tc.first.blank? && tc.first.closed && tc.first.aprobe == -1
            .page-header
                = link_to 'Aprobar evaluación', |
                  competences_close_aprove_performance_evaluacion_path(id: evaluated.user_id), :class => "btn btn-info",                  |
                  :confirm => '¿Usted ha recibido retroalimentación de su jefe acerca de su desempeño?'
                %button.btn.btn-danger.btn-medium{"data-target" => "#myModalfuncion", "data-toggle" => "modal", :type => "button"} Rechazar Evaluación
                %head
                    %meta{:charset => "utf-8"}/
                    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
                    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
                    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
                    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
                %body
                    .container
                        #myModalfuncion.modal.fade{:role => "dialog"}
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        %button.close{"data-dismiss" => "modal", :type => "button"} ×
                                        %h4.modal-title Apelación de evaluación
                                    .modal-body
                                        = form_for :competences_close_refuse ,url: competences_close_refuse_performance_evaluacion_path(id: evaluated.user_id),method:"get", class: "main-form" do |f|
                                            = f.text_area :apelacion ,rows: "10",cols:"60", :required => true
                                            = f.submit "Enviar Apelación",class:"btn btn-danger", data: {confirm:"¿Está seguro? \n ¿Usted ha recibido retroalimentación de su jefe acerca de su desempeño?"}
                                    .modal-footer
                                        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
        - else
            - if !tc.first.blank?
                - if tc.first.aprobe == 1
                    .page-header
                        %h4 Evaluación Aprobada
                - elsif tc.first.aprobe == 0
                    .page-header
                        %h3 Evaluación Rechazada
                        %hr
                        %h4 Apelación:
                        %h4= tc.first.apelacion
                - else
                    .page-header
                        %h4 No puedes editar tu propia evaluación
            - else
                .page-header
                    %h4 No puedes editar tu propia evaluación
    - else
        - if (tc.first.nil? && !current_period.evaluation_closed) || (tc.first && !tc.first.closed)
            - if !plan.blank? && plan.evaluator_closed && plan.evaluated_closed

                - if !tc.first.blank? && !tc.first.closed && tc.length == @items.length && params[:kind] != 'seguimiento'
                    .page-header
                        = link_to 'Terminar evaluación', |
                          competences_close_performance_evaluacion_path(evaluated.user_id), :class => "btn btn-info",                  |
                          :confirm => '¿Está seguro?'                                                                     |
                - unless tc.length == @items.length && !params[:kind].eql?('seguimiento')
                    .page-header
                        %h3
                            = params[:kind].eql?('seguimiento') ? "Nuevo #{params[:kind].capitalize}" : "Nueva Evaluación"
                    = render :partial => 'performance/monitoring/partials/competences_form'
            - else
                .page-header
                    %h4 No puede dar seguimiento si la planificación no ha sido cerrada
        - else
            .page-header
                %h3 Las evaluaciones están cerradas
            - if !tc.first.blank?
                - if tc.first.aprobe == 1
                    .page-header
                        %h4 Evaluación Aprobada
                - elsif tc.first.aprobe == 0
                    .page-header
                        %h3 Evaluación Rechazada
                        %hr
                        %h4 Apelación:
                        %h4= tc.first.apelacion
