:ruby
  if params[:kind] == "seguimiento"
    action = @item.new? ? kpisave_performance_seguimiento_index_path : kpiupdate_performance_seguimiento_path(@item.id)
  else
    action = @item.new? ? kpisave_performance_evaluacion_index_path : kpiupdate_performance_evaluacion_path(@item.id)
  end

  calculo = lambda do |x|
    return 0 if x < 84.0
    return 1 if x >= 84.0 and x < 94.0
    return 2 if x >= 94.0 and x < 104.0
    return 3 if x >= 104.0 and x < 114.0
    return 4 if x >= 114.0
  end

.col-lg-12.col-md-12.col-sm-12.col-xs-12
  - arr =  ['Bajo lo esperado' , 'Proximo a lo esperado', 'Resultado esperado', 'Sobre lo esperado', 'Excepcional']
  - plan = @items.select{|x| x.period_id == current_period.id}.first
  - result = []
  = crud_bar [ ["#{params[:kind].capitalize} Metas Desempeño Individual", kpi_performance_seguimiento_index_path], [selected_position.user.rut_name, '#', :active] ]
  = notices
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  %body
    .container
      #myModalfuncion.modal.fade{:role => "dialog"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Apelación de evaluación
            .modal-body
              = form_for :kpi_close_refuse ,url: kpi_close_refuse_performance_evaluacion_path(id: evaluated.user_id),method:"get", class: "main-form" do |f|
                = f.text_area :apelacion ,rows: "10",cols:"60", :required => true
                = f.submit "Enviar Apelación",class:"btn btn-danger", data: {confirm: "¿Está seguro? \n ¿Usted ha recibido retroalimentación de su jefe acerca de su desempeño?"}
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
  %table#example.table.table-striped.table-bordered.table-condensed.simple
    %thead
      %tr
        %th Meta
        %th= "Comentario #{params[:kind].capitalize}"
        %th Ponderación meta
        %th Fecha meta
        %th Fecha Seguimiento
        %th Porcentaje Avance (0% - 100%)
        -#%th Resultado
        %th Fase
        %th
    %tbody
      - @items.each do |i|
        - t = i.tracing_kpi
        -va = 0
        = form_for @item, :url => action, :html => {:class => 'form'} do |f|
          .form-group
            %tr
              %td
                = i.key_performance_indicator.description
                %p{style: "font-style: oblique; font-weight: lighter; color:#969696;"}=i.key_performance_indicator.detail
              -#%td= KeyPerformanceIndicator::CODES_ARRAY[i.key_performance_indicator.code]
              - if !t.first.closed
                %td{style:"width:100px"}= f.text_area :comment , rows: 5, cols:20 #, value: t.blank? ? '' : t.comment
              - else
                %td
              %td{style: "width: 100px"}= "#{i.key_performance_indicator.ponderation}%"
              -# if evaluated == current_user.position && i.closed
              %td{style: "width: 130px"}= l(i.key_performance_indicator.end_date) unless i.key_performance_indicator.end_date.blank?

              - if !t.blank? && !t.first.closed
                %td{style: "width: 130px"}= f.text_field :trace_date, :class => 'inputMedium form-control',value: Date.today.strftime("%d/%m/%Y"),readonly: true
              - else
                %td
              %td{style: "width: 130px"}
                - if !t.blank? && !t.first.closed
                  - if evaluated.user_id != current_user.user_id && plan.evaluator_closed && plan.evaluated_closed
                    = f.text_field :increment,:value => va , :class => 'inputMedium form-control avance',:style => "width: 50px", :onchange => "compruebaAvance(this.value)"
                    = f.hidden_field :planification_id, :value => i.id
                    = f.hidden_field :evaluated_id, :value => evaluated.user_id
                    = f.hidden_field :evaluator_id, :value => evaluator.blank? ? evaluated.boss_position.user_id : evaluator.user_id
                    = f.hidden_field :kind, :value => params[:kind]
                    = "%"
                - else
                  %td

              -#%td= arr[calculo.(t.increase)] unless t.blank?
              %td

              - if t.blank? || !t.first.closed
                - if !plan.blank? && !plan.evaluator_closed && !plan.evaluated_closed
                  %td

                - else
                  - if evaluated.user_id != current_user.user_id || current_role.name =='Administrador'
                    - if !plan.blank? && plan.evaluator_closed && plan.evaluated_closed
                      %td
                        .form-group
                          .controls
                            = btn_guardar
            - t.each do |tr|
              %tr
                %td
                %td.fondo-gris{style:"width:100px"}= tr.blank? ? '' : tr.comment
                %td.fondo-gris{style: "width: 100px"}=# "#{i.key_performance_indicator.ponderation}%"
                -# if evaluated == current_user.position && i.closed
                %td.fondo-gris{style: "width: 130px"}=# l(i.key_performance_indicator.end_date) unless i.key_performance_indicator.end_date.blank?
                - if t.length <0
                  %td.fondo-gris{colspan: 4}
                - else
                  %td.fondo-gris{style: "width: 130px"}= l tr.trace_date
                  %td.fondo-gris{style: "width: 130px"}= "#{tr.increment}%"
                  -# result <<  tr.increment
                  - va = tr.blank? ? 0 : tr.increment
                  - result << va unless va < 1 || tr.kind.capitalize == 'Seguimiento'
                  %td.fondo-gris= tr.kind.capitalize unless tr.blank?
                  %td

      %tr
        %td{colspan:4}
          %p{style: "color:red"} Recuerde que para cerrar las evaluaciones, cada meta debera tener un valor guardado en fase de evaluación
        - unless result.blank?
          %th Resultado Promedio:
          - r = (result.sum / result.length) unless result.length < 1
          %td= "#{r}%"
          %td{colspan:2}
            - tk   = TracingKpi.all(:period_id => current_period.id, :evaluated_id => evaluated.user_id)
            - plan = @items.select{|x| x.period_id == current_period.id}.first
            - if evaluated.user_id == current_user.user_id
              - if !tk.first.blank? && tk.first.closed && tk.first.aprobe == -1
                -logger.info "TK : #{tk.first.inspect}".red.bold
                .page-header
                  = link_to 'Aprobar evaluación', |
                    kpi_close_aprove_performance_evaluacion_path(id: evaluated.user_id), :class => "btn btn-info",                  |
                    :confirm => '¿Usted ha recibido retroalimentación de su jefe acerca de su desempeño?'

                  %button.btn.btn-danger.btn-medium{"data-target" => "#myModalfuncion", "data-toggle" => "modal", :type => "button"} Rechazar Evaluación

              - else
                - if !tk.first.blank?
                  - if tk.first.aprobe == 1
                    .page-header
                      %h4 Evaluación Aprobada
                  - elsif tk.first.aprobe == 0
                    .page-header
                      %h3 Evaluación Rechazada
                      %hr
                      %h4 Apelación:
                      %h4= tk.first.apelacion
                  - else
                    .page-header
                      %h4 No puedes editar tu propia evaluación
                - else
                  .page-header
                    %h4 No puedes editar tu propia evaluación
            - else
              - if (tk.first.nil? && !current_period.evaluation_closed) || (tk.first && !tk.first.closed)
                - if !plan.blank? && plan.evaluator_closed && plan.evaluated_closed
                  - if !tk.first.blank? && !tk.first.closed && @items.length == result.length
                    = link_to 'Terminar evaluación', |
                      kpi_close_performance_evaluacion_path(evaluated.user_id), :class => "btn btn-info",                  |
                      :confirm => '¿Está seguro?'                                                                     |

                    -#.panel-heading
                    -#  %h3
                    -#    - if params[:kind] == "seguimiento"
                    -#      Nuevo Seguimiento
                    -#    - else
                    -#      Nueva Evaluación
                    -#.panel-body
                    -#  = render :partial => 'performance/monitoring/partials/kpiform'
                - else
                  .page-header
                    %h4 No puede dar seguimiento si la planificación no ha sido cerrada
              - else
                .page-header
                  %h3 Las evaluaciones están cerradas
                - if !tk.first.blank?
                  - if tk.first.aprobe == 1
                    .page-header
                      %h4 Evaluación Aprobada
                  - elsif tk.first.aprobe == 0
                    .page-header
                      %h3 Evaluación Rechazada
                      %hr
                      %h4 Apelación:
                      %h4= tk.first.apelacion
