:ruby
  action = meta_transversal_save_performance_evaluacion_index_path

.col-lg-12.col-md-12.col-sm-12.col-xs-12
  - arr =  ['Bajo lo esperado' , 'Proximo a lo esperado', 'Resultado esperado', 'Sobre lo esperado', 'Excepcional']
  - plan = @items.select{|x| x.period_id == current_period.id}.first
  - result = []
  = crud_bar [ ["Evaluación de Metas Transversales", meta_transversal_performance_evaluacion_index_path], [selected_position.user.rut_name, '#', :active] ]
  = notices

  %table#example.table.table-striped.table-bordered.table-condensed.simple
    %thead
      %tr
        %th Meta
        %th Periodo a evaluar
        %th Fecha evaluación
        %th Porcentaje cumplimiento (0% - 100%)
        %th
    %tbody
      - @items.each do |i|
        = form_for @item, :url => action, :html => {:class => 'form'} do |f|
          .form-group
            %tr
              %td= i.description
              %td= i.period.name unless i.period.blank?
              - if i.tracing_mt.all.length <0
                %td.fondo-gris{colspan: 4}
              - else
                - t = i.tracing_mt.first
                - if !t.blank? && t.closed
                  %td= l t.trace_date
                - else
                  %td{style: "width: 150px"}= f.text_field :trace_date, :class => 'inputMedium form-control',value: Date.today.strftime("%d/%m/%Y"),readonly: true

                %td{style: "width: 130px"}
                  - if !t.blank? && t.closed
                    = t.increment
                    \%
                    - result <<  t.increment
                  - else
                    - if evaluated != current_user.position
                      - va = t.blank? ? 0 : t.increment
                      - result << va unless va < 1
                      = f.text_field :increment,:value => va , :class => 'inputMedium form-control avance',:style => "width: 50px", :onchange => "compruebaAvance(this.value)"
                      = f.hidden_field :meta_transversal_id, :value => i.id
                      = f.hidden_field :evaluated_id, :value => evaluated.user_id
                      = f.hidden_field :evaluator_id, :value => evaluator.user_id
                      = "%"
                    - else
                      =t.increment unless t.blank?
                - if t.blank? || !t.closed
                  - if !plan.blank? && !plan.admin_closed && !plan.closed
                    %td
                  - else
                    - if evaluated != current_user.position
                      %td
                        .form-group
                          .controls
                            = btn_guardar
      %tr
        %td
      %tr
        %td
        %td
        %td
        %td
        %th Resultado Promedio:
        - r = (result.sum / result.length) unless result.length < 1
        %td= "#{r}%"

  - tk   = TracingMt.all(:period_id => current_period.id, :evaluated_id => evaluated.user_id)
  - plan = @items.select{|x| x.period_id == current_period.id}.first
  - if evaluated == current_user.position
    .page-header
      %h4 No puedes editar tu propia evaluación
  - else
    - if current_user.role == 'Administrador' && !tk.first.blank? && tk.first.closed
      = link_to 'Abrir evaluación', |
        mt_open_performance_evaluacion_path(id:evaluated.user_id), :class => "btn btn-warning",                  |
        :confirm => '¿Está seguro?'                                                                     |
    - if (tk.first.nil? && !current_period.evaluation_closed) || (tk.first && !tk.first.closed)
      - if !plan.blank? && plan.closed
        .panel.panel-default
          - if !tk.first.blank? && !tk.first.closed && @items.length == result.length
            .page-header
              = link_to 'Terminar evaluación', |
                mt_close_performance_evaluacion_path(id:evaluated.user_id), :class => "btn btn-info",                  |
                :confirm => '¿Está seguro?'                                                                     |
