<div class="col14" id="mainTitle">
	<h3><span><%= params[:kind].capitalize %> Competencias
		<% if selected_position %>
			 &raquo; <%= selected_position.user.name %>
		<% end %>
	</span></h3>
</div>

<% @items.each do |i| %>
	<table cellpadding="0" cellspacing="0" class="tabla" id="example" style="width:100%;" >
		<thead>
			<tr>
				<th style="background-color: #CCC">ID</th>
				<th style="background-color: #CCC">Competencia</th>
				<th style="background-color: #CCC">Conducta</th>
				<th style="background-color: #CCC">Fecha inicio</th>
				<th style="background-color: #CCC">Fecha meta</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= i.id %></td>
				<td><%= i.competence.name %></td>
				<td><%= raw JSON(i.conduct).map {|i| "<li>#{Conduct.get(i).description}</li>" }.join("") %></td>
				<td><%= l i.start_date unless i.start_date.nil? %></td>
				<td><%= l i.end_date unless i.end_date.nil? %></td>
			</tr>
		</tbody>
	</table>
	<% if i.tracing_competences.all.length > 0  %>
		<table cellpadding="0" cellspacing="0" class="tabla" id="example" style="width:100%;" >
			<thead>
				<tr>
					<% if false %><th>ID</th><% end %>
					<th>Fecha</th>
					<th>Conducta</th>
					<th>Avance</th>
					<th style="text-align: right">Tipo</th>
				</tr>
			</thead>
			<% i.tracing_competences.all.each do |t| %>
			<tbody>
				<tr>
					<% if false %><td><%= t.id %></td><% end %>
					<td><%= l t.trace_date unless t.trace_date.nil? %></td>
					<td><%= Conduct.first(fields: [:description], id: t.conduct_id).description %></td>
					<td><%= ['Malo', 'Insuficiente', 'Cumple', 'Superior', 'Excelente'][t.increase] %></td>
					<td><%= t.kind.capitalize %>
				</tr>
			</tbody>
			<% end %>
		</table>
		
	<% end %>
	<hr />
<% end %>
<hr />
<% tc = TracingCompetence.all(:period_id => current_period.id, :evaluated_id => evaluated.id) %>
<% if (tc.first.nil? && !current_period.evaluation_closed) || (tc.first && !tc.first.closed) %>
	<h1>Nuevo seguimiento</h1>
	<%= render :partial => 'performance/monitoring/partials/competences_form' %>
<% else %>
	<h1>Las evaluaciones están cerradas</h1>
<% end %>