.col-lg-12.col-md-12.col-sm-12.col-xs-12
    - if @data[:kpi][:data].blank? && @data[:competences][:data].blank?
        %h4.text-center No existe una planificación para evaluar. Por favor contacte a RRHH.
    - else
        - only_show = (!params[:evaluator_id].blank?&&!params[:evaluated_id].blank?)
        - if only_show
            - if @user_evaluator != @user_evaluated
                %label Evaluador:
                %span.badge= @user_evaluator.name
                %label Colaborador:
                %span.badge= @user_evaluated.name
            - else
                %label Autoevaluacion:
                %span.badge= @user_evaluator.name
        - unless @autoevaluacion.blank?
            %a.btn.btn-primary.ver-auto{href: '#'}
                %span.glyphicon.glyphicon-user
                Ver Autoevaluación
            .box-auto
                %h4 Autoevaluación
                = render partial: 'performance/monitoring/partials/formulario', locals: {data: @autoevaluacion, show: true}
        - unless @funcional.blank?
            %a.btn.btn-primary.ver-func{href: '#'}
                %span.glyphicon.glyphicon-user
                Ver Evaluación Jefe Funcional
            .box-func
                %h4 Evaluación Jefe Funcional
                = render partial: 'performance/monitoring/partials/formulario', locals: {data: @funcional, show: true}
        = form_for :planilla, :url => planilla_save_performance_evaluacion_index_path, :html => {:class => 'mainForm'}  do |f|
            = render partial: 'performance/monitoring/partials/formulario', locals: {data: @data, show: only_show}
            =# f.submit #, 'Guardar', class: 'btn btn-primary'
            - unless only_show
                #infobox.well-sm.alert-info
                    Debe completar todas las respuestas para continuar
                %br
                %button.btn.btn-primary.guardar{type: 'submit'}
                    %span.glyphicon.glyphicon-save
                    Guardar Planilla

:coffeescript
    all_selected = ->
        names = {}
        $('input:radio').each ->
            # find unique names
            names[$(this).attr('name')] = true
            return
        count = 0
        $.each names, ->
            # then count them
            count++
            return

        if $('input:radio:checked').length == count
            true
        else
            false
    $ ->
        if all_selected()
            $('#infobox').hide()
        else
            $('.guardar').attr( 'disabled', 'disabled' )


        $('.box-auto').hide()
        $('.ver-auto').click ->
            $('.ver-auto').hide()
            $('.box-auto').show 'slow'
        $('.box-func').hide()
        $('.ver-func').click ->
            $('.ver-func').hide()
            $('.box-func').show 'slow'
        $('[data-toggle="tooltip"]').tooltip({html: true})

        $(':radio').change(->
            if all_selected()
                $('.guardar').attr('disabled', false)
                $('#infobox').hide('slow')
        ).change()
