#mainTitle.col7
    %h3
        %span Editar datos personales

= simple_form_for @item, :url => user_path(@item) do |f|
    = f.input :rut, :required => true, input_html: {class: 'rut'}
    = f.input :first_name, :required => true
    = f.input :last_name, :required => true
    = f.input :email
    = f.input :address
    = f.input :phone_office
    = f.input :phone_mobile
    %p
        %h3 Actualizar contraseña
    = f.input :password
    = f.input :password_confirmation
    %p Deje en blanco si no desea cambiarla

    = f.button :submit, 'Actualizar datos', :class => 'aSubmit aS_ok right'