- unless flash[:error].blank?
    .alert.alert-danger
        = flash[:error]
- unless flash[:notice].blank?
    .alert.alert-success
        = flash[:notice]
.row
    .col-lg-7.col-md-7.col-sm-7.col-xs-12
        .form-signin
            .text-center
                %img{:alt => "Essential", :src => "/images/logos/Prop1.png", :width => "250px"}/
            %hr/
            .tab-content
                #login.tab-pane.active
                    = form_tag(controller: "users", action: "login", method: "post") do |login_form|
                        = text_field(:login, :rut, require: true, placeholder: "rut", class: "form-control top")
                        = password_field(:login, :password, require: true, placeholder: "contraseña", class: "form-control bottom")
                        = submit_tag("Ingresar", class: "btn btn-lg btn-primary btn-block")
                    -#%form{controller: 'users', action: 'login', method: 'post'}
                        %input.form-control.top{name: 'login[rut]', required: true, :placeholder => "rut", :type => "text"}/
                        %input.form-control.bottom{name: 'login[password]', required: true, :placeholder => "contraseña", :type => "password"}/
                        %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Ingresar
                #change.tab-pane
                    %form{controller: 'users', action: 'login', method: 'post'}
                        -#%input#authenticity_token{name: 'authenticity_token',value: 'ewHe2ch9FfFubOKbQWnYwtb4egsV/m1k6ddHBo7oh10=', type: 'hidden'}
                        %input.form-control.top{name: 'login[rut]', required: true, :placeholder => "rut", :type => "text"}/
                        %input.form-control.top{name: 'login[password]', required: true, :placeholder => "actual contraseña", :type => "password"}/
                        %input.form-control.top{name: 'login[password_new]', required: true, :placeholder => "nueva contraseña", :type => "password"}/
                        %input.form-control.top{name: 'login[password_rep]', required: true, :placeholder => "re-nueva contraseña", :type => "password"}/
                        %button#cambiar.btn.btn-lg.btn-primary.btn-block{type: "submit"} Cambiar
                #recover.tab-pane
                    %form{controller: 'users', action: 'login', method: 'post'}
                        -#%input#authenticity_token{name: 'authenticity_token',value: 'ewHe2ch9FfFubOKbQWnYwtb4egsV/m1k6ddHBo7oh10=', type: 'hidden'}
                        %input.form-control.top{name: 'login[rut_recover]', required: true, :placeholder => "rut", :type => "text"}/
                        %button#recover_p.btn.btn-lg.btn-primary.btn-block{type: "submit"} Recuperar
            %hr/
            .text-center
                %ul.list-inline
                    %li
                        %a.text-muted{"data-toggle" => "tab", :href => "#login"} Ingresar
                    %li
                        %a.text-muted{"data-toggle" => "tab", :href => "#change"} Cambiar contraseña
                    %li
                        %a.text-muted{"data-toggle" => "tab", :href => "#recover"} Recuperar contraseña

:javascript
    (function($){
        $(document).ready(function() {
            $('.list-inline li > a').click(function() {
                var activeForm = $(this).attr('href') + ' > form';
                $(activeForm).addClass('animated fadeIn');
                //set timer to 1 seconds, after that, unload the animate animation
                setTimeout(function() {
                    $(activeForm).removeClass('animated fadeIn');
                }, 1000);
            });
            var t = $('meta[name=csrf-token]').attr('content');
            $('#token').attr('value', t);
        });
    })(jQuery);

    //validador
    $(function(){
        $(".rut-inpt").click(function(){
            $(".alert").fadeOut(600);
        })

        $('.rut-inpt').change(function(){
            if( $(this).val().indexOf("@") == -1 ){
                $(this).val( $.formatRut($(this).val()) );
            }
        })
    });
