-#.col-lg-8.col-md-8.col-sm-8.col-xs-8
.container
    #evaluacionBox{style: 'display:inline'}
        %head
            %meta{:charset => "utf-8"}/
            %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
        - unless !@item.kh_tecnico.blank?
            #myModalfuncion.modal.fade{:role => "dialog"}
                .modal-dialog
                    .modal-content
                        .modal-header
                            %button.close{"data-dismiss" => "modal", :type => "button"} ×
                            %h4.modal-title Antes de Continuar...
                        .modal-body
                            %p
                                ="En nuestros registros este cargo tiene perfil :"
                                %strong="#{job_evaluated.profile.blank? ? "No Asignado" : job_evaluated.profile.acronim}"
                            %p
                                ="En nuestros registros el tipo de gestión de este cargo es:"
                                %strong="#{job_evaluated.management_type.blank? ? "No Asignado" : job_evaluated.management_type.name}"
                            %hr
                            %p.alert.alert-danger
                                Estos datos serán actualizados en nuestros registros según su selección
                            %p Seleccione el perfil correcto del cargo  a evaluar:
                            - Profile.all.each do |pr|
                                %input{name: "perfil",value:pr.acronim, type: 'radio'}= "#{pr.acronim}: #{pr.name}"
                            %br
                            %hr
                            %p ¿El Tipo de Gestión del cargo a evaluar es correcto?
                            %input{name: "gestion",value: 1, type: 'radio'} Si
                            %input{name: "gestion",value: 0, type: 'radio'} No
                        .modal-footer
                            %button.btn.btn-info{"data-dismiss" => "modal", :type => "button",onclick:"perfil_modal($('input[name=perfil]:checked').val(),$('input[name=gestion]:checked').val())"} Aceptar
        - unless !@item.kh_gerencia.blank?
            #khgerenciamodal.modal.fade{:role => "dialog"}
                .modal-dialog
                    .modal-content
                        .modal-header
                            %button.close{"data-dismiss" => "modal", :type => "button"} ×
                            %h4.modal-title Antes de Continuar...
                        .modal-body

                            %p El Contribuyente es Individual o tiene gente a cargo
                            %input{name: "experiencia",value: 1, type: 'radio'} Contribuyente Individual Sin Experiencia
                            %br
                            %input{name: "experiencia",value: 2, type: 'radio'} Contribuyente Individual Con Experiencia
                            %br
                            %input{name: "experiencia",value: 3, type: 'radio'} Supervisor
                            %hr
                            %p El Contribuyente que tipo de funciones tiene
                            %input{name: "funciones",value: 1, type: 'radio'} Funciones Homogeneas
                            %br
                            %input{name: "funciones",value: 2, type: 'radio'} Funciones Heterogeneas
                            %br
                            %input{name: "funciones",value: 3, type: 'radio'} Total
                            %hr
                            %label{for: "nfuncion"} Cantidad de Funciones
                            = select_tag "nfuncion", options_for_select([["2 o 3 funciones",1],["4 o 5 funciones",2],["6 o más funciones",3]]),prompt: "Seleccione..."

                        .modal-footer
                            %button.btn.btn-info{"data-dismiss" => "modal", :type => "button",onclick:"funciones_modal($('input[name=experiencia]:checked').val(),$('input[name=funciones]:checked').val(), $('#nfuncion').val())"} Aceptar
        - unless !@item.kh_relaciones_humanas.blank?
            #khrintmodal.modal.fade{:role => "dialog"}
                .modal-dialog
                    .modal-content
                        .modal-header
                            %button.close{"data-dismiss" => "modal", :type => "button"} ×
                            %h4.modal-title Antes de Continuar...
                        .modal-body
                            %p 1: Básicas -	Las relaciones interpersonales, son en base a: Cortesía, Tacto, Solicita y entrega información.
                            %p 2: Importantes -	Las relaciones interpersonales, son en base a: Comprender a los demás, hacerlos comprender, influenciar y/o persuadir, para que los otros hagan lo que el Cargo necesita. Se le denomina Liderazgo Técnico.
                            %p 3: Críticas - Las relaciones interpersonales están basadas en conseguir apoyo para Desarrollar el Negocio, Administrar el Cambio, Motivar a Colaboradores que no son de reporte directo y Negociar en condiciones difíciles, es decir, transformar un NO en SI.
                        .modal-footer
                            %button.btn.btn-info{"data-dismiss" => "modal", :type => "button",onclick:"rint_modal()"} Aceptar
.col-lg-8.col-md-8.col-sm-8.col-xs-8
    -#%h5= "Cargo Jefe: #{value evaluated.boss_position.job, :name}"
    -#%h5= "Cargo Evaluado: #{value evaluated.job, :name}"

    %table.table{style:"font-size: 9px !important; margin-bottom:0px"}
        %thead
            %tr
                %td
                %td{style:"background-color: rgb(196,19,19); color:white; font-weight:bold",colspan:4} Saber Como
                %td{style:"background-color: rgb(196,19,19); color:white; font-weight:bold",rowspan:2} Nivel
                %td{style:"background-color: rgb(196,19,19); color:white; font-weight:bold",colspan:4} Solución Problemas
                %td{style:"background-color: rgb(196,19,19); color:white; font-weight:bold",colspan:4} Responsabilidad
                %td{style:"background-color: rgb(196,19,19); color:white; font-weight:bold",rowspan:2} Total
                %td{style:"background-color: rgb(196,19,19); color:white; font-weight:bold",rowspan:2} Perfil
                %td{style:"background-color: rgb(196,19,19); color:white; font-weight:bold",rowspan:2} Nivel
            %tr
                %td
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1 Técnico
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1{style:"background-color: #f7e451 !important; text-align:center"} Gerencia
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1 Rel. Humanas
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1 Pts
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1{style:"background-color: #f7e451 !important; text-align:center"} Ámbito
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1 Desafío
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1 %
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1 Pts
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1{style:"background-color: #f7e451 !important; text-align:center"} Libertad Actuar
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1 Magnitud
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1 Impacto
                %td.col-lg-1.col-md-1.col-sm-1.col-xs-1 Pts
        %tbody
            - unless @boss.blank?
                %tr
                    %td="#{value job_evaluated.boss, :name}" # Jefe
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss.kh_tecnico, :name)
                    %td{style:"background-color:#f7e451; text-align:center"}= value(@boss.kh_gerencia, :name)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss.kh_relaciones_humanas, :name)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss, :kh_puntos)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss, :kh_nivel)
                    %td{style:"background-color:#f7e451; text-align:center"}= value(@boss.sp_ambito, :name)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss.sp_desafio, :name)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss, :sp_porcentaje)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss, :sp_puntos)
                    %td{style:"background-color:#f7e451; text-align:center"}= value(@boss.ac_libertad, :name)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss.ac_magnitud, :name)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss.ac_impacto, :name)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss, :ac_puntos)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss, :total)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss, :perfil)
                    %td{style:"background-color:#ccc; text-align:center"}= value(@boss, :nivel)
            %tr
                = form_for @item, :url => job_evaluations_path, :method => 'post', :html => {:id => 'form_cargos'} do |f|
                    = f.hidden_field :position_id, :value => job_evaluated.id
                    = f.hidden_field :perfil_select, :value => ""
                    = f.hidden_field :gestion_cargo, :value => ""
                    = f.hidden_field :experiencia, :value => ""
                    = f.hidden_field :tipo_funcion, :value => ""
                    = f.hidden_field :n_funcion, :value => ""

                    %td="#{value job_evaluated, :name}" #Evaluado
                    -# if @item.kh_tecnico.blank?
                    - if session[:prset].blank?
                        %td#ktecnico{"data-target" => "#myModalfuncion", "data-toggle" => "modal"}= selector :kh_tecnico, @item

                    - else
                        %td#ktecnico= selector :kh_tecnico, @item

                    -# else
                        %td{style:"text-align:center"}= value(@item.kh_tecnico, :name)
                    -# if @item.kh_gerencia.blank?
                    - if session[:exp].blank?
                        %td#khgerencia{"data-target" => "#khgerenciamodal", "data-toggle" => "modal"}= selector :kh_gerencia, @item
                    - else
                        %td= selector :kh_gerencia, @item
                    -# else
                        %td{style:"text-align:center"}= value(@item.kh_gerencia, :name)
                    -# if @item.kh_relaciones_humanas.blank?
                    %td#khrint{"data-target" => "#khrintmodal", "data-toggle" => "modal"}= selector :kh_relaciones_humanas, @item
                    -# else
                        %td{style:"text-align:center"}= value(@item.kh_relaciones_humanas, :name)
                    %td= value(@item, :kh_puntos)
                    %td= value(@item, :kh_nivel)
                    -# if @item.sp_ambito.blank?
                    %td= selector :sp_ambito, @item
                    -# else
                        %td{style:"text-align:center"}= value(@item.sp_ambito, :name)
                    -# if @item.sp_desafio.blank?
                    %td= selector :sp_desafio, @item
                    -# else
                        %td{style:"text-align:center"}= value(@item.sp_desafio, :name)
                    %td= value(@item, :sp_porcentaje)
                    %td= value(@item, :sp_puntos)
                    -# if @item.ac_libertad.blank?
                    %td= selector :ac_libertad, @item
                    -# else
                        %td{style:"text-align:center"}= value(@item.ac_libertad, :name)
                    -# if @item.ac_magnitud.blank?
                    %td= selector :ac_magnitud, @item
                    -# else
                        %td{style:"text-align:center"}= value(@item.ac_magnitud, :name)
                    -# if @item.ac_impacto.blank?
                    %td= selector :ac_impacto, @item
                    -# else
                        %td{style:"text-align:center"}= value(@item.ac_impacto, :name)
                    %td= value(@item, :ac_puntos)
                    %td= value(@item, :total)
                    %td= value(@item, :perfil)
                    %td= value(@item, :nivel)
.col-lg-4.col-md-4.col-sm-4.col-xs-4
    .panel-panel-default
        .pull-right
            %button.btn.btn-info{"data-target" => "#myModal", "data-toggle" => "modal"} Descripción de Cargo
    #myModal.modal.fade{:role => "dialog"}
        .modal-dialog
            .modal-content
                .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"} ×
                    %h4.modal-title Descripción de Cargo
                .modal-body
                    .panel.panel-default

                        %table.table
                            %tbody
                                %tr.sub
                                    %th{"data-target" => "#test", "data-toggle" => "collapse", style: "color:white !important"}
                                        %a.btn.btn-navbar{style: "color:white !important"}
                                            Misión
                                            %i.fa.fa-angle-down.tec
                                %tr.collapse#test
                                    %td{style: 'white-space: normal;'}!= job_evaluated.job_description.mission
                        %table.table.table-striped

                            %tr
                                %th.titulo{colspan: 4, "data-target" => "#dcfunc", "data-toggle" => "collapse", style: "color:white !important"}
                                    %a.btn.btn-navbar{style: "color:white !important"}
                                        Principales Resultados
                                        %i.fa.fa-angle-down.tec
                            %tbody.collapse.panel-collapse.list-group#dcfunc
                                %tr
                                    %th.titulo{style: 'width: 34px'} #
                                    %th.titulo ¿Qué hace?, ¿Dónde lo hace?
                                    %th.titulo ¿Para qué lo hace?
                                    %th.titulo Periodicidad
                                - MainResult.all(job_description_id: job_evaluated.job_description.id, order: :number.asc).each do |i| #@item.main_results.each do |i|
                                    %tr
                                        %td= i.number
                                        %td= i.action_function
                                        %td= i.result
                                        %td= i.periodicidad
                        %table.table.table-striped
                            %tr
                                %th.titulo{colspan: 4, "data-target" => "#dcau", "data-toggle" => "collapse", style: "color:white !important"}
                                    %a.btn.btn-navbar{style: "color:white !important"}
                                        Autoridad
                                        %i.fa.fa-angle-down.tec
                            %tbody.collapse.panel-collapse.list-group#dcau
                                %tr
                                    %td{style: 'width: 50%'}
                                        %table.table.table-striped
                                            %th.titulo Decisiones Autónomas
                                            - job_evaluated.job_description.dicisions_value.each do |i|
                                                %tr
                                                    %td= i
                                    %td{style: 'width: 50%'}
                                        %table.table.table-striped
                                            %th.titulo Recomendaciones
                                            - job_evaluated.job_description.recomendations_value.each do |i|
                                                %tr
                                                    %td= i
                        %table.table.table-striped
                            %tr
                                %th.titulo{colspan: 4, "data-target" => "#dcds", "data-toggle" => "collapse", style: "color:white !important"}
                                    %a.btn.btn-navbar{style: "color:white !important"}
                                        Dimensiones
                                        %i.fa.fa-angle-down.tec
                            %tbody.collapse.panel-collapse.list-group#dcds
                                %tr
                                    %td{style: 'width: 50%'}
                                        %table.table.table-striped
                                            %th.titulo{colspan: 2} Principales Magnitudes
                                            - job_evaluated.job_description.dimensions_financieras.each do |i|
                                                %tr
                                                    %td= i.magnitude.name
                                                    %td= decimales i.value
                                    %td{style: 'width: 50%'}
                                        %table.table.table-striped
                                            %th.titulo{colspan: 2} Recursos Asignados
                                            - job_evaluated.job_description.dimensions_no_financieras.each do |i|
                                                %tr
                                                    %td= i.magnitude.name
                                                    %td= i.value
                        %table.table.table-striped{style:"border: none;"}
                            %tr
                                %th.titulo{colspan: 4, "data-target" => "#dcsi", "data-toggle" => "collapse", style: "color:white !important"}
                                    %a.btn.btn-navbar{style: "color:white !important"}
                                        Situaciones Internas
                                        %i.fa.fa-angle-down.tec
                            %tbody.collapse.panel-collapse.list-group#dcsi
                                %tr
                                    %td{style: 'width: 50%'}
                                        %table.table.table-striped
                                            %thead
                                                %tr
                                                    %th Internas
                                            %tbody
                                                - counter1 = 0
                                                - job_evaluated.internal_situations_value.each do |i|
                                                    - counter1 +=1
                                                    %tr
                                                        %td{colspan: 6}="- "+i
                                    %td{style: 'width: 50%'}
                                        %table.table.table-striped
                                            %thead
                                                %tr
                                                    %th Externas
                                            %tbody
                                                - counter2 = 0
                                                - job_evaluated.external_situations_value.each do |i|
                                                    - counter2 +=1
                                                    %tr
                                                        %td{colspan: 6}= "- "+i
                        %table.table.table-striped{style:"border: none;"}
                            %tr
                                %th.titulo{colspan: 4, "data-target" => "#dcor", "data-toggle" => "collapse", style: "color:white !important"}
                                    %a.btn.btn-navbar{style: "color:white !important"}
                                        Otras Responsabilidades del cargo
                                        %i.fa.fa-angle-down.tec
                            %tbody.collapse.panel-collapse.list-group#dcor
                                %tr
                                    %td!= job_evaluated.aditional_responsability
                        %table.table.table-striped{style:"border: none;"}
                            %tr
                                %th.titulo{colspan: 4, "data-target" => "#dcrc", "data-toggle" => "collapse", style: "color:white !important"}
                                    %a.btn.btn-navbar{style: "color:white !important"}
                                        Relaciones Del Cargo
                                        %i.fa.fa-angle-down.tec
                            %tbody.collapse.panel-collapse.list-group#dcrc
                                %tr
                                    %td{style: 'width: 50%'}
                                        %table.table.table-striped
                                            %thead
                                                %tr
                                                    %th{colspan:12} Relaciones Internas
                                                %tr
                                                    %th.titulo ¿Con quién?
                                                    %th.titulo ¿Para qué?
                                                    %th.titulo Frecuencia
                                            %tbody
                                                - job_evaluated.internal_contacts_value.each do |i|
                                                    %tr
                                                        %td= i["quien"]
                                                        %td= i["que"]
                                                        %td= i["periodo"]
                                    %td{style: 'width: 50%'}
                                        %table.table.table-striped
                                            %thead
                                                %tr
                                                    %th{colspan:12} Relaciones Externas
                                                %tr
                                                    %th.titulo ¿Con quién?
                                                    %th.titulo ¿Para qué?
                                                    %th.titulo Frecuencia
                                            %tbody
                                                - job_evaluated.external_contacts_value.each do |i|
                                                    %tr
                                                        %td= i["quien"]
                                                        %td= i["que"]
                                                        %td= i["periodo"]
                        %table.table.table-striped{style:"border: none;"}
                            %tr
                                %th.titulo{colspan: 4, "data-target" => "#dccc", "data-toggle" => "collapse", style: "color:white !important"}
                                    %a.btn.btn-navbar{style: "color:white !important"}
                                        Conocimientos y estudios
                                        %i.fa.fa-angle-down.tec
                            %tbody.collapse.panel-collapse.list-group#dccc
                                %tr
                                    %th Estudio Basico
                                    %th Años de Estudio
                                    %th Conocimientos
                                %tr
                                    %td=  job_evaluated.estudio_basico_value
                                    %td=  job_evaluated.anios_estudio_value
                                    %td
                                        %table.table.table-striped{colspan: 12}
                                            %tbody
                                            - job_evaluated.knowledges_value.each do |i|
                                                %tr
                                                    %td{colspan: 12}= "- "+ i
                        %table.table.table-striped{style:"border: none;"}
                            %tr
                                %th.titulo{colspan: 4, "data-target" => "#dcex", "data-toggle" => "collapse", style: "color:white !important"}
                                    %a.btn.btn-navbar{style: "color:white !important"}
                                        Experiencias
                                        %i.fa.fa-angle-down.tec
                            %tbody.collapse.panel-collapse.list-group#dcex
                                %tr
                                    %th Experiencia Laboral
                                    %th Experiencia en Cargo
                                %tr
                                    %td=  job_evaluated.anios_experiencia_laboral_value
                                    %td=  job_evaluated.anios_experiencia_cargo_value
                .modal-footer
                    %button.btn.btn-info.btn-sm{"data-dismiss" => "modal", :type => "button"} Cerrar

.panel.panel-default.col-lg-8.col-md-8.col-sm-8.col-xs-8
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %table{style:"font-size:9px !important"}
            %tr
                %th Técnico
                %td
                    %p#tec{colspan:2}= value(@item.kh_tecnico, :job_evaluation_data_description, :name).html_safe
            %tr
                %th Gerencia
                %td
                    %p#ger{colspan:2}= value(@item.kh_gerencia, :job_evaluation_data_description, :name).html_safe
            %tr
                %th Rel. Humanas
                %td
                    %p#rh{colspan:2}= value(@item.kh_relaciones_humanas, :job_evaluation_data_description, :name).html_safe

            %tr
                %th Ámbito
                %td
                    %p#am{colspan:2}=value(@item.sp_ambito, :job_evaluation_data_description, :name).html_safe
            %tr
                %th Desafio
                %td
                    %p#def{colspan:2}= value(@item.sp_desafio, :job_evaluation_data_description, :name).html_safe
            %tr
                %th Libertad Actuar
                %td
                    %p#lb{colspan:2}= value(@item.ac_libertad, :job_evaluation_data_description, :name).html_safe
            %tr
                %th Magnitud
                %td
                    %p#mag{colspan:2}= value(@item.ac_magnitud, :job_evaluation_data_description, :name).html_safe
            %tr
                %th Impacto
                %td
                    %p#im{colspan:2}= value(@item.ac_impacto, :job_evaluation_data_description, :name).html_safe
.col-lg-4.col-md-4.col-sm-4.col-xs-4
    - unless @item.errores_value.blank?
        .panel.panel-danger
            .panel-heading Alertas
            .panel-body
                - @item.errores_value.each do |i|
                    %p.alert.alert-danger= i.html_safe
                = link_to 'Limpiar', job_evaluations_path ,class:"btn btn-xs btn-danger pull-right", method: "delete", data: { confirm: '¿Está Seguro?' }
.col-lg-4.col-md-4.col-sm-4.col-xs-4
    - unless @item.errores_value.blank?
        .panel.panel-default
            .panel-heading Comentarios
            .panel-body
                = form_for @item , method:"POST", url: guardacomentario_job_evaluations_path do |f|
                    = f.text_area :comentario, cols:35,rows:5
                    = btn_guardar "Guardar Comentario"
    - else
        - unless @item.comentario.blank?
            .panel.panel-default
                .panel-heading Comentarios
                .panel-body
                    %p= @item.comentario
-#.col-lg-6.col-md-6.col-sm-6.col-xs-6
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %h4= "Cargo Evaluado: #{value evaluated.job, :name}"
        = link_to 'Limpiar', job_evaluations_path,class:"btn btn-xs btn-danger", method: :delete, data: { confirm: '¿Está Seguro?' }
        = form_for @item, :url => job_evaluations_path, :method => 'post', :html => {:id => 'form_cargos'} do |f|
            = f.hidden_field :position_id, :value => evaluated.id
            %table.eval_cargos.table{style:"font-size: 9px !important; "}
                %thead
                    %tr
                        %th{colspan:4} Saber Como
                        %th{rowspan:2} Nivel
                        %th{colspan:4} Solución Problemas
                        %th{colspan:4} Responsabilidad
                        %th{rowspan:2} Total
                        %th{rowspan:2} Perfil
                        %th{rowspan:2} Nivel
                    %tr
                        %th Técnico
                        %th Gerencia
                        %th Rel. Humanas
                        %th Pts
                        %th Ámbito
                        %th Desafío
                        %th %
                        %th Pts
                        %th Libertad Actuar
                        %th Magnitud
                        %th Impacto
                        %th Pts
                %tbody
                    %tr
                        -# if @item.kh_tecnico.blank?
                        %td.val{style:"text-align:center"}= selector :kh_tecnico, @item
                        -# else
                            %td{style:"text-align:center"}= value(@item.kh_tecnico, :name)
                        -# if @item.kh_gerencia.blank?
                        %td.val{style:"text-align:center"}= selector :kh_gerencia, @item
                        -# else
                            %td{style:"text-align:center"}= value(@item.kh_gerencia, :name)
                        -# if @item.kh_relaciones_humanas.blank?
                        %td.val{style:"text-align:center"}= selector :kh_relaciones_humanas, @item
                        -# else
                            %td{style:"text-align:center"}= value(@item.kh_relaciones_humanas, :name)
                        %td{style:"text-align:center"}= value(@item, :kh_puntos)
                        %td{style:"text-align:center"}= value(@item, :kh_nivel)
                        -# if @item.sp_ambito.blank?
                        %td.val{style:"text-align:center"}= selector :sp_ambito, @item
                        -# else
                            %td{style:"text-align:center"}= value(@item.sp_ambito, :name)
                        -# if @item.sp_desafio.blank?
                        %td.val{style:"text-align:center"}= selector :sp_desafio, @item
                        -# else
                            %td{style:"text-align:center"}= value(@item.sp_desafio, :name)
                        %td{style:"text-align:center"}= value(@item, :sp_porcentaje)
                        %td{style:"text-align:center"}= value(@item, :sp_puntos)
                        -# if @item.ac_libertad.blank?
                        %td.val{style:"text-align:center"}= selector :ac_libertad, @item
                        -# else
                            %td{style:"text-align:center"}= value(@item.ac_libertad, :name)
                        -# if @item.ac_magnitud.blank?
                        %td.val{style:"text-align:center"}= selector :ac_magnitud, @item
                        -# else
                            %td{style:"text-align:center"}= value(@item.ac_magnitud, :name)
                        -# if @item.ac_impacto.blank?
                        %td.val{style:"text-align:center"}= selector :ac_impacto, @item
                        -# else
                            %td{style:"text-align:center"}= value(@item.ac_impacto, :name)
                        %td{style:"text-align:center"}= value(@item, :ac_puntos)
                        %td{style:"text-align:center"}= value(@item, :total)
                        %td{style:"text-align:center"}= value(@item, :perfil)
                        %td{style:"text-align:center"}= value(@item, :nivel)
:javascript
    $(document).ready(function(){
        var s = document.getElementsByClassName("chzn-done");
        var a = document.getElementsByClassName("chzn-container-single");
        for (i = 0; i < s.length; i++) {
            s[i].style.display="inline";
        }
        for (i = 0; i < s.length; i++) {
            a[i].style.display="none";
        }
    });

    function perfil_modal(val1,val2){
          console.log(val1,val2);
          $("#ktecnico").first().removeAttr('data-target');
          $("#ktecnico").first().removeAttr('data-toggle');
          $("#job_evaluation_perfil_select")["0"].value = val1;
          $("#job_evaluation_gestion_cargo")["0"].value = val2;
    }
    function funciones_modal(val1,val2,val3){
          console.log(val1,val2,val3);
          $("#khgerencia").first().removeAttr('data-target');
          $("#khgerencia").first().removeAttr('data-toggle');
          $("#job_evaluation_experiencia")["0"].value = val1;
          $("#job_evaluation_tipo_funcion")["0"].value = val2;
          $("#job_evaluation_n_funcion")["0"].value = val3;
    }

    function rint_modal(){
          $("#khrint").first().removeAttr('data-target');
          $("#khrint").first().removeAttr('data-toggle');
    }
