.col-lg-12.col-md-12.col-sm-12.col-xs-12
    #mainTitle.col7
        %h3
            %span Evaluación de cargos
            %br
            %p.btn.btn-xs{class:'btn-success'} Evaluación correcta
            %p.btn.btn-xs{class:'btn-warning'} Evaluación con errores justificados
            %p.btn.btn-xs{class:'btn-danger'}  Evaluación con errores
    %table#example.display.table
        %thead
            %tr
                %th Status
                %th Cargo
                %th Codigo Cargo
                %th Nivel Evaluación
                %th Jefatura
                %th
        %tbody
            - @items.each do |i|
                %tr
                    %td{style:"text-align:center"}
                        - if JobEvaluation.first(position_id: i.id).blank?
                            - clase = ''
                        - elsif JobEvaluation.first(position_id: i.id).errores_value.blank?
                            - clase = 'btn-success'
                        - elsif !JobEvaluation.first(position_id: i.id).errores_value.blank? && !JobEvaluation.first(position_id: i.id).comentario.blank?
                            - clase = 'btn-warning'
                        - elsif !JobEvaluation.first(position_id: i.id).errores_value.blank? && JobEvaluation.first(position_id: i.id).comentario.blank?
                            - clase = 'btn-danger'
                        %p.btn.btn-md{class:"#{clase}"}
                    %td= link_to value(i, :name), select_position_job_evaluations_path << "?id=#{i.id}"
                    %td= i.code unless i.code.blank?
                    %td{style:"text-align:center"}= JobEvaluation.first(position_id: i.id).blank? ? "" :  JobEvaluation.first(position_id: i.id).nivel
                    %td= i.boss.name unless i.boss.blank?
                    %td= link_to 'Seleccionar',select_position_job_evaluations_path << "?id=#{i.id}",class:"btn btn-info btn-xs"

:javascript
    $(document).ready(function(){
        $('#example').dataTable({
            "dom": '<"top"fl<"clear">>rt<"bottom"ip<"clear">>'
            //"bJQueryUI": true, "sPaginationType": "full_numbers", "iDisplayLength": 25
        });
    });
