= simple_form_for @item, :url => @item.new? ? mantenedores_inferential_functions_path : mantenedores_inferential_function_path(@item), :html => {:class => 'form-horizontal'}  do |f|
    
    
    = f.input :name, label: 'Nombre', value: @item.name
    
    .control-group
        .controls
            = btn_guardar