.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Ilativos de Función', mantenedores_inferential_functions_path], [:add, new_mantenedores_inferential_function_path, :active]]
  = render :partial => 'form'
