.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Carga masiva de competencias', mantenedores_competences_upload_index_path, :active] ]
    = notices

    .well
        %h5 Formato de carga de archivos
        %p Utilice en archivo Excel para cargar los datos al sistema
        %small
            %table.table.table-condensed
                %tr
                    %th Tipo Competencia
                    %th Nombre Competencia
                    %th Definición de la Competencia
                    %th Nivel
                    %th Conductas Jerárquicas
    = simple_form_for :upload, url: mantenedores_competences_upload_index_path, :html => {:class => 'form-horizontal'} do |f|
        / = f.input :kind, collection: {'Tipo de Competencias' => :competences_type, 'Competencias' => :competences, 'Conductas' => :conducts}, prompt: 'Seleccione el tipo'
        = f.input :file, as: :file, label: 'Archivo XLS/XLSX'
        .control-group
            .controls
                = btn_subir

:javascript
    $(function(){
        $("form").submit(function(){
            if($("#upload_file").val().length == 0)
            {
                alert("Debe seleccionar un archivo");
                return false;
            }
            return true;
        });
    })
