.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Certificaciones', mantenedores_certificacions_path, :active], [:add, new_mantenedores_certificacion_path] ]
    .page-header
        %h3 Certificaciones
        = notices
    -# .tableOptions.clearfix
    -#     = link_to 'Nueva', new_mantenedores_incomestructure_path, :class => "aButton right"
    %table.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Nombre
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.name, [:edit, edit_mantenedores_certificacion_path(i)], [:delete, mantenedores_certificacion_path(i)]]
