.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Certificaciones', mantenedores_certificacions_path], [:add, new_mantenedores_certificacion_path, :active] ]
  = render :partial => 'form'
