.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Administración de la Compensación', compensacion_compensation_index_path], ["Definir estructuras", '#', :active]]
    - existe_rut = @columnas.map{|x| x.downcase }.include?("rut")
    - unless existe_rut
        .alert.alert-danger
            %h5 No existe la columna RUT, no podra procesar este Excel. Elija otro archivo
    .well
        %h4 Seleccione que campos utilizará, debe asociar todos los datos que requiera
        -# - session[:file_path] = ''
        %p
            Está utilizando el archivo:
            %strong= @file
            %a.btn.btn-success.btn-xs{href: seleccion_compensacion_compensation_index_path}
                %span.glyphicon.glyphicon-chevron-left
                Cambiar archivo
        = notices
        - percentiles = MarketPercentile.all.map{|x| [x.name, x.id]}
        = simple_form_for :estructura, url: excel_procesa_datos_compensacion_compensation_index_path do |f|
            = f.input :horas, input_html: {value: (current_user.config "horas")||44, label: 'Horas semanales'}
            %table.table.table-bordered.no-filter
                %thead
                    %tr
                        %th Columna Excel
                        %th{width: "50px"} Campo o Estructura Salarial
                        %th Peridiocidad
                        %th Opciones
                %tbody
                    - @columnas.each_with_index do |c, i|
                        - if (!@rel_col[i].eql?("Seleccione / No corresponde"))
                            - trstyle = "background-color: lightgreen"
                        - if (@rel_col[i].eql?("Seleccione / No corresponde"))
                            - trstyle = ""
                        %tr{style: "#{trstyle}" }
                            %td= c
                            %td{width: "50px"}
                                %select{name: "rel_columna[#{i}]"}
                                    %option Seleccione / No corresponde
                                    %option{value: 'rut', selected: @rel_col[i].eql?('rut')||c.downcase.eql?('rut')} Rut
                                    %option{value: 'nivel', selected: @rel_col[i].eql?('nivel')||c.downcase.eql?('nivel')} Nivel
                                    %option{value: 'puntos', selected: @rel_col[i].eql?('puntos')||c.downcase.eql?('puntos')} Puntos
                                    %option{value: 'hsem', selected: @rel_col[i].eql?('hsem')||c.downcase.eql?('h sem.')} Horas Semanales
                                    - @estructuras.each do |e|
                                        %option{value: e.id, selected: @rel_col[i].eql?(e.id.to_s)}= e.name
                            %td
                                - unless ["rut", "idc", "cargo", "nivel", "puntos", "h sem."].include?(c.downcase)
                                    - rel_period = (@rel_period.blank?||@rel_period[i.to_s].blank?) ? 0 : @rel_period[i.to_s].to_i
                                    %select{name: "peridiocidad_columna[#{i}]"}
                                        %option{value: 1, selected: rel_period.eql?(1)} Mensual
                                        %option{value: 2, selected: rel_period.eql?(2)} Semestral
                                        %option{value: 4, selected: rel_period.eql?(4)} Trimestral
                                        %option{value: 12, selected: rel_period.eql?(12)} Anual
                            %td
                                - unless ["rut", "idc", "cargo", "nivel", "puntos", "h sem."].include?(c.downcase)
                                    .checkbox
                                        %label
                                            %input{name: "normalizar[#{i}]", type: 'checkbox'}
                                            ¿Normalizar con horas semanales?
                                    .checkbox
                                        %label
                                            %input.check-mercado{name: "mercado[#{i}][con_datos]", type: 'checkbox', i: i}
                                            ¿Datos de Mercado?
                                    .sel-estadigrafo{style: 'display: none'}
                                        %label
                                            Estadígrafo:
                                            %select{name: "mercado[#{i}][estadigrafo]", type: 'checkbox'}
                                                = options_for_select percentiles
            %button.btn.btn-primary{type: 'submit', disabled: !existe_rut, :'data-loading-text'=>"Enviando..."}
                %span.glyphicon.glyphicon-save
                Enviar

:coffeescript
    init = ->
        $('.check-mercado').change (e)->
            div = $(this).parent().parent().next('.sel-estadigrafo')
            if $(this).prop('checked') then div.show('fast') else div.hide('fast')
    $(init)
