.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ["Masa Salarial", '#', :active]]
    -# = crud_bar [ ["Masa Salarial", '#', :active], ["Masa salarial simulación", masa_salarial_simulacion_compensacion_compensation_index_path]]
    - sumatoria = true
    - tipo        = params[:filtro].blank?||params[:filtro] == "estructuras" ? "estructuras" : "todas"
    - estructuras = tipo.eql?( "estructuras")
    - todas       = tipo.eql?("todas")

    = render partial: 'compensacion/partials/filter_box', locals: {params: params}

    .btn-group.btn-group-justified
        %a.btn.btn-primary{href: '?filtro=estructuras', class: estructuras ? 'active' : '', :'data-loading-text' => "Cargando..."}
            Sólo Estructuras Salariales
        %a.btn.btn-primary{href: '?filtro=todas', class: todas ? 'active' : '', :'data-loading-text' => "Cargando..."}
            Todas las columnas
    %div{style: 'overflow: scroll'}
        %table.table.no-filter.tablesorter
            %thead
                %tr
                    %th.col-xs-1 Rut
                    %th.col-xs-2 Nombre
                    %th.col-xs-3 Cargo
                    %th.col-xs-1 Nivel
                    - @incomes.each do |income|
                        - if @incomes_show.include?(income.id)
                            - if todas
                                - detail = @data.select{|x| x.income_structure_id == income.id}.first
                                - titulos = @incomes_cols.select{|x| x[:id] == income.id}.first
                                - unless titulos.blank?
                                    - puts titulos[:detail].inspect.yellow.bold
                                    - titulos[:detail].each do |k|
                                        %th.col-xs-2.text-center
                                            = k.first[0]
                                            - unless k.first[1].blank?
                                                %br
                                                %i{style: 'font-weight: normal'}= "(#{IncomeStructureData::PERIODOS[k.first[1]]})"
                            %th.col-xs-2.text-center= income.full_name
            %tbody
                - totales = [0]*@incomes.count
                - resumen_detalle = {}
                - @masa_salarial.each do |ms|
                    - user, job = ms[:user], ms[:job]
                    %tr
                        %td= user.rut
                        %td= user.full_name
                        %td= job.name
                        %td= job.level
                        - @incomes.each do |income|
                            - if @incomes_show.include?(income.id)
                                - i_d     = ms[:incomes][income.id][:detalle]
                                - counter = ms[:incomes][income.id][:counter]
                                - #totales[income.id] += counter
                                - if todas
                                    - unless i_d.blank?
                                        - resumen_detalle[income.id] = {} if resumen_detalle[income.id].blank?
                                        - i_d.each do |idd|
                                            - idd.detail.each do |k, v|
                                                - detail = @data.select{|x| x.income_structure_id == income.id}.first
                                                %td.text-right{style: 'background-color: #FDFDFD'}
                                                    - resumen_detalle[income.id][k] = 0 if resumen_detalle[income.id][k].blank?
                                                    -# puts idd.periodicity_detail[k].inspect.green.bold
                                                    - unless v.blank? || idd.periodicity_detail[k].blank?
                                                        - val = (v.to_f / idd.periodicity_detail[k])
                                                        - resumen_detalle[income.id][k] += val.to_i
                                                        = number_with_delimiter val.round
                                                        %br
                                                        = "(#{number_with_delimiter v.round})"
                                - totales[income.id] = 0 if totales[income.id].blank?
                                - totales[income.id]+=(sumatoria ? (counter.blank? ? 0 : counter) : (i_d.blank? ? 0 : i_d.first.value.to_f)).round unless i_d.blank?
                                %td.text-right.info{data: {toggle: 'tooltip', placement: 'top'}, title: "#{number_with_delimiter(i_d.first.value.to_i) unless i_d.blank?}"}= number_with_delimiter((sumatoria ? counter : i_d.first.value.to_f).round) unless i_d.blank?
            %tfoot
                %tr{style: 'font-weight: bold; background-color: #e3e3e3'}
                    %td.text-right{colspan: 4} Total
                    - @incomes.each do |income|
                        - if @incomes_show.include?(income.id)
                            - if todas
                                - detail = @data.select{|x| x.income_structure_id == income.id }.first
                                - resumen_detalle[income.id].each do |val|
                                    %td.text-right{style: 'background-color: #e3e3e3'}= number_with_delimiter val.last
                            %td.text-right.info= number_with_delimiter totales[income.id].round

:coffeescript
    init = ()->
        $('.tablesorter').tablesorter({
            theme: 'bootstrap',
            headerTemplate: '{content} {icon}',
            widgets: ['uitheme', 'stickyHeaders'],
            widgetOptions: {
                stickyHeaders_offset : 50,
                stickyHeaders_addCaption: true
            }
        })
    $(init)

-# - @users.each do |user|
-#     - position = @positions.select{|x| x.user_id == user.id}.first
-#     - job      = @jobs.select{|x| x.id == position.job_id}.first
-#     - data     = @data.select{|x| x.position_id == position.id}
-#     - counter  = 0
-#     %tr
-#         %td= user.rut
-#         %td= user.name
-#         %td= job.name
-#         - @incomes.each do |income|
-#             - i_d = data.select{|x| x.income_structure_id == income.id}
-#             - counter += i_d.first.value.to_i unless i_d.blank?

-#             - if todas
-#                 - unless i_d.blank?
-#                     - i_d.first.detail.each do |k, v|
-#                         %th= number_to_currency v
-#             %td.text-right.info{data: {toggle: 'tooltip', placement: 'top'}, title: "#{number_with_delimiter(i_d.first.value.to_i) unless i_d.blank?}"}= number_with_delimiter(sumatoria ? counter : i_d.first.value.to_i) unless i_d.blank?


-# %table.tabla
-#     %thead
-#         %tr
-#             %th ID
-#             %th Rut
-#             %th Nombre
-#             %th Cargo
-#             - @incomes.each do |ic|
-#                 %th= ic.acronym

-#         - @items.each do |i|
-#             %tr{style: 'font-size: 10px'}
-#                 %td= i.id
-#                 %td= i.user.rut
-#                 %td= i.user.name
-#                 %td= i.user.position.job.name
-#                 -# - @incomes.each do |ic|
-#                 -#     %td= number_to_currency(i.resumen ic)


-# %br

-# .boxDefinition
-#     Columnas a mostrar:
-#     %br
-#     %br
-#     = form_for :masa_salarial_columns, url: masa_salarial_update_compensacion_compensation_index_path do |f|
-#         - IncomeStructure.all.each do |ic|
-#             = f.label ic.acronym, ic.acronym.upcase
-#             = f.check_box ic.acronym
-#         %br
-#         %br
-#         = f.submit 'Actualizar', class: 'aSubmit aS_ok right'
