%script{src: "#{request.base_url}/assets/templates/compensation/masa_salarial.js"}
.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ["Masa Salarial", '#', :active]]
    -# = crud_bar [ ["Masa Salarial", '#', :active], ["Masa salarial simulación", masa_salarial_simulacion_compensacion_compensation_index_path]]
    - sumatoria = true
    - tipo        = params[:filtro].blank?||params[:filtro] == "estructuras" ? "estructuras" : "todas"
    - estructuras = tipo.eql?( "estructuras")
    - todas       = tipo.eql?("todas")

    = render partial: 'compensacion/partials/filter_box'

    - if Rails.configuration.cliente == :uandes
        .well.well-sm
            Leyenda:
            %i{style: 'font-weight: bold'} Jornada Real
            %i{style: 'color: blue'} Jornada Proyectada
    .btn-group.btn-group-justified
        %a.btn.btn-primary{href: '?filtro=estructuras', class: estructuras ? 'active' : '', :'data-loading-text' => "Cargando..."}
            Sólo Estructuras Salariales
        %a.btn.btn-primary{href: '?filtro=todas', class: todas ? 'active' : '', :'data-loading-text' => "Cargando..."}
            Todas las columnas
    #tablas

:coffeescript
    init = ()->
        Handlebars.registerHelper 'ifIn', (elem, list, options) ->
            if list.indexOf(elem) > -1
                return options.fn(this)
            options.inverse this

        Handlebars.registerHelper 'find', (elem, list, options) ->
            return (i for i in list when i.id is elem)[0]

        $('#tablas').html HandlebarsTemplates["compensation/masa_salarial"]({incomes: #{@incomes.to_json}, incomes_show: #{@incomes_show.to_json}, data: #{@masa_salarial.to_json}, incomes_cols: #{@incomes_cols.to_json}})
        # $.each #{@incomes.map(&:id).to_json}, (_k, _v)->
        #     tmp_income = 0
        #     $.each $('.resultado-total[income_id='+_v+']'), (k, v)->
        #         tmp_income += parseFloat( $(v).attr('normalizado') )

        #     $('.total-incomes-normalizado[income_id='+_v+']').text accounting.format(tmp_income)
        try
            $('.table').tablesorter()
        catch e
            console.log 'tablesorter no iniciado', e
    $(init)
