.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ["Simulación Masa Salarial", '#', :active]]
    -# = crud_bar [ ["Masa Salarial", '#', :active], ["Masa salarial simulación", masa_salarial_simulacion_compensacion_compensation_index_path]]
    - sumatoria = true
    - tipo        = "todas"
    - estructuras = tipo.eql?( "estructuras")
    - todas       = tipo.eql?("todas")

    = render partial: 'compensacion/partials/filter_box'

    -# .btn-group.btn-group-justified
    -#     %a.btn.btn-primary{href: '?filtro=estructuras', class: estructuras ? 'active' : '', :'data-loading-text' => "Cargando..."}
    -#         Sólo Estructuras Salariales
    -#     %a.btn.btn-primary{href: '?filtro=todas', class: todas ? 'active' : '', :'data-loading-text' => "Cargando..."}
    -#         Todas las columnas

    .kinetic{style: 'overflow: scroll'}
        %table.table.no-filter.fixhead
            %thead
                %tr
                    -# %th.col-xs-1 Rut
                    -# %th.col-xs-2 Nombre
                    -# %th.col-xs-3 Cargo
                    -# %th.col-xs-1 Nivel
                    %th
                    - @incomes.each do |income|
                        - if @incomes_show.include?(income.id)
                            - if todas
                                - detail = @data.select{|x| x.income_structure_id == income.id}.first
                                - titulos = @incomes_cols.select{|x| x[:id] == income.id}.first
                                - unless titulos.blank?
                                    - titulos[:detail].each do |k|
                                        %th.col-xs-2.text-center{style: "color:#EAEAEA"}
                                            = k.first[0]
                                            - unless k.first[1].blank?
                                                %br
                                                %i{style: 'font-weight: normal'}= "(#{IncomeStructureData::PERIODOS[k.first[1]]})"
                                    -# detail.detail.each do |k, v|
                                        - next unless IncomeStructureData.exception?(k)
                                        %th.col-xs-2.text-center
                                            = k
                                            - unless detail.periodicity_detail.blank?
                                                %br
                                                %i{style: 'font-weight: normal'}= "(#{IncomeStructureData::PERIODOS[detail.periodicity_detail[k]]})"
                            %th.col-xs-2.text-center= income.full_name
                    %th.text-center= '%'
            %tbody
                - totales = [0.0]*@incomes.count
                - resumen_detalle = {}
                - @masa_salarial.each do |ms|
                    - user, job = ms[:user], ms[:job]
                    %tr
                        -# %td= user.rut
                        -# %td= user.name
                        -# %td= job.name
                        -# %td= job.nivel
                        -# %td
                        - @incomes.each do |income|
                            - if @incomes_show.include?(income.id)
                                - i_d     = ms[:incomes][income.id][:detalle]
                                - counter = ms[:incomes][income.id][:counter]
                                - #totales[income.id] += counter
                                - if todas
                                    - unless i_d.blank?
                                        - resumen_detalle[income.id] = {} if resumen_detalle[income.id].blank?
                                        - i_d.each do |idd|
                                            - idd.detail.each do |k, v|
                                                - detail = @data.select{|x| x.income_structure_id == income.id}.first
                                                - resumen_detalle[income.id][k] = 0 if resumen_detalle[income.id][k].blank?
                                                -# puts idd.periodicity_detail[k].inspect.green.bold
                                                - unless v.blank? || idd.periodicity_detail[k].blank?
                                                    - val = (v.to_f / idd.periodicity_detail[k])
                                                    - resumen_detalle[income.id][k] = 0.0 if resumen_detalle[income.id][k].blank?
                                                    - resumen_detalle[income.id][k] += val.to_f

                                        -##########################################################################
                                        -# i_d.first.detail.each do |k, v|
                                            - detail = @data.select{|x| x.income_structure_id == income.id}.first
                                            - next unless IncomeStructureData.exception?(k)
                                            - unless v.blank?
                                                - val                 = (v.to_f / detail.periodicity_detail[k].to_i)
                                                - resumen_detalle[income.id][k] = 0.0 if resumen_detalle[income.id][k].blank?
                                                - resumen_detalle[income.id][k] += val.to_f
                                        -########################################################################################

                                            -# %td.text-right{style: 'background-color: #FDFDFD'}
                                            -#     - unless v.blank?
                                            -#         - val                 = (v.to_f / detail.periodicity_detail[k])
                                            -#         - resumen_detalle[income.id][k] = 0 if resumen_detalle[income.id][k].blank?
                                            -#         - resumen_detalle[income.id][k] += val.to_i
                                            -#         = number_with_delimiter val.round
                                            -#         %br
                                            -#         = "(#{number_with_delimiter v.round})"
                                - totales[income.id] = 0.0 if totales[income.id].blank?
                                - totales[income.id]+=(sumatoria ? counter : i_d.first.value.to_f) unless i_d.blank?
                                -# %td.text-right.info{data: {toggle: 'tooltip', placement: 'top'}, title: "#{number_with_delimiter(i_d.first.value.to_i) unless i_d.blank?}"}= number_with_delimiter((sumatoria ? counter : i_d.first.value.to_f).round) unless i_d.blank?
            %tfoot
                %tr{style: 'font-weight: bold; background-color: #e3e3e3'}
                    %td.text-right Total
                    - @incomes.each do |income|
                        - if @incomes_show.include?(income.id)
                            - if todas
                                - resumen_detalle[income.id].each do |val|
                                    - rval = val.last.blank? ? 0 : val.last.round
                                    %td.text-right.original-detalle{style: 'background-color: #e3e3e3', valor: rval}= number_with_delimiter rval
                            %td.text-right.info.original{valor: totales[income.id], income_id: income.id}= number_with_delimiter totales[income.id].round
                    %td
                %tr
                    %td.text-right Ajuste <br/> (porcentual)%
                    - @incomes.each do |income|
                        - if @incomes_show.include?(income.id)
                            - if todas
                                - resumen_detalle[income.id].each_with_index do |val, k|
                                    %td.text-right{style: 'background-color: #e3e3e3'}
                                        %input.form-control.ajuste.text-right{value: 0.0, original: val.last, income_id: income.id, idx: k}
                            %td.text-right.info
                            - #number_with_delimiter totales[income.id].round
                    %td
                %tr
                    %td.text-right Ajuste <br/> (en dinero)$
                    - @incomes.each do |income|
                        - if @incomes_show.include?(income.id)
                            - if todas
                                - resumen_detalle[income.id].each_with_index do |val, k|
                                    %td.text-right{style: 'background-color: #e3e3e3'}
                                        %input.form-control.dinero.text-right{value: 0, original: val.last, income_id: income.id, idx: k}
                            %td.text-right.info
                            - #number_with_delimiter totales[income.id].round
                    %td
                %tr
                    %td.text-right Diferencias
                    - @incomes.each do |income|
                        - if @incomes_show.include?(income.id)
                            - if todas
                                - resumen_detalle[income.id].each_with_index do |val, k|
                                    %td.text-right{style: 'background-color: #e3e3e3'}
                                        %span.diferencia-value{income_id: income.id, idx: k} 0
                            %td.text-right.warning.diferencia{income_id: income.id} 0
                    %td.text-right.total-diferencia
                %tr
                    %td.text-right Resultado
                    - @incomes.each do |income|
                        - if @incomes_show.include?(income.id)
                            - if todas
                                - resumen_detalle[income.id].each_with_index do |val, k|
                                    %td.text-right{style: 'background-color: #e3e3e3'}
                                        %span.resultado{income_id: income.id, idx: k, val: val.last}= number_with_delimiter val.last.round
                            %td.text-right.info.total{income_id: income.id, total: totales[income.id]}= number_with_delimiter totales[income.id].round
                    %td.text-right.total-final.info
                        = '100%'

:coffeescript
    update_total = ->
        incomes = #{@incomes_show}
        # console.log "Incomes:", incomes
        income_anterior = 0.0
        $.each incomes, (k, income_id)->
            #console.log "each Income id:", income_id
            suma_incomes = $.map( $('.resultado[income_id='+income_id+']'), (v)->
                parseFloat( $(v).attr('val') )
            )
            if suma_incomes? && suma_incomes.length > 0
                suma_incomes = suma_incomes.reduce (a, b)-> a+b
            else
                suma_incomes = 0.0

            tot_td   = $('.total[income_id='+income_id+']')
            tot_suma = suma_incomes

            # if suma_incomes > 0
            tot_inc_anterior  = parseFloat( $('.total[income_id='+income_anterior+']').attr('total') )
            tot_suma         += tot_inc_anterior if tot_inc_anterior > 0

            # console.log "Total suma orginal: ", suma_incomes, "Nueva:", tot_suma, "id_income_anterior:", income_anterior, "ToT Inc anterior:", tot_inc_anterior
            tot_td.attr('total', tot_suma).text( $.number( tot_suma ) )
            #original = parseFloat( $('.original[income_id='+income_anterior+']').attr('valor') )
            original = parseFloat( $('.original[income_id='+income_id+']').attr('valor') )

            tot_suma = 0.0 unless tot_suma
            original = 0.0 unless original
            _total   = (parseInt(original) - parseInt(tot_suma))
            #console.log "Original", original, "Diferencia", _total, "Total", tot_td
            $('.diferencia[income_id='+income_id+']').text( $.number(_total).replace('-', '') )

            if suma_incomes > 0.0
                income_anterior = income_id

        original = $('.original:last').attr('valor')
        total    = $('.total:last').attr('total')

        $('.total-final').text( $.number( (total * 100.0) / original ) + "%" )

    init = ->
        $('.ajuste').change (e)->
            $('.dinero').val(0);
            e.preventDefault()
            val         = parseFloat( $(this).attr('original') )
            idx         = $(this).attr('idx')
            income_id   = $(this).attr('income_id')
            dif         = parseFloat( $(this).val().replace("," , ".") )

            # if(dif == 0.0)
            #     resultado = val
            # else
            resultado = val
            resultado = val * (1.0 + (dif / 100.0) )

            $('.resultado[income_id='+income_id+'][idx='+idx+']').text( $.number(resultado) ).attr('val', resultado)
            $('.diferencia-value[income_id='+income_id+'][idx='+idx+']').text( $.number( (val - resultado) * -1.0 )  )

            update_total()
        $('.dinero').change (e)->
            $('.ajuste').val(0.0);
            e.preventDefault()
            val         = parseFloat( $(this).attr('original') )
            idx         = $(this).attr('idx')
            income_id   = $(this).attr('income_id')
            dif         = parseFloat( $(this).val() )
            # if(dif == 0.0)
            #     resultado = val
            # else
            resultado = val
            resultado = val + dif

            $('.resultado[income_id='+income_id+'][idx='+idx+']').text( $.number(resultado) ).attr('val', resultado)
            $('.diferencia-value[income_id='+income_id+'][idx='+idx+']').text( $.number( (val - resultado) * -1.0 )  )

            update_total()
    $(init)
-# - @users.each do |user|
-#     - position = @positions.select{|x| x.user_id == user.id}.first
-#     - job      = @jobs.select{|x| x.id == position.job_id}.first
-#     - data     = @data.select{|x| x.position_id == position.id}
-#     - counter  = 0
-#     %tr
-#         %td= user.rut
-#         %td= user.name
-#         %td= job.name
-#         - @incomes.each do |income|
-#             - i_d = data.select{|x| x.income_structure_id == income.id}
-#             - counter += i_d.first.value.to_i unless i_d.blank?

-#             - if todas
-#                 - unless i_d.blank?
-#                     - i_d.first.detail.each do |k, v|
-#                         %th= number_to_currency v
-#             %td.text-right.info{data: {toggle: 'tooltip', placement: 'top'}, title: "#{number_with_delimiter(i_d.first.value.to_i) unless i_d.blank?}"}= number_with_delimiter(sumatoria ? counter : i_d.first.value.to_i) unless i_d.blank?


-# %table.tabla
-#     %thead
-#         %tr
-#             %th ID
-#             %th Rut
-#             %th Nombre
-#             %th Cargo
-#             - @incomes.each do |ic|
-#                 %th= ic.acronym

-#         - @items.each do |i|
-#             %tr{style: 'font-size: 10px'}
-#                 %td= i.id
-#                 %td= i.user.rut
-#                 %td= i.user.name
-#                 %td= i.user.position.job.name
-#                 -# - @incomes.each do |ic|
-#                 -#     %td= number_to_currency(i.resumen ic)


-# %br

-# .boxDefinition
-#     Columnas a mostrar:
-#     %br
-#     %br
-#     = form_for :masa_salarial_columns, url: masa_salarial_update_compensacion_compensation_index_path do |f|
-#         - IncomeStructure.all.each do |ic|
-#             = f.label ic.acronym, ic.acronym.upcase
-#             = f.check_box ic.acronym
-#         %br
-#         %br
-#         = f.submit 'Actualizar', class: 'aSubmit aS_ok right'


- ###### VERSION ANTIGUA, PROBABLEMENTE IGUAL SIRVA [14/07/2015]
-# = crud_bar [ ["Masa Salarial", masa_salarial_compensacion_compensation_index_path], ["Masa salarial simulación", '#', :active]]

-# - sumatoria = true

-# - tipo        = params[:filtro].blank?||params[:filtro] == "estructuras" ? "estructuras" : "todas"
-# - estructuras = tipo.eql?( "estructuras")
-# - todas       = tipo.eql?("todas")

-# .kinetic{style: 'overflow: scroll'}
-#     %table.table.no-filter.fixhead
-#         %thead
-#             %tr
-#                 %th.col-xs-1{rowspan: 2} Rut
-#                 %th.col-xs-2{rowspan: 2} Nombre
-#                 %th.col-xs-3{rowspan: 2} Cargo
-#                 - @incomes.each do |income|
-#                     - if @incomes_show.include?(income.id)
-#                         %th.col-xs-2.text-center= income.full_name
-#             %tr
-#                 - @incomes.each do |income|
-#                     - if @incomes_show.include?(income.id)
-#                         %th.col-xs-2.text-center
-#                             Ajuste (%)
-#                             %input.form-control.input-sm.income_change_ratio{value: 0, income_id: income.id}
-#         %tbody
-#             - @masa_salarial.each do |ms|
-#                 - user, job = ms[:user], ms[:job]

-#                 %tr
-#                     %td= user.rut
-#                     %td= user.name
-#                     %td= job.name
-#                     - @incomes.each do |income|
-#                         - if @incomes_show.include?(income.id)
-#                             - i_d     = ms[:incomes][income.id][:detalle]
-#                             - counter = ms[:incomes][income.id][:counter]

-#                             %td.text-center.info.income_detail{data: {toggle: 'tooltip', placement: 'top'}, value: counter, income_id: income.id}
-#                                 %span.original= number_with_delimiter(counter)
-#                                 %br
-#                                 %span.simulation{calculado: counter, sumatoria: 0}= number_with_delimiter(counter)

-# :javascript
-#     function sumar_todo()
-#     {
-#         var sumatoria;

-#         $.each($('.income_detail'), function(k, v) {
-#             sumatoria = parseInt( $(v).attr('sumatoria') )

-#             if (sumatoria > 0) {
-#                 $('.simulation', v).text(parseInt( $('.simulation', v).attr('calculado') ) + sumatoria);
-#             }
-#         });

-#         $.each($('.income_detail[income_id='+income_id+']'), function(k, v){
-#             $(v).attr('sumatoria', 0);
-#         });
-#     }
-#     $(function(){
-#         $('.income_change_ratio').change(function(){
-#             var income_id    = $(this).attr('income_id');
-#             var change_ratio = parseInt( $(this).val() );
-#             var original;
-#             var nuevo_valor;
-#             var siguiente;
-#             $.each($('.income_detail[income_id='+income_id+']'), function(k, v){
-#                 original    = parseInt( $(v).attr('value') );
-#                 nuevo_valor = original + original*(change_ratio/100);
-#                 siguiente = $(v).next();
-#                 while( siguiente.length == 1 )
-#                 {
-#                     original_sumatoria = siguiente.attr("sumatoria");
-#                     if( isNaN(original_sumatoria) ) original_sumatoria = 0;

-#                     siguiente.attr("sumatoria", original_sumatoria + original*(change_ratio/100));

-#                     siguiente = siguiente.next();
-#                 }
-#                 $('.simulation', v).text( accounting.formatNumber(nuevo_valor) ).attr('calculado', nuevo_valor);
-#             });
-#             sumar_todo();
-#         })
-#     })
-#
