.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Administración de la Compensación', compensacion_compensation_index_path], ["Selección de planilla de compensaciones", '#', :active]]
    .panel.panel-default
        .panel-heading
            %h4 Debe seleccionar que archivo (previamente cargado) utilizará para actualizar la Masa Salarial
            %td
                %strong El archivo marcado con el color
            %td
                %p.btn{style: "background-color: #42a0ff"}
            %td
                %strong es el archivo actual
        = notices
        %table.table.table-condensed.no-filter.fixhead.panel-body
            %thead
                %tr
                    %th{colspan: 2} Archivo
            %tbody
                - @files.each do |f|
                    - unless [".", ".."].include? f
                        %tr
                            - filecolor = ""
                            - if (@file.eql?(f))
                                - filecolor = "color: #42a0ff"
                            %td{style: filecolor }
                                %span.glyphicon.glyphicon-list-alt
                                = f
                            %td
                                %a.btn.btn-success.btn-xs{href: "?file=#{f.gsub(' ', '%20')}"}
                                    %span.glyphicon.glyphicon-upload
                                    Cargar
                                %a.btn.btn-danger.btn-xs{href: "#", file: f}
                                    %span.glyphicon.glyphicon-trash
                                    Eliminar
                                %a.btn.btn-warning.btn-xs{href: "/#{Compensacion::CompensationController::UPLOAD_BASE_PATH}/#{f}"}
                                    %span.glyphicon.glyphicon-download
                                    Descargar

    :javascript
        $(function(){
            $('.btn-danger').click(function(){
                result = confirm("Si elimina el archivo no podrá recuperarlo ¿está seguro?")
                if(result)
                {
                    $.post("#{eliminar_excel_compensacion_compensation_index_path}", {file: $(this).attr('file')}, function(){
                        location.reload();
                    })
                }
            })
        })
