.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .page-header
        %h1 Informe de resultados Evaluaciones
        %h4
            Periodo:
            = @periodo.name
            Al
            = l Date.today
    :ruby
        expandir          = []
    - data = @only_data.group_by{|x| x[:resultado]}
    - keys = data.keys
    - total = keys.map{|k| data[k].count}.sum
    - normalizado = {}
    - content_for :sidebar do
        %h4
            Sin normalizar
            (
            Total
            = total
            )
        %table.table.simple.table-condensed
            - InsertPlanification::CUADRANTES_NOMBRES.reverse.each_with_index do |i, k|
                %tr
                    - i.each_with_index do |j, jk|
                        - normalizado[j] = 0
                        %td{style: "background-color: #{InsertPlanification::CUADRANTES_COLORES.reverse[k][jk]}"}
                            %h4= j
                            .text-center
                                %small
                                    - cnt = data[j].blank? ? 0 : data[j].count
                                    = cnt
                                    = "( #{(cnt * 100)/total}% )"
    %table.table.simple.table-condensed
        %thead
            %tr
                %th{rowspan: 2} Cargo
                %th{rowspan: 2} Nombre
                %th Evaluados
                %th Estado
        %tbody
            - mse = cliente?(:maserrazuriz)
            - @items.each do |item|
                - pl, cm   = item[:planification], item[:plan_competences]
                %tr
                    %td= item[:job][:name]
                    %td= item[:user].name
                    %td
                        = item[:total_evaluados]
                        de
                        = item[:users_data].count
                    %td
                        - unless item[:users_data].blank?
                            %table.table.table-condensed
                                %tr
                                    %th Nombre
                                    %th Desempeño
                                    %th Potencial
                                    %th Matriz
                                    %th Desemp. Normaliz.
                                    %th Poten. Normaliz.
                                    %th Matriz Normalizada
                                    %th Comentarios
                                - item[:users_data].each do |ud|
                                    %tr
                                        %td{class: ("alert-success" if ud[:evaluados] > 0)}
                                            - if role_can?(:gd_informes) or mse
                                                - if mse
                                                    = link_to personal_informe_performance_informes_path + "?evaluated_id=#{ud[:position_id]}&evaluator_id=#{item[:position].id}&ver=true", class: '', :'data-loading-text' => 'Cargando...' do
                                                        %span.glyphicon.glyphicon-th-list
                                                        = "#{ud[:user].rut} - #{ud[:user].name}"
                                                - else
                                                    = "#{ud[:user].rut} - #{ud[:user].name}"
                                            %a{href: planilla_performance_evaluacion_index_path+"?evaluator_id=#{item[:position].id}&evaluated_id=#{ud[:position_id]}"}
                                                %span.glyphicon.glyphicon-user
                                            %br
                                            - unless ud[:job].blank?
                                                %strong= ud[:job][:name]

                                        - if ud[:evaluados] > 0
                                            - @comentario_eval = Agreement.first evaluator_id: item[:position].id, evaluated_id: ud[:position_id], meta_o_conducta: 'eval'
                                            - @comentario_auto = Agreement.first evaluator_id: item[:position].id, evaluated_id: ud[:position_id], meta_o_conducta: 'auto'
                                            - n_d = (( (ud[:desempeno_prom_org]*100)/item[:eval_desempeno_prom] ) * @extra_data[:desempeno_prom] ) / 100
                                            - n_p = (( (ud[:potencial_prom_org]*100)/item[:eval_potencial_prom] ) * @extra_data[:potencial_prom] ) / 100
                                            - n_c = @norm_cuadrante_lam.(n_p, n_d)
                                            - normalizado[n_c[:txt]] += 1
                                            %td
                                                = ud[:result_desempeno]
                                                = "(#{ud[:desempeno_prom]})"
                                            %td
                                                = ud[:result_potencial]
                                                = "(#{ud[:potencial_prom]})"
                                            %td.text-center{style: "background-color: #{ud[:resultado_color]}"}= ud[:resultado]
                                            %td
                                                = @escala_lam.(n_d, :desempeno)
                                                = "(#{n_d.round(1)})"
                                            %td
                                                = @escala_lam.(n_p, :potencial)
                                                = "(#{n_p.round(1)})"
                                            %td.text-center{style: "background-color: #{n_c[:color]}"}= n_c[:txt]
                                            %td
                                                - if !@comentario_auto.blank? && !@comentario_auto.detalle.blank? && @comentario_auto.detalle.length > 0
                                                    %span.glyphicon.glyphicon-ok
                                                - else
                                                    %span.glyphicon.glyphicon-remove
                                                \/
                                                - if !@comentario_eval.blank? && !@comentario_eval.detalle.blank? &&  @comentario_eval.detalle.length > 0
                                                    %span.glyphicon.glyphicon-ok
                                                - else
                                                    %span.glyphicon.glyphicon-remove
                                        - else
                                            %td{colspan: 5}
    - content_for :sidebar do
        %h4
            Normalizado
            (
            Total
            = total
            )
        %table.table.simple.table-condensed
            - InsertPlanification::CUADRANTES_NOMBRES.reverse.each_with_index do |i, k|
                %tr
                    - i.each_with_index do |j, jk|
                        %td{style: "background-color: #{InsertPlanification::CUADRANTES_COLORES.reverse[k][jk]}"}
                            %h4= j
                            .text-center
                                %small
                                    - cnt = normalizado[j]
                                    = cnt
                                    = "( #{(cnt * 100)/total}% )"
                                  
:javascript
    $('.tree').treetable({ expandable: true });
    #{
        str = ''
        expandir.each do |i|
            str << %{$('.tree').treetable('expandNode', #{i});}
        end

        str
    }
