%script{:src => "https://code.highcharts.com/highcharts.js"}
%script{:src => "https://code.highcharts.com/modules/histogram-bellcurve.js"}
%meta{:charset => "utf-8"}/
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Seleccionar colaborador', performance_planifications_path], ['Informes', performance_informes_path], ['Informe Concentración de Evaluaciones', "#" , :active] ]
    - aproc = 0 #competencias aprobadas
    - rechc = 0 #competencias rechazadas
    - pendc = 0 #competencias aprobacion pendientes
    - aprom = 0 #metas aprobadas
    - rechm = 0 #metas rechazadas
    - pendm = 0 #metas aprobacion pendientes
    .page-header


        %h2 Informe Concentración Global de Evaluaciones
        .panel.default.text-center
            %table
                %tr
                    %td
                        #containermetas.conta{:style => "width:auto; height: 350px; "}
                    %td
                        #containercompe.conta{:style => "width:auto; height: 350px; "}
            - valor = []
            - valorrech= []
            - valorpendiente = []

            - valormetas = []
            - valormetasr = []
            - valormetaspendiente =[]
            - count = 0
            - pr = []
            - notas = []
            - notas[0] = 0
            - notas[1] = 0
            - notas[2] = 0
            - notas[3] = 0
            - notas[4] = 0
            - metascount = 0



            -#%button.btn.btn-info.pull-right{"data-target" => "#examplel", "data-toggle" => "fade", :type => "button"} Mostrar Detalle

        %table.table.simple{border:"1"}
            %tr
                %th{colspan:12} Resumen de información
            %tr
                %th{rowspan:2}
                    Evaluaciones Metas Aprobadas
                %th{rowspan:2}
                    Evaluaciones Metas Rechazadas
                %th{rowspan:2}
                    Aprobación Evaluaciones Metas Pendiente
                %th{rowspan:2}
                    Evaluaciones Competencias Aprobadas
                %th{rowspan:2}
                    Evaluaciones Competencias Rechazadas
                %th{rowspan:2}
                    Aprobación Evaluaciones Competencias Pendiente
                %th{colspan:5}
                    Competencias - porcentaje
                %th{rowspan:2}
                    Metas al 100%

            %tr
                %th Bajo lo esperado
                %th Proximo a lo esperado
                %th Resultado esperado
                %th Sobre lo esperado
                %th Excepcional

            %tr
                %td#aprobadasm{style:"color:green;text-align:center"}
                %td#rechazadasm{style:"color:red;text-align:center"}
                %td#pendientesm{style:"color:gray;text-align:center"}
                %td#aprobadasc{style:"color:green;text-align:center"}
                %td#rechazadasc{style:"color:red;text-align:center"}
                %td#pendientesc{style:"color:gray;text-align:center"}
                %td#1competencias{style:"text-align:center"}
                %td#2competencias{style:"text-align:center"}
                %td#3competencias{style:"text-align:center"}
                %td#4competencias{style:"text-align:center"}
                %td#5competencias{style:"text-align:center"}
                %td#metco{style:"text-align:center"}


                %table.table.table-bordered#example
                    %thead
                        %tr
                            %th.text-center{rowspan: 2} Rut
                            %th.text-center{rowspan: 2} Nombre
                            %th.text-center{rowspan: 2} Cargo
                            %th.text-center{rowspan: 2} Sucursal
                            %th.text-center{rowspan: 2} Empresa
                            %th.text-center{rowspan: 2} Nivel Organizacional
                            -#%th.text-center{rowspan: 2} Vicepresidencia
                            %th.text-center{colspan: 3} Evaluación


                        %tr
                            %th.text-center Metas %
                            %th.text-center Competencias %
                            %th.text-center Categoría Evaluación Competencias
                            %th.text-center Evaluación Metas Aprobada
                            %th.text-center Evaluación Competencias Aprobada
                    %tbody
                        - pcou = 0
                        - @items.each do |i|
                            %tr
                                %td= i[:user].rut unless i[:user].blank?
                                %td= i[:user].full_name unless i[:user].blank?
                                %td= i[:job].name unless i[:job].blank?
                                %td= i[:job].branch_office.name unless i[:job].blank?
                                %td= i[:job].branch_office.company.name unless i[:job].blank?
                                %td= JobClass.first(id: i[:user].position.job.job_class_id).name unless i[:user].position.job.job_class_id.blank? || JobClass.first(id: i[:user].position.job.job_class_id).blank? unless i[:user].blank?
                                -#%td= Vicepresidencia.class_selector
                                    first(id: i[:user].position.job.vicepresidencia_id).name unless i[:user].position.job.vicepresidencia_id.blank? || i[:user].blank? unless i[:user].blank?
                                %td.text-right= "#{i[:evaluacion].kpi_result}%"
                                %td.text-right
                                    = i[:evaluacion].competence_ponderation.to_i
                                    =" %"
                                %td.text-right
                                    =i[:evaluacion].competence_final_result + " (#{i[:evaluacion].competence_result })"

                                -#%td.text-right= i[:evaluacion].final_result
                                - count = 1
                                - pcou += 1
                                - if i[:evaluacion].kpi_result == 100.0
                                    - metascount += 1
                                - if i[:evaluacion].kpi_aprobe == 1
                                    - valormetas << [ i[:evaluacion].kpi_result,pcou] unless i[:evaluacion].kpi_result == 0.0
                                - elsif i[:evaluacion].kpi_aprobe == 0
                                    - valormetasr << [ i[:evaluacion].kpi_result,pcou] unless i[:evaluacion].kpi_result == 0.0
                                - elsif i[:evaluacion].kpi_aprobe == -1
                                    - valormetaspendiente << [ i[:evaluacion].kpi_result,pcou] unless i[:evaluacion].kpi_result == 0.0
                                - @items.each do |x|
                                    - if i[:evaluacion].competence_result == x[:evaluacion].competence_result
                                        - count+=1
                                        - if i[:evaluacion].competence_aprobe == 1 && i[:evaluacion].evaluated_id == x[:evaluacion].evaluated_id #&& i[:evaluacion].evaluated_id == x[:evaluacion].evaluated_id
                                            - valor << [i[:evaluacion].competence_result, count]  unless i[:evaluacion].competence_result == 0.0
                                            - pr <<  i[:evaluacion].competence_result unless i[:evaluacion].competence_result == 0.0
                                        - elsif i[:evaluacion].competence_aprobe == 0 && i[:evaluacion].evaluated_id == x[:evaluacion].evaluated_id
                                            - valorrech << [i[:evaluacion].competence_result, count]  unless i[:evaluacion].competence_result == 0.0
                                            - pr <<  i[:evaluacion].competence_result unless i[:evaluacion].competence_result == 0.0
                                        - elsif i[:evaluacion].competence_aprobe == -1 && i[:evaluacion].evaluated_id == x[:evaluacion].evaluated_id
                                            - valorpendiente << [i[:evaluacion].competence_result, count]  unless i[:evaluacion].competence_result == 0.0
                                            - pr <<  i[:evaluacion].competence_result unless i[:evaluacion].competence_result == 0.0
                                - notas[0] +=1 if i[:evaluacion].competence_result.round(0) == 1
                                - notas[1] +=1 if i[:evaluacion].competence_result.round(0) == 2
                                - notas[2] +=1 if i[:evaluacion].competence_result.round(0) == 3
                                - notas[3] +=1 if i[:evaluacion].competence_result.round(0) == 4
                                - notas[4] +=1 if i[:evaluacion].competence_result.round(0) == 5


                                - if i[:evaluacion].kpi_aprobe == 1 && i[:evaluacion].kpi_result != 0.0
                                    - aprom +=1
                                    %td.text-center{style: "color: green"} Si
                                - elsif i[:evaluacion].kpi_aprobe == 0  && i[:evaluacion].kpi_result != 0.0
                                    - rechm +=1
                                    %td.text-center{style: "color: red"} No
                                - else
                                    - pendm +=1
                                    %td
                                - if i[:evaluacion].competence_aprobe == 1  && i[:evaluacion].competence_result != 0.0
                                    - aproc +=1
                                    %td.text-center{style: "color: green"} Si
                                - elsif i[:evaluacion].competence_aprobe == 0  && i[:evaluacion].competence_result != 0.0
                                    - rechc +=1
                                    %td.text-center{style: "color: red"} No
                                - else
                                    %td
                                    - pendc +=1





:javascript

    $(document).ready(function () {
        var a = #{aproc + rechc + pendc};
        var b = #{aprom + rechm + pendm};
        var porcentapc =   Math.round((#{aproc} * 100) / a) ;
        var porcentrecc =   Math.round((#{rechc} * 100) / a);

        var porcentapm =   Math.round((#{aprom} * 100) / b) ;
        var porcentrecm =   Math.round((#{rechm} * 100) / b);

        var porcentapendc =   Math.round((#{pendc} * 100) / a);
        var porcentapendm =   Math.round((#{pendm} * 100) / b) ;

        var cant = #{notas};
        var s = 0;
        var metasco = #{metascount};

        for (i=0;i< cant.length; i++){
            s += cant[i]
        }
        document.getElementById("aprobadasc").innerHTML = porcentapc + "%" + " ("+ #{aproc} +")";
        document.getElementById("rechazadasc").innerHTML = porcentrecc + "%"+ " ("+ #{rechc} +")";
        document.getElementById("aprobadasm").innerHTML = porcentapm + "%" + " ("+ #{aprom} +")";
        document.getElementById("rechazadasm").innerHTML = porcentrecm + "%"+ " ("+ #{rechm} +")";
        document.getElementById("pendientesc").innerHTML = porcentapendc + "%"+ " ("+ #{pendc} +")";
        document.getElementById("pendientesm").innerHTML = porcentapendm + "%"+ " ("+ #{pendm} +")";

        document.getElementById("1competencias").innerHTML = Math.round(cant[0] * 100 / s) + "%";
        document.getElementById("2competencias").innerHTML = Math.round(cant[1] * 100 / s) + "%";
        document.getElementById("3competencias").innerHTML = Math.round(cant[2] * 100 / s) + "%";
        document.getElementById("4competencias").innerHTML = Math.round(cant[3] * 100 / s) + "%";
        document.getElementById("5competencias").innerHTML = Math.round(cant[4] * 100 / s) + "%";
        document.getElementById("metco").innerHTML = Math.round(metasco * 100 / #{@items.length}) + "%";
        draw();

    });
    function draw(){
        var c = "#containercompe";
        var m = "#containermetas"
        var datapendmetas = #{valormetaspendiente}
        var datapend = #{valorpendiente}
        var datarech = #{valorrech};
        var dataap = #{valor};
        var dataapmetas = #{valormetas};
        var datarmetas = #{valormetasr};

        var pr = #{pr}
        $(c).highcharts({

        	credits: false,
          title: {
              text: 'Evaluaciones Competencias'
          },
          subtitle: {
              text: 'Curva normal'
          },
         xAxis: [{
              title: { text: 'Nota Evaluación' },
              min: 1,
              max:5,
              tickInterval: 1
          },{
              title: { text: '' },
              opposite: true,
              visible:false

          }],

          yAxis: [{
              visible: true,
              title: { text: 'Cantidad Personas' },
              tickInterval: 1
          }, {
              title: { text: '' },
              visible: false,
              opposite: true
          }],
        	 plotOptions: {

              scatter: {
                  marker: {
                      radius: 5,
                      states: {
                          hover: {
                              enabled: true,
                              lineColor: 'rgb(100,100,100)'
                          }
                      }
                  },
                  states: {
                      hover: {
                          marker: {
                              enabled: false
                          }
                      }
                  },
                  tooltip: {
                      headerFormat: '<b>{series.name}</b><br>',
                      pointFormat: 'Nota: {point.x}'
                  }
              }
          },

          series: [{
              name: 'Curva normal',
              type: 'bellcurve',
              xAxis: 0,
              yAxis: 1,
        			intervals: 10,
        			pointsInInterval:1000,
              baseSeries: 1,
        			zindex : -1

          },{
              name: '.',
              type: 'scatter',
              data: pr,
        			visible: false,
              marker: {
                  radius: 2
              }},
              {
              name: 'Aprobación Evaluacion Pendiente',
              type: 'scatter',

              data: datapend,
        			color: "gray",
              marker: {
                  radius: 1.5
              }},
              {
              name: 'Evaluaciones Rechazadas',
              type: 'scatter',

              data: datarech,
        			color: "red",
              marker: {
                  radius: 1.5
              }},{
              name: 'Evaluaciones Aprobadas',
              type: 'scatter',

              data: dataap,
        			color: "green",
              marker: {
                  radius: 2
              }
          }]
        });

        $(m).highcharts( {
              chart: {
                  type: 'scatter',
                  zoomType: 'xy'
              },
              title: {
                  text: 'Evaluaciones Metas'
              },
              subtitle: {
                  text: 'porcentajes de logro'
              },
              xAxis: {
                  title: {
                      enabled: true,
                      text: 'Porcentaje de Logro (%)',

                  },
                  max: 100,
                  tickInterval: 1,
                  startOnTick: true,
                  endOnTick: true,
                  showLastLabel: true
              },
              yAxis: {
                  title: {
                      text: 'Cantidad Personas'
                  }
              },/*
              legend: {
                  layout: 'vertical',
                  align: 'left',
                  verticalAlign: 'top',
                  x: 100,
                  y: 70,
                  floating: true,
                  backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                  borderWidth: 1
              },*/
              plotOptions: {
                  scatter: {
                      marker: {
                          radius: 5,
                          states: {
                              hover: {
                                  enabled: true,
                                  lineColor: 'rgb(100,100,100)'
                              }
                          }
                      },
                      states: {
                          hover: {
                              marker: {
                                  enabled: false
                              }
                          }
                      },
                      tooltip: {
                          headerFormat: '<b>{series.name}</b><br>',
                          pointFormat: '{point.x}% Logro '
                      }
                  }
              },
              series: [{
                  name: 'Aprobadas',
                  color: 'green',
                  marker: {
                      radius: 2
                  },
                  data:dataapmetas

              }, {
                  name: 'Rechazadas',
                  color: 'red',
                  marker: {
                      radius: 2
                  },
                  data:datarmetas
              },
              {
                  name: 'Aprobación pendiente',
                  color: 'gray',
                  marker: {
                      radius: 2
                  },
                  data:datapendmetas

              }]
          });



    }
