.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .page-header
        %h1 Informe de Estado de Evaluaciones
        %h4
            Periodo:
            = @periodo.name
            Al
            = l Date.today
    :ruby
        expandir          = []
        counter = {
            total: 0,
            evaluacion: 0
        }
        @items.each do |item|

            pl, cm   = item[:planification], item[:plan_competences]
            tp, tc   = item[:tracing_kpi], item[:tracing_competences]
            ep, ec   = item[:evaluacion_kpi], item[:evaluacion_competences]
            ep_e     = ep.select{|x| x[:evaluated_id] != x[:evaluator_id]}
            ec_e     = ec.select{|x| x[:evaluated_id] != x[:evaluator_id]}
            counter[:total] += 1
            #logger.info "EP #{ep.inspect}   -     EC   #{ec.inspect}".green.bold
            if  !ep.blank? && !ec.blank?
                if  ep.first.closed && ec.first.closed
                    counter[:evaluacion] += 1
                    logger.info "cuenta #{counter[:evaluacion]}".blue.bold
                end
            end

        end
        counter[:p_evaluacion] = ((counter[:evaluacion]*100.0)/counter[:total]).round(2)

    Avance Evaluaciones
    = "#{counter[:evaluacion]} de #{counter[:total]}"
    .progress
        .progress-bar.progress-bar-success{style: "width: #{counter[:p_evaluacion]}%"}= "#{counter[:p_evaluacion]}%"
        .progress-bar.progress-bar-danger{style: "width: #{100.0-counter[:p_evaluacion]}%"}
    %table.table.simple.table-condensed.tree
        %thead
            %tr
                %th{rowspan: 2} Cargo
                %th{rowspan: 2} Nombre
                %th.text-center{colspan: 2} Planificación
                - if Rails.configuration.cliente.eql? :maserrazuriz
                    %th.text-center{colspan: 2} Auto-Evaluación
                    - unless solo_autoevaluacion?
                        %th.text-center{colspan: 2} Evaluaciones
                - else
                    %th.text-center{colspan: 2} Seguimiento
                    %th.text-center{colspan: 2} Evaluación
            %tr
                - if Rails.configuration.cliente.eql? :maserrazuriz
                    - (solo_autoevaluacion? ? 2 : 3).times do
                        %th Funciones
                        %th Competencias
                - else
                    - 3.times do
                        %th Metas Individuales
                        %th Competencias
        %tbody
            - @items.each do |item|
                - pl, cm   = item[:planification], item[:plan_competences]
                - tp, tc   = item[:tracing_kpi], item[:tracing_competences]
                - ep, ec   = item[:evaluacion_kpi], item[:evaluacion_competences]
                - ep_a     = ep.select{|x| x[:evaluated_id] == x[:evaluator_id]}
                - ec_a     = ec.select{|x| x[:evaluated_id] == x[:evaluator_id]}
                - ep_e     = ep.select{|x| x[:evaluated_id] != x[:evaluator_id]}
                - ec_e     = ec.select{|x| x[:evaluated_id] != x[:evaluator_id]}
                - tr_class = planification_competences_class pl.first, cm.first
                - parent_id = (item[:job].parent.blank? ? nil : item[:job].parent.id)
                - parent_id = nil if @items.find{|x| x[:job].id == parent_id}.blank?
                - #tr_class <- en el tr
                %tr{class: '', 'data-tt-id' => item[:job].id, 'data-tt-parent-id' => parent_id }
                    - expandir << item[:job].id if parent_id.blank? # Gerencia
                    %td= item[:job].name
                    %td= item[:user].full_name
                    %td
                        - if pl.blank?
                            No hay planificación
                        - else
                            - if pl.first.closed
                                Cerrada
                            - else
                                - unless pl.first.evaluator_closed
                                    Falta cierre evaluador
                                - unless pl.first.evaluated_closed
                                    Falta cierre colaborador
                    %td
                        - if cm.blank?
                            No hay planificación
                        - else
                            - if cm.first.closed
                                Cerrada
                            - else
                                - unless cm.first.evaluator_closed
                                    Falta cierre evaluador
                                - unless cm.first.evaluated_closed
                                    Falta cierre colaborador

                    %td.text-left
                        - if tp.blank?
                        - else
                            - if tp.first.closed
                                Cerrada
                            - else
                                = tp.count
                    %td.text-left
                        - if tc.blank?

                        - else
                            - if tc.first.closed
                                Cerrada
                            - else
                                = tc.count
                    %td.text-left
                        - if ep.blank?
                            %span.glyphicon.glyphicon-exclamation-sign
                        - else
                            - if ep.first.closed
                                Cerrada
                            - else
                                = ep.count
                                de
                                = pl.count
                                - if ep.count >= pl.count
                                    %span.glyphicon.glyphicon-ok-circle
                                - else
                                    %span.glyphicon.glyphicon-flag
                    %td.text-left
                        - if ec.blank?
                            %span.glyphicon.glyphicon-exclamation-sign
                        - else
                            - if ec.first.closed
                                Cerrada
                            - else
                                = ec.count
                                de
                                = cm.count
                                - if ec.count >= cm.count
                                    %span.glyphicon.glyphicon-ok-circle
                                - else
                                    %span.glyphicon.glyphicon-flag
                        / = item.inspect
                        / = item[:position]
                        / = item[:job]
                        / = item[:user]
:javascript
    $('.tree').treetable({ expandable: true });
    #{
        str = ''
        expandir.each do |i|
            str << %{$('.tree').treetable('expandNode', #{i});}
        end

        str
    }
