%script{:src => "https://code.highcharts.com/highcharts.js"}
-#%script{:src => "https://code.highcharts.com/highcharts-more.js"}
%script{src: "#{request.base_url}/javascripts/highcharts.js",type:'text/javascript'}
%script{src: "#{request.base_url}/javascripts/highcharts-more.js",type:'text/javascript'}
.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Seleccionar colaborador', performance_planifications_path], ['Informes', performance_informes_path], ['Informe por Competencias', "#" , :active] ]
    .page-header
        .panel-heading{style: 'padding: 0 0 0 0; border: none; height: 60px'}
            %img.pull-left{src: "#{request.base_url}/images/logos/logo.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
            %hr
            %p{style:"font-size:30px !important; text-align:center !important"} Informe por Competencias
            %hr
        .col-lg-10.col-md-10.col-sm-10.col-xs-10.not-print
            = render partial: "performance/informes/partials/filter_box"
        .col-lg-2.col-md-2.col-sm-2.col-xs-2.not-print
            %br
            .pull-right
                - par = "?"
                - par += "empresa=#{params[:empresa]}&vicepresidencia=#{params[:vicepresidencia]}&estamento=#{params[:estamento]}&job=#{params[:job]}&sex=#{params[:sex]}"
                -#puts par.inspect.red.bold
                %a.btn.btn-primary{:href => "#{evaluaciones_competencias_performance_informes_path(format: :pdf)}#{par}"}
                    %i.icon-white.icon-file
                    Ver PDF
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .page-header
                .panel.default.text-center
                    %table
                        %tr
                            %td
                                #containercompeporcenta.conta{:style => "width:1200px; height: 500px; "}
                        %tr
                            %td
                                .page-break
                                .panel-heading#titulo1{style: 'padding: 0 0 0 0; border: none; height: 60px; display:none'}
                                    %img.pull-left{src: "#{request.base_url}/images/logos/logo.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
                                    %hr
                                    %p{style:"font-size:30px !important;text-align:center !important"}  Informe por Competencias
                                    %hr
                        %tr
                            %td
                                %p{style:"text-align:center"}="#{params[:empresa] unless params[:empresa].blank?} #{params[:vicepresidencia] unless params[:vicepresidencia].blank?} #{params[:estamento] unless params[:estamento].blank?} #{" Jefatura de: "+params[:job] unless params[:job].blank?} #{User::SEXOS[params[:sex].to_i].capitalize unless params[:sex].blank?} "
                                %table.table.table-striped{style:"font-size:10px !important",border:"1"}
                                    %tr
                                        %td
                                        - contador = 0
                                        - @compe_names.each do |x|
                                            %th= @compe_names[contador][0]
                                            - contador +=1
                                    %tr
                                        %th Cantidad evaluaciones
                                        - contador = 0
                                        - @compe_names.each do |x|
                                            %td{style:"text-align:center"}= @notas_competencia_bajo[contador].length + @notas_competencia_sobre[contador].length
                                            - contador +=1
                                    %tr
                                        %th % Sobre Resultado Esperado (100%+)
                                        - contador = 0
                                        - @compe_names.each do |x|
                                            %td{style:"text-align:center;color:green !important"}= "#{@notas_competencia_polos_sobre[contador][0]}%" unless @notas_competencia_polos_sobre[contador][0] == 0
                                            - contador +=1
                                    %tr
                                        %th % Dentro de Resultado Esperado (100%)
                                        - contador = 0
                                        - @compe_names.each do |x|
                                            %td{style:"text-align:center"}= "#{100 - (@notas_competencia_polos_sobre[contador][0] + @notas_competencia_polos[contador][0]*-1)}%" unless @notas_competencia_polos_sobre[contador][0]==0 && @notas_competencia_polos[contador][0]==0
                                            - contador +=1
                                    %tr
                                        %th % Bajo Resultado Esperado (100%-)
                                        - contador = 0
                                        - @compe_names.each do |x|
                                            %td{style:"text-align:center;color:red !important"}= "#{@notas_competencia_polos[contador][0]*-1 }%" unless @notas_competencia_polos[contador][0] == 0
                                            - contador +=1
                                    %tr
                                        %td{style:"background-color:#ccc !important"} Logro Promedio
                                        - contador = 0
                                        - @compe_names.each do |x|
                                            %td{style:"text-align:center ; background-color:#ccc !important ; color: blue !important"}= "#{@notas_competencia_avg[contador][0].round(0)}%" unless @notas_competencia_avg[contador][0].blank?
                                            - contador +=1

:javascript
    document.addEventListener("DOMContentLoaded", function(event) {
        draw();

    });


    function draw(){
        var cp = document.getElementById("containercompeporcenta");
        var categoria = #{@compe_names};
        console.log(categoria);
          Highcharts.chart(cp,{
              credits: false,
              chart: {
                  type: 'column'

              },
              title: {
                  text: 'Competencias'
              },
              subtitle: {
                  text: '#{params[:empresa] unless params[:empresa].blank?} #{params[:vicepresidencia] unless params[:vicepresidencia].blank?} #{params[:estamento] unless params[:estamento].blank?} #{" Jefatura de: "+params[:job] unless params[:job].blank?} #{User::SEXOS[params[:sex].to_i].capitalize unless params[:sex].blank?} '
              },
              xAxis: [{
                  categories: categoria,
                  reversed: false,
                  labels: {
                      step: 1
                  }
              }, { // mirror axis on right side
                  opposite: true,
                  reversed: false,
                  categories: categoria ,
                  linkedTo: 0,
                  labels: {
                      step: 1
                  }
              }],
              yAxis: {
                  title: {
                      text: null
                  },
                  labels: {
                      formatter: function () {
                          return Math.abs(this.value) + '%';
                      }
                  }
              },
              plotOptions: {
                  series: {
                    stacking: 'normal',
                    enableMouseTracking: true,
                    shadow: false,
                    animation: false
                  }
              },
              tooltip: {
                  formatter: function () {
                      return '<b>' + this.series.name + ', ' + this.point.category + '</b><br/>' +
                          'Porcentaje: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0)+ '%';
                  }
              },
              series: [{
                  name: '% Bajo Resultado esperado',
                  data: #{@notas_competencia_polos},
                  color: "#f76f6f"
              }, {
                  name: '% Sobre Resultado esperado',
                  data: #{@notas_competencia_polos_sobre},
                  color: "lightgreen"

              }, {
                  name: '% de Logro Promedio',
                  type: 'spline',
                  data: #{@notas_competencia_avg},
                  color: "lightblue"
              }]
          });
    }
