%script{:src => "https://code.highcharts.com/highcharts.js"}
%script{:src => "https://code.highcharts.com/highcharts-more.js"}
%script{:src => "https://code.highcharts.com/modules/histogram-bellcurve.js"}
.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Seleccionar colaborador', performance_planifications_path], ['Informes', performance_informes_path], ['Informe Comparativo de Evaluaciones', "#" , :active] ]
    .page-header
        .panel-heading{style: 'padding: 0 0 0 0; border: none; height: 60px'}
            %img.pull-left{src: "#{request.base_url}/images/logos/logo.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
        %h1 Informe Comparativo de Evaluaciones
        = render partial: "performance/informes/partials/filter_box"
        .col-lg-12.col-md-12.col-sm-12.col-xs-12

            - aproc = 0 #competencias aprobadas
            - rechc = 0 #competencias rechazadas
            - pendc = 0 #competencias aprobacion pendientes
            - aprom = 0 #metas aprobadas
            - rechm = 0 #metas rechazadas
            - pendm = 0 #metas aprobacion pendientes
            .page-header
                -#%p= @ev_vice_names.inspect
                -#%p= @ev_vice.inspect
                -#%p= @ev_vice_polo.inspect
                -#%p= @ev_vice_avg.inspect
                .panel.default.text-center
                    %table
                        -#%tr
                            %td
                                #containermetas.conta{:style => "width:auto; height: 350px; "}
                            %td
                                #containercompe.conta{:style => "width:auto; height: 350px; "}
                        %tr
                            %td
                                #metas.conta{:style => "width:auto; height: 350px; "}
                            %td
                                #competen.conta{:style => "width:auto; height: 350px; "}
                        %tr
                            %td
                                #containercompeporcenta.conta{:style => "width:auto; height: 350px; "}
                            %td
                                - meta_count = 0
                                - compe_count = 0
                                %table.table.table-striped
                                    %tr
                                        %th Viceprecidencia
                                        %th Dotación total
                                        %th Dotación Metas
                                        %th Promedio Metas
                                        %th Dotación Competencias
                                        %th Promedio Competencias
                                    - @vp.each do |vps|
                                        -next if @nvp[vps.id-1].blank?
                                        %tr
                                            - meta_count += @ev_vice[vps.id-1].length
                                            - compe_count += @ev_vice_compe[vps.id-1].length
                                            %td= @nvp[vps.id-1][0] unless @nvp[vps.id-1].blank?
                                            %td{style:"text-align:center"}= @dotacionvp[vps.id-1]
                                            %td{style:"text-align:center"}=@ev_vice[vps.id-1].length
                                            %td{style:"text-align:center"}="#{@metas_avg[vps.id-1][0]}%" unless @metas_avg[vps.id-1][0].blank?
                                            %td{style:"text-align:center"}=@ev_vice_compe[vps.id-1].length
                                            %td{style:"text-align:center"}="#{@compe_avg[vps.id-1][0]}%" unless @compe_avg[vps.id-1][0].blank?



                                    %tr
                                        %th Total
                                        %td{style:"text-align:center"}= @dotacionvp.sum
                                        %td{style:"text-align:center"}= meta_count
                                        %td
                                        %td{style:"text-align:center"}= compe_count


                    - valor = []
                    - valorrech= []
                    - valorpendiente = []

                    - valormetas = []
                    - valormetasr = []
                    - valormetaspendiente =[]
                    - count = 0
                    - pr = []
                    - notas = []
                    - notas[0] = 0
                    - notas[1] = 0
                    - notas[2] = 0
                    - notas[3] = 0
                    - notas[4] = 0

                    - metascount = 0



                    -#%button.btn.btn-info.pull-right{"data-target" => "#examplel", "data-toggle" => "fade", :type => "button"} Mostrar Detalle

                -#%table.table.simple{border:"1"}
                    %tr
                        %th{colspan:12} Resumen de información
                    %tr
                        %th{rowspan:2}
                            Evaluaciones Metas Aprobadas
                        %th{rowspan:2}
                            Evaluaciones Metas Rechazadas
                        %th{rowspan:2}
                            Aprobación Evaluaciones Metas Pendiente
                        %th{rowspan:2}
                            Evaluaciones Competencias Aprobadas
                        %th{rowspan:2}
                            Evaluaciones Competencias Rechazadas
                        %th{rowspan:2}
                            Aprobación Evaluaciones Competencias Pendiente
                        %th{colspan:5}
                            Competencias - porcentaje
                        %th{rowspan:2}
                            Metas al 100%

                    %tr
                        %th Bajo lo esperado
                        %th Proximo a lo esperado
                        %th Resultado esperado
                        %th Sobre lo esperado
                        %th Excepcional

                    %tr
                        %td#aprobadasm{style:"color:green;text-align:center"}
                        %td#rechazadasm{style:"color:red;text-align:center"}
                        %td#pendientesm{style:"color:gray;text-align:center"}
                        %td#aprobadasc{style:"color:green;text-align:center"}
                        %td#rechazadasc{style:"color:red;text-align:center"}
                        %td#pendientesc{style:"color:gray;text-align:center"}
                        %td#1competencias{style:"text-align:center"}
                        %td#2competencias{style:"text-align:center"}
                        %td#3competencias{style:"text-align:center"}
                        %td#4competencias{style:"text-align:center"}
                        %td#5competencias{style:"text-align:center"}
                        %td#metco{style:"text-align:center"}


                %table.table.table-bordered#example
                    %thead
                        %tr
                            %th.text-center{rowspan: 2} Rut
                            %th.text-center{rowspan: 2} Nombre
                            %th.text-center{rowspan: 2} Cargo
                            %th.text-center{rowspan: 2} Sucursal
                            %th.text-center{rowspan: 2} Empresa
                            %th.text-center{rowspan: 2} Nivel Organizacional
                            %th.text-center{rowspan: 2} Vicepresidencia
                            %th.text-center{colspan: 3} Evaluación


                        %tr
                            %th.text-center Metas %
                            %th.text-center Competencias %
                            %th.text-center Categoría Evaluación Competencias
                            -#%th.text-center Evaluación Metas Aprobada
                            -#%th.text-center Evaluación Competencias Aprobada
                    %tbody
                        - pcou = 0
                        - @items.each do |i|
                            %tr
                                %td= i[:user].rut unless i[:user].blank?
                                %td= i[:user].full_name unless i[:user].blank?
                                %td= i[:job].name unless i[:job].blank?
                                %td= i[:job].branch_office.name unless i[:job].blank?
                                %td= i[:job].branch_office.company.name unless i[:job].blank?
                                %td= JobClass.first(id: i[:user].position.job.job_class_id).name unless i[:user].position.job.job_class_id.blank? || JobClass.first(id: i[:user].position.job.job_class_id).blank? unless i[:user].blank?
                                %td= Vicepresidencia.first(id: i[:user].position.job.vicepresidencia_id).name unless i[:user].position.job.vicepresidencia_id.blank? || i[:user].blank? unless i[:user].blank?
                                %td.text-right= "#{i[:evaluacion].kpi_result}%"
                                %td.text-right
                                    = i[:evaluacion].competence_ponderation.to_i
                                    =" %"
                                %td.text-right
                                    =i[:evaluacion].competence_final_result + " (#{i[:evaluacion].competence_result })"

                                -#%td.text-right= i[:evaluacion].final_result
                                - count = 1
                                - pcou += 1
                                - if i[:evaluacion].kpi_result == 100.0
                                    - metascount += 1
                                - if i[:evaluacion].kpi_aprobe == 1
                                    - valormetas << [ i[:evaluacion].kpi_result,pcou] unless i[:evaluacion].kpi_result == 0.0
                                - elsif i[:evaluacion].kpi_aprobe == 0
                                    - valormetasr << [ i[:evaluacion].kpi_result,pcou] unless i[:evaluacion].kpi_result == 0.0
                                - elsif i[:evaluacion].kpi_aprobe == -1
                                    - valormetaspendiente << [ i[:evaluacion].kpi_result,pcou] unless i[:evaluacion].kpi_result == 0.0
                                - @items.each do |x|
                                    - if i[:evaluacion].competence_result == x[:evaluacion].competence_result
                                        - count+=1
                                        - if i[:evaluacion].competence_aprobe == 1 && i[:evaluacion].evaluated_id == x[:evaluacion].evaluated_id #&& i[:evaluacion].evaluated_id == x[:evaluacion].evaluated_id
                                            - valor << [i[:evaluacion].competence_result, count]  unless i[:evaluacion].competence_result == 0.0
                                            - pr <<  i[:evaluacion].competence_result unless i[:evaluacion].competence_result == 0.0
                                        - elsif i[:evaluacion].competence_aprobe == 0 && i[:evaluacion].evaluated_id == x[:evaluacion].evaluated_id
                                            - valorrech << [i[:evaluacion].competence_result, count]  unless i[:evaluacion].competence_result == 0.0
                                            - pr <<  i[:evaluacion].competence_result unless i[:evaluacion].competence_result == 0.0
                                        - elsif i[:evaluacion].competence_aprobe == -1 && i[:evaluacion].evaluated_id == x[:evaluacion].evaluated_id
                                            - valorpendiente << [i[:evaluacion].competence_result, count]  unless i[:evaluacion].competence_result == 0.0
                                            - pr <<  i[:evaluacion].competence_result unless i[:evaluacion].competence_result == 0.0
                                - notas[0] +=1 if i[:evaluacion].competence_result.round(0) == 1
                                - notas[1] +=1 if i[:evaluacion].competence_result.round(0) == 2
                                - notas[2] +=1 if i[:evaluacion].competence_result.round(0) == 3
                                - notas[3] +=1 if i[:evaluacion].competence_result.round(0) == 4
                                - notas[4] +=1 if i[:evaluacion].competence_result.round(0) == 5


                                - if i[:evaluacion].kpi_aprobe == 1 && i[:evaluacion].kpi_result != 0.0
                                    - aprom +=1
                                    -#%td.text-center{style: "color: green"} Si
                                - elsif i[:evaluacion].kpi_aprobe == 0  && i[:evaluacion].kpi_result != 0.0
                                    - rechm +=1
                                    -#%td.text-center{style: "color: red"} No
                                - else
                                    - pendm +=1
                                    -#%td
                                - if i[:evaluacion].competence_aprobe == 1  && i[:evaluacion].competence_result != 0.0
                                    - aproc +=1
                                    -#%td.text-center{style: "color: green"} Si
                                - elsif i[:evaluacion].competence_aprobe == 0  && i[:evaluacion].competence_result != 0.0
                                    - rechc +=1
                                    -#%td.text-center{style: "color: red"} No
                                - else
                                    -#%td
                                    - pendc +=1





        :javascript
            var a = #{aproc + rechc + pendc};
            var b = #{aprom + rechm + pendm};
            var porcentapc =   Math.round((#{aproc} * 100) / a) ;
            var porcentrecc =   Math.round((#{rechc} * 100) / a);

            var porcentapm =   Math.round((#{aprom} * 100) / b) ;
            var porcentrecm =   Math.round((#{rechm} * 100) / b);

            var porcentapendc =   Math.round((#{pendc} * 100) / a);
            var porcentapendm =   Math.round((#{pendm} * 100) / b) ;

            var notas = #{notas};
            var total_notas = 0;

            var notas_empresa = #{@notas_empresa};
            var total_notas_empresa = 0;
            var metasco = #{metascount};

            for (i=0;i< notas.length; i++){
                total_notas += notas[i]
            }
            for (i=0;i< notas_empresa.length; i++){
                total_notas_empresa += notas_empresa[i]
            }

            $(document).ready(function () {
                $('#example').dataTable({"sPaginationType": "full_numbers", "iDisplayLength": 25, "oLanguage": {
                    "sUrl": "/table_translation.js"
                }});

                //document.getElementById("aprobadasc").innerHTML = porcentapc + "%" + " ("+ #{aproc} +")";
                //document.getElementById("rechazadasc").innerHTML = porcentrecc + "%"+ " ("+ #{rechc} +")";
                //document.getElementById("aprobadasm").innerHTML = porcentapm + "%" + " ("+ #{aprom} +")";
                //document.getElementById("rechazadasm").innerHTML = porcentrecm + "%"+ " ("+ #{rechm} +")";
                //document.getElementById("pendientesc").innerHTML = porcentapendc + "%"+ " ("+ #{pendc} +")";
                //document.getElementById("pendientesm").innerHTML = porcentapendm + "%"+ " ("+ #{pendm} +")";

                //document.getElementById("1competencias").innerHTML = Math.round(notas[0] * 100 / total_notas) + "%";
                //document.getElementById("2competencias").innerHTML = Math.round(notas[1] * 100 / total_notas) + "%";
                //document.getElementById("3competencias").innerHTML = Math.round(notas[2] * 100 / total_notas) + "%";
                //document.getElementById("4competencias").innerHTML = Math.round(notas[3] * 100 / total_notas) + "%";
                //document.getElementById("5competencias").innerHTML = Math.round(notas[4] * 100 / total_notas) + "%";
                //document.getElementById("metco").innerHTML = Math.round(metasco * 100 / #{@items.length}) + "%";
                draw();

            });
            function draw(){
                var c = "#containercompe";
                var m = "#containermetas";
                var cp = "#containercompeporcenta";
                var met = "#metas"
                var datapendmetas = #{valormetaspendiente};
                var datapend = #{valorpendiente};
                var datarech = #{valorrech};
                var dataap = #{valor};
                var dataapmetas = #{valormetas};
                var datarmetas = #{valormetasr};
                var dataporce = [[1,Math.round(notas[0] * 100 / total_notas)],
                                 [2,Math.round(notas[1] * 100 / total_notas)],
                                 [3,Math.round(notas[2] * 100 / total_notas)],
                                 [4,Math.round(notas[3] * 100 / total_notas)],
                                 [5,Math.round(notas[4] * 100 / total_notas)]];
                var notas_empresa_porce = [[1,Math.round(notas_empresa[0] * 100 / total_notas_empresa)],
                                          [ 2,Math.round(notas_empresa[1] * 100 / total_notas_empresa)],
                                          [ 3,Math.round(notas_empresa[2] * 100 / total_notas_empresa)],
                                          [ 4,Math.round(notas_empresa[3] * 100 / total_notas_empresa)],
                                          [ 5,Math.round(notas_empresa[4] * 100 / total_notas_empresa)]];


                var pr = #{pr}
                  $(cp).highcharts( {
                        credits: false,
                        chart: {
                            type: 'spline',
                            zoomType: 'xy'
                        },
                        title: {
                            text: 'Tendencia Logro de Competencias'
                        },
                        subtitle: {
                            text: '#{params[:empresa] unless params[:empresa].blank?} #{params[:vicepresidencia] unless params[:vicepresidencia].blank?} #{params[:estamento] unless params[:estamento].blank?} #{" Jefatura de: "+params[:job] unless params[:job].blank?} #{User::SEXOS[params[:sex].to_i].capitalize unless params[:sex].blank?} '
                        },
                        xAxis: {
                            title: {
                                enabled: true,
                                text: 'Categoria',

                            },
                            categories: ['','Bajo lo esperado',
                                        'Proximo a lo esperado',
                                        'Resultado esperado',
                                        'Sobre lo esperado',
                                        'Excepcional'],
                            min:1,
                            max: 5,
                            tickInterval: 1,
                            startOnTick: true,
                            endOnTick: true,
                            showLastLabel: true
                        },
                        yAxis: {
                            visible:true,
                            title: {
                                enabled: true,
                                text: 'Porcentaje de Logro (%)',
                            },
                        },
                          tooltip: {
                              shared: true,
                              valueSuffix: ' %'
                              //headerFormat: '<b>{series.name}</b><br>',
                              //  pointFormat: '{point.y}% '
                          },
                        plotOptions: {
                            spline: {
                                fillOpacity: 0.3,
                                marker: {
                                    radius: 5,
                                    states: {
                                        hover: {
                                            enabled: true,
                                            lineColor: 'rgb(100,100,100)'
                                        }
                                    }
                                },

                                states: {
                                    hover: {
                                        marker: {
                                            enabled: true
                                        }
                                    }
                                }

                            }
                        },
                        series: [{
                            name: 'Filtrado',
                            color: '#76ef6e',
                            marker: {
                                radius: 1
                            },
                            data:dataporce
                        },{
                            name: 'Empresa',
                            color: 'blue',
                            marker: {
                                radius: 1
                            },
                            data:notas_empresa_porce
                        }]
                    });


                  $(met).highcharts( {
                      credits: false,
                      chart: {
                          type: 'columnrange',
                          inverted: true
                      },

                      title: {
                          text: 'Porcentajes Promedio Logro Metas'
                      },

                      subtitle: {
                          text: '#{params[:empresa] unless params[:empresa].blank?} #{params[:vicepresidencia] unless params[:vicepresidencia].blank?} #{params[:estamento] unless params[:estamento].blank?} #{" Jefatura de: "+params[:job] unless params[:job].blank?} #{User::SEXOS[params[:sex].to_i].capitalize unless params[:sex].blank?} '                      },

                      xAxis: {
                          categories: #{@ev_vice_names}
                      },

                      yAxis: {
                          title: {
                              text: 'Porcentaje de logro ( % )'
                          }
                      },

                      tooltip: {
                          valueSuffix: '%'
                      },

                      plotOptions: {
                          columnrange: {
                              dataLabels: {
                                  enabled: true,
                                  format: '{y}%'
                              }
                          }
                      },

                      legend: {
                          enabled: false
                      },

                      series: [{
                          name: 'Logros entre',
                          data: #{@ev_vice_polo} /*[
                              [25, 80],
                              [42, 92],
                              [57, 82]
                              ]*/
                      },{
                          type: 'spline',
                          name: 'Promedio',
                          data: #{@ev_vice_avg} /*[25, 80,25, 80,25, 80,25, 80]*/,
                          marker: {
                              lineWidth: 2,
                              lineColor: "blue",
                              fillColor: 'lightblue'
                          }
                      }]

                  });


                  $(competen).highcharts( {
                      credits: false,
                      chart: {
                          type: 'columnrange',
                          inverted: true
                      },

                      title: {
                          text: 'Porcentajes Promedio Logro Competencias'
                      },

                      subtitle: {
                          text: '#{params[:empresa] unless params[:empresa].blank?} #{params[:vicepresidencia] unless params[:vicepresidencia].blank?} #{params[:estamento] unless params[:estamento].blank?} #{" Jefatura de: "+params[:job] unless params[:job].blank?} #{User::SEXOS[params[:sex].to_i].capitalize unless params[:sex].blank?} '
                      },

                      xAxis: {
                          categories: #{@ev_vice_names}
                      },

                      yAxis: {
                          title: {
                              text: 'Porcentaje de logro ( % )'
                          }
                      },

                      tooltip: {
                          valueSuffix: '%'
                      },

                      plotOptions: {
                          columnrange: {
                              dataLabels: {
                                  enabled: true,
                                  format: '{y}%'
                              }
                          }
                      },

                      legend: {
                          enabled: false
                      },

                      series: [{
                          name: 'Logros entre',
                          data: #{@ev_vice_polo_compe},
                          color: "#76ef6e" /*[
                              [25, 80],
                              [42, 92],
                              [57, 82]
                              ]*/
                      },{
                          type: 'spline',
                          name: 'Promedio',
                          data: #{@ev_vice_avg_compe} /*[25, 80,25, 80,25, 80,25, 80]*/,
                          marker: {
                              lineWidth: 2,
                              lineColor: "blue",
                              fillColor: 'lightblue'
                          }
                      }]

                  });


            }
