- opts = [ ['Seleccionar colaborador', performance_planifications_path] ]#, ['Mi propia evaluación', performance_planifications_path + "?evaluated_id=#{current_user.position.id}"] ]
- opts << ['Informes', performance_informes_path, :active] if (current_user.role == 'Administrador')

.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar opts
    = notices
    .panel.panel-default
        .panel-heading
            %h4 Informes
        .panel-body
            .col-xs-6
                %h4 Informe de Planificaciones
                = simple_form_for :informe_planificaciones, url: planificaciones_performance_informes_path, html: {class: 'form-inline well'} do |f|
                    .pull-left
                        = f.input :period, collection: Period.all, label: 'Periodo'
                    .pull-right
                        = button_tag class: 'btn btn-success', value: "excel" do
                            %span.glyphicon.glyphicon-list
                            Exportar a Excel
                    .pull-right
                        = button_tag class: 'btn btn-primary', value: "informe" do
                            %span.glyphicon.glyphicon-list
                            Generar informe
                    .clearfix
            .col-xs-6
                %h4 Informe de Estado de Evaluaciones
                = simple_form_for :informe_evaluaciones, url: evaluaciones_performance_informes_path, html: {class: 'form-inline well'} do |f|
                    .pull-left
                        = f.input :period, collection: Period.all, label: 'Periodo'
                    .pull-right
                        = button_tag class: 'btn btn-primary' do
                            %span.glyphicon.glyphicon-list
                            Generar informe
                    .clearfix
            -### descomentar luego de terminar la descarga de historico 2017
            .col-xs-6
                %h4 Informe Concentración Global de Evaluaciones
                = simple_form_for :informe_finales, url: evaluaciones_finales_performance_informes_path, html: {class: 'form-inline well'} do |f|
                    .pull-left
                        = f.input :period, collection: Period.all, label: 'Periodo'
                    .pull-right
                        = button_tag class: 'btn btn-success', value: "excel" do
                            %span.glyphicon.glyphicon-list
                            Exportar a Excel
                    .pull-right
                        = button_tag class: 'btn btn-primary' do
                            %span.glyphicon.glyphicon-list
                            Actualizar informes

                    .clearfix
            .col-xs-6
                %h4 Informe Comparativo de Evaluaciones
                = simple_form_for :informe_evaluaciones, url: evaluaciones_notas_performance_informes_path, html: {class: 'form-inline well'} do |f|
                    .pull-left
                        = f.input :period, collection: Period.all, label: 'Periodo'
                        =# f.input :vicepresidencia , collection: Vicepresidencia.all, label: 'Vicepresidencia'
                    .pull-right
                        = button_tag class: 'btn btn-primary' do
                            %span.glyphicon.glyphicon-list
                            Ver informe
                    .clearfix
            .col-xs-6
                %h4 Informe por Competencias
                = simple_form_for :informe_evaluaciones, url: evaluaciones_competencias_performance_informes_path, html: {class: 'form-inline well'} do |f|
                    .pull-left
                        = f.input :period, collection: Period.all, label: 'Periodo'
                        =# f.input :vicepresidencia , collection: Vicepresidencia.all, label: 'Vicepresidencia'
                    .pull-right
                        = button_tag class: 'btn btn-primary' do
                            %span.glyphicon.glyphicon-list
                            Ver informe
                    .clearfix

:javascript
    $(function(){
    })
