.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Seleccionar colaborador', performance_planifications_path], ['Informe', personal_performance_informes_path + "?evaluated_id=#{params[:evaluated_id]}", :active] ]
    - if @items.blank?
        %h1 No hay datos para mostrar
    - else
        - periodos_disponibles = Period.all

        - position, job, user              = @items[:position], @items[:job], @items[:user]
        - planification, plan_competences  = @items[:planification], @items[:plan_competences]
        - tracing_kpi, tracing_competences = (@items[:tracing_kpi].blank? ? [] : @items[:tracing_kpi].sort_by{|a| a.trace_date unless a.blank?}), (@items[:tracing_competences].blank? ? [] : @items[:tracing_competences].sort_by{|a| a.trace_date unless a.blank?})
        - agreements                       = @items[:agreements]
        - mt_plan = @items[:mt_plan]
        - tracing_mt = @items[:tracing_mt]
        .page-header
            .panel-heading{style: 'padding: 0 0 0 0; border: none; height: 60px'}
                %img.pull-left{src: "#{request.base_url}/images/logos/logo.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
            %h1{style:"font-size: 14px !important;font-weight:bold !important;"}= "Informe Gestión del Desempeño #{periodos_disponibles.first(id: @periodo).name}"
            .box.pull-right.not-print
                =simple_form_for :periods,  url: personal_performance_informes_path + "?evaluated_id=#{params[:evaluated_id]}", html: {class: 'form-inline well'} do |f|

                    %select{name: "periodos", style: 'width: 50px'}
                        - periodos_disponibles.each do |per|
                            - p = {value: per.id, label: per.name}
                            %option{value: p[:value].to_s,selected: @periodo.to_i ==p[:value].to_i}= p[:label]
                            - logger.info "PERIODO #{@periodo} #{p[:value]}".red.bold
                            - logger.info "PERIODO #{@periodo.to_i == p[:value].to_i}".red.bold
                    = button_tag class: 'btn btn-primary' do
                        %span.glyphicon.glyphicon-list
                        Seleccionar año

        .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                %dl.dl-horizontal
                    %dt Rut:
                    %dd= user.rut
                    %dt Nombre:
                    %dd= user.full_name
                    %dt Cargo:
                    %dd= value job, :name
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .not-print
                    %a.btn.btn-primary{:href => personal_performance_informes_path + "?evaluated_id=#{params[:evaluated_id]}&periodos=#{@periodo}&format=pdf"}
                        %i.icon-white.icon-file
                            Ver PDF
        -#.page-header.not-print
            %h3{style:"font-weight:bold !important;"} Meta Transversal
            %table.table.simple.table-condensed.table-striped.table-bordered
                %thead
                    %tr
                        %th Nombre
                        %th Fechas
                        %th Cumplimiento
                        %th Ponderación
                        %th Evaluador
                %tbody
                    - mt_plan.each do |plan|
                        - t_kpi = tracing_mt.select{|x| x.meta_transversal_id == plan.id}
                        %tr
                            %td= plan.description
                            %td= plan.period.name
                            %td
                            %td= "#{plan.ponderation}%"
                            %td= plan.evaluator.name
                            - t_kpi.each do |item|
                                %tr
                                    %td.text-right
                                        %span.label{class:'label-success'} Evaluación
                                    %td= l item.trace_date
                                    %td= "#{item.increment}%"
                                    %td{colspan: 2}
        .page-header
            %h2{style:"font-weight:bold !important;"} Metas Desempeño individual
        %table.table.simple.table-condensed.table-striped.table-bordered
            %thead
                %tr
                    %th Meta
                    %th Detalle Meta/Comentario Evaluación
                    %th Fechas
                    %th Ponderación
                    %th Cumplimiento
                    %th Evaluador
            %tbody
                - planification.each do |plan|
                    - kpi = plan.key_performance_indicator
                    - t_kpi = tracing_kpi.select{|x| x.planification_id == plan.id}
                    %tr
                        %td= kpi.description
                        %td
                            %p{style: "font-style: oblique; font-weight: lighter; color:#969696; width:400px"}=kpi.detail
                        %td
                            - unless kpi.start_date.blank?
                                = l kpi.start_date
                            - unless kpi.end_date.blank?
                                \-
                                = l kpi.end_date
                        %td
                            = "#{kpi.ponderation}%"
                        %td
                        %td= plan.evaluator.full_name #unless plan.evaluator.blank?

                        - t_kpi.each do |item|
                            %tr
                                %td
                                %td= item.comment
                                %td= l item.trace_date
                                %td.text-right
                                    %span.label{class: item.kind.eql?('seguimiento') ? 'label-info' : 'label-success'}= item.kind.eql?('seguimiento') ? item.kind.titleize : "Evaluación"
                                %td= "#{item.increment}%"
                                %td{colspan: 2}=# item.evaluator.name

            %tr
                %th{colspan:4}
                    Resultado Evaluación:
                %td
                    ="#{@items[:evaluation].kpi_result.to_i}%" unless @items[:evaluation].blank?
        .page-header
            %h2{style:"font-weight:bold !important;"} Competencias
        %table.table.simple.table-condensed.table-striped.table-bordered
            %thead
                %tr
                    %th Competencia
                    %th Fechas
                    %th Ponderación
                    %th Categoria Logro
                    %th Evaluador
            %tbody
                - plan_competences.each do |plan|
                    - tracing = tracing_competences.select{|x| x.planification_competence_id == plan.id}
                    %tr
                        %td
                            - JSON.parse(plan.conduct.include?('[') ? plan.conduct : "[#{plan.conduct}]" ).each do |i|
                                %p
                                    = plan.competence.name + " (#{Conduct.get(i).number})"
                                    -#\-
                                    = Conduct.get(i).description
                        %td
                            - unless plan.start_date.blank?
                                = l plan.start_date
                            - unless plan.end_date.blank?
                                \-
                                = l plan.end_date
                        %td= "#{plan.ponderation}%"
                        %td
                        %td= plan.evaluator.full_name #unless plan.evaluator.blank?
                        - tracing.each do |item|
                            %tr
                                %td
                                %td= l item.trace_date
                                %td.text-right
                                    %span.label{class: item.kind.eql?('seguimiento') ? 'label-info' : 'label-success'}= item.kind.eql?('seguimiento') ? item.kind.titleize : "Evaluación"
                                %td
                                    - if Rails.configuration.tipo_conductas.eql?(:niveles)
                                        = item.increase.eql?(1) ? 'Si' : 'No'
                                    - elsif Rails.configuration.tipo_conductas.eql?(:factores_claves)
                                        = PlanificationCompetence::LEVELS[item.increase]
                                %td{colspan: 2}
            %tr
                %th{colspan:3}
                    Resultado Evaluación:
                - unless @items[:evaluation].blank?
                    %td
                        ="#{@items[:evaluation].competence_ponderation.to_i}% (#{@items[:evaluation].competence_final_result})"

        .page-header
            %h3{style:"font-weight:bold !important;"} Comentarios Competencias
        %table.table.simple.table-condensed.table-striped.table-bordered
            %thead
                %tr
                    %th.col-xs-3 Competencia / Nivel
                    %th.col-xs-1 Fecha
                    %th.col-xs-1 Tipo
                    %th.col-xs-6 Detalle
                    %th.col-xs-1 Evaluador
            %tbody
                - agreements.each do |item|
                    %tr
                        %td= item.meta_o_conducta
                        %td= l item.fecha
                        %td
                            %span.label{class: item.acuerdo_o_comentario.eql?('Comentario') ? 'label-info' : 'label-success'}= item.acuerdo_o_comentario
                        %td= item.detalle
                        %td= item.evaluator.full_name unless item.evaluator.blank?
