.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .page-header
        %h1 Informe de avance Evaluaciones
        %h4
            Periodo:
            = @periodo.name
            Al
            = l Date.today
    :ruby
        expandir          = []
        t = lambda{|t| t.blank? ? '' : t.gsub("\n", "<br />").html_safe}
    =# debug @items
    - item = @items.find{|x| x[:position].id != @evaluated.id}
    - unless item[:users_data].blank?
        .row
            .col-xs-8
                %table.table.table-condensed
                    %tr
                        %th Nombre
                        %th Desempeño
                        %th Potencial
                        %th Matriz
                    - item[:users_data].each do |ud|
                        - next if ud[:position_id] != params[:evaluated_id].to_i
                        %tr
                            %td{class: ("alert-success" if ud[:evaluados] > 0)}

                                %a{href: planilla_performance_evaluacion_index_path+"?evaluator_id=#{item[:position].id}&evaluated_id=#{ud[:position_id]}"}
                                    =  "#{ud[:user].rut} - #{ud[:user].name}"
                                %br
                                - unless ud[:job].blank?
                                    %strong= ud[:job][:name]
                            - if ud[:evaluados] > 0
                                %td
                                    = ud[:result_desempeno]
                                    = "(#{ud[:desempeno_prom]} / 4)"
                                %td
                                    = ud[:result_potencial]
                                    = "(#{ud[:potencial_prom]} / 4)"
                                %td.text-center{style: "background-color: #{ud[:resultado_color]}"}!= ud[:resultado]
                            - else
                                %td{colspan: 3}
            .col-xs-4
                %img.img-responsive{src: '/images/maserrazuriz/matriz.png' }/
    =# debug @plan_data
    - escala_eval = InsertPlanification::ESCALA_EVAL
    %table.table.table-condensed
        %thead
            %tr
                %th.invisible
                %th.text-center Evaluación
                %th.text-center Auto-Evaluación
                %th.invisible
            %tr
                %th Funciones
                %th.text-center Calificación
                %th.text-center Calificación
                %th.text-center Brecha
        %tbody
            - @plan_data[:kpi].each do |kpi|
                -# Codigo sucio... es solo para MasErrazuriz
                - plan = @plan_data[:planifications].select{|pl| pl[:evaluated_id].to_i == params[:evaluated_id].to_i and pl[:key_performance_indicator_id] == kpi.id}
                - next if plan.blank?
                - p_auto = plan.find{|p| p.evaluated_id == p.evaluator_id}
                - p_eva  = plan.find{|p| p.evaluated_id != p.evaluator_id}
                - e_auto = value @tracing_data[:kpi].select{|k| k.planification_id == p_auto.id }.sort_by(&:created_at).last, :increase
                - e_eva  = value @tracing_data[:kpi].select{|k| k.planification_id == p_eva.id }.sort_by(&:created_at).last, :increase
                %tr
                    %td= kpi.description
                    %td.text-center
                        - res_eva = escala_eval.find{|x| x[:value] == e_eva}
                        - if res_eva.blank?
                            Sin calificar
                        - else
                            = res_eva[:name]

                    %td.text-center
                        - res_auto = escala_eval.find{|x| x[:value] == e_auto}
                        - if res_auto.blank?
                            Sin calificar
                        - else
                            = res_auto[:name]
                    %td.text-center
                        - if !res_auto.blank? and !res_eva.blank?
                            - if res_auto[:value] == res_eva[:value]

                            - else
                                - res = res_eva[:value]-res_auto[:value]
                                = '+' if res > 0
                                = res
            - @plan_data[:competences].group_by(&:competence_type_id).each do |ct_id, competences|
                -# Codigo sucio... es solo para MasErrazuriz
                %tr
                    %th.invisible
                    %th.text-center Evaluación
                    %th.text-center Auto-Evaluación
                    %th.invisible
                %tr
                    %th= CompetenceType.get(ct_id).name
                    %th.text-center Calificación
                    %th.text-center Calificación
                    %th.text-center Brecha
                - competences.each do |competence|
                    - plan = @plan_data[:plan_competences].select{|pl| pl[:evaluated_id].to_i == params[:evaluated_id].to_i and pl[:competence_id] == competence.id}
                    - next if plan.blank?
                    - p_auto = plan.find{|p| p.evaluated_id == p.evaluator_id}
                    - p_eva  = plan.find{|p| p.evaluated_id != p.evaluator_id}
                    - e_auto = value @tracing_data[:competences].select{|k| k.planification_competence_id == p_auto.id }.sort_by(&:created_at).last, :increase
                    - e_eva  = value @tracing_data[:competences].select{|k| k.planification_competence_id == p_eva.id }.sort_by(&:created_at).last, :increase
                    %tr
                        %td
                            - c = Conduct.get p_auto.conduct.to_i
                            %span{title: c.blank? ? '' : t.(c[:description]), :'data-toggle'=>"tooltip", :'data-placement'=>"right"}
                                = competence.name
                        %td.text-center
                            - res_eva = escala_eval.find{|x| x[:value] == e_eva}
                            - if res_eva.blank?
                                Sin calificar
                            - else
                                = res_eva[:name]
                        %td.text-center
                            - res_auto = escala_eval.find{|x| x[:value] == e_auto}
                            - if res_auto.blank?
                                Sin calificar
                            - else
                                = res_auto[:name]
                        %td.text-center
                            - if !res_auto.blank? and !res_eva.blank?
                                - if res_auto[:value] == res_eva[:value]

                                - else
                                    - res = res_eva[:value]-res_auto[:value]
                                    = '+' if res > 0
                                    = res
            %tr
                %th{colspan: 4} Acuerdos Jefe
            %tr
                %td{colspan: 4}
                    - if params[:ver].blank?
                        %textarea.form-control.com_eval{name: 'comment[eval]'}
                            = @comentario_eval.detalle
                    - else
                        = @comentario_eval.detalle
            %tr
                %th{colspan: 4} Acuerdos Colaborador
            %tr
                %td{colspan: 4}
                    - if params[:ver].blank?
                        %textarea.form-control.com_auto{name: 'comment[auto]'}
                            = @comentario_auto.detalle
                    - else
                        = @comentario_auto.detalle
            - if params[:ver].blank?
                %tr
                    %td.text-right{colspan: 4}
                        %a.btn.btn-primary.guardar-acuerdos{href: '#', :'data-loading-text' => 'Guardando...'}
                            %span.glyphicon.glyphicon-save
                            Guardar
    - if params[:ver].blank?
    :coffeescript
        init = ->
            $('[data-toggle="tooltip"]').tooltip({html: true})
            $('.btn.guardar-acuerdos').click (e)->
                e.preventDefault()
                data =
                    comment_eval: $('.com_eval').val()
                    comment_auto: $('.com_auto').val(),
                    evaluated_id: #{params[:evaluated_id]}
                    evaluator_id: #{current_user.position.id}
                $.post "#{personal_informe_feedback_save_performance_informes_path}", {data: data, authenticity_token: $('[name="csrf-token"]').attr('content')}, (result)->
                    location.reload()
        $(init)
