.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .page-header
        %h1 Planificación Cerrada y Sin Cerrar
        %h4
            Periodo:
            = @periodo.name
            Al
            = l Date.today
    - expandir = []
    -# v = Vicepresidencia.all


    -# v.each do |vic|
    - counter = {  total: 0,evaluacion: 0,process:0,met:0,comp:0}
    - @items.each do |item|
        -# unless item[:job].vicepresidencia_id != vic.id
        - pl, cm   = item[:planification], item[:plan_competences]
        - counter[:total] += 1
        - #logger.info "EP #{ep.inspect}   -     EC   #{ec.inspect}".green.bold
        - if  !pl.blank? && !cm.blank?
            - if  pl.closed && cm.closed
                - counter[:evaluacion] += 1
        - if  !pl.blank? || !cm.blank?
            - counter[:process] += 1
        - if !pl.blank? && pl.closed
            -counter[:met] +=1
        - if !cm.blank? && cm.closed
            -counter[:comp] +=1

    - counter[:p_evaluacion] = ((counter[:evaluacion]*100.0)/counter[:total]).round(2)
    - counter[:p_process] = (( counter[:process]*100.0)/counter[:total]).round(2)
    - counter[:p_met] = (( counter[:met]*100.0)/counter[:total]).round(2)
    - counter[:p_comp] = (( counter[:comp]*100.0)/counter[:total]).round(2)
    .panel
        -#%h4= vic.name
        %br
        Planificaciones Iniciadas
        = "#{counter[:process]} de #{counter[:total]}"
        .progress
            .progress-bar.progress-bar-success{style: "width: #{counter[:p_process]}%"}= "#{counter[:p_process]}%"
            .progress-bar.progress-bar-warning{style: "width: #{100.0-counter[:p_process]}%"}
        Planificaciones de Metas Finalizadas
        = "#{counter[:met]} de #{counter[:total]}"
        .progress
            .progress-bar.progress-bar-success{style: "width: #{counter[:p_met]}%"}= "#{counter[:p_met]}%"
            .progress-bar.progress-bar-info{style: "width: #{100.0-counter[:p_met]}%"}
        Planificaciones De Competencias Finalizadas
        = "#{counter[:comp]} de #{counter[:total]}"
        .progress
            .progress-bar.progress-bar-success{style: "width: #{counter[:p_comp]}%"}= "#{counter[:p_comp]}%"
            .progress-bar.progress-bar-primary{style: "width: #{100.0-counter[:p_comp]}%"}
        %br
        %table.table.simple.tree
            %thead
                %tr
                    %th Nombre
                    %th Cargo
                    %th Sucursal
                    %th Empresa
                    %th Metas Individuales
                    %th Competencias
                    -#%th
                    -#%th Competencia /Nivel


            %tbody
                - @items.each do |item|
                    -# unless item[:job].vicepresidencia_id != vic.id
                    - pl        = item[:planification]
                    - cm        = item[:plan_competences]
                    -# conl      = item[:plan_competences].conduct unless item[:plan_competences].blank?
                    -# cmar      = item[:plan_competences_ar]
                    - tr_class  = planification_competences_class pl, cm
                    - parent_id = (item[:job].parent.blank? ? nil : item[:job].parent.id)
                    - parent_id = nil if @items.find{|x| x[:job].id == parent_id}.blank?
                    %tr{class: tr_class, 'data-tt-id' => item[:job].id, 'data-tt-parent-id' => parent_id }
                        - expandir << item[:job].id if parent_id.blank? # Gerencia
                        %td= item[:user].full_name
                        %td= item[:job].name
                        %td= item[:job].branch_office.name
                        %td= item[:job].branch_office.company.name

                        %td
                            - if pl.blank?
                                No Iniciado
                            - else
                                - if pl.closed
                                    Finalizado
                                - else
                                    - unless pl.evaluator_closed
                                        Falta cierre evaluador
                                    - unless pl.evaluated_closed
                                        Falta cierre colaborador
                        %td
                            - if cm.blank?
                                No Iniciado
                            - else
                                - if cm.closed
                                    Finalizado
                                - else
                                    - unless cm.evaluator_closed
                                        Falta cierre evaluador
                                    - unless cm.evaluated_closed
                                        Falta cierre colaborador
                        -#%td
                            - unless cmar.blank?
                                - cmar.each do |xx|
                                    %td{style: "text-align:center"}
                                        ="#{xx.competence.name}"
                                        =JSON(xx.conduct).map {|i| "#{(c = Conduct.get(i)).blank? ? '' : " Nivel: #{c.number}"}" }.join("")


                        -#%td{style: "text-align:center"}
                            - unless cm.blank?
                                - unless conl.blank?
                                    =#JSON(conl).map {|i| "#{(c = Conduct.get(i)).blank? ? '' : "#{c.number}"}" }.join("")

:javascript
    $('.tree').treetable({ expandable: true });
    #{
        str = ''
        expandir.each do |i|
            str << %{$('.tree').treetable('expandNode', #{i});}
        end

        str
    }
