.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Carga masiva de usuarios', mantenedores_users_path, :active] ]
    = notices

    .page-header
        %h4 Subir una nueva planilla de usuarios
    .well
        %h5 Formato de carga de archivos
        %p Utilice en archivo Excel para cargar los datos al sistema
        %small
            %table.table.table-condensed
                %tr
                    %th Rut
                    %th Nombres
                    %th Apellidos
                    %th Sexo
                    %th Fecha Nacimiento
                    %th Nombre Cargo
                    %th Email
                    %th Fono
                    %th Contraseña
                    %th Fecha Ingreso a la empresa
                %tr
                    %td 123123123-1
                    %td Primer y/o Segundo nombre
                    %td Apellidos Paterno y/o Materno
                    %td Masculino o Femenino
                    %td DD-MM-AA
                    %td
                    %td
                    %td
                    %td
                    %td DD-MM-AA
    = simple_form_for :upload, url: mantenedores_users_path do |f|
        .boxDefinition
            = f.input :file, as: :file, label: 'Archivo XLS/XLSX'
        .control-group
            .controls
                = btn_subir
