.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Seguridad', mantenedores_seguridads_path], [:add, new_mantenedores_seguridad_path], [:edit, '#', :active] ]
  = render :partial => 'form'
