.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Seguridad', mantenedores_seguridads_path, :active], [:add, new_mantenedores_seguridad_path] ]
    .page-header
        %h3 Seguridad
        = notices

    %table.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Nombre
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.name, [:edit, edit_mantenedores_seguridad_path(i)], [:delete, mantenedores_seguridad_path(i)]]
