-# = crud_bar [ ['Administración de la Compensación', compensacion_compensation_index_path], ["Gestor de Compensaciones", compensacion_compensation_index_path, :active]]
.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .row
        .col-xs-12
            .well
                %h3 1. Descargar planilla de dotación
                %p
                    %strong Esta planilla sirve como base para cargar la información en el sistema.
                -# %a.btn.btn-primary{href: excel_puestos_compensacion_compensation_index_path}
                %a.btn.btn-primary{href: excel_dotacion_dotacion_index_path}
                    %span.glyphicon.glyphicon-download
                    Descargar
            %hr

            = notices
            .well
                %h3 2. Subir una nueva planilla de compensaciones
                %p
                    %strong Luego de completar la planilla descargada en el paso 1, puede subir la planilla al sistema
                = simple_form_for :upload, url: excel_procesa_dotacion_dotacion_index_path do |f|
                    .boxDefinition
                        = f.input :file, as: :file, label: 'Archivo excel'
                    %br
                    = f.submit 'Enviar', :class => 'btn btn-primary', :'data-loading-text' => "Enviando..."
