%script{src: '/javascripts/handsontable.js'}
%link{href: '/stylesheets/handsontable.css', rel: "stylesheet"}
= csrf_meta_tag

.col-lg-12.col-md-12.col-sm-12.col-xs-12
    %h4 Plan de dotación: Diferencias

    :css
        .normal { }
        .inferior { background-color: #B2E8BB !important; }
        .superior { background-color: #F2B5B5 !important; }

    .btn-group.btn-group-justified
        %a.btn.btn-primary.btn-total{href: '#total', class: 'active'}
            Ver Total
        %a.btn.btn-primary.btn-detalle{href: '#detalle'}
            Ver detalle
    .kinetic{style: 'overflow: scroll'}
        %table.table.table-condensed.table-stripped.simple.table-bordered
            %thead
                %tr
                    %th.text-center.col-xs-4{rowspan: 2} Nombre Cargo
                    %th{rowspan: 2} Jornada
                    - DotacionDato::MESES.each do |m|
                        %th.text-center.meses{colspan: 3}= m
                    %th.text-center.total.col-xs-2{colspan: 3} Total
                %tr
                    - 13.times do |t|
                        - ["Plan", "Real", "Dif."].each do |x|
                            %th.text-center{class: t >= 12 ? 'total' : 'meses'}= x
            %tbody
                - @work_data.each do |i|
                    - unless i[:job].blank?
                        %tr
                            %td{style: 'white-space: nowrap;'}!= i[:job]['name']
                            %td= i[:job]['jornada']
                            - DotacionDato::MESES_DIFERENCIA.each do |md|
                                %td.meses{class: (i[md] == 0 ? '' : (i[md] > 0 ? 'superior' : 'inferior') if md.include?('_diff')) }
                                    = i[md]
                            %td.total= i.map{|x, k| x.to_s.include?('_plan') ? k : 0}.inject(&:+)
                            %td.total= i.map{|x, k| x.to_s.include?('_real') ? k : 0}.inject(&:+)
                            - dif = i.map{|x, k| x.to_s.include?('_diff') ? k : 0}.inject(&:+)
                            %td.total{class: (dif == 0 ? '' : (dif > 0 ? 'superior' : 'inferior'))}= dif

:javascript
    function muestraDatos(tipo)
    {
        $('.btn-total,.btn-detalle').removeClass('active');
        if(tipo == 'meses')
        {
            $('.meses').show();
            $('.total').hide();
            $('.btn-detalle').addClass('active');
        }
        else
        {
            $('.meses').hide();
            $('.total').show();
            $('.btn-total').addClass('active');
        }
    }
    $(function(){
        muestraDatos('total');
        $('.btn-total').click(function(){
            muestraDatos('total');
        })
        $('.btn-detalle').click(function(){
            muestraDatos('meses');
        })
    })

-# = @work_data.inspect
-# .handsontable

-# :javascript
-#     var subheader   = ["Plan", "Real", "Dif"];
-#     var months_full = #{DotacionDato::MESES.to_json};;

-#     var headers = [ /*"Área",*/ "Nombre Cargo", "Últ. Edic", "Jornada"];

-#     for(i in months_full)
-#     {
-#         for(j in subheader)
-#         {
-#             headers.push(months_full[i].titleize()+"<br>"+subheader[j]);
-#         }
-#     }
-#     headers.push("TMH");

-#     var data      = #{@work_data.to_json};

-#     var months    = #{DotacionDato::MESES_CORTO.to_json};
-#     var columns   = [{data: 'job.name', readOnly: true, renderer: 'html'},
-#                      {data: 'updated_at', readOnly: true},
-#                      {data: 'job.jornada', readOnly: true}];
-#     for(i in months)
-#     {
-#         columns.push({data: months[i]+"_plan", type: 'numeric', readOnly: true});
-#         columns.push({data: months[i]+"_real", type: 'numeric', readOnly: true});
-#         columns.push({data: months[i]+"_diff", type: 'numeric', readOnly: true, renderer: negativeValueRenderer});
-#     }
-#     columns.push({data: 'total', readOnly: true, type: 'numeric'});

-#     $(function(){
-#         if(data[data.length-1]['job']['name'] != 'Total')
-#             data[data.length] = { job: {name: 'Total'} };
-#         calculaTotalesMeses();
-#         calculaTotal();

-#         $('.handsontable').handsontable({
-#             colHeaders: headers,
-#             data: data,
-#             columns: columns
-#         });
-#         //$('.handsontable table').addClass('table table-striped table-hover');
-#     });
-#     function negativeValueRenderer(instance, td, row, col, prop, value, cellProperties) {
-#         Handsontable.renderers.TextRenderer.apply(this, arguments);
-#         if (parseInt(value) > 0) {
-#             td.style.background = '#F2B5B5';
-#         }
-#         if (parseInt(value) < 0) {
-#             td.style.background = '#B2E8BB';
-#         }
-#     }
-#     function calculaTotal()
-#     {
-#         var sum = 0;
-#         for (var i = data.length - 1; i >= 0; i--)
-#         {
-#             sum = 0;
-#             for(var m = months.length - 1; m >= 0; m--)
-#             {
-#                 sum += parseFloat(data[i][months[m]]);
-#             }
-#             data[i]['total'] = sum;
-#         };
-#         $('.handsontable').handsontable('render');
-#     }
-#     function calculaTotalMes(mes)
-#     {
-#         var total = 0;
-#         for (var i = data.length - 2; i >= 0; i--)
-#         {
-#             total += parseFloat(data[i][mes]);
-#         }
-#         return total;
-#     }
-#     function calculaTotalesMeses()
-#     {
-#         for (var i = months.length - 1; i >= 0; i--) {
-#             data[data.length-1][months[i]] = calculaTotalMes(months[i]);
-#         }
-#         $('.handsontable').handsontable('render');
-#     }
