%script{src: '/javascripts/handsontable.js'}
%link{href: '/stylesheets/handsontable.css', rel: "stylesheet"}
= csrf_meta_tag

.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = notices
    %h4 Dotación real

    :css
        .normal { }
        .inferior { background-color: #B2E8BB !important; }
        .superior { background-color: #F2B5B5 !important; }

    .kinetic{style: 'overflow: scroll'}
        %table.table.table-condensed.table-stripped.simple.table-bordered
            %thead
                %tr
                    %th.text-center.col-xs-4{rowspan: 2} Nombre Cargo
                    %th{rowspan: 2} Jornada
                    - DotacionDato::MESES_CORTO.each do |m|
                        %th.text-center.meses= m.titleize
                    %th.text-center.total.col-xs-2 Total
            %tbody
                - @work_data.each do |i|
                    - unless i[:job].blank?
                        %tr
                            %td{style: 'white-space: nowrap;'}!= i[:job][:name]
                            %td= i[:job][:jornada]
                            - tmp = 0
                            - DotacionDato::MESES_CORTO.each do |md|
                                - tmp += i[md.to_sym]
                                %td= i[md.to_sym]
                            %td= tmp
-# = @work_data.inspect
-# .handsontable

-# :javascript
-#     var subheader   = ["Plan", "Real", "Dif"];
-#     var months_full = #{DotacionDato::MESES.to_json};;

-#     var headers = [ /*"Área",*/ "Nombre Cargo", "Últ. Edic", "Jornada"];

-#     for(i in months_full)
-#     {
-#         for(j in subheader)
-#         {
-#             headers.push(months_full[i].titleize()+"<br>"+subheader[j]);
-#         }
-#     }
-#     headers.push("TMH");

-#     var data      = #{@work_data.to_json};

-#     var months    = #{DotacionDato::MESES_CORTO.to_json};
-#     var columns   = [{data: 'job.name', readOnly: true, renderer: 'html'},
-#                      {data: 'updated_at', readOnly: true},
-#                      {data: 'job.jornada', readOnly: true}];
-#     for(i in months)
-#     {
-#         columns.push({data: months[i]+"_plan", type: 'numeric', readOnly: true});
-#         columns.push({data: months[i]+"_real", type: 'numeric', readOnly: true});
-#         columns.push({data: months[i]+"_diff", type: 'numeric', readOnly: true, renderer: negativeValueRenderer});
-#     }
-#     columns.push({data: 'total', readOnly: true, type: 'numeric'});

-#     $(function(){
-#         if(data[data.length-1]['job']['name'] != 'Total')
-#             data[data.length] = { job: {name: 'Total'} };
-#         calculaTotalesMeses();
-#         calculaTotal();

-#         $('.handsontable').handsontable({
-#             colHeaders: headers,
-#             data: data,
-#             columns: columns
-#         });
-#         //$('.handsontable table').addClass('table table-striped table-hover');
-#     });
-#     function negativeValueRenderer(instance, td, row, col, prop, value, cellProperties) {
-#         Handsontable.renderers.TextRenderer.apply(this, arguments);
-#         if (parseInt(value) > 0) {
-#             td.style.background = '#F2B5B5';
-#         }
-#         if (parseInt(value) < 0) {
-#             td.style.background = '#B2E8BB';
-#         }
-#     }
-#     function calculaTotal()
-#     {
-#         var sum = 0;
-#         for (var i = data.length - 1; i >= 0; i--)
-#         {
-#             sum = 0;
-#             for(var m = months.length - 1; m >= 0; m--)
-#             {
-#                 sum += parseFloat(data[i][months[m]]);
-#             }
-#             data[i]['total'] = sum;
-#         };
-#         $('.handsontable').handsontable('render');
-#     }
-#     function calculaTotalMes(mes)
-#     {
-#         var total = 0;
-#         for (var i = data.length - 2; i >= 0; i--)
-#         {
-#             total += parseFloat(data[i][mes]);
-#         }
-#         return total;
-#     }
-#     function calculaTotalesMeses()
-#     {
-#         for (var i = months.length - 1; i >= 0; i--) {
-#             data[data.length-1][months[i]] = calculaTotalMes(months[i]);
-#         }
-#         $('.handsontable').handsontable('render');
-#     }
