%script{src: '/javascripts/handsontable.js'}
%link{href: '/stylesheets/handsontable.css', rel: "stylesheet"}
= csrf_meta_tag

.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = notices

    %h4 Plan de dotación
    .handsontable
    .col-xs-12
        %a#guardar.btn.btn-success{href: '#'}
            %span.glyphicon.glyphicon-save
            Guardar modificaciones
        %a#limpiar.btn.btn-primary{href: clean_data_dotacion_dotacion_index_path+"?confirm=true"}
            %span.glyphicon.glyphicon-trash
            Limpiar datos

:javascript
    var headers = [ /*"Área",*/ "Nombre Cargo", "Últ. Edic", "Jornada",
                    "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic",
                    "TMH"]
    var data      = #{@work_data.to_json};
    var data_org  = #{@data.to_json};
    var months    = ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic'];

    $(function(){
        if(data.length == 0) data = data_org;
        if(data[data.length-1] && data[data.length-1]['job']['name'] != 'Total')
            data[data.length] = { job: {name: 'Total'} };
        calculaTotalesMeses();
        calculaTotal();

        $('.handsontable').handsontable({
            colHeaders: headers,
            data: data,
            columns: [  /*{data: 'area', readOnly: true}, */{data: 'job.name', readOnly: true, renderer: 'html'}, {data: 'updated_at', readOnly: true}, {data: 'job.jornada', readOnly: true},
                        {data: 'ene', type: 'numeric'}, {data: 'feb', type: 'numeric'}, {data: 'mar', type: 'numeric'},
                        {data: 'abr', type: 'numeric'}, {data: 'may', type: 'numeric'}, {data: 'jun', type: 'numeric'},
                        {data: 'jul', type: 'numeric'}, {data: 'ago', type: 'numeric'}, {data: 'sep', type: 'numeric'},
                        {data: 'oct', type: 'numeric'}, {data: 'nov', type: 'numeric'}, {data: 'dic', type: 'numeric'},
                        {data: 'total', readOnly: true, type: 'numeric'}
                    ],
            afterChange: saveData
        });
        //$('.handsontable table').addClass('table table-striped table-hover');

        $('#guardar').click(function(e){
            e.preventDefault();
            $(this).button('loading');
            $.ajax({
                url: '#{save_data_dotacion_dotacion_index_path}',
                data: {'data': data, authenticity_token: $('[name="csrf-token"]').attr('content')},
                dataType: 'json',
                type: 'POST',
                complete: function(e){
                    //console.log(e)
                    $('#guardar').button('reset');
                }
            })
        });
    })

    function saveData(change, source)
    {
        if(source == "edit") // Guardo solo en modificaciones
        {
            calculaTotalesMeses();
            calculaTotal();
        }
    }
    function calculaTotal()
    {
        var sum = 0;
        for (var i = data.length - 1; i >= 0; i--)
        {
            sum = 0;
            for(var m = months.length - 1; m >= 0; m--)
            {
                sum += parseFloat(data[i][months[m]]);
            }
            data[i]['total'] = sum;
        };
        $('.handsontable').handsontable('render');
    }
    function calculaTotalMes(mes)
    {
        var total = 0;
        for (var i = data.length - 2; i >= 0; i--)
        {
            total += parseFloat(data[i][mes]);
        }
        return total;
    }
    function calculaTotalesMeses()
    {
        for (var i = months.length - 1; i >= 0; i--) {
            if(data[data.length-1])
                data[data.length-1][months[i]] = calculaTotalMes(months[i]);
        }
        $('.handsontable').handsontable('render');
    }
