:css
    .box {margin-left: 25px;}
:ruby
    parametros = [
        {param: :empresa, name: 'Empresa', values: Empresa.all.map { |e| e.name }.uniq},
        {param: :vicepresidencia, name: 'Vicepresidencia', values: Vicepresidencia.all.map { |e| e.name }.uniq},
        {param: :estamento, name: 'Estamento', values: JobClass.all.map { |e| e.name }.uniq},
        {param: :job, name: 'Jefatura', values: Job.activos.map { |e| e.name }.uniq},
        {param: :sex, name: 'Genero', values: [{label: 'Femenino', value: User::FEMENINO}, {label: 'Masculino', value: User::MASCULINO}]}
    ]
    filter_opts = ""
    parametros.each do |x|
        filter_opts += "#{x[:param]}: '#{params[x[:param]]}'," unless params[x[:param]].blank?
    end
:javascript
    var filter_options = {#{filter_opts}};
    $(function(){
        $('.filter-buttons select.filtro').change(function(e){
           var sel = $(this).find(':selected');

           if(sel.attr('value') == 'all')
                delete filter_options[sel.attr('kind')];
            else
                filter_options[sel.attr('kind')] = sel.attr('value');

            filtro = $('.btn-filtro.active').attr('tipo');


            str = "?"+$.param(filter_options);

            window.location = str;
        });

    })
.well.filter-buttons
    .row
        - parametros.each do |p|
            .box.pull-left
                = "#{p[:name]}:"
                %select.filtro{name: p[:param], style: 'width: 60px'}
                    %option{value: 'all', kind: p[:param], selected: params[p[:param]].blank?} Todos
                    - p[:values].each do |i|
                        - i = {value: i, label: i} if i.class != Hash
                        %option{value: i[:value].to_s, kind: p[:param].to_s, selected: params[p[:param]].to_s == i[:value].to_s}= i[:label]
