.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Situaciones Internas', mantenedores_internal_situations_path], [:add, new_mantenedores_internal_situation_path],  [:edit, '#', :active] ]
  = render :partial => 'form'
