.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Situaciones Internas', mantenedores_internal_situations_path, :active], [:add, new_mantenedores_internal_situation_path] ]
    .page-header
        %h3 Situaciones Internas
        = notices

    %table.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Nombre
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.name, [:edit, edit_mantenedores_internal_situation_path(i)], [:delete, mantenedores_internal_situation_path(i)]]
