= simple_form_for @item, :url => @item.new? ? mantenedores_periods_path : mantenedores_period_path(@item), :html => {:class => 'form-horizontal'} do |f|
  = f.input :name
  = f.input :start_date, input_html: {:class  => 'date'}
  = f.input :end_date, input_html: {:class  => 'date'}
  = f.input :planification_closed, :as => :boolean
  = f.input :evaluation_closed, :as => :boolean
  .control-group
    .controls
      = btn_guardar
%script{:charset => "utf-8", :type => "text/javascript"}
  $(function(){
  $(".date").datepicker({dateFormat : 'yy-mm-dd'});
  });
