.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de periodos', mantenedores_periods_path], [:add, new_mantenedores_period_path], [:edit, '#', :active] ]
  = render :partial => 'form'
