.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de periodos', mantenedores_periods_path, :active], [:add, new_mantenedores_period_path] ]
  = notices

  %table#example.table.table-striped.table-bordered.table-condensed.simple
    %thead
      %tr
        %th ID
        %th Nombre
        %th Fecha Inicio
        %th Fecha Término
        %th Planificacion
        %th Evaluación
    %tbody
      - @items.each do |i|
        %tr
          %td= i.id
          %td= crud_options [i.name, [:edit, edit_mantenedores_period_path(i)]]
          %td= i.start_date
          %td= i.end_date
          %td= i.planification_closed ? 'Cerrada' : 'Abierta'
          %td= i.evaluation_closed ? 'Cerrada' : 'Abierta'
