= simple_form_for @item, :url => @item.new? ? mantenedores_inferential_results_path : mantenedores_inferential_result_path(@item), :html => {:class => 'form-horizontal'}  do |f|
    
    
    = f.input :name, label: 'Nombre', value: @item.name
    
    .control-group
        .controls
            = f.submit 'Enviar', :class => 'btn btn-primary'