.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Ilativos de Resultado', mantenedores_inferential_results_path], [:add, new_mantenedores_inferential_result_path, :active] ]
  = render :partial => 'form'
