.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Medio Ambiente', mantenedores_medio_ambientes_path], [:add, new_mantenedores_medio_ambiente_path, :active] ]
  = render :partial => 'form'
