.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Tamaño Empresa', mantenedores_tamano_empresas_path], [:add, new_mantenedores_tamano_empresa_path], [:edit, '#', :active] ]
  = render :partial => 'form'
