.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Tamaño empresa', mantenedores_tamano_empresas_path, :active], [:add, new_mantenedores_tamano_empresa_path] ]
    .page-header
        %h3 Tamaño empresa
        = notices

    %table.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Nombre
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.name, [:edit, edit_mantenedores_tamano_empresa_path(i)], [:delete, mantenedores_tamano_empresa_path(i)]]
