.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Conocimiento Organizacional', mantenedores_conocimiento_organizacionals_path], [:add, new_mantenedores_conocimiento_organizacional_path, :active] ]
  = render :partial => 'form'
