==========================================
=== Solicitud modificacion Descripción ===
==========================================

Cargo: <%= @jd.name %>
Estado: <%= JobDescription::ESTADOS[@jd.status] %>
Solicita: <%= @jd.analista.user.name %> - <%= @jd.analista.job.name %>
Dirección: <%=@url%><%= description_edit_jobsdescription_job_path(@job.id) %>
