<div class="col7" id="mainTitle">
	<h3><span>Inicio</span></h3>
</div>

<form class="mainForm">
	<fieldset>
		<legend>Inputs</legend>
		<div class="formOption clearfix">
			<label>input min</label>
			<input type="text" class="inputMin" name="textfield" id="textfield">
		</div>

		<div class="formOption clearfix">
			<label>input medium</label>
			<input type="text" class="inputMedium" name="textfield" id="textfield">
		</div>

		<div class="formOption clearfix">
			<label>input Large</label>
			<input type="text" class="inputLarge" name="textfield" id="textfield">
		</div>
	</fieldset>
	
	
	<fieldset>
		<legend>Inputs error/sucess/warning</legend>
		<div class="formOption error clearfix">
			<label>Error</label>
			<input type="text" class="inputMedium" name="textfield" id="textfield">
		</div>

		<div class="formOption success clearfix">
			<label>Sucess</label>
			<input type="text" class="inputMedium" name="textfield" id="textfield">
		</div>

		<div class="formOption warning clearfix">
			<label>Warning</label>
			<input type="text" class="inputMedium" name="textfield" id="textfield">
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Others</legend>
		<div class="formOption autoHeight clearfix">
			<label>Select min</label>
			<select name="select" class="selectMin" id="select">
			  <option value="">Example 01</option>
			  <option value="">Example 02</option>
			  <option value="">Example 03</option>
			  <option value="">Example 04</option>
			  <option value="">Example 05</option>
			</select>
		</div>
		<div class="formOption autoHeight clearfix">
			<label>Select medium</label>
			<select name="select" class="selectMedium" id="select">
			  <option value="">Example 01</option>
			  <option value="">Example 02</option>
			  <option value="">Example 03</option>
			  <option value="">Example 04</option>
			  <option value="">Example 05</option>
			</select>
		</div>
		<div class="formOption autoHeight clearfix">
			<label>Select large</label>
			<select name="select" class="selectLarge" id="select">
			  <option value="">Example 01</option>
			  <option value="">Example 02</option>
			  <option value="">Example 03</option>
			  <option value="">Example 04</option>
			  <option value="">Example 05</option>
			</select>
		</div>
		<div class="formOption clearfix">
			<label>Select autoWidth</label>
			<select name="select" id="select">
			  <option value="">Example 01</option>
			  <option value="">Example 02</option>
			  <option value="">Example 03</option>
			  <option value="">Example 04</option>
			  <option value="">Example 05</option>
			</select>
		</div>

		<div class="formOption clearfix">
			<label>Textarea</label>
			<textarea id="textarea" rows="" cols="" name="" class=""></textarea>
		</div>


		<div class="formOption autoHeight clearfix">
			<label>List checkbox</label>
			<div class="formBody">
				<ul class="inputs-list">
          <li>
            <label>
              <input type="checkbox" name="optionsCheckboxes" value="option1">
              <span>Option one is this and that—be sure to include why it’s great</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" name="optionsCheckboxes" value="option2">
              <span>Option two can also be checked and included in form results</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" name="optionsCheckboxes" value="option2">
              <span>Option three can—yes, you guessed it—also be checked and included in form results. Let's make it super long so that everyone can see how it wraps, too.</span>
            </label>
          </li>
          <li>
            <label class="disabled">
              <input type="checkbox" name="optionsCheckboxes" value="option2" disabled="">
              <span>Option four cannot be checked as it is disabled.</span>
            </label>
          </li>
        </ul>
        <span class="help-block">
          <strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.
        </span>
      </div>
		</div>

		<div class="formOption autoHeight clearfix">
			<label>List radious</label>
			<div class="formBody">
				<ul class="inputs-list">
          <li>
            <label>
              <input type="radio" checked="" name="optionsRadios" value="option1">
              <span>Option one is this and that—be sure to include why it’s great</span>
            </label>
          </li>
          <li>
            <label>
              <input type="radio" name="optionsRadios" value="option2">
              <span>Option two can is something else and selecting it will deselect options 1</span>
            </label>
          </li>
        </ul>
			</div>
		</div>
	</fieldset>
	
	<div class="formSubmit clearfix">
		<input type="submit" name="button" class="aSubmit aS_ok right" id="button" value="Enviar">
	</div>
	
</form>