.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Experiencia Laboral', mantenedores_experiencia_laborals_path], [:add, new_mantenedores_experiencia_laboral_path], [:edit, '#', :active] ]
  = render :partial => 'form'
