= simple_form_for @item, :url => @item.new? ? mantenedores_competence_types_path : mantenedores_competence_type_path(@item), :html => {:class => 'form-horizontal'}  do |f|


    = f.input :name, label: 'Nombre', value: @item.name
    - if tipo_modelo? :saville
        = f.input :area_id , label: 'Area', :collection => Area.all(fields: [:name, :id]), prompt: false

    .col-xs-12
        .pull-left
            = f.input :evaluable, label: 'Evaluable', value: @item.evaluable, as: :boolean
    .clearfix

    .control-group
        .controls
            = btn_guardar
