.col-lg-12.col-md-12.col-sm-12.col-xs-12
    - if tipo_modelo? :saville
        = crud_bar [ ['Mantenedor de MacroCompetencias', mantenedores_competence_types_path, :active], [:add, new_mantenedores_competence_type_path] ]
    - if !tipo_modelo? :saville
        = crud_bar [ ['Mantenedor de Tipos de Competencias', mantenedores_competence_types_path, :active], [:add, new_mantenedores_competence_type_path] ]
    .page-header
        - if tipo_modelo? :saville
            %h3 MacroCompetencias
        - if !tipo_modelo? :saville
            %h3 Tipo de Competencias
    = notices

    %table#example.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Nombre
                - if tipo_modelo? :saville
                    %th Área
                %th Evaluable
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.name, ['Ver competencias', list_mantenedores_competence_path(i)], [:edit, edit_mantenedores_competence_type_path(i)], [:delete, mantenedores_competence_type_path(i)]]
                    - if Rails.configuration.competencias == :saville
                        %td= i.area.blank? ? 'Sin definir' : i.area.name
                    %td= i.evaluable ? 'Si' : 'No'
