.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Tipos de Competencias', mantenedores_competence_types_path], [:add, new_mantenedores_competence_type_path, :active] ]
  = render :partial => 'form'
