%script{src: "/assets/templates/jd_tables/mantenedor.js"}

:css
	input.form-control.input-sm {height: 32px !important;}

.col-lg-12.col-md-12.col-sm-12.col-xs-12
	%h1 Tablas Dinámicas para Descripciones de Cargo
	#contenido

:coffeescript
	this.datos = #{@datos.to_json}

	rend = (save=true)->
		if save
			$.post "#{save_mantenedores_jd_tables_path}", {data: datos}, (data)->
				if data['status'] == 'ok'
					datos = data['data']
					rend(false)

		$('#contenido').html HandlebarsTemplates['jd_tables/mantenedor']({data: datos})
	col_del = (e)->
		e.preventDefault()
		data_idx = $(this).attr 'data_idx'
		col_idx  = $(this).attr 'col_idx'
		datos[data_idx]['cols'].splice col_idx, 1
		rend()
	row_del = (e)->
		e.preventDefault()
		data_idx = $(this).attr 'data_idx'
		row_idx  = $(this).attr 'row_idx'
		datos[data_idx]['rows'].splice row_idx, 1
		rend()

	col_add = (e)->
		e.preventDefault()
		inpt     = $('input.columna[data_idx='+$(this).attr('data_idx')+']')
		data_idx = inpt.attr 'data_idx'
		datos[data_idx]['cols'].push {name: inpt.val()}
		inpt.val ''
		rend()
	row_add = (e)->
		e.preventDefault()
		inpt = $('input.fila[data_idx='+$(this).attr('data_idx')+']')
		data_idx = inpt.attr 'data_idx'
		datos[data_idx]['rows'].push {name: inpt.val()}
		inpt.val ''
		rend()
	row_update = (e)->
		e.preventDefault()
		data_idx = $(this).attr 'data_idx'
		row_idx  = $(this).attr 'row_idx'
		inpt = $('input.t-row[data_idx='+data_idx+'][row_idx='+row_idx+']')
		datos[data_idx]['rows'][row_idx]['name'] = inpt.val()
		inpt.val ''
		rend()
	col_update = (e)->
		e.preventDefault()
		data_idx = $(this).attr 'data_idx'
		col_idx  = $(this).attr 'col_idx'
		inpt = $('input.t-col[data_idx='+data_idx+'][col_idx='+col_idx+']')
		datos[data_idx]['cols'][col_idx]['name'] = inpt.val()
		inpt.val ''
		rend()

	table_add = (e)->
		e.preventDefault()
		inpt = $('input.table-add')
		datos.push {table: {name: inpt.val()}, cols: [], rows: []}

		setTimeout (->
					$('body').scrollTo $('.panel[data_idx='+(datos.length-1)+']')
					), 200

		inpt.val ''
		rend()

	table_del = (e)->
		e.preventDefault()
		data_idx = $(this).attr 'data_idx'
		item = datos[data_idx]['table']
		console.log item
		if confirm("¿Estás seguro de eliminar " + item['name'] + "?")
			datos.splice data_idx, 1
			rend()

	table_update = (e)->
		e.preventDefault()
		data_idx = $(this).attr 'data_idx'
		inpt = $('input.t-name[data_idx='+data_idx+']')
		datos[data_idx]['table']['name'] = inpt.val()
		rend()

	entercheck = (event)->
		keycode = if event.keyCode then event.keyCode else event.which
		if keycode == 13
			$(this).next('.input-group-btn').children().click()
			data_idx = $(this).attr('data_idx')
			if data_idx
				cls = $(this).attr('class').replace(/(\s)/g, ".")
				cls = '.'+cls+'[data_idx="'+data_idx+'"]'
				setTimeout (->
					$(cls).focus().select()
					), 1000

	init = ->
		rend(false)
		$(document).on 'click', '.col-del', col_del
		$(document).on 'click', '.row-del', row_del
		$(document).on 'click', '.btn.columna', col_add
		$(document).on 'click', '.btn.fila', row_add
		$(document).on 'click', '.btn.row-update', row_update
		$(document).on 'click', '.btn.col-update', col_update
		$(document).on 'click', '.btn.table-del', table_del
		$(document).on 'click', '.btn.table-add', table_add
		$(document).on 'click', '.btn.table-update', table_update
		$(document).on 'keypress', 'input', entercheck
	$ init
