.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Calidad', mantenedores_calidads_path], [:add, new_mantenedores_calidad_path], [:edit, '#', :active] ]
  = render :partial => 'form'
