<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['Prop1.png'].url, alt: 'Essential', width: "90" %>
    <p>Estimado/a:</p>
    <p style="align=justify">Le informamos que se ha realizado su evaluación de competencias. </p>
    <p style="align=justify">Una vez que usted tenga la reunión de retroalimentación puede revisar y aprobar o rechazar las evaluaciones realizadas.</p>
    <p style="align=justify">En caso de no estar de acuerdo con su evaluación, podrá agregar sus comentarios en la plataforma.</p>
    <p style="align=justify"></p>
    <div align="center">
      <p>Para ingresar en nuestra Plataforma Essential, haz click <a href="https://test.rvelasco.cl">AQUI.</a></p>
    </div>
    <div align="center">
      <p>Cordialmente,</p>
    </div>
    <div align="center">
      <p>Recursos Humanos</p>
    </div>
  </body>
</html>
