= simple_form_for @item, :url => @item.new? ? job_evaluation_datas_path : job_evaluation_data_path(@item), :html => {:class => 'form-horizontal'}  do |f|
    - kinds = [[],["TECNICO"           ,1],
                ["GERENCIA"          ,2],
                ["RELACIONES_HUMANAS",3],
                ["AMBITO"            ,4],
                ["DESAFIO"           ,5],
                ["LIBERTAD"          ,6],
                ["MAGNITUD"          ,7],
                ["IMPACTO"           ,8]]

    = f.input :name, label: 'Nombre', value: @item.name
    = f.input :kind, label: 'Tipo', collection: kinds
    = f.input :job_evaluation_data_description_id, label: 'Leyenda', collection: JobEvaluationDataDescription.all
    =# f.input :management_type_id, label: 'Tipo de Gestión', collection: ManagementType.all


    .control-group
        .controls
            = btn_guardar
