.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de indicadores', job_evaluation_datas_path, :active], [:add, new_job_evaluation_data_path] ]
    - kinds = ["","TECNICO",
                "GERENCIA",
                "RELACIONES_HUMANAS",
                "AMBITO",
                "DESAFIO",
                "LIBERTAD",
                "MAGNITUD",
                "IMPACTO"]
    .page-header
        %h3 Mantenedor Indicadores
        = notices
    %table.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Nombre
                %th Tipo
                %th Tipo Gestion
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.name, [:edit, edit_job_evaluation_data_path(i)], [:delete,job_evaluation_data_path(i)]]
                    %td= kinds[i.kind]
                    %td= i.management_type.name unless i.management_type.blank?
