= simple_form_for @item, :url => @item.new? ? performance_agreements_path : performance_agreement_path(@item.id), :html => {:class => 'form-horizontal'} do |f|
    = f.input :acuerdo_o_comentario, :collection => ['Acuerdo', 'Comentario']
    = f.input :fecha, :class => 'inputMedium'
    = f.input :detalle, as: :text, input_html: {rows: 5, class: 'input-xxlarge'}

    = f.hidden_field :evaluated_id, :value => selected_position.id.to_s
    = f.hidden_field :evaluator_id, :value => evaluator.id unless evaluator.nil?
    = f.hidden_field :period_id, :value => Period.current.id
    
    .control-group
        .controls
            - if evaluator.nil?
                %h3 El evaluador no tiene un Puesto asociado, debe corregir esto antes
            - else
                = btn_guardar
