.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Nivel Hablado', mantenedores_nivel_hablados_path], [:add, new_mantenedores_nivel_hablado_path, :active] ]
  = render :partial => 'form'
