= simple_form_for @item, :url => @item.new? ? mantenedores_experiencia_en_cargos_path : mantenedores_experiencia_en_cargo_path(@item), :html => {:class => 'form-horizontal'}  do |f|


    = f.input :name, label: 'Nombre', value: @item.name


    .control-group
        .controls
            = btn_guardar
