.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Experiencia En Cargo', mantenedores_experiencia_en_cargos_path], [:add, new_mantenedores_experiencia_en_cargo_path, :active] ]
  = render :partial => 'form'
