﻿/*!
 * BLOCKS - Responsive Dashboard Theme
 *
 * Hey! Thanks for download this theme!
 * This bootstrap theme is totally free. You can edit, share, distribute, use and whatever you want.
 * Credits are always appreciated.
 * Please, feel free to contact me if you have any questions regarding this theme.
 *
 *
 * Copyright 2013
 * Created by: Carlos Alvarez
 * URL: http://Alvarez.is
 * Designed and built based on Twitter Bootstrap.
 */

/* COLOR REFERENCE
- #1f1f1f (Background Color)
- #3d3d3d (Dash-unit and half-unit Section)
- #262626 (Footer)
- #fa1d2d (Red - Used in selectors, parragraphs, bars and other)
- #b2c831 (Green - Used in titles, badges, bars and other)
- #bdbdbd & #fff (Font colors)
*/


/**********BASE CONFIGURATIONS**********/
body {
	/*background-image: url(../img/logos/Plantilla-Modulos.jpg);*/
	background: #a6a6a6; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(left top, #09A08A, #b6fcf0); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(bottom right, #09A08A, #b6fcf0); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(bottom right, #09A08A, #b6fcf0); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to bottom right, #09A08A, #b6fcf0); /* Standard syntax */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

h1 {
font-family: 'Raleway', sans-serif;}

h3,h4 , h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
}

h2{
	font-size:22px;
}

h3 {
	font-size:46px;
	color:#b2c831
}

h5 {
	color:#b2c831;
	margin-left:5px;
}

.col-centered{
  float: none;
	margin: 0 auto;
}

.navbar-default{
	background-color: inherit;
	border: 0px;
	padding-left: 0;
}

.container-fluid{
	position: absolute;
	left: 3%;
	right: 3%;
	border-bottom: 2px solid grey;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px
}

.logout{
	width: 40px;
	height: auto;
}

.mleft{
	margin-left: 5%;
}

.mright{
	margin-left: 86%;
}

/***********BLOCKS & WRAPS***********/

/*--- Dash Unit / Used in Dashboard page ---*/
.dash-unit {
	margin-top: 30px;
	padding-bottom:10px;
	border: 1px solid #383737;
	/*background-image:url('../img/sep-half.png');*/
	/*background-color:#2f1f1f;*/
	/*background-color:#005DAB;*/
	background-color: rgba(255,255,255);
	color:black;
	max-width: 250px;
	height:250px;
}

.dash-unit:hover {
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;

}

.dash-unit dtitle {
	font-size:11px;
	text-transform:uppercase;
	color:#ffffff;
	margin:8px;
	padding:0px;
	height:inherit
	}

.dash-unit hr {
  	border: 0;
  	border-top: 1px solid #151515;
  	border-top-style: dashed;
	margin-top:3px;
}

.dash-unit h1 {
	font-family: 'Raleway', sans-serif;
	font-weight:300;
	font-size: 20px;
	line-height: 2px;
	letter-spacing: 0px;
	color: #ffffff;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}

.dash-unit h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 26px;
	letter-spacing: 0px;
	color: #ffffff;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}


.dash-unit h3 {
	font-weight:300;
	font-size: 15px;
	line-height: 2px;
	letter-spacing: 0px;
	color: #b2c831;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}


.dash-unit p {
	font-size: 14px;
	font-weight: 200;
	line-height: 16px;
	color: inherit;
	margin: 0 0 10px;
	padding:5px;
 }

.dash-unit h4 {
	padding-left:5px;
	margin-top:2px;
	font-size: 13px;
	font-weight:lighter;
	line-height: 1;
	letter-spacing: 0px;
	color: #fff;
}

.dash-unit bold{
	font-family: 'Open Sans', sans-serif;
	font-size:26px;
	font-weight:bold;
	color:#fff;
	vertical-align:middle;
}


/**********Half-Unit / Used in index.html**********/
.half-unit {
	margin-bottom: 30px;
	padding-bottom: 4px;
	border: 1px solid #383737;
	background-image:url('../img/sep-half.png');
	background-color: #3d3d3d;
	color:white;
	height:130px;
}

.half-unit:hover {
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;

}

.half-unit dtitle {
	font-size:10px;
	text-transform:uppercase;
	color:#ffffff;
	margin:8px;
	padding:0px;
	height:inherit
	}

.half-unit hr {
  	border: 0;
  	border-top: 1px solid #151515;
  	border-top-style: dashed;
	margin-top:3px;
}

.half-unit h1 {
	font-family: 'Raleway', sans-serif;
	font-weight:300;
	font-size: 20px;
	line-height: 1;
	letter-spacing: 0px;
	color: #ffffff;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}

.half-unit h4 {
	padding-left:5px;
	margin-top:2px;
	font-size: 13px;
	font-weight:lighter;
	line-height: 1;
	letter-spacing: 0px;
	color: #fff;
}


.half-unit bold{
	font-family: 'Open Sans', sans-serif;
	font-size:26px;
	font-weight:bold;
	color:#fff;
	vertical-align:middle;
}

/***********Bootstrap Default Modifications***********/

.thumbnail {
	border:0px;
	text-align:center;
  -webkit-box-shadow: 0px;
     -moz-box-shadow: 0px;
          box-shadow: 0px;
    background: none;
    text-align: center;

}

.modal-header {
	background-image:url('../img/sep-half.png');
	background-color: #4f4f4f;
	color:#fff;
}

.progress-bar {
	background-color: #b2c831;
}

/***********LineIcons Styles***********/

.info-user {
	text-align:center;
	font-size: 15px;
	color: #000;
	}

.fs1 {
	padding:5px 5px 5px 5px;
	position:relative;
}

.fs1:hover {
	position:relative;
	color: #fff;
	cursor:pointer
}

.fs2 {
	padding:5px 5px 5px 5px;
	position:relative;
	font-size:35px;
	vertical-align: text-bottom
}

.navbar-nav {
  margin: 0 -15px;
}

/**********Link Styling**********/

a {
  color: #b2c831;
  text-decoration: none;
}

a:hover {
  color: #dff948;
  text-decoration: none;
}

/**********Media Styles**********/

@media (max-width: 360px){

	/* portrait tablet */
	@media (min-width: 767px) and (max-width: 768px) {
		.info-aapl ul {
  			margin-left:10px;
  			float:left;
	}

	#load {
		margin-left:5px;
		margin-right:10px;
	}

	#space {
		margin-left:5px;
		margin-right:10px;
	}

}

/* Landscape iphone 5 and samsung galaxy */

@media (min-width: 560px) and (max-width: 685px) {
	.info-aapl ul {
  		margin-left:40%;
	}
}

.btn-primary {
	background-color: #cc0000;
}
