:css
    .control-label
    {
        width: 250px !important;
        margin-right: 30px !important;
    }
    #okey_confirm
    {
        margin-top: 9px !important;
    }

.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Limpiar base de datos', mantenedores_utils_path, :active] ]
    .page-header
        %h3 Realizar limpieza de datos
    = notices

    .alert.alert-error
        %h3 Atención, proceso irreversible
        %p Este proceso es irreversible y eliminará todos los datos del sistema, recuerde cargar posterior a la limpieza
        %ul
            %li Organigrama de cargos
            %li Organigrama de puestos
            %li Creación de período
            %li Competencias
        %p
            Al hacer click sobre "Quiero eliminar todo"
            %strong POR FAVOR ESPERE
            ya que es un proceso lento, por lo que espere hasta que aparezca una notificación

    = simple_form_for :okey, url: mantenedores_utils_path, html: {class: 'form-horizontal span12'} do |f|
        = f.input :confirm, as: :boolean, label: 'Confirmo que conozco los riesgos'
        = button_tag :class => 'btn btn-danger', type: 'submit', 'data-disable-with' => "Cargando..." do
            %i.icon-white.icon-fire
            Quiero eliminar todo

:javascript
    $(function(){
        $('button').attr('disabled','disabled');

        $('#okey_confirm').click(function(){
            if( $(this).is(':checked') ) $('button').removeAttr('disabled');
            else $('button').attr('disabled', 'disabled');
        })
    })
