= simple_form_for @item, :url => @item.new? ? mantenedores_resultverbs_path : mantenedores_resultverb_path(@item), :html => {:class => 'form-horizontal'}  do |f|
  = f.input :name, label: 'Nombre', value: @item.name
  = f.input :management_type_id, label: 'Tipo de Gestión', collection: ManagementType.all

  .control-group
    .controls
      = btn_guardar
