.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Verbos de Resultado', mantenedores_resultverbs_path], [:add, new_mantenedores_resultverb_path], [:edit, '#', :active] ]
  = render :partial => 'form'
