.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Verbos de Resultado', mantenedores_resultverbs_path, :active], [:add, new_mantenedores_resultverb_path] ]
  = notices

  %table#example.table.table-striped.table-bordered.table-condensed.no-filter
    %thead
      %tr
        %th Nombre
        %th Tipo de Gestión
    %tbody
      - @items.each do |i|
        %tr
          %td= crud_options [i.name, [:edit, edit_mantenedores_resultverb_path(i)], [:delete, mantenedores_resultverb_path(i)]]
          %td= i.management_type.name unless i.management_type.blank?
