= simple_form_for @item, :url => @item.new? ? mantenedores_conducts_path : mantenedores_conduct_path(@item), :html => {:class => 'form-horizontal'}  do |f|
    
    
    = f.input :number, label: 'Número', value: @item.number
    = f.input :description, label: 'Descripción', value: @item.description
    = f.input :visible, value: @item.visible, as: :boolean

    = f.input :competence_id, 
        :collection => Competence.all(fields: [:name, :id]), prompt: false
    
    .control-group
        .controls
            = btn_guardar