.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Conductas', mantenedores_conducts_path], [:add, new_mantenedores_conduct_path], [:edit, '#', :active]]
  = render :partial => 'form'
