.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Conductas', mantenedores_conducts_path, :active], [:add, new_mantenedores_conduct_path]]
    .page-header
        %h3 Conductas
    = notices

    %table#example.table.table-striped.table-bordered.table-condensed
        %thead
            %tr
                %th Nombre
                %th Competencia
                %th Visible
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.description, [:edit, edit_mantenedores_conduct_path(i)], [:delete, mantenedores_conduct_path(i)]]
                    %td= i.competence.name
                    %td= i.visible ? 'Si' : 'No'
