-#%iframe{sandbox: 'allow-same-origin allow-scripts allow-forms allow-top-navigation allow-modals allow-popups', src: "#{Rails.configuration.organigrama_url}?frame=true&email=#{current_user.email}&rut=#{current_user.rut}&mode=gestion", style: 'border: 0; width:100%; min-height:600px; height: 100%'}
-#%iframe{sandbox: 'allow-same-origin allow-scripts allow-forms allow-top-navigation allow-modals allow-popups', src: "#{Rails.configuration.organigrama_url}?email=#{current_user.email}&rut=#{current_user.rut}&path=#{root_path}&mode=gestion", style: 'border: 0; width:100%; min-height:600px; height: 100%'}
%iframe{sandbox: 'allow-same-origin allow-scripts allow-forms allow-top-navigation allow-modals allow-popups', src: "#{Rails.configuration.organigrama_url}?username=#{current_user.username}", style: 'border: 0; width:100%; min-height:600px; height: 100%'}

:javascript
    function reciveMessage(event)
    {
        window.location = event.data;
    }
    $(function(){
        window.addEventListener("message", reciveMessage, false);
        $('iframe').load(function() {
            try {
                this.style.height = this.contentWindow.document.body.offsetHeight + 'px';
            } catch(err) {}
        });


    })
