.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Tipo Empresa', mantenedores_empresa_tipos_path], [:add, new_mantenedores_empresa_tipo_path, :active] ]
  = render :partial => 'form'
