= simple_form_for @item, :url => @item.new? ? mantenedores_magnitudes_path : mantenedores_magnitude_path(@item), :html => {:class => 'form-horizontal'}, defaults: { input_html: { class: "form-control" } }  do |f|
    .col-md-12
        = f.input :name, label: 'Nombre', value: @item.name, class: 'form-control'
        
        = f.input :kind, collection: for_select(Magnitude, :TIPOS), class: 'form-control'
        %br

        .control-group
            .controls
                = btn_guardar