.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Magnitudes', mantenedores_magnitudes_path], [:add, new_mantenedores_magnitude_path], [:edit, '#', :active] ]
  = render :partial => 'form'
