:css
  #mostrando {height: 280px !important; margin-bottom: 60px;}
=# render :partial => 'partials/chart', locals: {buttons: true}
= render partial: 'workflow'
= form_for @item, :url => (@item.new? ? jobsdescription_jobs_path : jobsdescription_job_path(@item))+"#{'?description=true' if @is_description}", :html => {:class => 'mainForm'}  do |f|
  = hidden_field_tag :tab_state
  %ul#tabs.nav.nav-tabs
    %li.active
      %a{href: '#mision', 'data-toggle' => 'tab'} Misión
    %li
      %a{href: '#principales-resultados', 'data-toggle' => 'tab'} Principales resultados
    %li
      %a{href: '#dimensiones', 'data-toggle' => 'tab'} Dimensiones
    %li
      %a{href: '#autoridad', 'data-toggle' => 'tab'} Autoridad
    %li
      %a{href: '#situaciones', 'data-toggle' => 'tab'} Situaciones
    %li
      %a{href: '#relaciones', 'data-toggle' => 'tab'} Relaciones
    %li
      %a{href: '#perfiles', 'data-toggle' => 'tab'} Perfil postulante
    %li
      %a{href: '#competencias', 'data-toggle' => 'tab'} Habilidades
  - counter = 1

  .tab-content{style: 'margin-top: 10px'}
    #mision.tab-pane.fade.in.active
      - DataMapper.repository(:rvelasco) do
        .panel.panel-primary
          .panel-heading
            %h3.panel-title Identificación
          .panel-body
            .col-md-3
              %dl
                %dt Título de Cargo:
                %dd= @item.name
            - unless @is_description
              .col-md-3
                %dl
                  %dt Tipo:
                  %dd Sin definir
              .col-md-3
                %dl
                  %dt Dependencia jerárquica:
                  %dd= @item.boss.name unless @item.boss.nil?
              .col-md-3
                %dl
                  %dt Perfil:
                  %dd= @item.profile.nil? ? 'Sin definir' : @item.profile.name
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Misión
          - counter += 1
        .panel-body
          %fieldset.form-stacked
            .alert.alert-info
              %h5 Razón por la cual existe el cargo. La Sintaxis es: (Acción + Ilativo de Acción/Funcion + Función o Proceso donde organizacionalmente ocurre la Acción + Verbo de Resultado + Ilativo de Resultado + Resultado)
            .formOption.clearfix
              = render :partial => 'partials/wordcompletion', :locals => {:input => 'job_mission'}#, :job_type => (@is_description ? nil : @item.job_type) }
              %textarea#job_mission.ckeditor{rows: 5, name: 'job[mission]'}
                = @description.mission
            .formOption

    #principales-resultados.tab-pane.fade
      -#.panel.panel-default
        -#.panel-heading
          %h4="#{counter}. Principales resultados"
        - counter += 1
        .panel-body
      = render :partial => 'jobsdescription/jobs/partials/main_results'

    #dimensiones.tab-pane.fade
      -#.panel.panel-default
        -#.panel-heading
          %h4="#{counter}. Dimensiones (Expresadas en términos anuales)"
        - counter += 2
        .panel-body
      = render :partial => 'jobsdescription/jobs/partials/dimensions'

    #autoridad.tab-pane.fade
      -#.panel.panel-default
        -#.panel-heading
          %h4="#{counter}. Autoridad"
        - counter += 1
        .panel-body
      = render :partial => 'jobsdescription/jobs/partials/decisions_recomendations', :locals => {:f => f}

    - unless [:disal].include? Rails.configuration.cliente
      #situaciones.tab-pane.fade
        -#.panel.panel-default
          -#.panel-heading
            %h4="#{counter}. Situaciones que pueden afectar al cargo"
          - counter += 1
          .panel-body
        = render :partial => 'jobsdescription/jobs/partials/situations', :locals => {:f => f}

    #relaciones.tab-pane.fade
      -#.panel.panel-default
        -#.panel-heading
          %h4="#{counter}. Relaciones del cargo"
        - counter += 1
        .panel-body
      = render partial: 'jobsdescription/jobs/partials/contacts', locals: {f: f}

    #otras.tab-pane.fade
      - unless [:disal].include? Rails.configuration.cliente
        -#.panel.panel-default
          -#.panel-heading
            %h4="#{counter}. Otras responsabilidades del cargo"
          - counter += 1
          .panel-body
        .formOption.clearfix
          = f.label :aditional_responsability, 'El cargo adicionalmente es responsable de:'
          = f.text_area :aditional_responsability, :class => "ckeditor", :rows => 10
    -#
      .panel.panel-default
        .panel-heading
          %h4=" #{es_disal ? 'Contexto' : 'Datos importados pendientes de ingresar'}"
        .panel-body
          .formOption.clearfix
            = f.text_area :others, :class => "ckeditor", :rows => 10
          -# .formOption.clearfix
          -#   = f.label :others, 'Otros del Cargo:'
          -#   = f.text_field :others, :class => "inputLarge"
      -#  - unless @item.habilidades.blank?
      -#    .panel.panel-default
      -#      .panel-heading
      -#        %h4="#{counter}. Habilidades"
      -#        - counter += 1
      -#      .panel-body
      -#        .formOption.clearfix
      -#          = f.text_area :habilidades, :class => "ckeditor", :rows => 10
    -#
    #perfiles.tab-pane.fade
      -#.panel.panel-default
        -#.panel-heading
          %h4="#{counter}. Perfiles"
        - counter += 1
        .panel-body
      = render :partial => 'jobsdescription/jobs/partials/perfiles', :locals => {:f => f}


    #competencias.tab-pane.fade
      -#.panel.panel-default
        -#.panel-heading
          %h4="#{counter}. Competencias"
        - counter += 1
        .panel-body
      = render :partial => 'jobsdescription/jobs/partials/competencias', :locals => {:f => f}
  %br
  .text-center
    = btn_guardar if role_cann?'dc_lista_editar'
:javascript

  function setFormUrl()
  {
    url = $('form.mainForm').attr('action');
    url = $('form.mainForm').attr('action').split('#')[0] + location.hash;
    $('form.mainForm').attr('action', url);
  }

  $('#tabs a').click(function (e) {
    setFormUrl();
    e.preventDefault();
    $(this).tab('show');
    $('#tab_state').val($(this).attr('href'));
    console.log('tab_state : ', $('#tab_state').val());
  })
  $('form button[type="submit"]')
  $(function(){ setFormUrl(); });
= ckeditor
