- if action_is? :description_edit
  .row
    .col-xs-8
      .panel.panel-xs.panel-default
        .panel-heading
          %h5 Comentarios
        .panel-body
          %table.table.table-condensed.table-bordered
            %tr
              %th.col-xs-3 Fecha
              %th.col-xs-3 Autor
              %th.col-xs-6 Comentario
            - if @comentarios.blank?
              %tr
                %td.text-center{colspan: 3} No existen comentarios
            - else
              - @comentarios.each do |c|
                %tr
                  %td= l c.created_at
                  %td= c.author.user.name
                  %td= c.detalle
        .panel-footer
          = form_for @item, :url => comment_save_jobsdescription_job_path(@item.id), :html => {:class => 'mainForm'}  do |f|
            %h5 Nuevo comentario:
            %textarea.form-control{name: 'comentarios'}
            %br
            %button.btn.btn-primary.btn-xs
              %span.glyphicon.glyphicon-save
              Guardar comentario
    .col-xs-4

      .panel.panel-xs.panel-default
        .panel-heading
          %h5
            = role_can?(:dc_administrador) ? 'Realizar' : 'Solicitar'
            cambio de estado
        = simple_form_for @description, url: description_status_save_jobsdescription_job_path(@description.id)+"?job_id=#{@item.id}" do |f|
          .panel-body
            Estado actual:
            .badge= JobDescription::ESTADOS[@description.status]
            - if role_can?(:dc_administrador)
              = f.input :analista_id, label: 'Cambiar analista',
                        :collection => @analistas.map{|a| [a[:nombre], a[:id]]}, prompt: false
            - except_statuses = [JobDescription::ASIGNADO, JobDescription::NUEVO, @description.status]
            - except_statuses << JobDescription::APROBADO unless role_can?(:dc_administrador)
            = f.input :status, label: 'Nuevo estado:',
                               collection: JobDescription.sel_estados(except_statuses), prompt: false

            %label
              Email envio solicitud:
            - tmp = Rails.configuration.email_descripcion
            - u_email = @description.analista.blank? ? tmp : @description.analista.user.email
            - u_email = tmp if u_email.blank?
            - email = role_can?(:dc_administrador) ? u_email : tmp

            %input.form-control{name: 'email_envio', value: email}
            %br

            %button.btn.btn-primary.btn-xs
              %span.glyphicon.glyphicon-save
              = role_can?(:dc_administrador) ? 'Realizar' : 'Solicitar'
              modificaciones
