.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Descripción de cargos', jobsdescription_jobs_path], [:edit, '#', :active] ]
  - if !@titulo_cargo.blank?
    %h1= "Descripcion de cargo actualizada: #{@titulo_cargo}"
  - else
    %h1 Error al actualizar Descripcion de cargo



-#    %h2 Descripción:
-#    %textarea{name: 'descripcion', style: 'width: 100%; height: 80px'}
-#        = @descripcion
-#
-#    %h2 Descripción funcional:
-#    %table.table.table-condensed.no-filter
-#        %thead
-#            %tr
-#                %th Acciones (¿Qué hace + dónde lo hace?)
-#                %th Resultados Esperados (¿Para qué lo hace?)
-#                %th Periodicidad (Ej: diario, mensual, anual, etc.)
-#        %tbody
-#            - @desc_funcional.each do |i|
-#                %tr
-#                    %td= i[0]
-#                    %td= i[1]
-#                    %td= i[2]
-#
-#    %h2 Dimensiones
-#    %table.table.table-condensed.no-filter
-#        %thead
-#            %tr
-#                %th{colspan: 2} Principales Magnitudes
-#                %th{colspan: 2} Recursos Asignados
-#            %tr
-#                %th Nombre
-#                %th Valor
-#                %th Nombre
-#                %th Valor
-#        %tbody
-#            - unless @dimensiones.blank?
-#                -# = @dimensiones.inspect
-#                - a = @dimensiones[:magnitudes].length
-#                - b = @dimensiones[:recursos].length
-#                - max = (a > b)? a : b
-#                -# max = [@dimensiones[:magnitudes].length, @dimensiones[:recursos].length].max
-#                - (0..max-1).each do |n|
-#                    %tr
-#                        %td= @dimensiones[:magnitudes][n][:name] unless @dimensiones[:magnitudes][n].blank?
-#                        %td= @dimensiones[:magnitudes][n][:value] unless @dimensiones[:magnitudes][n].blank?
-#                        %td= @dimensiones[:recursos][n][:name] unless @dimensiones[:recursos][n].blank?
-#                        %td= @dimensiones[:recursos][n][:value] unless @dimensiones[:recursos][n].blank?
-#
-#    %h2 Autoridad
-#    %table.table.table-condensed.no-filter
-#        %thead
-#            %tr
-#                %th Decisiones
-#                %th Recomendaciones
-#        %tbody
-#            - unless @decisions_recomendations.blank?
-#                - max = [@decisions_recomendations[:decisions].length, @decisions_recomendations[:recomendations].length].max
-#                - (0..max-1).each do |n|
-#                    %tr
-#                        %td= @decisions_recomendations[:decisions][n]
-#                        %td= @decisions_recomendations[:recomendations][n]
-#
-#    %h2 Relaciones
-#    %table.table.table-condensed.no-filter
-#        %thead
-#            %tr
-#                %th{colspan:3} Internas
-#                %th{colspan:3} Externas
-#            %tr
-#                %th ¿Con quién?
-#                %th ¿Para qué?
-#                %th Periodicidad
-#                %th ¿Con quién?
-#                %th ¿Para qué?
-#                %th Periodicidad
-#        %tbody
-#            - max = [@relaciones[:internas].length, @relaciones[:externas].length].max
-#            - (0..max-1).each do |n|
-#                %tr
-#                    %td= @relaciones[:internas][n][0] if @relaciones[:internas][n]
-#                    %td= @relaciones[:internas][n][1] if @relaciones[:internas][n]
-#                    %td= @relaciones[:internas][n][2] if @relaciones[:internas][n]
-#                    %td= @relaciones[:externas][n][0] if @relaciones[:externas][n]
-#                    %td= @relaciones[:externas][n][1] if @relaciones[:externas][n]
-#                    %td= @relaciones[:externas][n][2] if @relaciones[:externas][n]
-#
-#    %h2 Otros:
-#    %table.table.table-condensed.no-filter
-#        %thead
-#            %tr
-#                %th Otros
-#        %tbody
-#            %tr
-#                %td!= @contexto
-#
-#    %h2 Perfil
-#    %table.table.table-condensed.no-filter
-#        %thead
-#            %tr
-#                %th Conocimientos
-#                %th Experiencias
-#        %tbody
-#            %tr
-#                %td= @perfil[:conocimiento]
-#                %td= @perfil[:experiencia]
-#    = @tablas.inspect
-#    %br
-#    %b DINAMICAS:
-#    = @dinamicas.inspect
-#
