.col-lg-12.col-md-12.col-sm-12.col-xs-12
    %h1= @titulo
    %h2 1. Misión
    %table.table.table-condensed.no-filter
        %tbody
            %tr
                %td= @descripcion

    %h2 2. Principales Resultados
    %table.table.table-condensed.no-filter
        %thead
            %tr
                %th #
                %th Acciones (¿Qué hace + dónde lo hace?)
                %th Resultados Esperados (¿Para qué lo hace?)
        %tbody
            - @desc_funcional.each do |i|
                %tr
                    %td= i[0]
                    %td= i[1]
                    %td= i[2]

    %h2 3. Dimensiones
    %table.table.table-condensed.no-filter
        %thead
            %tr
                %th{colspan: 2} Principales Magnitudes
                %th{colspan: 2} Recursos Asignados
            %tr
                %th Nombre
                %th Valor
                %th Nombre
                %th Valor
        %tbody
            - unless @dimensiones.blank?
                - max = [@dimensiones[:magnitudes].length, @dimensiones[:recursos].length].max
                - (0..max-1).each do |n|
                    %tr
                        %td= @dimensiones[:magnitudes][n][:name]
                        %td= @dimensiones[:magnitudes][n][:value]
                        %td= @dimensiones[:recursos][n][:name]
                        %td= @dimensiones[:recursos][n][:value]

    %h2 4. Autoridad
    %table.table.table-condensed.no-filter
        %thead
            %tr
                %th Decisiones
                %th Recomendaciones
        %tbody
            - unless @decisions_recomendations.blank?
                - max = [@decisions_recomendations[:decisions].length, @decisions_recomendations[:recomendations].length].max
                - (0..max-1).each do |n|
                    %tr
                        %td= @decisions_recomendations[:decisions][n]
                        %td= @decisions_recomendations[:recomendations][n]

    %h2 6. Situaciones
    %table.table.table-condensed.no-filter
        %thead
            %tr
                %th Detalle
        %tbody
            - @contexto.each do |c|
                %tr
                    %td{style: 'white-space: normal'}= c

    %h2 7. Relaciones

    %table.table.table-condensed.no-filter
        %thead
            %tr
                %th{colspan:3} Internas
                %th{colspan:3} Externas
            %tr
                %th ¿Con quién?
                %th ¿Para qué?
                %th Periodicidad
                %th ¿Con quién?
                %th ¿Para qué?
                %th Periodicidad
        %tbody
            - max = [@relaciones[:internas].length, @relaciones[:externas].length].max
            - (0..max-1).each do |n|
                %tr
                    %td= @relaciones[:internas][n][0] if @relaciones[:internas][n]
                    %td= @relaciones[:internas][n][1] if @relaciones[:internas][n]
                    %td= @relaciones[:internas][n][2] if @relaciones[:internas][n]
                    %td= @relaciones[:externas][n][0] if @relaciones[:externas][n]
                    %td= @relaciones[:externas][n][1] if @relaciones[:externas][n]
                    %td= @relaciones[:externas][n][2] if @relaciones[:externas][n]

    %h2 9. Principales conocimientos y experiencias
    %table.table.table-condensed.no-filter
        %thead
            %tr
                %th Conocimientos
                %th Experiencias
        %tbody
            %tr
                %td
                    %ul
                        - @perfil[:conocimiento].each do |x|
                            %li= x
                %td
                    %ul
                        - @perfil[:experiencia].each do |x|
                            %li= x
