.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Descripción de cargos', jobsdescription_jobs_path], [:edit, '#', :active] ]

    %h1 Cargar descripción desde archivo
    %p.alert-info.alert
        Este módulo permitirá cargar la información del cargo, desde un archivo WORD (.doc) siguiendo la estructura básica que está en el siguiente ejemplo:
        %br
        %a.btn.btn-success.btn-xs{href: '/cargos/formato.doc'}
            %span.glyphicon.glyphicon-download
            Descargar
    %p.alert.alert-warning
        %strong Debe utilizar la misma cantidad de columnas y celdas en cada tabla, además incluir los mismos títulos, que deben estar en NEGRITA
        %br
    %p.alert.alert-danger
        Este proceso eliminará
        %strong TODA LA INFORMACIÓN CONTENIDA EN LA DESCRIPCIÓN DE CARGO
        seleccionada y la reemplazará por la contenida en el archivo.
        %br
        %strong Este es un proceso irreversible
    %br
    %p.alert.alert-danger#mensaje{style:"display:none"}
        Debe seleccionar un archivo con extencion
        %strong .DOC
    %br
    = form_for @item, :url => cargar_process_jobsdescription_job_path(@item), method: :post, multipart: true, :html => {:class => 'mainForm'}  do |f|
        %br
        %strong Seleccione archivo DOC
        = f.file_field :file

        %br
        %button.btn.btn-primary#enviar{type: 'submit'}
            %span.glyphicon.glyphicon-save
            Enviar


:javascript
      $(document).ready(function(){
          $("#enviar").click(function(e){
            var a = $("#job_file");
            console.log("$(#job_file);",$("#job_file"));
            var filename = $("#job_file").val();
            var extension = filename.replace(/^.*\./, '');
            console.log("extension",extension);
            if (a[0].files[0]==null && extension != "doc"){
              document.getElementById("mensaje").style.display = "inline";
              alert("debe seleccionar un archivo con extencion .DOC");
              e.preventDefault();
            }

      });




      });
