:css
  .chzn-container
  {
      width: 100% !important;
  }
  .tab-content
  {
      overflow: visible;
  }
  .orgdiagram
  {
      width: 100% !important;
  }
  .ffb-input { width: 90% !important; }

.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Descripción de cargos', jobsdescription_jobs_path], [:edit, '#', :active], [:show, jobsdescription_job_path(@item)], ['Comentarios', comment_path(@item)] ]
  = render :partial => 'form'
