.col-lg-12.col-md-12.col-sm-12.col-xs-12
  =# crud_bar [ ['Descripción de cargos', jobsdescription_jobs_path, :active],["cargadas"] ]

  - expandir = []
  - first_parent_id = 0
  - description_counter_no = 0
  - description_counter_si = 0

  %ul.nav.nav-tabs
    %li.active
      %a{href: "#" , onclick: "cargadas_nocargadas(0)" } Descripción de cargos
      %p
    %li
      %a{href: "#", onclick: "cargadas_nocargadas(1)" }Cargadas
    %li
      %a#cargada{style: "color: green; text-align:center",href: "#", onclick: "cargadas_nocargadas(1)" }
    %li
      %a{href: "#" , onclick: "cargadas_nocargadas(2)" }No Cargadas
    %li
      %a#nocargada{style: "color: red; text-align:center",href: "#" ,onclick: "cargadas_nocargadas(2)"}

  - if @items.blank?
    %br
    .alert.alert-info
      No existen datos en el Organigrama, por favor cargue una planilla.
  - else
    %table.table.simple#tcargada{style: "display: none"}
      %thead
        %tr
          %th Nombre
          %th Dependencia jerárquica
          %th Empresa
          %th Ultima Actualización
          %th
      %tbody
        - @items.each do |i|
          - if !i.job_description.ultima_actualizacion_value.blank?
            :ruby
              parent_id  = (i.parent.blank? ? nil : i.parent.id)
              parent_id  = nil if @items.find{|x| x.id == parent_id}.blank?
              opts       = ['Opciones', [:show, jobsdescription_job_path(i)]]
              edit_opt   = [:edit, edit_jobsdescription_job_path(i)]
              cargar_opt = ['Cargar Word con Descripción', cargar_jobsdescription_job_path(i)]
              if is_admin?
                opts << edit_opt
                opts << cargar_opt
              else
                if role_cann? "dc_ver_org_propio"
                #  if current_job == i && role_cann?("dc_editar_org_propio")
                  opts << edit_opt if role_cann?("dc_lista_editar")
                  opts << cargar_opt if role_cann?("dc_lista_cargar")
                else
                #    if role_cann? "dc_editar_org_sub"
                  opts << edit_opt if role_cann?("dc_lista_editar")
                  opts << cargar_opt if role_cann?("dc_lista_cargar")
                #    end
                #  end
                #else
                  #opts << edit_opt if role_cann?("dc_lista_editar")
                  #opts << cargar_opt if role_cann?("dc_lista_cargar")
                end
              end
            %tr{ 'data-tt-id' => i.id, 'data-tt-parent-id' => parent_id }
              %td
                %b= i.name
                -if parent_id == nil
                  - first_parent_id = i.id
              %td= i.boss_id.blank? ? '' : i.boss.name
              %td= i.branch_office.blank? ? '' : i.branch_office.company.name
              %td= i.job_description.ultima_actualizacion_value
              %td= crud_options opts

    %table.table.simple#tnocargada{style: "display: none"}
      %thead
        %tr
          %th Nombre
          %th Dependencia jerárquica
          %th Empresa
          %th Ultima Actualización
          %th
          - if role_cann?('dc_asignar')
            %th
      %tbody
        - @items.each do |i|
          - if i.job_description.ultima_actualizacion_value.blank?
            :ruby
              parent_id  = (i.parent.blank? ? nil : i.parent.id)
              parent_id  = nil if @items.find{|x| x.id == parent_id}.blank?
              opts       = ['Opciones', [:show, jobsdescription_job_path(i)]]
              edit_opt   = [:edit, edit_jobsdescription_job_path(i)]
              cargar_opt = ['Cargar Word con Descripción', cargar_jobsdescription_job_path(i)]
              if is_admin?
                opts << edit_opt
                opts << cargar_opt
              else
                if role_cann? "dc_ver_org_propio"
                #  if current_job == i && role_cann?("dc_editar_org_propio")
                  opts << edit_opt if role_cann?("dc_lista_editar")
                  opts << cargar_opt if role_cann?("dc_lista_cargar")
                else
                #    if role_cann? "dc_editar_org_sub"
                  opts << edit_opt if role_cann?("dc_lista_editar")
                  opts << cargar_opt if role_cann?("dc_lista_cargar")
                #    end
                #  end
                #else
                  #opts << edit_opt if role_cann?("dc_lista_editar")
                  #opts << cargar_opt if role_cann?("dc_lista_cargar")
                end
              end
            %tr{ 'data-tt-id' => i.id, 'data-tt-parent-id' => parent_id }
              %td
                %b= i.name
                -if parent_id == nil
                  - first_parent_id = i.id
              %td= i.boss_id.blank? ? '' : i.boss.name
              %td= i.branch_office.blank? ? '' : i.branch_office.company.name
              %td{style:"color:red"} Sin Descripción
              %td= crud_options opts
              - if role_cann?('dc_asignar')
                %td
                  %a{:'data-toggle' => "modal", :'data-target' => "#asignar"}
                    Asignar Analista

    %table.table.simple.tree#mytable
      %thead
        %tr
          %th Nombre
          %th Dependencia jerárquica
          %th Empresa
          %th Ultima Actualización
          %th
          - if role_cann?('dc_asignar')
            %th
          - if role_cann?('dc_lista_editar')
            %th
      %tbody
        - @items.each do |i|
          :ruby
            parent_id  = (i.parent.blank? ? nil : i.parent.id)
            parent_id  = nil if @items.find{|x| x.id == parent_id}.blank?
            opts       = ['Opciones', [:show, jobsdescription_job_path(i)]]
            edit_opt   = [:edit, edit_jobsdescription_job_path(i)]
            cargar_opt = ['Cargar Word con Descripción', cargar_jobsdescription_job_path(i)]
            if is_admin?
              opts << edit_opt
              opts << cargar_opt
            else
              if role_cann? "dc_ver_org_propio"
              #  if current_job == i && role_cann?("dc_editar_org_propio")
                opts << edit_opt if role_cann?("dc_lista_editar")
                opts << cargar_opt if role_cann?("dc_lista_cargar")
              else
              #    if role_cann? "dc_editar_org_sub"
                opts << edit_opt if role_cann?("dc_lista_editar")
                opts << cargar_opt if role_cann?("dc_lista_cargar")
              #    end
              #  end
              #else
                #opts << edit_opt if role_cann?("dc_lista_editar")
                #opts << cargar_opt if role_cann?("dc_lista_cargar")
              end
            end
          %tr{ 'data-tt-id' => i.id, 'data-tt-parent-id' => parent_id }
            %td
              %b= i.name
              -if parent_id == nil
                - first_parent_id = i.id
            %td= i.boss_id.blank? ? '' : i.boss.name
            %td= i.branch_office.company.blank? ? '' : i.branch_office.company.name
            - if i.job_description.ultima_actualizacion_value.blank?
              - description_counter_no +=1
              %td{style:"color:red"} Sin Descripción
            -else
              %td= i.job_description.ultima_actualizacion_value
              - description_counter_si +=1
            - if role_cann?('dc_lista_editar')
              %td= crud_options(opts)
            -else
              %td= crud_options(opts) if DescriptionWorkflow.exist_status(i.id)
            -#%td= link_to 'Revisar', edit_jobsdescription_job_path(i)
            - if role_cann?('dc_asignar')
              - if i.job_description.description_workflow.blank?
                %td
                  -#%a#asignar{:'data-toggle' => "modal", :'data-target' => "#asignar"}
                  %a#asignar{onclick: 'jobid(this);'}
                    Asignar Analista
              - else
                %td= "Asignado a #{DescriptionWorkflow.nombre_analista(i)}"
            - if role_cann?('dc_lista_editar')
              %td
                = DescriptionWorkflow.status_action(i.id, current_user.role.name)
                -#%a#informar{onclick: "informar_jefes(this);"} Informar Jefes
<!-- Modal -->
#asignarmodal.modal.fade{tabindex: "-1", role: "dialog", :'aria-labelledby' => "myModalLabel", :'aria-hidden' => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:'data-dismiss' => "modal", :'aria-label' => "Close"}
          %span{:'aria-hidden' => "true"}
            &times
        %h4#myModalLabel.modal-title Asignar analista
      -# form_for :asignar, url: asignar_descripcion_jobsdescription_job_path do |f|
      .modal-body
        - logger.info @analistas.inspect.blue
        - if @analistas.blank?
          %p No existen cargos con los permisos para esta tarea
        - else
          - @analistas.each do |analista|
            .row
              .col-md-6
                %dl
                  %dt Analista:
                  %dd
                    = radio_button_tag :analista, analista.user.id
                    = label_tag :analista, "#{analista.first_name} #{analista.last_name}"
              .col-md-6
                %dl
                  %dt Disponibilidad:
                  %dd
      .modal-footer
        %button.btn.btn-danger{:'data-dismiss' => "modal"} Cerrar
        %button#btnasignar.btn.btn-primary Asignar

:javascript
  var job_id = '';

  function jobid(o){
    job_id = o['parentElement']['parentElement'].getAttribute('data-tt-id');
    $('#asignarmodal').modal('show');
  }

  function informar_jefes(id, status){
    job_id = id['parentElement']['parentElement'].getAttribute('data-tt-id');
    $.post("#{informar_jefes_path}", {job_id: job_id, status: status}, function(data){
      alert(data.status);
    });
  }

  $(function(){
    $('#btnasignar').click(function(){
      var analista = $('input[name=analista]:checked').val();
      $('#asignarmodal').modal('hide');
      $.post("#{asignar_descripcion_path}", {analista: analista, job_id: job_id}, function(data){
        alert(data.statusssss);
      });
    });

    $('.tree').treetable({ expandable: true,clickableNodeNames: true });
    $('.tree').treetable('expandNode',#{first_parent_id});
    #{
      str = ''
      expandir.each do |i|
        str << %{$('.tree').treetable('expandNode', #{i});}
      end

      str
    }

    document.getElementById("cargada").innerHTML = #{description_counter_si};
    document.getElementById("nocargada").innerHTML = #{description_counter_no};

    function cargadas_nocargadas(n){
      if ( n == 0 ){
          $('#mytable').show();
          $('#tcargada').hide();
          $('#tnocargada').hide();
      }

      if ( n == 1 ){
          $('#mytable').hide();
          $('#tnocargada').hide();
          $('#tcargada').show();
      }

      if ( n == 2 ){
          $('#mytable').hide();
          $('#tcargada').hide();
          $('#tnocargada').show();
      }

    }
  });
