:ruby
    crud_opts = [ ['Descripción de cargos', jobsdescription_jobs_path], ["Lista de Descripción de Cargos", '#', :active] ]
    crud_opts << [:add, new_jobsdescription_job_path] if role_can?(:dc_lista_editar)

.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar crud_opts

    .panel.panel-default
        .panel-heading
            - if params[:asignar].blank?
                .pull-left
                    %h4 Descripciones de cargo disponibles
                .pull-right
                    %a.btn.btn-primary{href: "?asignar=true"}
                        %span.glyphicon.glyphicon-user
                        Asociar
                .clearfix
            - else
                %h4 Asociar Descripciones a Cargos
        = notices
        .panel-body
            - if params[:asignar].blank?
                %table.table.table-condensed.no-filter.fixhead
                    %thead
                        %tr
                            %th ID
                            %th Nombre
                            %th Extracto Misión
                            %th Cargos que la utilizan
                            %th &nbsp;
                    %tbody
                        - @items.each do |item|
                            %tr
                                %td= item.id
                                %td= item.name
                                %td= truncate strip_tags(simple_format(item.mission)), length: 90
                                %td= @jobs.select{|x| x[:job_description_id] == item.id}.count
                                %td
                                    -# %a.btn.btn-primary.btn-xs{href: "?asignar=#{item.id}"}
                                    -#     %span.glyphicon.glyphicon-user
                                    -#     Asociar a cargos
            - else
                = form_tag asociar_jobsdescription_jobs_path, id: 'form-alter' do |f|
                    #datos
                        %h4 Cargando...
                    -# %table.table.table-condensed.fixhead
                    -#     %thead
                    -#         %tr
                    -#             %th ID Cargo
                    -#             %th Nombre Cargo
                    -#             %th Descripción asociada
                    -#     %tbody
                    -#         - @jobs.each do |job|
                    -#             - tmp = @items.blank? ? nil : @items.select{|x| x.id == job.job_description_id}
                    -#             %tr
                    -#                 %td= job.id
                    -#                 %td= job.name
                    -#                 %td
                    -#                     .input-group
                    -#                         = value value( tmp, :first ), :name
                    -#                 -# %td= select_tag "job[#{job.id}][job_description_id]", options_from_collection_for_select(@items, "id", "name", job.job_description_id), include_blank: 'true', prompt: 'Sin asociar'
        - unless params[:asignar].blank?
            %script{src: "#{request.base_url}/assets/templates/jobs_descriptions/list.js"}
            .panel-footer.text-right
                %a.btn.btn-primary.guardar{href: '#'}
                    %span.glyphicon.glyphicon-save
                    Guardar asignaciones
            :coffeescript
                this.datos = #{@jobs.to_json}
                this.descripciones = #{@items.to_json}
                init = ->
                    Handlebars.registerHelper 'option', (job, jd)->
                        selProp = ''
                        selProp = 'selected="selected"' if job.job_description_id == jd.id

                        new Handlebars.SafeString('<option value="' + jd.id + '" ' + selProp + '>' + jd.name + '</option>')

                    Handlebars.registerHelper 'select', (job, jds)->
                        str = '<select name="job[' + job.id + '][job_description_id]" class="filtro">'
                        str += '<option value="">Sin asociar</option>'
                        for jd in jds
                            str += Handlebars.helpers.option job, jd
                        str += '</select>'

                        new Handlebars.SafeString str

                    Handlebars.registerHelper 'value', (job)->
                        tmp = null
                        val = data[table][col][row] if data[table] && data[table][col] && data[table][col][row]
                        return val;

                    $('#datos').html HandlebarsTemplates["jobs_descriptions/list"]({data: datos, descriptions: descripciones})
                    $('#datos select').mouseover (e)->
                        $(this).chosen({allow_single_deselect: true});

                    $('.btn.guardar').click (e)->
                        e.preventDefault()
                        $('#form-alter').submit()
                $( init )
