.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .panel.panel-default
        .panel-heading
            %h4.pull-left Carga masiva de Descripciones de Cargo
            .pull-right
                %span.btn.btn-success.fileinput-button
                    %span.glyphicon.glyphicon-plus
                    Cargar Archivos
                    / The file input field used as target for the file upload widget
                    %input#fileupload{:multiple => "multiple", :name => "files[]", :type => "file"}/
            .clearfix
        %br
        %p.alert.alert-danger
            Este proceso eliminará
            %strong TODA LA INFORMACIÓN CONTENIDA EN LA DESCRIPCIÓN DE CARGO
            cargada y la reemplazará por la contenida en el archivo.
            %br
            %strong Este es un proceso irreversible
        %table#files.files.table.table-condensed.panel-body{style: 'width: 100% !important'}
            %thead
                %tr
                    %th Archivo
                    %th Estado
            %tbody
        .panel-footer
            / The global progress bar
            #progress.progress
                .progress-bar.progress-bar-success

:javascript
    var url = '#{multiupload_save_jobsdescription_jobs_path}';
    var base_url = '#{jobsdescription_job_path("99")}';
    var uploadButton = $('<a href="#"/>')
        .addClass('btn btn-primary pull-right btn-xs')
        .text('Cargando...');
    $(function(){
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            autoUpload: true,
            acceptFileTypes: /(\.|\/)(doc,docx)$/i,
            maxFileSize: 5000000, // 5 MB
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            disableImageResize: true,
            previewMaxWidth: 100,
            previewMaxHeight: 100,
            previewCrop: true
        }).on('fileuploadadd', function (e, data) {
            data.context = $('#files tbody');
            $.each(data.files, function (index, file) {
                var node = $('<tr/>')
                        .append($('<td/>').text(file.name));
                if (!index) {
                    node
                        .append(
                            $('<td>').html(
                                uploadButton.clone(true)
                                            .attr('name', omitirAcentos(file.name))
                                            .data(data)
                            )
                        );
                }
                node.appendTo(data.context);
            });
        }).on('fileuploadprocessalways', function (e, data) {
            var index = data.index,
                file = data.files[index],
                node = $(data.context.children()[index]);
            if (file.preview) {
                node
                    .prepend('<br>')
                    .prepend(file.preview);
            }
            if (file.error) {
                node
                    .append('<br>')
                    .append($('<span class="text-danger"/>').text(file.error));
            }
            if (index + 1 === data.files.length) {
                data.context.find('button')
                    .text('Upload')
                    .prop('disabled', !!data.files.error);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }).on('fileuploaddone', function (e, data) {
            $.each(data.result.files, function (index, file) {
                if( file.name )
                {
                    $("a[name='"+file.name+"']").addClass(file.status ? 'btn-success' : 'btn-danger')
                                                .attr('href', (file.job_id != null ? base_url.replace('99', file.job_id) : '#'))
                                                .attr('target', (file.job_id != null ? '_blank' : '_self'))
                                                .text(file.info);
                }
                // if (file.url) {
                //     var link = $('<a>')
                //         .attr('target', '_blank')
                //         .prop('href', file.url);
                //     $(data.context.children()[index])
                //         .wrap(link);
                // } else if (file.error) {
                //     var error = $('<span class="text-danger"/>').text(file.error);
                //     $(data.context.children()[index])
                //         .append('<br>')
                //         .append(error);
                // }
            });
        }).on('fileuploadfail', function (e, data) {
            $.each(data.files, function (index) {
                var error = $('<span class="text-danger"/>').text('File upload failed.');
                $(data.context.children()[index])
                    .append('<br>')
                    .append(error);
            });
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
