.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = simple_form_for 'job_description', :url => @item.new? ? mantenedores_roles_path : mantenedores_role_path(@item), :html => {:class => 'form'}  do |f|
    = f.input :name, input_html: {value: @item.name}
    
    .control-group
        .controls
            = btn_guardar
