:ruby
  crud_opts = [ ['Descripción de cargos', jobsdescription_jobs_path] ]
  crud_opts << [:edit, edit_jobsdescription_job_path(@item)] if (is_admin? || role_cann?("dc_lista_editar"))
  crud_opts << [:show, '#', :active]
  crud_opts << ['Comentarios', comment_path(@item)]
  logger.info @item.inspect.green
:css
  /*td { word-break: break-all !important}*/

.col-lg-12.col-md-12.col-sm-12.col-xs-12
  .not-print
    = crud_bar crud_opts
    %br
    %a.btn.btn-primary{:href => jobsdescription_job_path(params[:id], format: :pdf)}
      %i.icon-white.icon-file
      Ver PDF
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .panel.panel-default{style: 'border: none; '}
        .panel-heading{style: 'background-color: rgb(59, 148, 153) !important ; color: white !important ; padding: 0 0 0 0; border: none; height: 60px'}
          -#%img{src: "#{request.base_url}/images/logos/logo.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
          -#%img.pull-left{src: "#{request.base_url}/images/logos/logo_uandes.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
          %h3.pull-right{style: 'padding-left: 5px ; color: white !important ;'}= "Descripción de Cargo: #{@item.name}"
          .clearfix
        .panel-body{style: 'border: none'}
          .row
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo{colspan: 6} Identificación - Conjunto de datos que permiten situar el cargo dentro de la organización
              %tbody
                %tr
                  %td
                    %strong Nombre del Cargo
                  %td= @item.name
                  - unless @item.boss.nil?
                    %td
                      %strong Jefatura Jerárquica
                    %td= @item.boss.name
                  %td.text-center
                    %strong Última actualización
                  %td.pull-left=  @item.job_description.ultima_actualizacion_value.to_s
          .row
            %table.table
              %thead
                %tr
                  %th{colspan: 12} ORGANIZACIÓN (Puestos que dependen Jerárquicamente)
              %tbody
                %tr
                  %td Jefatura directa
                  %td= @item.boss.name unless @item.boss.nil?
                %tr
                  %td Cargos bajo su supervision directa
                  %td
                    %table.table{border:1}
                      %tr
                        %th Nombre Cargo
                        %th Personas en el cargo
                      - @item.children.each do |ch|
                        %tr
                          %td= ch.name
                          %td= ch.positions.count
          -#.row
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo Organigrama
              %tbody
                %tr
                  %td
                    = render :partial => 'partials/chart.html.erb', locals: {buttons: false}
          .row
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo
                    Misión - Razón por la cual existe el Cargo
              %tbody
                %tr
                  %td{style: 'white-space: normal;'}!= @item.job_description.mission
          .row
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo{colspan: 4} Descripción Funcional
                %tr
                  %th.titulo{style: 'width: 34px'} #
                  %th.titulo
                    ¿Qué hace?, ¿Dónde lo hace?
                  %th.titulo
                    ¿Para qué lo hace?
                  %th.titulo Periodicidad
              %tbody
                - MainResult.all(job_description_id: @item.job_description.id, order: :number.asc).each do |i| #@item.main_results.each do |i|
                  %tr
                    %td= i.number
                    %td= i.action_function
                    %td= i.result
                    %td= i.periodicidad
          .row
            %table.table.table-striped{style:"border: none;"}
              %thead
                %tr
                  %th.titulo{colspan: 2} Autoridad - Decisiones y Recomendaciones que puede hacer el Cargo, según su grado de autonomía y controles
              %tbody
                %tr
                  %td{style: 'width: 50%'}
                    %table.table.table-striped
                      %thead
                        %tr
                          %th.titulo Decisiones Autónomas
                      %tbody
                        - @item.job_description.dicisions_value.each do |i|
                          %tr
                            %td= i
                  %td{style: 'width: 50%'}
                    %table.table.table-striped
                      %thead
                        %tr
                          %th.titulo Recomendaciones
                        %tbody
                          - @item.job_description.recomendations_value.each do |i|
                            %tr
                              %td= i
          .row
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo{colspan: 2} Dimensiones - Magnitud cuantificable sobre la cual el cargo ejerce un impacto directo o indirecto
                %tbody
                  %tr
                    %td{style: 'width: 50%'}
                      %table.table.table-striped
                        %thead
                          %tr
                            %th.titulo{colspan: 2} Principales Magnitudes
                        %tbody
                          - @item.job_description.dimensions_financieras.each do |i|
                            %tr
                              %td= i.magnitude.name
                              %td= decimales i.value
                    %td{style: 'width: 50%'}
                      %table.table.table-striped
                        %thead
                          %tr
                            %th.titulo{colspan: 2} Recursos Asignados
                        %tbody
                          - @item.job_description.dimensions_no_financieras.each do |i|
                            %tr
                              %td= i.magnitude.name
                              %td= i.value
          .page-break
          .panel.panel-default#titulo1{style: 'border: none; display:none'}
            .panel-heading{style: 'background-color: rgb(59, 148, 153) !important; color: white; padding: 0 0 0 0; border: none; height: 60px'}
              -#%img{src: "#{request.base_url}/images/logos/logo.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
              -#%img.pull-left{src: "#{request.base_url}/images/logos/logo_uandes.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
              %h3.pull-right{style: 'padding-left: 5px; color: white !important ;'}= "Descripción de Cargo: #{@item.name}"
          .clearfix
          .row
            %table.table.table-striped{style:"border: none;"}
              %thead
                %tr
                  %th.titulo{colspan: 2} Situaciones - Situaciones Internas y Externas a la Empresa que pueden afectar para bien o para mal el desempeño del Cargo
              %tbody
                %tr
                  %td{style: 'width: 50%'}
                    %table.table.table-striped
                      %thead
                        %tr
                          %th Internas
                      %tbody
                        - counter1 = 0
                        - @item.internal_situations_value.each do |i|
                          - counter1 +=1
                          %tr
                            %td{colspan: 6}="- "+i
                  %td{style: 'width: 50%'}
                    %table.table.table-striped
                      %thead
                        %tr
                          %th Externas
                      %tbody
                        - counter2 = 0
                        - @item.external_situations_value.each do |i|
                          - counter2 +=1
                          %tr
                            %td{colspan: 6}= "- "+i
          .row
            - if ((@item.internal_contacts_value.length > 5 || @item.external_contacts_value.length > 5) && (counter1 > 3 || counter2 > 3))
              .page-break
              .panel.panel-default{style: 'border: none;'}
                .panel-heading{style: 'background-color: rgb(59, 148, 153) !important; color: white; padding: 0 0 0 0; border: none; height: 60px'}
                  -#%img{src: "#{request.base_url}/images/logos/logo.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
                  -#%img.pull-left{src: "#{request.base_url}/images/logos/logo_uandes.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
                  %h3.pull-right{style: 'padding-left: 5px ; color: white !important ;'}= "Descripción de Cargo: #{@item.name}"
              .clearfix
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo Otras Responsabilidades del cargo
              %tbody
                %tr
                  %td!= @item.aditional_responsability
          .row
            - if ((@item.internal_contacts_value.length > 5 || @item.external_contacts_value.length > 5) && (counter1 > 3 || counter2 > 3))
              .page-break
              .panel.panel-default{style: 'border: none;'}
                .panel-heading{style: 'background-color: #e60000; color: white; padding: 0 0 0 0; border: none; height: 60px'}
                  -#%img{src: "#{request.base_url}/images/logos/logo#{es_desarrollo ? '' : '_'+Rails.configuration.cliente.to_s.downcase}.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
                  -#%img.pull-left{src: "#{request.base_url}/images/logos/logo_uandes.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
                  %h3.pull-right{style: 'padding-left: 5px'}= "Descripción de Cargo: #{@item.name}"
              .clearfix
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo{colspan: 3} Relaciones Internas y Externas con otros Cargos de la Organización, necesarias para su desempeño
              %tbody
                %tr
                  %td{style: 'width: 50%'}
                    %table.table.table-striped
                      %thead
                        %tr
                          %th{colspan:12} Internas (sin contar a Jefatura Directa ni a Colaboradores)
                        %tr
                          %th.titulo ¿Con quién?
                          %th.titulo ¿Para qué?
                          %th.titulo Frecuencia
                      %tbody
                        - @item.internal_contacts_value.each do |i|
                          %tr
                            %td= i["quien"]
                            %td= i["que"]
                            %td= i["periodo"]
                  %td{style: 'width: 50%'}
                    %table.table.table-striped
                      %thead
                        %tr
                          %th{colspan:12} Externas
                        %tr
                          %th.titulo ¿Con quién?
                          %th.titulo ¿Para qué?
                          %th.titulo Frecuencia
                      %tbody
                        - @item.external_contacts_value.each do |i|
                          %tr
                            %td= i["quien"]
                            %td= i["que"]
                            %td= i["periodo"]
          .page-break
          .panel.panel-default#titulo2{style: 'border: none; display:none'}
            .panel-heading{style: 'background-color: rgb(59, 148, 153) !important; color: white; padding: 0 0 0 0; border: none; height: 60px'}
              -#%img{src: "#{request.base_url}/images/logos/logo.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
              -#%img.pull-left{src: "#{request.base_url}/images/logos/logo_uandes.png", style: 'background-color: white !important; padding-right: 5px; height: 60px'}
              %h3.pull-right{style: 'padding-left: 5px; color: white !important ;'}= "Descripción de Cargo: #{@item.name}"
          .clearfix
          .row
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo{colspan:12} Perfil Postulante - Principales requisitos para ocupar el cargo
          .row
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo{colspan:12} Estudios
                %tr
                  %th Estudio Basico
                  %th Años de Estudio
                  %th Conocimientos
              %tbody
                %tr
                  %td=  @item.estudio_basico_value
                  %td=  @item.anios_estudio_value
                  %td
                    %table.table.table-striped{colspan: 12}
                      %tbody
                      - @item.knowledges_value.each do |i|
                        %tr
                          %td{colspan: 12}= "- "+ i
          .row
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo{colspan:12} Experiencias
                %tr
                  %th Experiencia Laboral
                  %th Experiencia en Cargo
              %tbody
                %tr
                  %td=  @item.anios_experiencia_laboral_value
                  %td=  @item.anios_experiencia_cargo_value
          .row
            %table.table.table-striped
              %thead
                %tr
                  %th Certificaciones
                  %th Experiencia Practica
              %tbody
                %tr
                  %td
                    %table.table.table-striped
                      %tbody
                      - @item.certificaciones_value.each do |i|
                        %tr
                          %td= "- "+ i["certificacion"]
                  %td
                    %table.table.table-striped
                      %tbody
                      - @item.experiences_value.each do |i|
                        %tr
                          %td= "- "+ i
          .row
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo{colspan:12} Idiomas
                %tr
                  %th Idioma
                  %th Nivel Lectura
                  %th Nivel Hablado
                  %th Nivel Escrito
              %tbody
              - @item.idiomas_value.each do |i|
                %tr
                  %td= i["idioma"]
                  %td= i["lectura"]
                  %td= i["oral"]
                  %td= i["escrito"]
          .row
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo{colspan:12} Tipo Movilidad
                %tr
                  %th Movilidad
                  %th Frecuencia
              %tbody
                - unless @item.movilidad_value.blank?
                  - @item.movilidad_value.each do |i|
                    %tr
                      %td=  i['movilidad']
                      %td=  i['frecuencia']
          .row
            %table.table.table-striped
              %thead
                %tr
                  %th.titulo{colspan:12} Competencias
                %tr
                  %th Indicador
                  %th Areas
                  %th MacroCompetencias
                  %th Competencias
                  %th Nivel
                %tbody
                  - @item.competencias_value.each do |i|
                  - logger.info "@item.competencias_value ----> #{@item.competencias_value.inspect}".red
                    %tr
                      %td
                        - if (!i["area"].blank? && i["area"].casecmp("RESOLVIENDO PROBLEMAS").zero?)
                          - colormuestra = '#5D87C0'
                        - if (!i["area"].blank? && i["area"].casecmp("INFLUENCIANDO A LA GENTE").zero?)
                          - colormuestra = '#B3251C'
                        - if (!i["area"].blank? && i["area"].casecmp("ADAPTANDO ENFOQUES").zero?)
                          - colormuestra = '#BFAE2C'
                        - if (!i["area"].blank? && i["area"].casecmp("ENTREGANDO RESULTADOS").zero?)
                          - colormuestra = '#387C2B'
                        %p.btn{style: "background-color: #{colormuestra} !important "}
                      %td=  i["area"]
                      %td=  i["tipo"]
                      %td=  i["competencia"]
                      %td=  i["nivel"]
