:ruby
    crud_opts = [ ['Descripción de cargos', jobsdescription_jobs_path], ["Flujo de Descripción de Cargos", '#', :active] ]
    #crud_opts << [:add, new_jobsdescription_job_path] if role_can?(:dc_lista_editar)
.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar crud_opts
    = notices
    - items = @job_items.group_by{|j| j[:status]}

    .panel.panel-default
        .panel-heading
            - if params[:asignar].blank?
                %h4 Descripciones de cargo disponibles
            - else
                %h4 Asociar Descripciones a Cargos
        .panel-body.panel-cargos
            %ul.nav.nav-tabs{role: 'tablist'}
                - JobDescription::ESTADOS.each_with_index do |i, k|
                    - next if !role_can?(:dc_administrador) && k == 0
                    %li{role: 'presentation'}
                        %a{href: "#estado_#{k}", role: 'tab', :'data-toggle' => 'tab'}= i
            .tab-content
                - JobDescription::ESTADOS.each_with_index do |i, k|
                    - next if !role_can?(:dc_administrador) && k == 0
                    .tab-pane{id: "estado_#{k}"}
                        = simple_form_for :seleccion, url: workflow_save_jobsdescription_jobs_path, :html => {:class => 'form-horizontal'}  do |f|
                            %table.table.table-condensed.no-filter.fixhead
                                %thead
                                    - if k == JobDescription::NUEVO and !items[k].blank?
                                        %tr
                                            %th
                                            %th{colspan: 3}
                                                = f.input :analista_id, label: 'Asociar seleccionados a',
                                                    :collection => @analistas.map{|a| [a[:nombre], a[:id]]}, prompt: false
                                            %th
                                            %th
                                                = f.submit class: 'btn btn-primary' do
                                                    Guardar
                                    %tr
                                        %th Sel.
                                        %th ID
                                        %th Nombre
                                        %th Estado
                                        %th Asignado a
                                        %th &nbsp;
                                %tbody
                                    - if items[k].blank?
                                        %tr
                                            %td.text-center{colspan: 7}
                                                = i
                                                no tiene registros
                                    - else
                                        - items[k].each do |item|
                                            %tr
                                                %td
                                                    %input{type: 'checkbox', name: "seleccion[job_description][#{item[:id]}]"}
                                                %td= item[:id]
                                                %td
                                                    %a{href: description_edit_jobsdescription_job_path(item[:id]), title: 'Editar Descripción', :'data-toggle'=>"tooltip"}
                                                        %span.glyphicon.glyphicon-edit
                                                        = item[:name]
                                                %td
                                                    .badge= JobDescription::ESTADOS[item[:status]]
                                                %td
                                                    %span.badge{class: "#{'alert-info' unless item[:analista_id].blank?}"}
                                                        = item[:analista_id].blank? ? 'Sin asignar' : (item[:analista].user.blank? ? '' : item[:analista].user.name)
                                                %td
                                                    -# %a.btn.btn-primary.btn-xs{href: "?asignar=#{item.id}"}
                                                    -#     %span.glyphicon.glyphicon-user
                                                    -#     Asociar a cargos

:coffeescript
    init = ->
        $('[data-toggle="tooltip"]').tooltip({placement: 'right'})
        if $('.panel-cargos .tab-pane.active').length == 0
            $('.panel-cargos .tab-pane:first').addClass('active')
            $('.panel-cargos .nav-tabs li:first').addClass('active')
    $(init)
-# - if params[:asignar].blank?
-#     %table.table.table-condensed.no-filter.fixhead
-#         %thead
-#             %tr
-#                 %th ID
-#                 %th Nombre
-#                 %th Extracto Misión
-#                 %th Cargos que la utilizan
-#                 %th &nbsp;
-#         %tbody
-#             - @items.each do |item|
-#                 %tr
-#                     %td= item.id
-#                     %td= item.name
-#                     %td= truncate strip_tags(simple_format(item.mission)), length: 90
-#                     %td= @jobs.select{|x| x[:job_description_id] == item.id}.count
-#                     %td
-#                         -# %a.btn.btn-primary.btn-xs{href: "?asignar=#{item.id}"}
-#                         -#     %span.glyphicon.glyphicon-user
-#                         -#     Asociar a cargos
