%body
  %div{style:"padding: 0px 100px 0px 100px;font-weight:bold;"}
    %table.table.tree{style:"border:none;"}
      %thead
      - unless tipo_modelo? :no_usara
        %tr
          %th{style:"font-weight:bold; font-size:15pt;"}
            Modelo de competencias Utilizado
      %tbody
        -if tipo_modelo? :saville
          - @areas.each do |a|
            - if (a["name"].casecmp("RESOLVIENDO PROBLEMAS").zero?)
              - colormuestra = '#5D87C0'
            - if (a["name"].casecmp("INFLUENCIANDO A LA GENTE").zero?)
              - colormuestra = '#B3251C'
            - if (a["name"].casecmp("ADAPTANDO ENFOQUES").zero?)
              - colormuestra = '#BFAE2C'
            - if (a["name"].casecmp("ENTREGANDO RESULTADOS").zero?)
              - colormuestra = '#387C2B'
            %tr{'data-tt-id' => "area#{a.id}", 'data-tt-parent-id' => nil}
              %td{style:"color: #{colormuestra}", title:"Área"}
                %b= a["name"]
            - @macrocompetencias.each do |m|
              - if m["area_id"]== a["id"]
                %tr{ 'data-tt-id' => "macro#{m.id}", 'data-tt-parent-id' => "area#{a["id"]}" }
                  %td{style:"color: #{colormuestra} ", title:"MacroCompetencia"}
                    %b=  m["name"]
                - @competencias.each do |c|
                  - if c["competence_type_id"]== m["id"]
                    %tr{ 'data-tt-id' => "competencia#{c.id}", 'data-tt-parent-id' => "macro#{m["id"]}" }
                      %td{style:"color: #{colormuestra}", title:"Competencia"}
                        %b= c["name"]
                    - @conductas.each do |co|
                      - if co["competence_id"]== c["id"]
                        %tr{ 'data-tt-id' => "conducta#{co.id}", 'data-tt-parent-id' => "competencia#{c["id"]}" }
                          %td{style:"color: #{colormuestra}", title:"Conducta"}
                            %b= co["description"]
        -if tipo_modelo? :otro
          - @macrocompetencias.each do |m|
            %tr{ 'data-tt-id' => "macro#{m.id}" }
              %td{ title:"Tipo de Competencia"}
                %b=  m["name"]
            - @competencias.each do |c|
              - if c["competence_type_id"]== m["id"]
                %tr{ 'data-tt-id' => "competencia#{c.id}", 'data-tt-parent-id' => "macro#{m["id"]}" }
                  %td{ title:"Competencia"}
                    %b= c["name"]
                - @conductas.each do |co|
                  - if co["competence_id"]== c["id"]
                    %tr{ 'data-tt-id' => "conducta#{co.id}", 'data-tt-parent-id' => "competencia#{c["id"]}" }
                      %td{ title:"Conducta"}
                        %b= "#{co['number']} - #{co["description"]}"


:javascript
  $('.tree').treetable({ expandable: true,clickableNodeNames: true });
