= simple_form_for @item, :url => @item.new? ? mantenedores_incomestructuredetails_path : mantenedores_incomestructuredetail_path(@item)  do |f|
    
    
    = f.input :name, label: 'Nombre', value: @item.name
    = f.input :income_structure_id, collection: IncomeStructure.all, selected: params[:income_structure_id]
    
    .control-group
        .controls
            = btn_guardar