.col-lg-12.col-md-12.col-sm-12.col-xs-12
    #mainTitle.col16
        %h3
            %span
                Detalle Estructura Salarial de
                = @income.name

    .tableOptions.clearfix
        = link_to 'Volver', mantenedores_incomestructures_path, class: "aButton right"
        = link_to 'Nueva', "#{new_mantenedores_incomestructuredetail_path}?income_structure_id=#{@income.id}", :class => "aButton right"

    %table#example.display
        %thead
            %tr
                %th ID
                %th Nombre
                %th Acciones
        %tbody
            - @items.each do |i|
                %tr
                    %td= i.id
                    %td= i.name
                    %td= link_to 'Editar', edit_mantenedores_incomestructure_path(i)

:javascript
    $(document).ready(function(){
        $('#example').dataTable({"bJQueryUI": true, "sPaginationType": "full_numbers", "iDisplayLength": 25, "oLanguage": {
                "sUrl": "/table_translation.js"
            }});
    });
