<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<center>
<%= simple_form_for @item, :url => @item.new? ? mantenedores_userperiods_path : mantenedores_userperiod_path(@item) do |f| %>


	<table>
		<tr>
			<td>
				<%= f.input :position_id,
			:collection => Position.all.map {|i| [i.user.full_name, i.id]}.sort!{|a, b| a[0].downcase <=> b[0].downcase} ,label: 'Persona'%></td>
			<td><%= f.input :period_id, :collection => Period.all,label: 'Periodo' %></td>
		</tr>
		<tr>

		</tr>
		<tr>
			<td><%= f.input :planification_open, :as => :boolean ,label: 'Abrir Planificación'%>
			</td>
			<td>
				<%= f.input :evaluation_open, :as => :boolean,label: 'Abrir Evaluación' %>
			</td>
		</tr>
	</table>





	<div class="control-group">
        <div class="controls">
            <%= btn_guardar %>
        </div>
    </div>
</center>
<% end %>
</div>
