<div class="col7" id="mainTitle">
	<h3><span>Mantenedor de periodos especiales</span></h3>
</div>



<div class="tableOptions clearfix">
	<%= link_to 'Agregar periodo especial', new_mantenedores_userperiod_path, :class => "btn btn-primary" %>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" style="width:700px">
	<thead>
		<tr>

			<th>Nombre evaluado</th>
			<th>Planificacion abierto</th>
			<th>Evaluación abierto</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |i| %>
		<tr>

			<td><%= i.position.user.full_name %></td>
			<td><%= i.planification_open ?  "Si" : "No"%></td>
			<td><%= i.evaluation_open ?  "Si" : "No"%></td>
			<td>
				<%= button_to 'Editar', edit_mantenedores_userperiod_path(i), :method => :get %>
				<%= button_to 'Eliminar', mantenedores_userperiod_path(i), :method => :delete, :confirm => '¿Está seguro?' %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
