:ruby
    options = {wrapper_tag: 'span', wrapper_class: 'right', label: false, input_html: {class: 'form-control input-sm'}}
    options_disabled = {wrapper_tag: 'span', wrapper_class: 'right', label: false, input_html: {class: 'input-sm'}, :disabled => true}

=javascript_include_tag 'highcharts'

.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .panel.panel-default
        .panel-heading
            %h3 Evaluación Jefatura y Final
        .panel-body

            = simple_form_for @item, url: performance_evaluation_path(@item)  do |f|
                %table.table.table-condensed.table-hover.table-stripped
                    %tr
                        %th Resultado Final
                        %th Resultado
                        %th.col-xs-2 Ponderación
                        %th.col-xs-2 Apreciación Jefatura
                        %th Resultado Final Ponderado
                    %tr
                        %th Total Meta Dura
                        %td= @item.kpi_result
                        %td= f.input :kpi_ponderation, options
                        %td
                        %td= @item.kpi_final_result
                    %tr
                        %th Total Competencia
                        %td= @item.competence_result
                        %td= f.input :competence_ponderation, options
                        %td
                        %td= @item.competence_final_result
                    %tr
                        %th Total Meta + Competencia
                        %td
                        %td
                        %td
                        %td= @item.kpi_competence_result
                    %tr
                        %th Apreciación Jefatura (% Máximo y Real)
                        %td
                        %td= f.input :boss_ponderation, options
                        %td= f.input :boss_result, options
                        %td= @item.final_result
                    %tr
                        %td
                        %td
                        %td{:class => 'right', :style => "color: #{@ponderation_total > 100 ? 'red' : 'blue'}"}= @ponderation_total
                        %td
                        %td
                .text-center
                    = btn_guardar 'Actualizar datos'
            #chart

:javascript
    $(function () {
        var chart;
        $(document).ready(function() {
            chart = new Highcharts.Chart({
                credits : {
                    enabled: false
                },
                chart: {
                    renderTo: 'chart',
                    type: 'column'
                },
                title: {
                    text: 'Evaluación Jefatura y Final'
                },
                xAxis: {
                    categories: [
                        'Total Meta Dura',
                        'Total Competencia',
                    ]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Resultados'
                    }
                },
                legend: {
                    layout: 'vertical',
                    backgroundColor: '#FFFFFF',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 100,
                    y: 70,
                    floating: true,
                    shadow: true
                },
                /*
                tooltip: {
                    formatter: function() {
                        return ''+
                            this.x +': '+ this.y;// +' mm';
                    }
                },*/
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                    series: [{
                    name: 'Resultado',
                    data: [#{@item.kpi_result}, #{@item.competence_result}]
                }, {
                    name: 'Resultado Final Ponderado',
                    data: [#{@item.kpi_final_result}, #{@item.competence_final_result}]
                }]
            });
        });
    });
