%script{:src => "https://code.highcharts.com/highcharts.js"}
%script{:src => "https://code.highcharts.com/modules/histogram-bellcurve.js"}
- u =  Position.first(user_id: @data[:evaluated_id])
-# eq = {{:"1.0" = 80},{:"1.1"=	81},{:"1.2"=	82},{:"1.3",	83},{:"1.4"=	84},{:"1.5"=	85},{:"1.6"=	86},{:"1.7"=	87},{:"1.8"=	88},{:"1.9"=	89},{:"2.0"=	90},{:"2.1"=	91},{:"2.2"=	92},{:"2.3"=	93},{:"2.4"=	94},{:"2.5"=	95},{:"2.6"=	96},{:"2.7"=	97},{:"2.8"=	98},{:"2.9"=	99},{:"3.0"=	100},{:"3.1"=	101},{:"3.2"=	102},{:"3.3"=	103},{:"3.4"=	104},{:"3.5"=	105},{:"3.6"=	106},{:"3.7"=	107},{:"3.8"=	108},{:"3.9"=	109},{:"4.0"=	110},{:"4.1"=	111},{:"4.2"=	112},{:"4.3"=	113},{:"4.4"=	114},{:"4.5"=	115},{:"4.6"=	116},{:"4.7"=	117},{:"4.8"=	118},{:"4.9"=	119},{:"5.0"=120}}
- user = User.first(id: u.user_id)
- valormetas = []
- valormetasr = []
.col-lg-12.col-md-12.col-sm-12.col-xs-12
		.panel.panel-default
				.panel-heading
						%h4 Resultado de evaluación colaborador
						%h6= "#{current_period.name}"
		%table{border:"0"}
				%tr
						%td

				%tr
						%td

								.panel-body{style:"/*text-align:center*/"}
										.panel.pull-left
												%ul
														%li
																%strong Rut:
																= u.user.rut
														%li
																%strong Nombre:
																= user.first_name
																= user.last_name unless user.last_name.blank?
														%li
																%strong Cargo:
																=u.job.name
														%li
																%strong Nivel Organizacional:
																=@data[:tipo_cargo].name unless @data[:tipo_cargo].blank?
						%td
								.panel.pull-right
										%ul
												%li
														%strong Metas De Desempeño Individual
														%br
														=# @data[:rendimiento_calculado]
														= "#{@data[:rendimiento]} %"
												%li
														%strong Competencias
														%br
														= @data[:competencias_calculado]
														= "(#{@data[:competencias]})"
														= "Logro:(#{@data[:competencias_porcentaje].to_s}%)"



		%tr
				-# if (current_user.role == 'Administrador')
				%table
						%tr
								%td
										#containercompe.conta{:style => "width:auto; height: 350px; "}
								%td
										#containermetas.conta{:style => "width:auto; height: 350px; "}

						- pcou =0
						- valor = []
						- v = []
						- data  = Evaluation.all(period_id:current_period.id)

						- pr = []
						- data.each do |x|
								- count = 0
								- pcou += 1
								- if evaluated.id == x.evaluated_id
										- valormetasr << [ x.kpi_result , pcou] unless x.kpi_result == 0.0
								- else
										- valormetas << [ x.kpi_result,pcou] unless x.kpi_result == 0.0
								- data.each do |y|
										- if x.competence_result == y.competence_result
												- count+=1
												- if evaluated.id == x.evaluated_id &&  x.evaluated_id == y.evaluated_id
														- v << [  x.competence_result ,count] unless x.competence_result == 0.0
														- valor << [x.competence_result, count] unless x.competence_result == 0.0
														- pr <<  x.competence_result unless x.competence_result == 0.0
												- else
														- valor << [x.competence_result,count ] unless x.competence_result == 0.0
														- pr <<  x.competence_result unless x.competence_result == 0.0







:javascript

		$(document).ready(function () {draw()});
		function draw(){

				var c = "#containercompe";
				var m = "#containermetas"
				var data = #{valor};
				var v = #{v}
				var pr = #{pr}
				var dataapmetas = #{valormetas};
				var datarmetas = #{valormetasr};

				 $(c).highcharts({
				 		credits: false,
						title: {
						    text: 'Evaluaciones Competencias'
						},
						subtitle: {
						    text: 'Curva normal'
						},
				   xAxis: [{
				        title: { text: 'Nota Evaluación' },
								min: 1,
								max:5,
								tickInterval: 1
				    },{
				        title: { text: '' },
				        opposite: true,
								visible:false

				    }],

				    yAxis: [{
								visible: true,
				        title: { text: 'Cantidad Personas' },
								tickInterval: 1
				    }, {
				        title: { text: '' },
								visible: false,
				        opposite: true
				    }],
						 plotOptions: {

				        scatter: {
				            marker: {
				                radius: 5,
				                states: {
				                    hover: {
				                        enabled: true,
				                        lineColor: 'rgb(100,100,100)'
				                    }
				                }
				            },
				            states: {
				                hover: {
				                    marker: {
				                        enabled: false
				                    }
				                }
				            },
				            tooltip: {
				                headerFormat: '<b>{series.name}</b><br>',
				                pointFormat: 'Nota Evaluación: {point.x}'
				            }
				        }
				    },

				    series: [{
				        name: 'Curva normal',
				        type: 'bellcurve',
								xAxis: 0,
								yAxis: 1,
								intervals: 10,
								pointsInInterval:1000,
								baseSeries: 1,
								zindex : -1

				    }, {
				        name: '.',
				        type: 'scatter',
				        data: pr,
								visible: false,
				        marker: {
				            radius: 1.5
				        }},{

				        name: 'Empresa',
				        type: 'scatter',
				        data: data,
								color: "blue",
				        marker: {
				            radius: 1.5
				        }
				    },{

								name: '#{user.first_name }',
								type: 'scatter',
								data: v,
								color: "red",

							}]
				});

				$(m).highcharts( {
					chart: {
					    type: 'scatter',
					    zoomType: 'xy'
					},
					title: {
					    text: 'Evaluaciones Metas'
					},
					subtitle: {
					    text: 'porcentajes de logro'
					},
					xAxis: {
					    title: {
					        enabled: true,
					        text: 'Muestra'
					    },
							max:100,
					    startOnTick: true,
					    endOnTick: true,
					    showLastLabel: true
					},
					yAxis: {
					    title: {
					        text: 'Porcentaje Logro (%)'
					    }
					},/*
					legend: {
					    layout: 'vertical',
					    align: 'left',
					    verticalAlign: 'top',
					    x: 100,
					    y: 70,
					    floating: true,
					    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
					    borderWidth: 1
					},*/
					plotOptions: {
					    scatter: {
					        marker: {
					            radius: 5,
					            states: {
					                hover: {
					                    enabled: true,
					                    lineColor: 'rgb(100,100,100)'
					                }
					            }
					        },
					        states: {
					            hover: {
					                marker: {
					                    enabled: false
					                }
					            }
					        },
					        tooltip: {
					            headerFormat: '<b>{series.name}</b><br>',
					            pointFormat: '{point.x}% Logro '
					        }
					    }
					},
					series: [{
					    name: 'Empresa',
					    color: 'blue',
					    marker: {
					        radius: 2
					    },
					    data:dataapmetas

					}, {
					    name: '#{user.first_name }',
					    color: 'red',
					    marker: {
					        radius: 2
					    },
					    data:datarmetas
					}]
			});

		}
