= simple_form_for @item, :url => @item.new? ? organization_positions_path : organization_position_path(@item), :html => {:class => 'form-horizontal'} do |f|
    
    = f.input :job_id, :collection => Job.activos, :class => 'selectLarge', :label => 'Cargo'
    = f.input :user_id, :collection => User.activos, :class => 'selectLarge', :label => 'Persona'
    .control-group
        .controls
            = btn_guardar