!= crud_bar [ ['Mantención organigrama puestos', organization_positions_path], [:add, new_organization_position_path], [:edit, new_organization_position_path, :active] ]


= render :partial => 'form'
