!= crud_bar [ ['Mantención organigrama puestos', organization_positions_path, :active], [:add, new_organization_position_path] ]

= notices

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Rut
      %th Nombre
      %th Cargo
      %th ID
  %tbody
    - @items.each do |i|
      %tr
        %td= i.user.rut
        %td= crud_options [i.user.name, [:edit, edit_organization_position_path(i)], [:delete, organization_position_path(i)]]
        %td= i.job.name
        %td= i.id
          
          
%script{:charset => "utf-8", :type => "text/javascript"}
  $(document).ready(function(){
  $('#example').dataTable({"bJQueryUI": true, "sPaginationType": "full_numbers", "iDisplayLength": 25, "oLanguage": {
  "sUrl": "/table_translation.js"
  }});
  });
#table_div
