= simple_form_for @item, :url => mantenedores_jobrole_path(@item), :html => {:class => 'form-horizontal'}  do |f|
    
    %strong Cargo: 
    =@item.name

    = f.input :role_id, :collection => Role.all, :prompt => 'Seleccione', :label => 'Rol: '
    .control-group
        .controls
            = btn_guardar