.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Roles de Cargos', mantenedores_jobroles_path, :active] ]

    %table#example.table.table-striped.table-bordered.table-condensed
        %thead
            %tr
                %th Cargo
                %th Rol
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.name, [:edit, edit_mantenedores_jobrole_path(i)]]
                    %td= i.role ? i.role.name : 'No definido'
