.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Caracteristicas Ambientales', mantenedores_caracteristicas_ambientales_cargos_path], [:add, new_mantenedores_caracteristicas_ambientales_cargo_path, :active] ]
  = render :partial => 'form'
