.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Planificación Competencias', competences_performance_planifications_path], [selected_position.user.rut_name, '#', :active] ]
  = notices
  - closed = false
  - pond_temp = 0
  - pond_temp = @items.map{|i| i.ponderation}.inject(&:+) unless @items.blank?
  - ponderacion = pond_temp < 100 ? pond_temp.ceil : pond_temp.floor
  %table#example.table.table-striped.table-bordered.table-condensed.simple
    %thead
      %tr
        %th Competencia
        %th Conducta
        %th{:style => "width: 60px"} Fecha
        %th Ponderación
        - unless (@items.first && @items.first.closed) || (evaluated.user_id == current_user.user_id)
          %th
    %tbody
      - @items.each do |i|
        %tr
          %td= i.competence.name
          %td
            %ul{style: 'margin-left: 0;'}
              = raw JSON(i.conduct).map {|i| "<li style='margin-bottom: 10px; text-align:justify;text-justify:inter-word;'>#{(c = Conduct.get(i)).blank? ? '' : "#{c.number} #{c.description}" }</li>" }.join("")
          %td
            = l i.start_date unless i.start_date.nil?
            = "- #{l(i.end_date)}" unless i.end_date.nil?
          %td.text-right
            = i.ponderation
            \%
          - unless i.evaluator_closed || (evaluated.user_id == current_user.user_id)
            - closed = true
            - #if i.editable
            %td= link_to 'Eliminar', competences_delete_performance_planification_path(i.id), class: 'btn btn-primary btn-xs', :confirm => '¿Está seguro?'
    %tfooter
      %tr
        %th{colspan: 3}
        %td.text-right
          = ponderacion#@items.map{|i| i.ponderation}.inject(&:+).floor
          \%
        - if closed
          %td
  - if !@items.first.nil? && !@items.first.closed
    .page-header
      - is_evaluated = evaluated.user_id == current_user.user_id
      - if is_evaluated && !@items.first.evaluator_closed && @items.first.evaluated_closed
        = link_to 'Esperando cierre de evaluador', '#', :class => 'btn btn-info'
      - elsif !is_evaluated && !@items.first.evaluated_closed && @items.first.evaluator_closed
        = link_to 'Planificación terminada', '#', :class => 'btn btn-danger'
        %strong Esperando aprobación del colaborador
      - else
        - if ponderacion == 100#@items.map{|i| i.ponderation}.inject(&:+).floor == 100
          = link_to (evaluated.user_id == current_user.user_id ? 'Aprobar' : 'Terminar') + ' planificación', |
            competences_aprove_performance_planifications_path, :class => "btn btn-info",                  |
            :confirm => '¿Está seguro?'                                                                     |
        - else
          .alert.info
            La ponderación debe ser de un 100% para poder terminar la planificación
  %hr/
  - if evaluated.user_id == current_user.user_id
    .page-header
      %h4 No puedes editar tu propia planificación
  - else
    - if current_period.planification_closed or (not @items.blank? and @items.first.evaluator_closed)
      %h1 Las planificaciones están cerradas
    - else
      .panel.panel-default
        .panel-heading
          %h3 Nueva competencia
        .panel-body
          = render :partial => 'performance/planifications/partials/competences_form'
