<div class="col7" id="mainTitle">
	<h3><span>Planificación Competencias</span></h3>
</div>

<h2 class="iconChart"></h2> <small><%= evaluated.user.name %></small>
	
<%= render :partial => 'performance/planifications/partials/competences_form' %>
