:ruby
    bar_opts = [ ['Seleccionar colaborador', performance_planifications_path, :active]]#, ['Mi propia evaluación', performance_planifications_path + "?evaluated_id=#{current_user.position.id}"]]
    bar_opts << ['Informes', performance_informes_path] if (current_user.role.name == 'Administrador') # false #if role_can?(:gd_informes)# or cliente?(:maserrazuriz)


.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar bar_opts
    - if selected_position
        %h1
            Cargo seleccionado: #{selected_position.user.name}
        %br/

    = notices
    = form_for 'asdfgh' , :url => planification_duplicar_performance_planifications_path, :html => {:class => 'mainForm'}  do |f|
        -#.btn.btn-info.pull-right{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Ayuda

        #myModal.modal.fade{:role => "dialog"}
            .modal-dialog

                .modal-content
                    .modal-header
                        %button.close{"data-dismiss" => "modal", :type => "button"} ×
                        %h4.modal-title Manuales de uso
                    .modal-body
                        %table.table
                            %thead
                                %tr
                                    %td
                                        Manual de usuario
                                    -#%td
                                        Contacto Mesa de Ayuda
                            %tbody
                                %tr
                                    %td
                                        %a.btn.btn-danger{href: '/desempeno/ManualUso.pdf'}
                                            %span.glyphicon.glyphicon-download-alt
                                            Manual de uso del sistema
                                        %br
                                        %a.btn.btn-danger{href: '/desempeno/GestionDesempeno.pdf'}
                                            %span.glyphicon.glyphicon-download-alt
                                            Manual de Gestión de desempeño
                                        %br
                                        %a.btn.btn-danger{href: '/desempeno/ManualdeSGDSeccionCompetencias.pdf'}
                                            %span.glyphicon.glyphicon-download-alt
                                            Manual de evaluación
                                        %br
                                        

                                    -#%td
                                        %a{href: "#"}  soporte@rvelasco.cl

                    .modal-footer
        -# if current_user.role == 'Administrador'
            .panel
                %table
                    %tr
                        %td
                            %h4
                                Copiar Planificacion desde:
                        %td
                            = select_tag "origen",  options_for_select(Position.all.collect{|i| ["#{i.user.first_name}"+" "+"#{i.user.last_name}" , i.id] if !Planification.first(evaluated_id: i.id,period_id:current_period.id).blank?})

                        %td.pull-right
                            = btn_guardar "Copiar"

        %table#example.table.table-striped.table-bordered.table-condensed
            %thead
                %tr
                    -# if current_user.role == 'Administrador'
                        %th Seleccionar
                    %th Rut
                    %th Nombre
                    %th Cargo
                    %th
            %tbody
                - @data.each do |i|
                    - next if i.user.first_name == "Puesto Disponible"
                    -# next if i.user.account.role.name == "Administrador" || i.user.first_name == "Practicante"
                    %tr
                        -# if current_user.role == 'Administrador'
                            %td
                                - if Planification.first(evaluated_id: i.id,period_id:current_period.id).blank?
                                    %input{:name => "duplicar[]", :type => "checkbox", :value => "#{i.id}"}

                        %td= i.user.rut
                        %td
                            - if solo_autoevaluacion?
                                = i.user.name
                            - else
                                = link_to i.user.full_name, performance_planifications_path + "?evaluated_id=#{i.id}"
                            -# if i.user == current_user
                                (Autoevaluación)
                        %td= i.job.name
                        %td
                            - if solo_autoevaluacion? ? (i.user == current_user) : true
                                = link_to performance_planifications_path + "?evaluated_id=#{i.id}", class: 'btn btn-primary btn-xs', :'data-loading-text' => 'Cargando...' do
                                    %span.glyphicon.glyphicon-user
                                    Ver
                                &nbsp;
                            - if current_user.user_id != i.user_id
                                = link_to  personal_performance_informes_path + "?evaluated_id=#{i.user_id}", class: 'btn btn-success btn-xs', :'data-loading-text' => 'Cargando...' do
                                    %span.glyphicon.glyphicon-th-list
                                    Informe
                            - unless current_period.blank?
                                - if !i.blank? && !Evaluation.first(evaluated_id: i.id, period_id: current_period.id).blank?
                                    = link_to matriz_evaluacion_performance_evaluations_path+ "?evaluated_id=#{i.id}", class: 'btn btn-primary btn-xs', :'data-loading-text' => 'Cargando...' do
                                        %span.icon.fa.fa-th-large
                                        %span.title Nota Final
                                        %span.fa.arrow
:javascript
    $(document).ready(function(){
        $('#example').dataTable({"sPaginationType": "full_numbers", "iDisplayLength": 25, "oLanguage": {
            "sUrl": "/table_translation.js"
        }});
    });
