:ruby
    opts = [['Planificación Metas Desempeño Individual', kpi_performance_planifications_path]]
    opts << [selected_position.user.rut_name, '#', :active] if selected_position

    pond = 0
    closed = true
    is_evaluated = false
    is_evaluated =  evaluated.id == current_user.user.position.id unless current_user.admin?


.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar opts
    %table#example.table.table-striped.table-bordered.table-condensed.simple
        %thead
            %tr
                %th.text-center{:rowspan => "2"} Meta
                %th.text-center{:rowspan => "2"} Comentario Detalle
                %th.text-center{:rowspan => "2"} Fecha
                -#%th.text-center{:rowspan => "2"} Tipo Meta
                -# unless Rails.configuration.cliente.eql? :maserrazuriz
                    %th.text-center{:colspan => "4", :title => "Criterio de medida (índice)"} Criterio de medida
                %th.text-center{:rowspan => "2", :title => "Ponderación"} Pond.
                - unless (@items.first && @items.first.closed) || (evaluated.user_id == current_user.user_id)
                    %th{:rowspan => "2", :colspan => "2"}
            -#%tr
                - unless Rails.configuration.cliente.eql? :maserrazuriz
                    %th.text-center{:title => "Valor año anterior o fecha de inicio"} Valor
                    %th.text-center %
                    %th.text-center{:title => "Meta (Valor o fecha)"} Meta
                    %th.text-center{style: 'width: 65px'} Un. medida
        %tbody
        - @items.each do |it|
            - i = it.key_performance_indicator
            - pond += i.ponderation unless i.ponderation.blank?
            %tr
                %td= i.description
                %td{style:"width:400px"}= i.detail
                %td{:style => "text-align: center"}
                    = l i.start_date unless i.start_date.nil?
                    = "- #{l(i.end_date)}" unless i.end_date.nil?
                -#%td{:style => "text-align: center"}= KeyPerformanceIndicator::CODES_ARRAY[i.code]
                -# unless Rails.configuration.cliente.eql? :maserrazuriz
                    %td{:style => "text-align: right"}= i.last_date_gold
                    %td{:style => "text-align: center; width: 40px"}= i.increase_gold
                    %td{:style => "text-align: right"}= i.gold
                    %td{:style => "text-align: center; width: 50px"}= i.unit
                %td{:style => "text-align: right"}
                    = i.ponderation
                    \%
                - unless it.evaluator_closed || (evaluated.user_id == current_user.user_id)
                    - closed = false
                    %td{style: "width:50px"}= link_to 'Editar', kpiedit_performance_planification_path(i.id), class: 'btn btn-primary btn-xs' if i.editable
                    %td= link_to 'Eliminar', kpidelete_performance_planification_path(i.id), class: 'btn btn-primary btn-xs', :confirm => '¿Está seguro?' if i.editable
        %tfooter
            %tr
                %th{colspan:2}
                %th.text-right
                    = "#{pond}%"
                - unless closed
                    %th
    - if @items.first && !@items.first.closed
        .page-header

            - if is_evaluated && !@items.first.evaluator_closed && @items.first.evaluated_closed
                = link_to 'Esperando cierre de evaluador', '#', :class => 'btn btn-info'
            - elsif !is_evaluated && !@items.first.evaluated_closed && @items.first.evaluator_closed
                = link_to 'Planificación terminada', '#', :class => 'btn btn-danger'
                %strong Esperando aprobación del colaborador
            - else
                - if pond == 100
                    = link_to (evaluated.user_id == current_user.user_id ? 'Aprobar' : 'Terminar') + ' Planificación de Metas Individuales ',    |
                        kpi_aprove_performance_planifications_path, :class => "btn btn-info", :confirm => (evaluated.user_id == current_user.user_id ? 'Acepte solamente si ud sostuvo una reunión con su jefatura directa, sobre la presente planificación ' : "¿Sostuvo usted una reunión con su colaborador sobre la presente planificación? \n (Acepte solo si su respuesta es Si)") |
                    - if @items.first.evaluator_closed
                        %strong Evaluador finalizó la planificación. Está a la espera que usted apruebe su planificación.
                - else
                    .alert.info
                        La ponderación debe ser de un 100% para poder terminar la planificación
    %hr/
    - if evaluated.user_id == current_user.user_id
        .page-header
            %h4 No puedes editar tu propia planificación
    - else
        - if current_period.planification_closed or ( !(fe = @items.first).blank? and fe.evaluator_closed)
            %h1 Las planificaciones están cerradas
        - else
            :javascript
                var ponderacion = #{pond};
            .panel.panel-default
                .panel-heading
                    %h3 Nueva meta
                .panel-body
                    = render :partial => 'performance/planifications/partials/kpiform'
