.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [['Planificación Metas Desempeño Individual', kpi_performance_planifications_path], [@position.user.rut_name, kpi_performance_planifications_path], [:edit, '#', :active]]
  = render :partial => 'performance/planifications/partials/kpiform'
