.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de verbos de acción', mantenedores_actionverbs_path, :active], [:add, new_mantenedores_actionverb_path] ]
  = notices

  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %th Nombre
        %th Tipo cargo
    %tbody
      - @items.each do |i|
        %tr
          %td= crud_options [i.name, [:edit, edit_mantenedores_actionverb_path(i)], [:delete, mantenedores_actionverb_path(i)]]
          %td= i.management_type.name unless i.management_type.blank?
