.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de verbos de acción', mantenedores_actionverbs_path], [:add, new_mantenedores_actionverb_path, :active] ]
  = render :partial => 'form'
