.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Habilidades Funcionales', mantenedores_habilidades_funcionaless_path], [:add, new_mantenedores_habilidades_funcionales_path], [:edit, '#', :active] ]
  = render :partial => 'form'
