%h4 Listado de Metas Duras
%table.table.table-condensed
    %thead
        %tr
            %th Nombre
            %th Fecha Inicio
            %th Fecha Término
            %th Tipo
            %th Meta
            %th Ponderación
            %th
    %tbody
        = hb 'each list' do
            %tr
                %td= hb 'description'
                %td= hb 'start_date'
                %td= hb 'end_date'
                %td= hb 'code_name'
                %td= hb 'gold'
                %td= hb 'ponderation'
                %td
                    %a.btn.btn-xs.btn-primary.eliminar-md{href: '#', idx: hb('@index')}
                        %span.glyphicon.glyphicon-trash
                        Eliminar