= simple_form_for 'role', :url => @item.new? ? mantenedores_roles_path : mantenedores_role_path(@item), :html => {:class => 'form'}  do |f|
    = f.input :name, input_html: {value: @item.name}
    %h4 Permisos:
    .col-xs-12
        .row.col-xs-12
            %h5 Módulos
        .row{style: 'margin-left: 20px'}
            .row
                -# .col-lg-6.col-xs-12
                    = f.input :organizacion,            :as => :boolean, input_html: {checked: @item.organizacion}
                    = render partial: 'permisos', locals: {permisos: Role::PERMISOS[:organizacion], f: f}
                .col-lg-6.col-xs-12
                    = f.input :descripcion_cargos,      :as => :boolean, input_html: {checked: @item.descripcion_cargos}
                    = render partial: 'permisos', locals: {permisos: Role::PERMISOS[:descripcion_cargos], f: f}
                .col-lg-6.col-xs-12
                    = f.input :gestion_desempeno,       :as => :boolean, input_html: {checked: @item.gestion_desempeno}
                    = render partial: 'permisos', locals: {permisos: Role::PERMISOS[:gestion_desempeno], f: f}
                .col-lg-6.col-xs-12
                    = f.input :evaluacion_cargos,       :as => :boolean, input_html: {checked: @item.evaluacion_cargos}
                .col-lg-6.col-xs-12
                    = f.input :adm_compensacion,        :as => :boolean, input_html: {checked: @item.adm_compensacion}
                    = render partial: 'permisos', locals: {permisos: Role::PERMISOS[:compensacion], f: f}
                .col-lg-6.col-xs-12
                    = f.input :plan_dotacion,           :as => :boolean, input_html: {checked: @item.plan_dotacion}
                    = render partial: 'permisos', locals: {permisos: Role::PERMISOS[:dotacion], f: f}
                .col-lg-6.col-xs-12
                    = f.input :adm_presupuesto,         :as => :boolean, input_html: {checked: @item.adm_presupuesto}
                .col-lg-6.col-xs-12
                    = f.input :mantenedores,            :as => :boolean, input_html: {checked: @item.mantenedores}
    .control-group
        .controls
            = btn_guardar
