.row.col-xs-12
    %h5 Permisos
    .col-xs-11.col-xs-offset-1
        .row
            - permisos.each do |k, p|
                = f.input "permissions[#{k}]", as: :boolean, input_html: {checked: @item.can?(k)}, label: p, class: 'pull-left'
