.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Roles', mantenedores_roles_path], [:add, new_mantenedores_role_path], [:edit, '#', :active] ]
    = render :partial => 'form'
