<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['Prop1.png'].url, alt: 'Essential', width: "90" %>
    <p>Estimado/a:</p>
    <p style="align=justify">A partir de este momento usted puede acceder a la Plataforma de Gestión del Desempeño de Nuestra Empresa y terminar el proceso de Planificación de Metas para el año 2018.  Estas metas que están fijadas en el sistema ya fueron acordadas con su jefatura previamente, en caso contrario comuníquese con éste, para que en conjunto hagan una revisión de la información.</p>
    <p style="align=justify">Una vez que usted complete esta etapa, se dará inicio al proceso de Seguimiento y Acompañamiento, el cual tiene por objetivo identificar de manera formal, los niveles de avance, la identificación de brechas y las posibles causas de la desviación respecto de lo planificado.</p>
    <p style="align=justify">Es responsabilidad de cada líder administrar las condiciones que permitan a los miembros del equipo desplegar su máximo potencial de contribución a los resultados de la compañía, por medio de información de calidad, espacios de genuina participación, acompañamiento, recursos y retroalimentando el desempeño continuamente. Por lo anterior, es clave realizar seguimientos en varias oportunidades durante el año.</p>
    <p style="align=justify">Desde ya agradecemos su buena disposición y le invitamos a ser parte de éste importante proceso para Nuestra Empresa.</p>
    <p style="align=center">Link de aprobación rapida</p>
    <div style="align=center">
        <%= @link %>
    </div>
    <div align="center">
      <p>Cordialmente,</p>
    </div>
    <div align="center">
      <p>Recursos Humanos</p>
    </div>
  </body>
</html>
