<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['Prop1.png'].url, alt: 'Essential', width: "90" %>
    <p>Estimado/a:</p>
    <p style="align=justify">Le informamos que su jefatura ha realizado su evaluación de Metas.</p>
    <p style="align=justify">Una vez que usted apruebe las evaluaciones realizadas por su evaluador, se iniciará la etapa de Feedback, y que recibirá en los próximos días.  </p>
    <p style="align=justify">En caso de no estar de acuerdo con su evaluación, podrá agregar sus comentarios en la plataforma.</p>
    <p style="align=justify"></p>
    <div align="center">
      <p>Para ingresar en nuestra Plataforma Essential, haz click <a href="https://test.rvelasco.cl">AQUI.</a></p>
    </div>
    <div align="center">
      <p>Cordialmente,</p>
    </div>
    <div align="center">
      <p>Recursos Humanos</p>
    </div>
  </body>
</html>
