.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Experiencia en Sector', mantenedores_sector_experiences_path], [:add, new_mantenedores_sector_experience_path], [:edit, '#', :active] ]
  = render :partial => 'form'
