= simple_form_for @item, :url => @item.new? ? job_evaluation_data_descriptions_path : job_evaluation_data_description_path(@item), :html => {:class => 'form-horizontal'}  do |f|


    = f.text_area :name,  label: 'Nombre', value: @item.name ,:rows => 10, :cols=> 100
    .control-group
        .controls
            = btn_guardar
