.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Leyendas', job_evaluation_data_descriptions_path], [:add, new_job_evaluation_data_description_path], [:edit, '#', :active] ]
  = render :partial => 'form'
