.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Leyendas', job_evaluation_data_descriptions_path, :active], [:add, new_job_evaluation_data_description_path] ]
    - kinds = ["","TECNICO",
                "GERENCIA",
                "RELACIONES_HUMANAS",
                "AMBITO",
                "DESAFIO",
                "LIBERTAD",
                "MAGNITUD",
                "IMPACTO"]
    .page-header
        %h3 Mantenedor Leyendas
        = notices
    -# .tableOptions.clearfix
    -#     = link_to 'Nueva', new_mantenedores_incomestructure_path, :class => "aButton right"
    %table.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Leyenda
                %th Indicador
                %th Tipo
        %tbody
            - @items.each do |i|
                - jed = JobEvaluationData.first(job_evaluation_data_description_id: i.id)
                %tr
                    %td= crud_options [i.name, [:edit, edit_job_evaluation_data_description_path(i)], [:delete, job_evaluation_data_description_path(i)]]
                    %td= jed.name unless i.blank? || jed.blank?
                    %td= kinds[jed.kind] unless jed.blank?
