.col-lg-12.col-md-12.col-sm-12.col-xs-12
    #mainTitle.col7
        %h3
            %span Competitividad de Mercado
    %table.tabla
        %thead
            %tr
                %th Rut
                %th Nombre
                %th Cargo
                %th Nivel
                %th Puntos
                %th= @income.acronym
                %th
                    = @income.acronym
                    Mercado
            - @items.each do |i|
                %tr{style: 'font-size: 10px'}
                    %td{style: 'word-wrap: break-word'}= i.user.rut
                    %td{style: 'word-wrap: break-word'}= i.user.name
                    %td{style: 'word-wrap: break-word'}= i.user.position.job.name
                    %td= value( i.user.position, :job_evaluation, :nivel )
                    %td= value( i.user.position, :job_evaluation, :total )
                    %td= number_to_currency(i.resumen @income)
                    %td= number_to_currency MarketData.calculate_market( value( i.user.position, :job_evaluation, :total ), @income )
    %br

    .boxDefinition
        Estructura Salarial:
        %br
        %br
        = form_for :competitivity, url: compensacion_market_studies_competitivity_path do |f|
            = f.select :income_structure_id, IncomeStructure.all.map {|i| [i.name, i.id]}, {selected: @selected}
            %br
            %br
            = f.submit 'Actualizar', class: 'aSubmit aS_ok right'
