.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Tipo Movilidad', mantenedores_tipo_movilidads_path], [:add, new_mantenedores_tipo_movilidad_path], [:edit, '#', :active] ]
  = render :partial => 'form'
