.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Tipo Movilidad', mantenedores_tipo_movilidads_path, :active], [:add, new_mantenedores_tipo_movilidad_path] ]
    .page-header
        %h3 Tipo Movilidad
        = notices

    %table.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Nombre
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.name, [:edit, edit_mantenedores_tipo_movilidad_path(i)], [:delete, mantenedores_tipo_movilidad_path(i)]]
