- if conectado?
  .span2
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Sidebar
        %li.active
          %a{:href => "#"} Metas duras
        %li
          %a{:href => "#"} Metas blandas
        %li
          %a{:href => "#"} Comentarios