= simple_form_for @item, :url => @item.new? ? mantenedores_jobtypes_path : mantenedores_jobtype_path(@item), :html => {:class => 'form-horizontal'} do |f|
    = f.input :name, label: 'Nombre'
    
    .control-group
        .controls
            = btn_guardar