.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de tipos de cargos', mantenedores_jobtypes_path], [:add, new_mantenedores_jobtype_path], [:edit, '#', :active]]
  = render :partial => 'form'
