.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de tipos de cargos', mantenedores_jobtypes_path, :active], [:add, new_mantenedores_jobtype_path]]
    = notices

    %table#example.table.table-striped.table-bordered.table-condensed.no-filter
      %thead
        %tr
          %th Nombre
      %tbody
        - @items.each do |i|
          %tr
            %td= crud_options [i.name, [:edit, edit_mantenedores_jobtype_path(i)], [:delete, mantenedores_jobtype_path(i)]]
