= simple_form_for @item, :url => @item.new? ? mantenedores_competences_path : mantenedores_competence_path(@item), :html => {:class => 'form-horizontal'}  do |f|
    
    
    = f.input :name, label: 'Nombre', value: @item.name
    = f.input :description, label: 'Descripción', value: @item.description
    = f.input :visible, value: @item.visible, as: :boolean

    = f.input :competence_type_id, :collection => CompetenceType.all(fields: [:name, :id]), prompt: false
    
    .control-group
        .controls
            = btn_guardar