.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Mantenedor de Competencias o Acciones Claves', mantenedores_competences_path, :active], [:add, new_mantenedores_competence_path]]
    .page-header
        %h3 Competencias
    = notices

    %table#example.table.table-striped.table-bordered.table-condensed.no-filter
        %thead
            %tr
                %th Nombre
                %th Tipo
                %th Visible
        %tbody
            - @items.each do |i|
                %tr
                    %td= crud_options [i.name, ['Ver conductas', list_mantenedores_conduct_path(i)], [:edit, edit_mantenedores_competence_path(i)], [:delete, mantenedores_competence_path(i)]]
                    %td= i.competence_type.name
                    %td= i.visible ? 'Si' : 'No'
