.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Mantenedor de Competencias o Acciones Claves', mantenedores_competences_path], [:add, new_mantenedores_competence_path, :active]]
  = render :partial => 'form'
