.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Carga masiva de cargos', mantenedores_jobs_path, :active] ]
    = notices

    .page-header
        %h3 Subir una nueva planilla de cargos
    .well
        %h5 Formato de carga de archivos
        %p Utilice en archivo Excel para cargar los datos al sistema
        %small
            %table.table.table-condensed
                %tr
                    %th Nombre Cargo
                    %th Dependencia Jerárquica
                    %th Tipo Dependencia
                    %th Tipo
                    %th Perfil
                    %th Estamento
                    %th Jornada
                    %th Centro de Costo
    = simple_form_for :upload, url: mantenedores_jobs_path do |f|
        .boxDefinition
            = f.input :file, as: :file, label: 'Archivo XLS/XLSX'
        %br

        = btn_subir
