= simple_form_for @item, :url => @item.new? ? organization_users_path : organization_user_path(@item), :html => {:class => 'form-horizontal'} do |f|
    = f.input :rut, :required => true, input_html: {class: 'rut'}
    = f.input :first_name, :required => true
    = f.input :last_name, :required => true
    = f.input :email
    = f.input :address
    = f.input :phone_office
    = f.input :phone_mobile
    = f.input :password
    .control-group
        .control-label
            %label.password.optional{for: "position_job_id"} Puesto:
        .controls
            = collection_select(:position, :job_id, Job.activos, :id, :name, {selected: lambda{|item| item.id == (@item.position.blank? ? nil : @item.position.job_id)}, prompt: 'Seleccione'})
    .control-group
        .controls= btn_guardar
:javascript
    $(".rut").Rut({
        on_error: function(){ $('[type="submit"]').attr('disabled','disabled'); },
        on_success: function(){ $('[type="submit"]').removeAttr('disabled'); }
    });