!= crud_bar [ ['Mantenedor de usuarios', organization_users_path, :active], [:add, new_organization_user_path] ]

= notices

%table#example.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Rut
      %th Nombre
      %th Email
      %th Teléfono
  %tbody
    - @items.each do |i|
      %tr
        %td= i.rut
        %td= crud_options [i.name, [:edit, edit_organization_user_path(i)]]
        %td= i.email
        %td= i.phone_office
