= simple_form_for @item, :url => @item.new? ? mantenedores_incomestructures_path : mantenedores_incomestructure_path(@item)  do |f|
    
    
    = f.input :name, label: 'Nombre', value: @item.name
    = f.input :acronym, label: 'Acrónimo', value: @item.acronym
    = f.input :position, label: 'Posición', value: @item.position
    = f.input :banda_inferior, label: 'Banda Inferior', value: @item.banda_inferior
    = f.input :banda_superior, label: 'Banda Superior', value: @item.banda_superior
    
    %br
    .control-group
        .controls
            = btn_guardar