.col-lg-12.col-md-12.col-sm-12.col-xs-12
    = crud_bar [ ['Estructura Salarial', mantenedores_incomestructures_path, true], [:add, new_mantenedores_incomestructure_path] ]
    = notices
    :ruby
        error = false
        tmp   = []
        @items.each do |i|
            if tmp.include?(i.position)||i.position.blank?
                error = true
            else
                tmp << i.position
            end
        end

    - if error
        .alert.alert-danger
            %h4 Las posiciones ingresadas no son consecutivas, por lo que la Masa Salarial será incorrecta
        %br

    %table.table.table-condensed.table-bordered.table-striped.no-filter
        %thead
            %tr
                %th Posición
                %th Nombre
                %th Acrónimo
                %th Banda Inferior
                %th Banda Superior
                %th Acciones
        %tbody
            - @items.each do |i|
                %tr
                    %td= i.position
                    %td= i.name
                    %td= i.acronym
                    %td= i.banda_inferior
                    %td= i.banda_superior
                    %td
                        -# = link_to 'Ver detalle', mantenedores_incomestructuredetail_path(i), class: 'btn btn-primary btn-xs'
                        = button_to 'Editar', edit_mantenedores_incomestructure_path(i), class: 'btn btn-success btn-xs', method: :get
                        = button_to 'Eliminar', mantenedores_incomestructure_path(i), :confirm => "¿Seguro?", :method=>:delete, class: 'btn btn-danger btn-xs right'
