.col-lg-12.col-md-12.col-sm-12.col-xs-12
  = crud_bar [ ['Estructura Salarial', mantenedores_incomestructures_path], [:add, new_mantenedores_incomestructure_path, true] ]
  = render :partial => 'form'
