%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{content: "IE=10; IE=9; IE=8; IE=7; IE=EDGE", "http-equiv" => "X-UA-Compatible"}/
    %title Essential
    %link{:href => '/images/logos/Prop1Isotipo.png', :rel => :"shortcut icon"}
    %link{:href => '/stylesheets/bootstrap.min.css', :rel => :stylesheet}
    %link{:href => '/stylesheets/jquery-ui-1.8.16.custom.css', :rel => :stylesheet}
    %link{:href => '/stylesheets/primitives.css', :rel => :stylesheet}

    - ['jquery.chosen', 'jquery.treetable', 'jquery.flexbox', 'jquery.fileupload', 'ladda', 'application', 'jquery.tablesorter'].each do |c|
      %link{:href => "/stylesheets/#{c}.css", :rel => :stylesheet}
    =# , :application
    =# javascript_include_tag :jquery, :bootstrap, 'jquery-ujs', 'jquery-ui.min', :primitives, 'jquery.rut.min', 'jquery.datatables', 'jquery.tablesorter', 'jquery.chosen', 'jquery.treetable', :application
    - ['jquery', 'jquery.ui.1.8', 'jquery-ujs', 'bootstrap.min', 'jquery.jOrgChart', 'jquery.rut.min', 'primitives', 'jquery.datatables', 'dataTables.bootstrap', 'jquery.tablesorter', 'jquery.chosen', 'jquery.treetable', 'jquery.flexbox.min', 'jquery.floatThead.min', 'regression', 'accounting.min', 'bootstrap.touchspin.min', 'jquery.kinetic.min', 'jquery.fileupload', 'jquery.fileupload-process', 'ladda', 'jquery.fixedHeaderTable', 'numbers.min', 'application', 'handlebars'].each do |f|
      %script{src: "/javascripts/#{f}.js?v=v2"}

    %link{:href => "/assets-flat/lib/css/font-awesome.css", :rel => "stylesheet"}/

    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700,900", :rel => "stylesheet", :type => "text/css"}/
    / CSS Libs
    / Chosen SelecTag
    %link{:href => "/assets-flat/lib/css/chosen/chosen.css", :rel => "stylesheet"}/
    %link{:href => "/assets-flat/lib/css/animate.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets-flat/lib/css/bootstrap-switch.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets-flat/lib/css/checkbox3.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets-flat/lib/css/jquery.dataTables.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets-flat/lib/css/dataTables.bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets-flat/lib/css/select2.css", :rel => "stylesheet", :type => "text/css"}/
    / CSS App
    %link{:href => "/assets-flat/css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets-flat/css/themes/flat-blue.css", :rel => "stylesheet", :type => "text/css"}/

    /assets login
    - if (params[:controller] == 'users' && params[:action] == 'login')
      %link{:href => "/assets-login/css/main.css", :rel => "stylesheet"}/
      / animate.css stylesheet
      %link{:href => "/assets-login/lib/animate.css/animate.css", :rel => "stylesheet"}/

    /assets main
    - if (params[:controller] == 'home')
      %link{:href => "/assets-main/css/main.css", :rel => "stylesheet", :title => "main"}/
      %link{:href => "/assets-main/css/font-style.css", :rel => "stylesheet"}/

    != csrf_meta_tags
  - if (params[:controller] == 'organization')
    = yield
  - else
    - if (params[:controller] == 'home')
      = main
    - else
      - if (params[:controller] == 'users' && params[:action] == 'login')
        %body.login
          .app-container
            /Contenedor
            .row.content-container
              / Main
              .container-fluid
                .side-body
                  .row
                    = yield
      - else
        %body.flat-blue
          .app-container
            /Contenedor
            .row.content-container
              / Acciones específicas para cada controlador
              - if !(params[:controller] == 'users' && params[:action] == 'login')
                %nav.navbar.navbar-default.navbar-fixed-top.navbar-top{style: 'background: #353d47'}
                  .container-fluid{style: 'background: #353d47'}
                    = actions
              / Menú específico para cada bloque
              - if !(params[:controller] == 'users' && params[:action] == 'login')
                .side-menu.sidebar-inverse
                  %nav.navbar.navbar-default{:role => "navigation"}
                    .side-menu-container
                      .navbar-header
                        %a.navbar-brand{:href => "#", style: "background-color: white"}
                          .icon
                            %img{src: "/images/logos/Prop1Isotipo.png", width: "50px"}
                          %i{style: "color:black;"}Essential
                        %button.navbar-expand-toggle.pull-right.visible-xs{:type => "button"}
                          %i.fa.fa-times.icon
                      %ul.nav.navbar-nav
                        = sidebar
              / Main
              .container-fluid
                .side-body
                  .row
                    = yield
            / Pié de página
            - if !(params[:controller] == 'users' && params[:action] == 'login')
              %footer.app-footer
                %span.pull-right
                  2.1
                  %a{:href => "#"}
                    %i.fa.fa-long-arrow-up
                © 2015 Copyright.
    %div
      / Mainly scripts
      / %script{:src => "/assets-insp/js/jquery-2.1.1.js"}
      / %script{:src => "/assets-insp/js/bootstrap.min.js"}


      %script{:src => "/assets-flat/lib/js/bootstrap-switch.min.js", :type => "text/javascript"}
      %script{:src => "/assets-flat/lib/js/jquery.matchHeight-min.js", :type => "text/javascript"}
      %script{:src => "/assets-flat/lib/js/jquery.dataTables.min.js", :type => "text/javascript"}
      %script{:src => "/assets-flat/lib/js/dataTables.bootstrap.min.js", :type => "text/javascript"}
      %script{:src => "/assets-flat/lib/js/select2.full.js", :type => "text/javascript"}
      %script{:src => "/assets-flat/lib/js/ace/ace.js", :type => "text/javascript"}
      %script{:src => "/assets-flat/lib/js/ace/mode-html.js", :type => "text/javascript"}
      %script{:src => "/assets-flat/lib/js/ace/theme-github.js", :type => "text/javascript"}
      / Chosen
      /%script{:src => "/assets-flat/lib/js/chosen/chosen.jquery.js"}
      / Javascript
      %script{:src => "/assets-flat/js/app.js", :type => "text/javascript"}
      / %script{:src => "/assets-flat/js/index.js", :type => "text/javascript"}
      - if (params[:controller] == 'home')
        %script{:src => "/assets-main/js/admin.js", :type => "text/javascript"}

      :javascript
        $(document).ready(function() {
          $("#search").select2();
          /*var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
          }
          for (var selector in config) {
            $(selector).chosen(config[selector]);
          }
          */
          /*
          setTimeout(function() {
            toastr.options = {
              closeButton: true,
              progressBar: true,
              showMethod: 'slideDown',
              timeOut: 4000
            };
            toastr.success('Responsive Admin Theme', 'Welcome to INSPINIA');
          }, 1300);
          */
        });
    / /container
