!!! 5
%html
    %head
        %meta{'http-equiv' => "Content-Type", content: 'text/html; charset=UTF-8'}
        %title Gestión del Desempeño
        
        /[if lt IE 9]
            %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}

        = javascript_include_tag :all
        = stylesheet_link_tag :all
        
        = csrf_meta_tags
        
    %body
        %section#page
            #barTop.clearfix
                - unless current_user.nil?
                    - if false
                        #mainSearch.col5
                            %form
                                .formOption
                                    %input{type: "text", placeholder: "buscar aquí..."}
                                    %div
                                        %input{type: "submit", id: "button"}
                    #loggedBar.col4.clearfix
                        /%figure
                        /    = image_tag "http://taylorhits.com/wp-content/uploads/et_temp/Steve-Jobs_muere-pic-17674_38x38.jpg", width: 38, height: 38, alt: 'Avatar'
                        %h6 
                            Hola 
                            = current_user.first_name
                        %h7= link_to 'Desconectar', logout_users_path

                        
                        %ul#loggedBar_dropdown
                            %li.dropdown 
                                %a.dropdown-toggle 
                                    %span Config
                                %ul.dropdown-menu
                                    %li= link_to 'Edit profile', edit_user_path(current_user)

            .clearfix
                - unless current_user.nil?
                    %aside.col4
                        = render partial: 'partials/sidebar'        
                    
                    <section id="content">
                %img#logo{src: '/images/logo.png'}                    
                = yield
                - unless current_user.nil?
                    </section>
                
        %footer
            %p &copy;<strong>Ricardo Velasco</strong>. Todos los derechos reservados

