<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gestión de Desempeño</title>

  		<!--[if lt IE 9]>
  			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<%= javascript_include_tag :all %>
		<%#= javascript_include_tag 'kendo/kendo.all.min' %>

		
		<% if Rails.env.development? %>

			<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
			
			
			<link rel="stylesheet" href="/stylesheets/autoSuggest.css" type="text/css" />
		
			<link rel="stylesheet" href="/stylesheets/demo_table_jui.css" type="text/css" />
		
			<link rel="stylesheet" href="/stylesheets/jquery-ui-1.8.16.custom.css" type="text/css"/>
			<link rel="stylesheet" href="/stylesheets/jquery.fancybox.css" type="text/css"/>
			
<!--			
			<link rel="stylesheet" href="/stylesheets/kendo/kendo.common.min.css" type="text/css"/>
			<link rel="stylesheet" href="/stylesheets/kendo/kendo.default.min.css" type="text/css"/>
-->			
			<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />

			<link rel="stylesheet" href="/stylesheets/jquery.jOrgChart.css" type="text/css"/>
		<% else %>
			<%= stylesheet_link_tag :all %>
		<% end %>


		<%= csrf_meta_tags %>
  </head>
  <body>
	
	
		<section id="page">
			<div id="barTop" class="clearfix">
				
				<% unless current_user.nil? %>
				<div class="col5" id="mainSearch">
					<form>
						<div class="formOption">
							<input type="text" placeholder="buscar aquí..." name="textfield" id="textfield" />
							<div>
								<input type="submit" name="button" id="button" value="" />
							</div>
						</div>
					</form>
				</div>
				


				<div class="col4 clearfix" id="loggedBar">
					<figure>
						<img src="http://taylorhits.com/wp-content/uploads/et_temp/Steve-Jobs_muere-pic-17674_38x38.jpg" width="38" height="38" alt="Avatar" />
					</figure>
					<h6>Hola <%= current_user.first_name %></h6>
					
					<ul id="loggedBar_dropdown">
						<li class="dropdown"><%# class open active el tooltip %>
							<a class="dropdown-toggle"><span>Config</span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Edit profile</a></li>
								<li><%= link_to 'Desconectar', logout_users_path %></li>
							</ul>
						</li>
					</ul>					

				</div>
				<% else %>
				&nbsp;
				<% end %>
			</div>
			<div class="clearfix">
				<% unless current_user.nil? %>
					<aside class="col4">
						<%= render :partial => 'partials/sidebar' %>
					</aside>
				
			
				<section id="content">
				<% end %>
					<%= yield %>

				<% unless current_user.nil? %>
				</section>
				<% end %>
			</div>
		</section>
	
		<footer>
			<p>&copy;<strong>Ricardo Velasco</strong>. Todos los derechos reservados</p>
		</footer>

  </body>
</html>