:ruby
    def wick_pdf_javascript_src_tag(jsfile, options={})
        jsfile = WickedPdfHelper.add_extension(jsfile, 'js')
        src = "file:///#{File.join(Rails.root, 'public', 'javascripts', jsfile)}"
        content_tag("script", "", { "type" => 'text/javascript', "src" => src }.merge(options))
    end


    def wick_pdf_javascript_include_tag(*sources)
        js_text = sources.collect{ |source| wick_pdf_javascript_src_tag(source, {}) }.join("\n")
        js_text.respond_to?(:html_safe) ? js_text.html_safe : js_text
    end

%html
    %head
        %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
        %title Ricardo Velasco HR Strategic Partners


        -# = wicked_pdf_stylesheet_link_tag "reset"
        -# %link{type: 'text/css', href: "file://"+File.join(Rails.root, 'public/stylesheets/', 'bootstrap.css')}
        -# %link{type: 'text/css', href: "file://"+File.join(Rails.root, 'public/stylesheets/', 'bootstrap-responsive.css')}
        -# %link{type: 'text/css', href: "file://"+File.join(Rails.root, 'public/stylesheets/', 'pdf.css')}
        = css_pdf "bootstrap"
        = css_pdf "bootstrap-responsive"
        = css_pdf "pdf"

        = csrf_meta_tags
        - ['jquery', 'jquery.ui.1.8', 'jquery-ujs', 'bootstrap.min', 'application', 'handlebars',' accounting '].each do |f|
            = wick_pdf_javascript_include_tag f
            -# %script{src: "#{request.base_url}/javascripts/#{f}.js"}
        %script{:src => "https://code.jquery.com/jquery-2.2.2.min.js"}/
        %script{:src => "https://code.highcharts.com/highcharts.js"}/
        %script{:src => "https://code.highcharts.com/modules/exporting.js"}/
        %script{:src => "https://code.highcharts.com/modules/heatmap.js"}/


    %body
        = yield
:javascript
    document.getElementById("tablacomparativadetalle").style.display='inline';
